$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

//
//From Bootstrap
//


table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}


//
//Custom
//

.page-profile .site-content {

	@media #{$phone} {
		.container {

			.alert {
				margin-top: 22px;
			}
		}
	}

	.form-group {
		margin-bottom: 15px;
	}

	table {
		margin-bottom: 50px;

		a {
    		transition: all 0.3s ease;
    		
			&:hover {
				color: #38a2e5;
    			transition: all 0.3s ease;
			}

			&.unconfirmed {
				color: #d85709;
			}
			&.completed {
				color: green;
			}
		}

		thead {
			font-size: 18px;
		}

		tbody {
			td {
				color: #333333;
			}
		}
	}

	.table>tbody>tr>td,
	.table>tbody>tr>th,
	.table>tfoot>tr>td,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>thead>tr>th {
		border-color: #bfbfbf;
	}


	.black-line-title {
		position: relative;
		overflow: hidden;

		h4 {
			display: inline-block;
			padding-right: 7px;
			margin-bottom: 25px;
			position: relative;
    		font-weight: bold;

			&::after {
				content: '';
				height: 3px;
				background-color: black;
				width: 100%;
				z-index: -1;
				position: absolute;
				top: 3px;
			    top: 50%;
			    left: 100%;
				width: 2000px;
				margin-top: -1px;
			}
		}
	}

	.profile-menu {
		border: 1px solid #f3f3f3;
		box-shadow: 0px 0px 10px 2px rgba(243,243,243,1);
		padding-bottom: 20px;
		background: white;
		margin-right: 40px;

		@media screen and (max-width: 992px) {
			padding-bottom: 0px;
			margin-right: 0px;
			box-shadow: none;
			border: none;
			text-align: center;
		}

		.heading {
			font-size: 12px;
			color: #bbbbbb;
			padding: 20px;

			@media screen and (max-width: 992px) {
				padding: 10px;
				display: block;

				br {
					display: none;
				}
			}

			b {
				display: block;
				font-size: 16px;
				color: #5a6270;
			}

			img {
				width: 43px;
				height: 43px;
				margin-right: 10px;
				border-radius: 50%;

				@media screen and (max-width: 992px) {
					width: 63px;
					height: 63px;
					margin-right: 0px;
				}

			}
		}

		.mobile-shadow {
			display: none;
		    position: fixed;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
			transition: all 0.3s ease;
		    background: rgba(0,0,0,0.6);
		    z-index: 1;

			@media screen and (max-width: 992px) {
				&.active {
					display: block;					
				}
			}
		}

		
		.menu-list {
			
			@media screen and (max-width: 992px) {
			    position: fixed;
			    right: -100%;
			    top: 0;
    			text-align: left;
    			height: 100%;
    			padding-top: 55px;
    			transition: all 0.3s ease;
			    background: white;
			    z-index: 2;
			    border-left: 1px solid #565656;

    			&.active {
    				right: 0px;
    			}
			}

			.list-item {
				display: block;
				padding-left: 50px;
				height: 44px;
				line-height: 44px;
				font-size: 16px;
				color: #5a6170;
				border-left: 3px solid transparent;

				@media screen and (max-width: 1200px) {
					padding-left: 20px;
				}

				@media screen and (max-width: 992px) {
					padding-right: 28px;

					&:last-child {
						margin-top: 30px;
					}
				}

				&:hover,
				&.active {
					background: #f0f9ff;
					color: #80b8dc;
				}

				&.active {
					border-color: #80b8dc;
				}

				img {
					width: 14px;
					height: 14px;
					margin-right: 20px;
				}

				&.list-item-mobile {
					display: none;
					margin-bottom: 40px;

					@media screen and (max-width: 992px) {
						display: block;
					}
				}
			}
		}

	}

	h2.page-title {
		font-size: 25px;

		img {
			margin-right: 10px;
     		vertical-align: sub;
		}

		@media screen and (max-width: 992px) {
			font-size: 22px;
			margin-top: 20px;
		    background: #f7f7f7;
		    margin-left: -10px;
		    margin-right: -10px;
		    padding: 5px 10px;
		}
	}

	.container > .col-md-9 {
		background-image: url(../new-vox-img/profile-background.png);
    	background-size: cover;
	    background-position: 100% 0%;
	    background-repeat: no-repeat;
	    min-height: calc(100vh - 147px - 40px - 100px);
	}

	.form-horizontal {
		margin-top: 60px;

		@media screen and (max-width: 992px) {
			margin-top: 20px;
			margin-bottom: 40px;
		}
	}

	.separated {
		margin-top: 30px;
	}

	.control-label {
		font-size: 16px;
		color: #a6a6a6;
		font-weight: normal;
		padding: 0px 0px 0px 10px;
	    line-height: 43px;
	    display: block;

		@media screen and (max-width: 992px) {
			line-height: 34px;
			font-size: 12px;
    		padding-left: 30px;
		}

		&.top-label {
			color: #777777;
			font-size: 14px;
			margin-bottom: 12px;
		    text-align: left;
		    padding-left: 15px;
		    line-height: normal;
		}
	}

	input[type="password"].form-control,
	input[type="text"].form-control,
	input[type="number"].form-control,
	select.form-control {
		height: 40px;
		line-height: 40px;
		border: 1px solid #acacac;
		border-radius: 5px;
		font-size: 16px;
		color: #333333;
		padding: 0px 15px;
		font-weight: normal;
		display: block;
		width: 100%;

		&.has-error {
			color: red;
			border-color: red;
		}

		@media screen and (max-width: 992px) {
			height: 34px;
			line-height: 34px;
			font-size: 12px;
		}
	}

	input[type="number"].form-control {
		padding-right: 1px;
	}

	.btn {
		height: 40px;
		line-height: 40px;
		float: right;
		padding: 0px 20px;
		border-radius: 5px;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 600;
	    display: inline-block;
	    width: auto;
	    border: none;
	    margin-top: 30px;

		@media screen and (max-width: 992px) {
	    	display: block;
	    	float: none;
	    	width: 100%;
			line-height: 34px;
			height: 34px;
			font-size: 13px;
			margin-top: 10px;
	    }

	    @media screen and (max-width: 768px) {
	    	font-size: 11px;
	    }

	    &:hover {
	    	background-color: #38ace5;
	    }

	    &.nom {
	    	margin-top: 0px;
	    	display: block;
	    	width: 100%;

			@media screen and (max-width: 992px) {
				margin-top: 10px;
			}
	    }

	    &.compact {
			height: 20px;
			line-height: 20px;
			font-size: 14px;
			margin-right: 10px;
			margin-top: 0px;
			float: none;

			i {
				font-size: 12px;
			}
	    }

	    i {
	    	color: white;
	    	font-weight: normal;
	    }
	}

	.btn-primary {
		background-color: #126585 !important;
		background-image: none;
		color: white;

	    &:hover {
	    	background-color: #38ace5;
	    }
	}

	.btn-inactive {
		background-color: #9d9d9d;
		color: white;

	    &:hover {
	    	&.no-hover {
				background-color: #9d9d9d;   		
	    	}
	    	&:not(.no-hover) {
				background-color: #80b8dc;   		
	    	}
	    }
	}

	.privacy-row {
		padding: 50px 0px;
		border-bottom: 3px solid black;

		&:last-child {
			border: none;
		}

		img {
			margin-right: 25px;
			min-width: 95px;
			height: 95px;


			@media screen and (max-width: 992px) {
				margin-right: 15px;
				min-width: 60px;
				height: 60px;
			}
		}

		h3 {
			font-size: 20px;
			font-weight: bold;
			color: black;
			margin-bottom: 20px;

			@media screen and (max-width: 992px) {
				font-size: inherit;
			}
		}

		p {
			margin: 0;
			padding: 0;
			font-size: 18px;
			color: #333333;

			@media screen and (max-width: 992px) {
				font-size: 12px;
			}
		}
	}

	#invite-wrapper {
		font-weight: normal;
		font-size: 18px;
		color: #333333;

		@media screen and (max-width: 992px) {
	    	font-size: 14px;
	    }

		h3 {
			color: black;
			font-weight: bold;
			font-size: 20px;
			margin-bottom: 15px;

			@media screen and (max-width: 992px) {
		    	font-size: initial;
		    }
		}

		b {
			display: block;
			margin-top: 30px;
		}

		.steps {
			position: relative;
			margin-top: 20px;

			@media screen and (max-width: 992px) {
		    	display: block;
		    }

			&:before {
				content: '';
				position: absolute;
				top: 26px;
				height: 3px;
				width: 100%;
				background: black;
				
				@media screen and (max-width: 992px) {
			    	display: none;
			    }
			}

			.step {
				
				@media screen and (max-width: 992px) {
			    	margin-bottom: 40px;
			    	text-align: left;

			    	.form-horizontal {
			    		margin: 0px;

			    		input {
			    			margin-top: 10px;
			    		}
			    	}
			    }

				.number {
					height: 57px;
					width: 57px;
					line-height: 57px;
					background: white;
					border: 3px solid black;
					text-align: center;
					font-size: 25px;
					font-weight: bold;
					color: black;
					border-radius: 50%;
					z-index: 10;
					position: relative;
					margin-bottom: 15px;
    				display: inline-block;

					@media screen and (max-width: 992px) {
				    	float: left;
				    	margin-right: 15px;
				    }
				}

				.btn {
					display: inline-block;
					margin-top: 25px;
					float: none;
					@media screen and (max-width: 992px) {
						margin-top: 10px;
				    }
				}
			}
		}

		.option-div {
			margin-top: 50px;
			@media screen and (max-width: 992px) {
				margin-top: 0px;
				clear: both;
		    }
		}
	}

	.profile-home-content {

		padding-top: 30px;

		b {
			font-size: 42px;
			color: black;
			font-weight: bold;
			display: block;

			span {
				font-size: 42px;

				@media screen and (max-width: 992px) {
					font-size: 20px;
				}
			}

			@media screen and (max-width: 992px) {
				font-size: 20px;
			}
		}

		.convertor,
		.convertor * {
			color: #333333;
			font-size: 30px;
			font-weight: bold;
		}

		.convertor {

			.convertor-currnecy {
				padding-right: 26px;
				position: relative;
				padding-bottom: 20px;

				&:after {
					content: '';
					position: absolute;
					right: 0px;
    				top: 14px;
					border-style: solid;
					border-width: 14px 6px 0 6px;
					border-color: #616161 transparent transparent transparent;
				}

				.expander {
					display: none;
					position: absolute;
					top: 50px;
					left: 0px;
					right: 0px;
					padding: 14px;
					background: white;
					z-index: 20;
					border: 1px solid #e8e8e8;
					box-shadow: 0px 0px 7px 3px rgba(234,234,234,0.5);

					&:before {
						content: '';
						position: absolute;
						left: 50%;
						margin-left: -5px;
						top: -4px;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 5px 4px 5px;
						border-color: transparent transparent #ffffff transparent;
					}

					a {
						font-size: 20px;
						text-align: left;
						display: block;
						cursor: pointer;
						padding-bottom: 5px;

						&:hover,
						&.active {
							color: #126585;
						}

						&:last-child {
							padding-bottom: none;
						}
					}

				}


				&:hover {
					.expander {
						display: block;
					}
				}
			}
			
		}

		.btn {
			margin-top: 10px;

			@media screen and (max-width: 992px) {
				margin-top: 20px;
			}
		}

	}
}