html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height: normal; 
	font-family: 'Nunito', sans-serif;
    color: black;
}

/* HTML5 display-role reset for older browsers */
body {
    background-color: white;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; 
}
em {
    font-style: italic;
}
ol, ul {
    list-style: none; 
}
blockquote, q {
    quotes: none; 
}
blockquote {
    &:before, &:after {
      content: '';
      content: none; 
    } 
}
q {
    &:before, &:after {
        content: '';
        content: none; 
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0; 
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a {
    text-decoration: none;

    &:focus,
    &:hover {
    	text-decoration: none !important;
    }
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    width: 0px;
    height: 0px;
}
.relative {
    position: relative;
}
.tar {
	text-align: right;
}
.tac {
	text-align: center;
}
span,p {
	font-size: 16px;
}
.bold,
strong,
b {
    font-weight: 700;
}
.blue {
	color: #5a99ba;
}
.inline-block {
	display: inline-block;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}


header {
	height: 90px;
	border-bottom: 3px solid #e6e6e6;

	@media screen and (max-width: 768px) {
		height: 70px;
	}

	.navbar {

		.logo {
			width: 30%;
		    display: block;
		    float: left;
		    padding-top: 12px;
		    text-align: center;

		    img {
		    	height: 60px;

		    	@media screen and (max-width: 768px) {
					height: 40px;
				}
		    }
		}

		.header-title {
			width: 40%;
		    float: left;
		    text-align: center;
		    font-size: 18px;

		    @media screen and (max-width: 768px) {
				display: none;
			}

			a {
		    	width: 130px;
		    	margin: 15px auto;
		    	display: block;

			    img {
			    	width: 100%;
			    }
				
			}

			span {
				color: #bfbfbf;
			}

		}

		.sign-in {
			width: 230px;
			float: right;
			display: block;
			text-align: center;
			line-height: 38px;
		    font-weight: bold;
		    font-size: 20px;
		    color: black;
		    transition: all 0.3s ease;
		    margin-bottom: 10px;

		    @media screen and (max-width: 1200px) {
		    	width: 186px;
		    }
		    @media screen and (max-width: 992px) {
		    	width: 146px;
		    }

		    @media screen and (max-width: 768px) {
				line-height: 35px;
				width: 100px;
				text-align: right;
				margin-bottom: 0px;
			}

		    &:hover {
		    	color: #4d86a4;
		    	transition: all 0.3s ease;
		    }
		}

		.header-right {
			float: right;
		    width: 30%;
		    text-align: right;
		    margin-top: 10px;

		    @media screen and (max-width: 768px) {
				width: 70%;
				margin-top: 5px;
			}

		    .header-a {
		    	color: black;
		    	transition: all 0.3s ease;

		    	&:first-child {
		    		padding-right: 10px;
				    border-right: 1px solid black;
				    margin-right: 7px;
		    	}

		    	&:hover {
		    		color: #4d86a4;
		    		transition: all 0.3s ease;

		    		i {
		    			color: #4d86a4;
		    			transition: all 0.3s ease;
		    		}
		    	}

		    	i {
		    		font-size: 17px;
		    		color: black;
		    		transition: all 0.3s ease;
		    	}
		    }

		    p {
		    	font-size: 14px;
		    	margin-top: 7px;
		    	clear: both;
			    @media screen and (max-width: 768px) {
		    		margin-top: 2px;
				}

				span {
					font-size: 14px;
				}

		    	a {
		    		font-size: 14px;
		    		color: #5c5c5c;
		    		transition: all 0.3s ease;

		    		&:hover {
		    			color: #4d86a4;
		    			transition: all 0.3s ease;
		    		}
		    	}
		    }
		}
	}
}

.full {
	background-image: url('../img-vox/home.jpg');
	padding-top: 38%;
    background-size: cover;
    background-position: 50%;
    position: relative;
    overflow: hidden;

    .first-absolute {
    	font-size: 30px;
	    color: #333333;
	    position: absolute;
	    top: 90px;
    	left: 50%;
	    font-weight: bold;

	    @media screen and (max-width: 1420px) {
			left: 47%;
		}
	    @media screen and (max-width: 1340px) {
			font-size: 25px;
		}
	    @media screen and (max-width: 1120px) {
			font-size: 20px;
		}
	    @media screen and (max-width: 870px) {
			font-size: 15px;
			top: 60px;
		}
	    @media screen and (max-width: 650px) {
			top: 30px;
		}
	    @media screen and (max-width: 380px) {
			top: 10px;
			font-size: 13px;
		}
    }

    .second-absolute {
		position: absolute;
		font-size: 260px;
		font-weight: bold;
		top: 27%;
		color: #333333;
		left: 40%;

	    @media screen and (max-width: 1420px) {
			left: 36%;
		}
	    @media screen and (max-width: 1340px) {
			font-size: 210px;
		}
	    @media screen and (max-width: 1120px) {
			font-size: 160px;
		}
	    @media screen and (max-width: 870px) {
			font-size: 110px;
			top: 32%;
		}
	    @media screen and (max-width: 650px) {
			font-size: 70px;
		}
	    @media screen and (max-width: 440px) {
			font-size: 50px;
			top: 42%;
		}
    }

}

.container.container-ribbon {
	position: relative;
	padding: 0px;

	@media screen and (max-width: 870px) {
		width: 100%;
	}

    .ribbon {
        position: absolute;
        top: 0px;
        right: 50px;
        padding: 10px 20px;
        background: #5a99ba;
        color: white;
        width: 160px;
        text-align: center;
        z-index: 1;
        
        @media screen and (max-width: 1200px) {
        	right: 30px;
        }

        @media screen and (max-width: 990px) {
        	right: 10px;
        }

        @media screen and (max-width: 870px) {
            position: static;
            text-align: center;
            width: 100%
        }

        b {
            display: block;
            font-size: 20px;
            margin: 0;
            line-height: 20px;
            color: white;
	        @media screen and (max-width: 870px) {
	        	display: inline;
	        }

            &.second {
                margin-top: 5px;
                padding-top: 5px;
                border-top: 2px solid white;
            }
        }

        .right-t,
        .left-t {
            position: absolute;
            bottom: -20px;
            width: 0;
            height: 0;
            border-style: solid;

        	@media screen and (max-width: 870px) {
        		display: none;
        	}
        }

        .left-t {
            left: 0px;
            border-width: 20px 80px 0 0;
            border-color: #5a99ba transparent transparent transparent;
        }

        .right-t {
            right: 0px;
            border-width: 0 80px 20px 0;
            border-color: transparent #5a99ba transparent transparent;

        }

    }
}

.questions-dots {
	width: 100%;
	height: 8px;
	background-color: #ececec;
	margin-top: 4px;
	border-radius: 10px;
	position: relative;

	.dot {
		background-color: #5a99ba;
		position: absolute;
		height: 8px;
		width: 20%;
		border-radius: 10px;
		transition: all 0.3s ease;
	}
}

.questions {
	margin-bottom: 190px;

	@media screen and (max-width: 768px) {
		margin-bottom: 30px;
	}

	.triangle {
		width: 0;
		height: 0;
		margin: 3px auto 40px auto;
		border-style: solid;
		border-width: 26px 15px 0 15px;
		border-color: #bdbdbd transparent transparent transparent;
	}

	.questions-header {
		margin-bottom: 20px;

		.col-md-6 {
			@media screen and (max-width: 768px) {
				text-align: center;
			}

			span {
				font-size: 18px;
				color: #5c5c5c;
			}
		}
	}

	.question-group {
		text-align: center;
	}

	.question {
		width: 819px;
		margin: 0 auto;
		font-weight: bold;
		text-align: center;
		font-size: 18px;

	    @media screen and (max-width: 992px) {
			width: 100%;
		}
	}

	.answers {
		margin: 20px auto 0 auto;
    	display: inline-block;
    	position: relative;
    	width: auto;

    	.loader {
    		position: absolute;
    		top: 0;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		background: rgba(0,0,0,0.3);
    		text-align: center;

    		i {
    			position: absolute;
    			top: 50%;
    			color: white;
				margin-left: -21px;
				margin-top: -21px;
    		}
    	}

		select {
			display: block;
		    width: 309px;
		    margin: 1px auto;
		    border: 1px solid #767676;
		    border-radius: 10px;
		    font-weight: normal;
		    color: #343434;

		    @media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		.answer-radios-group {
			text-align: left;
		}

		.answer-radio,
		.answer-checkbox,
		.answer {
			display: block;
    		padding: 5px 20px;
			margin: 1px auto;
			border: 1px solid #767676;
			text-align: center;
			border-radius: 10px;
			font-size: 16px;
			font-weight: normal;
			color: #343434;
			cursor: pointer;

			&.active-label,
			&:hover {
				background-color: #5a99ba;
				color: white;
				border-color: #5a99ba;
			}
		}


		.answer-radio,
		.answer-checkbox {
			text-align: left;

		    input.answer {
		    	display: inline-block;
			    width: auto;
			    vertical-align: baseline;
		    }
		}

		.answer-radio {
			width: auto;
			display: inline-block;
			margin: 0 auto;
			font-size: 0px;
			padding: 10px;
			border-radius: 50%;
		    border-color: #5a99ba;
			margin-bottom: 20px;
			margin-top: 30px;

		    @media screen and (max-width: 768px) {
				font-size: 18px;
				border-radius: 10px;
				padding: 5px 20px;
				width: 100%;
    			text-align: center;
    		    margin: 1px auto;
			}

			&:hover {
				width: auto;

				@media screen and (max-width: 768px) {
					width: 100%;
				}
			}
		}

		.answers-inner {
			width: 100%;

			.mobile-hide {
				@media screen and (max-width: 768px) {
					display: none;
				}
			}

			.answer-title {
				float: left;
	    		padding: 0px 10px;
	    		vertical-align: middle;

	    		@media screen and (max-width: 768px) {
					width: 100% !important;
				}

	    		span {
					display: block;
					margin: 0 auto;
					font-weight: normal;
					text-align: center;
	    		}
			}

			.flickity {
				@media screen and (max-width: 768px) {
					width: 100%;
					margin: 0 auto;
				}

				.answer-question {
					margin-bottom: 30px;
				}

				.flickity-page-dots {
					top: 75px;
					bottom: auto;

					.dot.filled:not(.is-selected) {
						background: #5a99ba;
						opacity: 1;
					}
				}
			}

			.answer-radios-group {

				@media screen and (max-width: 768px) {
					width: 100%;
					margin-right: 10px;
					border-radius: 5px;
					counter-increment: carousel-cell;
				}

				&:before {
					@media screen and (max-width: 768px) {
						display: block;
						text-align: center;
						line-height: 200px;
						font-size: 80px;
						color: white;
					}
				}

				.answer-question {
					width: 20%;
					float: left;

					@media screen and (max-width: 768px) {
						width: 100% !important;
					}

					h3 {
						margin-bottom: 30px;
						margin-top: 20px;
						font-style: italic;
						text-align: left;
						font-size: 18px;
						font-weight: bold;

						@media screen and (max-width: 768px) {
						    text-align: center;
						    padding: 0px 40px;
						margin-bottom: 30px;
						}
					}
				}

				.answer-inner {
					float: left;

					@media screen and (max-width: 768px) {
						width: 100% !important;
					}
				}
			}
		}
	}


	.question-group.scale {
		.answers {
			width: 70%;

	    	@media screen and (max-width: 768px) {
				width: 100%;
			}
		}		
	}

	.next-answer {
		display: block;
		width: 200px;
		margin: 0 auto;
		background-color: #5a99ba;
		padding: 5px 0px;
		text-align: center;
		color: white;
		font-weight: bold;
		border: 2px solid #5a99ba;
		border-radius: 10px;
		font-size: 20px;
		margin-top: 40px;

		&:hover {
			background-color: white;
			color: #5a99ba;
		}
	}

	.hint {
		width: 331px;
		margin: 40px auto 0px auto;
		font-size: 15px;
		color: #343434;
		text-align: center;

		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}
}

.main-title {
	padding: 30px;
    border-bottom: 3px solid #e6e6e6;

    @media screen and (max-width: 768px) {
		padding: 20px;
	}

	.title {
		//width: 450px;
	    margin: 0 auto;
	    text-align: center;

	 //    @media screen and (max-width: 768px) {
		// 	width: 100%;
		// }
	}
}

.another-questions {
	padding-top: 130px;
	padding-bottom: 200px;
	text-align: center;

	.gray-border {
		width: 270px;
	    height: 3px;
	    background-color: #e6e6e6;
	    margin: 0 auto;
	    margin-top: 6px;
	}

	.questions-menu {
		margin-top: 10px;
		margin-bottom: 60px;

		a {
			padding-right: 20px;
			padding-left: 18px;
			font-size: 16px;
			font-weight: bold;
			color: black;
			border-right: 2px solid black;
			transition: all 0.3s ease;

			@media screen and (max-width: 768px) {
				display: block;
				padding: 5px 0px;
				border-right: 0px;
			}

			&:last-child {
				border-right: none;
			}

			&.active,
			&:hover {
				color: #4d86a4;
				transition: all 0.3s ease;
			}
		}
		span {
			@media screen and (max-width: 768px) {
				display: block;
				margin-bottom: 10px;
			}
		}
	}

	.questions-wrapper {
		height: 500px;
		overflow: hidden;
	    max-width: 500px;
	    margin: 0 auto;

		.questions-inner {
			height: 500px;
			overflow-y: scroll;
			position: relative;
			padding: 20px 0px;
		}

		.another-question {
			opacity: 0.7;
			width: 350px;
			padding: 15px 25px;
			margin: 0px auto 10px auto;
			box-shadow: 1px 2px 8px 2px rgba(223,223,223,1);

			@media screen and (min-width: 992px) {
				width: 340px;
			}

			@media screen and (max-width: 768px) {
				width: 80%;
			}

			.another-question-header {
				padding-bottom: 20px;
				margin: 0px 30px;
				border-bottom: 1px solid #d8d8d8;

				.left {
					float: left;
					margin-top: 12px;

					@media screen and (max-width: 768px) {
						float: none;
						margin-bottom: 10px;
					}

					span {
						color: #5c5c5c;
					}
				}
				.right {
					float: right;

					@media screen and (max-width: 768px) {
						float: none;
					}

					p {
						font-size: 14px;
						color: #333333;
					}
				}
			}

			h4 {
				color: #5a99ba;
				font-size: 20px;
				margin-top: 15px;
			}

			.another-question-content {
				display: none;
			
				.question-description {
					font-size: 13px;
					color: #6c6c6c;
					margin-top: 5px;
					margin-bottom: 15px;
					text-overflow: ellipsis;
				    max-height: 36px;
				    overflow: hidden;
				}

				.statistics,
				.opinion {
					display: inline-block;
					font-size: 15px;
				    text-transform: uppercase;
				    font-weight: bold;
				    padding: 5px 15px;
				    color: white;
				    border-radius: 5px;
					background-color: #5b5b5b;
					transition: all 0.3s ease;

					&:hover {
						background-color: #4d86a4;
						transition: all 0.3s ease;
					}
				}

				.statistics {
				    margin-right: 5px;

				    @media screen and (max-width: 768px) {
						margin-right: 0px;
						margin-bottom: 10px;
					}
				}
			}
		}

		.another-question.active {
			width: 400px;
			opacity: 1;

			@media screen and (min-width: 992px) {
				width: 365px;
			}

			@media screen and (max-width: 768px) {
				width: 90%;
			}

			h4 {
				color: #5a99ba;
				font-size: 20px;
				margin-top: 5px;
			}

			.another-question-content {
				display: block;
			}
		}
	}

	.triangle-up {
		width: 0;
	    display: block;
	    margin: 0 auto 10px auto;
	    height: 0;
	    border-style: solid;
	    border-width: 0 32px 33px 32px;
	    border-color: transparent transparent #bfbfbf transparent;
		transition: all 0.3s ease;

		&:hover {
			border-color: transparent transparent #d2d2d2 transparent;
			transition: all 0.3s ease;
		}
	}

	.triangle-down {
		width: 0;
	    display: block;
	    margin: 10px auto 0px auto;
	    height: 0;
	    border-style: solid;
	    border-width: 33px 32px 0 32px;
		border-color: #bfbfbf transparent transparent transparent;
		transition: all 0.3s ease;

		&:hover {
			border-color: #d2d2d2 transparent transparent transparent;
			transition: all 0.3s ease;
		}
	}
}

.modal-dialog {
    width: 954px;

    @media screen and (max-width: 992px) {
		width: 100%;
		padding-left: 17px;
	}
	@media screen and (max-width: 768px) {
		padding: 10px;
		margin: 0px;
	}
}

.modal-body {
	padding: 50px;
	text-align: center;

	@media screen and (max-width: 768px) {
		padding: 10px;
	}

	.close {
		position: absolute;
	    top: 10px;
	    font-size: 80px;
	    right: 30px;

	    @media screen and (max-width: 768px) {
			top: 0px;
		    font-size: 50px;
		    right: 10px;
		}
	}

	.popup-title {
		font-size: 60px;
		font-weight: bold;
		margin-bottom: 10px;

		@media screen and (max-width: 768px) {
			margin-top: 30px;
			font-size: 42px;
			margin-bottom: 20px;
		}
	}

	.popup-second-title {
		font-size: 30px;
		color: #575757;
	}

	.price {
		margin-top: 15px;

    	.coins {
    		font-size: 20px;
		    font-weight: bold;
		    text-transform: uppercase;
		    vertical-align: top;
		    display: inline-block;
		    margin-top: 10px;
		    margin-left: 10px;
		    color: #575757;
    	}
	}

	.popup-third-title {
		margin-top: 50px;
		font-size: 20px;
		font-weight: normal;
		color: #575757;

		@media screen and (max-width: 768px) {
			margin-top: 20px;
			font-size: 17px;
		}
	}
	

	.popup-buttons {
		margin: 40px 0px;

		.popup-button {
			font-size: 24px;
		    font-weight: bold;
		    padding: 5px 40px;
		    border-radius: 6px;
		    background-color: #4d86a4;
		    color: white;
		    display: inline-block;
		    margin-right: 25px;
		    transition: all 0.3s ease;

		    @media screen and (max-width: 768px) {
				font-size: 20px;
				margin-right: 0px;
			}
			
			&:nth-child(1) {
				background-color:white;
				color:#b7b7b7;
				border:2px solid #b7b7b7;
				padding: 5px 50px;
				margin-right: 0px;
				margin-left: 0px; 

		    	&:hover {
				 background-color: #59a5cd;
				 color:white;
				 border:2px solid  #59a5cd;
				 transition: all 0.3s ease;
				}
			}
		    &:nth-child(2) {
		    	margin-right: 0px;
		    	margin-left: 0px;
				border:2px solid #4d86a4;

		    	@media screen and (max-width: 768px) {
					margin-top: 10px;
					margin-left: 0px;
				}
		    }

		    &:hover {
				background-color: #59a5cd;
				border-color:#59a5cd;
				transition: all 0.3s ease; 
		    }
		}
	}

	.sign-title {
		font-size: 50px;
		font-weight: bold;
		color: #5a99ba;
		margin-top: 40px;

		@media screen and (max-width: 768px) {
			font-size: 40px;
		}
	}

	.button-facebook {
		margin-top: 40px;
		display: inline-block;
		background-color: #3b5998;
	    padding: 17px 30px;
	    color: white;
	    font-weight: normal;
	    font-size: 14px;
	    border-radius: 5px;

		i {
			color: white;
		    font-size: 20px;
		    margin-right: 10px;
		    vertical-align: bottom;
		}
	}

	form {
		width: 470px;
		margin: 30px auto 30px auto;

		@media screen and (max-width: 768px) {
			width: 100%;
		}

		.form-control {
			border-width: 0px 0px 2px 0px;
			padding: 0px;
			border-radius: 0px;
			border-color: #d5d5d5;
			font-size: 20px;
			margin-bottom: 25px;
			box-shadow: none;

			&:focus {
				box-shadow: none;
				border-color: #c1bfbf;
			}
			&::placeholder {
				color: #d5d5d5;
				font-size: 20px;
				font-weight: normal;
			}
		}

		.form-check {
			margin: 20px 0px;
		}

		select.form-control {
			width: 170px;
		    border-width: 1px;
		    padding: 0px 10px;
		    color: #d5d5d5;
		    display: inline;
		    color: #b3b3b3;
		    font-weight: normal;
		    border-radius: 20px;
		    margin-bottom: 15px;

		    @media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		button[type="submit"] {
			width: 100%;
		    font-size: 30px;
		    font-weight: bold;
		    text-transform: uppercase;
		    background-color: #5a99ba;
		    background-image: none;
		    border: none;
		    font-size: 25px;
		    transition: all 0.3s ease;

		    &:hover {
		    	background-color: #5084a0;
		    	transition: all 0.3s ease;
		    }
		}
	}

	.blue-link {
		color: #5a99ba;
		transition: all 0.3s ease;

		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
    		display: inline-block;
		}

		&:hover {
			color: #387696;
			transition: all 0.3s ease;
		}
	}
}

.questions-back {
	display: block;
    margin: 50px 0px 50px 20px;
    font-size: 19px;
    color: black;
    transition: all 0.3s ease;

    @media screen and (max-width: 768px) {
		text-align: center;
    	margin: 20px 0px;
	}

    i {
    	color: black;
    	transition: all 0.3s ease;
    }

    &:hover {
    	color: #4d86a4;
    	transition: all 0.3s ease;

    	i {
    		color: #4d86a4;
    		transition: all 0.3s ease;
    	}
    }
}

.page-questions {

	.questions-back {
		margin-top: 10px;
		margin-bottom: 70px;
		margin-left: 0px;

		@media screen and (max-width: 768px) {
			text-align: center;
			margin-bottom: 30px;
		}
	}

	.questionnaire-title {
		text-align: center;
		font-weight: bold;
		color: #90b9cf;

		a {
			background-color: #90b9cf;
			color: white;
			border-radius: 5px;
			float: right;
			padding: 0px 20px;
			font-size: 24px;
			line-height: 49px;
		}
	}

	.questionnaire-description {
		font-size: 19px;
		color: #5f5f5f;
		text-align: center;
		margin-bottom: 35px;
		margin-top: 5px;
	}

	.questions-dots {
		margin-bottom: 10px;
	}
}

.page-questions-done {
	margin-bottom: 200px;

	@media screen and (max-width: 768px) {
		margin-bottom: 0px;
	}

	.questions-back {
		margin-top: 10px;
		margin-bottom: 30px;
		margin-left: 0px;

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}

	.modal-body {
		@media screen and (max-width: 768px) {
			padding: 0px;
		}

		.price {
			margin-bottom: 15px;
		}
	}

	.buttons-description {
		font-size: 18px;
	    color: #575757;
	    text-align: center;
	    font-weight: normal;

	    @media screen and (max-width: 768px) {
			font-size: 19px;
		}
	}

	.button-questionnaries,
	.button-wallet {
		background-color: #4d86a4;
	    color: white;
	    font-size: 21px;
	    font-weight: bold;
	    margin: 40px auto 80px auto;
	    width: 300px;
	    text-align: center;
	    display: block;
	    height: 35px;
	    line-height: 35px;
	    border-radius: 8px;
	    transition: all 0.3s ease;

	    @media screen and (max-width: 768px) {
			width: 100%;
			margin: 30px auto 40px auto;
		}

	    &:hover {
	    	background-color: #5b9fc2;
	    	transition: all 0.3s ease;
	    }
	}

	input[type="text"] {
		margin-top: 20px;
		margin: 20px auto;
	    max-width: 600px;
	    text-align: center;
	}

	i {
		color: white;
		margin-right: 5px;
	}
}

.page-statistics {
	margin-top: 170px;
	margin-bottom: 200px;

	.questions-list {
		float: left;
		@media screen and (max-width: 992px) {
			float: none;
		}
	}
	.stats-col {
		float: right;
		@media screen and (max-width: 992px) {
			float: none;
		}
	}

	@media screen and (max-width: 992px) {
		margin-top: 70px;
		margin-bottom: 70px;
	}

	i {
		color: #898989;
	}
	.statistics-title {
		color: #5a99ba;
	    text-transform: uppercase;
	    font-size: 22px;
	    text-align: center;
	    margin-bottom: 25px;
	}

	.statistics-question {
		font-size: 20px;
	    background-color: #5a99ba;
	    color: white;
	    text-align: center;
	    padding: 10px 20px;
	    width: 90%;
	    border-radius: 8px;
	    margin: 15px auto;
	}

	.statistics-subquestion {
		font-size: 20px;
	    font-weight: bold;
	    color: #5a99ba;
	    text-align: center;
	    margin-bottom: 10px;
	}

	.list-group {
		.list-group-item {
			text-align: left;
			&.selected {
				a {
					color: #5b9fc2;
				}
				background: white;
				font-weight: bold;
			}
		}
	}

	.panel-default > .panel-heading .panel-title {
		text-align: left;
		font-size: 16px;

		i {
			color: white;
		    margin-left: 0px;
		}

		a {
			display: block;
			line-height: 23px;
			span {
				font-size: 16px;
				line-height: 23px;
				float: right;
				color: white;

				i {
					margin-left: 10px;
				}
			}
		}
	}

	.form-group {
		@media screen and (max-width: 768px) {
			display: inline-block;
		}
	}

	input[type="text"],
	select {
		width: 114px !important;
	    border: 2px solid #919191;
	    color: #5a99ba;
	    border-radius: 10px;
	    height: initial;

		@media screen and (max-width: 1200px) {
			width: 94px;
		}
	}

	select {
		width: 138px !important;

		@media screen and (max-width: 1200px) {
			width: 120px;
		}
	}

	button[type="submit"] {
	    font-size: 17px;
	    font-weight: bold;
	    background-color: #5a99ba;
	    background-image: none;
	    border: none;
	    transition: all 0.3s ease;

	    &:hover {
	    	background-color: #5084a0;
	    	transition: all 0.3s ease;
	    }
	}
	.response {
		margin-bottom: 50px;

		.clearfix {
			&:first-child {
				margin-bottom: 10px;
    			border-bottom: 2px solid #5a99ba;
			}
		}

		p {
			font-size: 20px;
			margin-bottom: 10px;

		}

		.previous,
		.next {
			font-size: 16px;
		    font-weight: bold;
		    text-transform: uppercase;
		    background-color: #5a99ba;
		    height: 35px;
		    color: white;
		    width: 180px;
		    display: block;
		    line-height: 35px;
		    border-radius: 8px;
		    transition: all 0.3s ease;

		    &:hover {
				background-color: #5084a0;
				transition: all 0.3s ease;
		    }

		    @media screen and (max-width: 768px) {
				display: none;
				width: 49%;
			}
		}

		&.response-mobile {
			display: none;

		    @media screen and (max-width: 768px) {
				display: block;
			}

			.previous,
			.next {
				display: block;
			}
		}

		.previous {
			float: left;
		}

		.next {
			float: right;
		}

		.share {
			width: 38px;
			height: 38px;
			display: inline-block;
			background-color: #5a99ba;
			border-radius: 20px;
			margin: 0px 5px;

			&:hover {
				background-color: #5084a0;
				transition: all 0.3s ease;
			}

			i {
				position: relative;
			    top: 50%;
			    transform: translateY(-50%);
			    font-size: 23px;
			    color: white;
			}
		}
	}

	.response.prev-next {
		display: none;

		@media screen and (max-width: 768px) {
			display: block;
		}

		.previous,
		.next {
			@media screen and (max-width: 768px) {
				display: block;
			}
		}
	}

	.another-questions {
		padding: 0px;
	}
}

.page-profile {
	.questions-wrapper {
		height: initial;
		overflow: initial;
	}

	.panel-default {
		.panel-body {
			p {
				line-height: 20px;

				a.text {
					color: #216a94;

					&:hover {
						text-decoration: underline !important;
					}
				}
			}
			
			label {
				&.btn-primary {
					color: white;
				}

				&.multiple:not(.btn-primary):hover {
					color: #636b6f;
				    background-color: #d4d4d4;
				    border-color: #8c8c8c;
				}
			}
		}
	}

	.btn-primary {
		i {
			color: white;
		}
	}

	#contacts-results-list {
	    max-height: 100vh;
		overflow-y: auto;

		label {
		    line-height: 36px;
		    padding: 0px 10px;
		    text-align: left;
		    font-size: 14px;
		    cursor: pointer;
    		margin-bottom: 10px;

		    &:hover {
		    	background: #f5f5f5;
		    }
		}
	}
}

.panel-default {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border: none;
	box-shadow: 1px 2px 8px 2px #dfdfdf;

	>.panel-heading {
		background-color: #5b9fc2;
	    background-image: none;
	    color: white;
    	text-shadow: none;
    	border-radius: 10px;

		.panel-title {
			font-size: 20px;

			@media screen and (max-width: 768px) {
				font-size: 16px;
			}
		}
	}

	.panel-body {
	    padding: 30px;

	    @media screen and (max-width: 768px) {
			padding: 20px;
		}

		button[type="submit"] {
			i {
				color: white;
			}
		}

		.alert {
			margin-top: 22px;
			margin-bottom: 0px;
		}

		.form-group {
			@media screen and (max-width: 992px) {
				text-align: center;
			}
		}

		label {
			text-align: center;
			margin-bottom: 25px;
			font-weight: bold;
			color: #bfbfbf;
			font-size: 20px;

			@media screen and (max-width: 768px) {
				font-size: 18px;
				margin-bottom: 10px;
			}
		}

		input[name="idea"] {
			width: 80%;
    		margin: 0 auto;
    		border: none;
    		box-shadow: 1px 2px 8px 2px #dfdfdf;

    		@media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		.show-questions,
		a.btn,
		button[type="submit"] {
			text-align: center;
			background-color: #5b9fc2;
		    background-image: none;
		    color: white;
		    text-shadow: none;
		    border-radius: 10px;
		    border: none;
		    font-size: 18px;
		    height: 44px;
		    font-weight: bold;
		    font-size: 23px;
		    transition: all 0.3s ease;
			display: inline-block;
			width: auto;
			padding-left: 40px;
			padding-right: 40px;
			margin-left: auto;
			margin-right: auto;

		    @media screen and (max-width: 768px) {
				font-size: 16px;
			}

		    &:hover {
		    	background-color: #6bb6dc;
		    	transition: all 0.3s ease;
		    }
		}

		.show-questions {
			line-height: 44px;
		}

		.city {
			color: #7c7c7c;
			font-size: 14px;
			margin-bottom: 20px;
		}

		.price {
			text-align: center;

			img {
				width: 22px;
			}

			span {
				font-size: 29px;
			    font-weight: bold;
			    color: #5c5c5c;
			    font-weight: bold;

				@media screen and (max-width: 1200px) {
					font-size: 21px;
					vertical-align: bottom;
				}
			}
		}
	}
}

.panel-default.personal-panel {

	label {
		text-align: right;
		margin-bottom: 0px;

		@media screen and (max-width: 768px) {
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.form-control {
		border: none;
    	box-shadow: 1px 2px 8px 2px #dfdfdf;
    	height: 46px;
	}

	button[type="submit"] {
		margin-top: 50px;
		padding: 6px 12px;
		margin-bottom: -20px;
		font-size: 23px;

		@media screen and (max-width: 768px) {
			margin-top: 10px;
			font-size: 16px;
		}
	}

	.personal-description {
		font-size: 20px;
		text-align: center;
		color: #7f7f7f;
		margin-bottom: 40px;

		@media screen and (max-width: 768px) {
			font-size: 16px;
		}
	}
}

.list-group {

	.list-group-item.active,
	.list-group-item.active:focus,
	.list-group-item.active:hover {
		background-color: #5b9fc2;
	    background-image: none;
	    color: white;
	    border: none;
	    text-shadow: none;
		border-radius: 10px;
	}

	.list-group-item:last-child,
	.list-group-item {
		border-radius: 10px;
	}
}



footer {
	height: 97px;
    border-top: 5px solid #ececec;

    .footer-logo {
    	width: 15%;
	    display: block;
	    float: left;
	    text-align: center;
	    padding-top: 15px;

	    @media screen and (max-width: 992px) {
			width: 100%;
			float: none;
		}

	    img {
	    	width: 40px;
	    }
	    p {
	    	font-size: 13px;
	    }
    }

    .footer-text {
    	float: left;
	    width: 70%;
	    text-align: center;
	    font-size: 13px;
	    font-weight: normal;
		margin-top: 35px;

	    @media screen and (max-width: 992px) {
			width: 100%;
			float: none;
		}
    }

    .socials {
		float: left;
		width: 15%;
		margin-top: 10px;
		text-align: center;

	    @media screen and (max-width: 992px) {
			float: none;
			width: 100%;
			margin-bottom: 20px;
		}

		select {
			border: none;
		    box-shadow: none;
		    font-weight: bold;

		    @media screen and (max-width: 992px) {
				width: 240px;
				margin: 0 auto;
			}

		    &:focus {
		    	box-shadow: none;
		    }
		}

		.social {
			width: 30px;
			height: 30px;
			display: inline-block;
			text-align: center;
			background-color: #3f3f3f;
			border-radius: 20px;
			transition: all 0.3s ease;

			&:first-child {
				margin-right: 22px;
			}

			&:hover {
				background-color: #656363;
				transition: all 0.3s ease;
			}

			i {
				position: relative;
			    top: 50%;
			    transform: translateY(-50%);
			    font-size: 20px;
			    color: white;
			}
		}
    }
}

#statistic {
	width: 650px;
	height: 400px;
	margin: 20px 0px;

	@media screen and (max-width: 1200px) {
		width: 500px;
		height: 400px;
	}
	@media screen and (max-width: 992px) {
		width: 100%;
	}

}

.flickity-prev-next-button {
    background: rgba(0,0,0,.05);

    @media screen and (max-width: 500px) {
		top: 10px;
    	transform: none;
    }

    &:disabled {
    	opacity: 1;
    }
    &:hover {
    	background: rgba(0,0,0,.05);
    }

    &.next {
		right: 0px;
    }
    &.previous {
		left: 0px;
    }
}


.table>thead {
    @media (max-width:768px) {
        display: none;
    }
}

.table>tbody>tr {
    @media (max-width:768px) {
        border-top: 1px solid #ddd;
    }
}

.table>tbody>tr>td {
    @media (max-width:768px) {
        display: block;
        border: none;
    }
}

.civic-download {
	height: 50px;
	width: 168px;
	display: inline-block;
	margin: 0px 10px;
	background: url('../img-vox/download-android.png') 50% 50% no-repeat;
	opacity: 0.9;
	background-size: contain;

	&:hover {
		opacity: 1;
	}

	&.civic-ios {
		background-image: url('../img-vox/download-itunes.png');
	}
}

.civic-button-a {
	background: #3aaf46;
	line-height: 40px;
	border-radius: 20px;
	padding: 0px 20px;
	outline: none;
	box-shadow: none
}

.fb-button-inside {
	display: inline-block;
	position: relative;
    margin-top: 20px;

	a {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		z-index: 123;
	}
}

.page-index {
	.tutorial {
		text-align: center;
		h1 {
			margin: 50px 0px 20px 0px;
			font-weight: bold;
		}
		h2 {
			margin: 0px 0px 50px 0px;
			font-weight: bold;
		}
		p {
			margin: 20px 0px;
		}
		b {
			display: block;
		}

		.active-btn {
			margin-top: 30px;
		}
	}
}

.new-popup {
	display: none;
	opacity: 0;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.25);
	transition: all 0.5s ease;

	.new-popup-wrapper {
		text-align: center;
		z-index: 200;
		opacity: 0;
		background: white;
		padding: 50px 30px;
		border: 2px solid #b7b7b7;
		border-radius: 3px;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateY(-80%) translateX(-50%);
		transition: all 0.5s ease;
		max-width: 100%;

		@media screen and (max-width: 768px) {
			transform: translateY(-80%) translateX(0%);
			padding: 20px 20px;
			left: 10px;
			right: 10px;
		}

		.step {
			img {
				margin: 0px auto 45px auto;

				@media screen and (max-width: 768px) {
					max-width: 120px;
				}

			}

			h2 {
				font-size: 35px;
				font-weight: bold;
				color: #353535;
				margin: 0px auto 25px auto;

				span {
					font-size: inherit;
					font-weight: inherit;
					color: inherit;					
				}
			}

			p {
				font-size: 17px;
				color: #575757;
				margin-bottom: 65px;
			}
		}

		.closer {
			position: absolute;
		    right: 10px;
		    top: 10px;
		    color: black;
		    z-index: 300;
		    font-size: 20px;
		    cursor: pointer;
		}
	}

	&.active {
		opacity: 1;
		display: block;
		.new-popup-wrapper {
			opacity: 1;
			transform: translateY(-50%) translateX(-50%);
			@media screen and (max-width: 768px) {
				transform: translateY(-50%) translateX(0%);
			}
		}
	}
}

.active-btn {

	display: block;
    text-align: center;
	background-color: #5b9fc2;
    background-image: none;
    color: white;
    text-shadow: none;
    border-radius: 10px;
    border: none;
    height: 44px;
    line-height: 44px;
    font-weight: bold;
    font-size: 23px;
    transition: all 0.3s ease;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer;

    @media screen and (max-width: 768px) {
		font-size: 16px;
	}

    &:hover {
    	color: white;
    	background-color: #6bb6dc;
    	transition: all 0.3s ease;
    }
}

.category-title {
	margin-bottom: 10px;
}


#gdprPopupVox {
    background-color: #00000096;

    @media screen and (max-width: 768px) {
        overflow-y: scroll;
    }

	&.active {
		display: block;
	}

	.modal-dialog {
	    width: 570px;

	    @media screen and (max-width: 768px) {
	    	width: 100%;
	    }

	    img {
	    	width: 100px;
	    }

	    h2 {
	    	font-weight: bold;
    		font-family: 'Open-sans', sans-serif;
    		text-transform: uppercase;
    		margin-top: 30px;
    		margin-bottom: 30px;
	    }

	    p {
	    	font-size: 14px;
			text-align: center;
			font-family: 'Open-sans', sans-serif;
			color: #575757;

			a {
	    		font-size: 14px;
				font-weight: bold;
				font-family: 'Open-sans', sans-serif;
				color: #487b95;
			}
	    }

	    .agree-gdpr {
			font-size: 20px;
			font-weight: bold;
			text-transform: uppercase;
			font-family: 'Open-sans', sans-serif;
			background-color: #5a99ba;
			border: 2px solid #5a99ba;
			color: white;
			padding: 10px 60px;
			display: inline-block;
			clear: both;
			margin-top: 20px;
			border-radius: 5px;

			@media screen and (max-width: 768px) {
		    	padding: 8px 20px;
				margin-bottom: 20px;
		    }

			&:hover {
				background-color: white;
				color: #5a99ba;
				text-decoration: none;
			}
	    }
	}
}

.reg-privacy {
	margin-top: 30px;

	a {
		color: #216a94;
	}
}


.page-page {
	.page-image {
    	width: 100%;
	    height: auto;
	}

	h1 {
	    text-align: center;
	    margin-bottom: 30px;
	}

	.p-small {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.p-medium {
	    padding-top: 40px;
	    padding-bottom: 40px;
	}
	.p-big {
	    padding-top: 80px;
	    padding-bottom: 80px;
	}
	.p-huge {
	    padding-top: 160px;
	    padding-bottom: 160px;
	}

	ul {
		display: block;
	    list-style-type: disc;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    -webkit-padding-start: 40px;
	}
}

.alert-update {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	margin-bottom: 0px;
}


.modal {


	.modal-dialog {
	    position: absolute;
	    top: 20px;
	    left: 50%;
	    transform: translateY(-25%) translateX(-50%);
	    bottom: 20px;
	}

	&.fade {
		.modal-dialog {
			transform: translateY(-25%) translateX(-50%);
		}
	}
	&.active,
	&.in {
		.modal-dialog {
		    transform: translateY(0%) translateX(-50%);	
		}
	}
}

.modal-content {
    max-height: 100%;
    overflow: auto;
}
