$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";



$popup_padding: 100px;
$popup_padding_mobile: 20px;
$sort_popup_padding: 70px;

.main-top {
	background: rgb(31,191,242); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(31,191,242,1) 0%, rgba(0, 163, 217,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(31,191,242,1) 0%,rgba(0, 163, 217,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(31,191,242,1) 0%,rgba(0, 163, 217,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fbff2', endColorstr='#00a3d9',GradientType=0 );

	position: relative;
	padding-bottom: 380px;
	z-index: 100;

	@media #{$phone} {
		padding-bottom: 290px;
	}

	&.branch-top {
		padding-bottom: 90px;
	}

	&::after {
		display: none;
		content: '';
		position: absolute;
		bottom: -81px;
		background: url('../img-trp/oval-blue.png') no-repeat 50% 50%;
		background-size: 100% 100%;
		width: 100%;
		height: 81px;
	}

	h1 {
		color: white;
		padding-top: 140px;
		font-weight: bold;
    	text-transform: uppercase;
	}

	h2 {
		color: white;
	}
}

.clear-filters {
	margin-top: 10px;
	color: #126585;
	display: block;

	&:hover {
		text-decoration: underline;
	}
}

#sort-popup {
	.popup-title {
		@media #{$phone} {
			text-align: left;
			padding: 5px 10px 8px;
		}
	}
}

.results-popup {
	.popup-inner {
		width: 570px;
		padding: 20px $sort_popup_padding;

		@media #{$phone} {
	    	padding: 20px $popup_padding_mobile;
	    }

		h2 {
			margin-bottom: 30px;

			img {
				margin-right: 10px;

				@media #{$phone} {
					margin-right: 5px;
					width: 20px;
				}
			}
		}

		.popup-title {
			font-size: 18px;
		    padding: 5px $sort_popup_padding 5px;
		    margin-right: -$sort_popup_padding;
			margin-left: -$sort_popup_padding;
		    margin-bottom: 14px;
		    margin-top: 24px;
		    font-weight: 300;

		    @media #{$phone} {
		    	padding: 5px $popup_padding_mobile 5px;
			    margin-right: -$popup_padding_mobile;
				margin-left: -$popup_padding_mobile;
		    }
		}

		.checkbox-label {
			font-size: 16px;

			img {
				vertical-align: middle;
				height: 14px;
			}
		}

		.sort-by {
			a {
				display: block;
				font-size: 16px;
				font-weight: 300;
				margin-bottom: 12px;

				i {
					margin-right: 10px;
					color: white;
				}

				&:hover,
				&.active {
					i {
						color: black						
					}
				}
			}
		}

		.checkbox-label {
			text-align: left;
		}

		.button {
			padding: 10px 110px;
			margin-top: 30px;

			@media #{$phone} {
				width: 100%;
				padding: 10px;
				text-align: center;
			}
		}
	}
}

#map-results-popup {
	.popup-inner {
		width: 90%;
		padding: 1px;

	    @media #{$phone} {
	    	width: 100%;
	    	padding: 0px;
	    	margin: 0px;
	    }

		.close-map {
			background-color: rgba(0, 80, 107, 0.8);
		    color: white;
		    text-align: center;
		    padding: 8px 10px;
		    font-size: 14px;
		    border-radius: 5px;
		    z-index: 5;
		    top: 5px;
		    right: 6px;

		    i {
				font-size: 15px;
				color: white;
				margin-left: 5px;
				background: transparent;
		    }
		}

		h2 {
			font-size: 20px;
			text-align: left;

			img {
				margin-right: 5px;
				vertical-align: baseline;
			}
		}

		.flex {
			overflow: hidden;


		    @media #{$phone} {
		    	height: 100vh;
		    }
		}

		.flex-2 {
			min-width: 190px;
		    max-width: 190px;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 27px;

		    @media #{$tablet} {
		    	display: none;
		    }
		}

		.flex-3 {
			min-width: 320px;
		    padding-left: 20px;
		    max-width: 320px;
			overflow-y: scroll;
			padding-top: 10px;
		    box-shadow: inset 15px -1px 22px -3px rgba(0,0,0,0.2);;
		    max-height: 90vh;

		    @media #{$phone} {
		    	display: none;
		    }
		}

		.flex-7 {
			position: relative;

	    	.alert {
	    		position: absolute;
	    		left: 0;
	    		top: 0;
	    		right: 0px;
	    		z-index: 1;
	    	}
		    @media #{$phone} {
		    	height: 100%;

		    	.alert {
		    		left: 5px;
		    		top: 5px;
		    		right: 114px;
		    	}
		    }
		}

		#map-mobile-tooltip {
			display: none;
			position: fixed;
			bottom: 10px;
			left: 10px;
			right: 10px;
			background: white;
			border-radius: 5px;
			z-index: 1;
    		width: calc(100% - 20px);
    		align-items: center;

    		.avatar {
    			flex: none;
    			width: 110px;
    			height: 110px;
    			padding: 0px;
    		}
		}

		.popup-title {
			margin-top: 50px;
			margin-bottom: 10px;
			font-size: 16px;
			margin-left: -27px;
			padding-left: 27px;
			padding-top: 5px;
			padding-right: 0px;
			padding-bottom: 8px;

		    @media #{$phone} {
		    	padding: 0px;
		    	margin: 0px;
		    }
		}

		.checkbox-label {
		    font-size: 14px;
		    text-align: left;
		}

		.result-container {
			width: 280px;
		    margin-bottom: 10px;

			.avatar {
				position: relative;
				width: 110px;
				padding-top: 38%;
				margin-right: 0px;

				img {
					position: absolute;
					top: 5px;
					left: 5px;
					width: 18px;
					height: 18px;
					background: transparent;
				}
			}

			.media-right {
    			width: 170px;
    		    padding: 6px 7px;
    		}

    		h4 {
    			font-size: 14px;
    			margin-bottom: 7px;
    		}

    		.type {
			    font-size: 13px;
			    margin-top: 0px;
			}

			.p {
				font-size: 13px;

				span {
					font-size: 13px;
				}
			}
			.ratings {
			    margin-top: 10px;
			}
		}

		#search-map {
			width: 100%;
			height: 100%;
    		background: transparent;
		}

		.button {
			padding-left: 40px;
			padding-right: 40px;
		}

	}
}

.results-static-map {
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 670px;
    display: block;
    overflow: hidden;

    @media #{$phone} {
    	width: 300px;
	    margin-right: auto;
	    margin-left: auto;
    }

    img {
    	display: block;
	    margin-left: auto;
	    margin-right: auto;
    }

}

.result-container {
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.31);
    background-color: white;
    width: 670px;
    display: flex;

    @media #{$phone} {
    	width: 300px;
	    margin-right: auto;
	    margin-left: auto;
    }

    &.current-branch {
		border: 10px solid;
		border-image-slice: 1;
		border-radius: 5px;
  		border-image-source: linear-gradient(to bottom, #24c7ca, #09aadf);

  		@media #{$phone} {
  			border-width: 4px;
  		}

  		.avatar {
  			border-radius: 0px;
  		}

  		.angle-check {
  			position: absolute;
		    z-index: 10;
		    max-width: 84px;
		    right: -21px;
		    top: -18px;
		    background: transparent;
  		}
    }

    &.active,
    &:hover {
    	transition: all 0.3s ease;
        box-shadow: 0px 3px 18px 1px rgba(0, 96, 128, 0.34);

        .button-submit {
            background-color: #126585;
            color: white;
        }

        .share-button {
        	display: block;

        	@media #{$phone} {
				display: none;
			}		
        }
    }

    &.branch {

  		&:hover {
  			.button-submit {
	            background-color: #e9e9e9;
				color: #333333;
	        }
  		}

  		.button-submit {
  			&:hover {
  				background-color: #126585;
            	color: white;
  			}

  			i {
  				background: transparent;
    			font-size: 15px;
  			}
  		}
    }

    .avatar {
    	border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
        margin-right: 20px;
        width: 228px;
        padding-top: 34%;
	    background-size: cover;
	    background-position: 50%;
	    position: relative;

	    @media #{$phone} {
	    	flex: 4;
	    	min-width: 115px;
		    height: 115px;
		    padding-top: 0px;
		    margin-right: 0px;
	    }

	    .main-clinic {
	    	position: absolute;
		    bottom: 0;
		    left: 0px;
		    right: 0px;
		    font-size: 16px;
		    line-height: 16px;
		    text-align: center;
		    background-color: white;
		    color: #46afda;
		    font-weight: bold;
		    padding: 8px 10px 8px;
		    border-bottom-left-radius: 5px;

		    @media #{$phone} {
				font-size: 13px;
				padding: 5px 10px 5px;
		    }
	    }
    }

    .media-right {
    	flex: 1;
    	padding: 15px;
    	position: relative;

    	@media #{$phone} {
	    	padding: 4px 8px;
		    position: relative;
		    flex: 8;
	    }

    	div {
    		word-break: break-word;
    	}

    	h4 {
    		margin-bottom: 20px;

    		@media #{$phone} {
    			margin-bottom: 10px;
    		}
    	}

    	.dentist-website {
    		display: flex;

    		.img {
    			width: auto;

    			img {
    				display: block;
				    width: 14px !important;
				    max-width: none;
				    margin-top: 2px;
    			}
    		}

    		span {
				height: 20px;
				overflow: hidden;
				margin-left: 13px;
				color: black !important;

				@media #{$phone} {
				    height: 15px;
				}
    		}
    	}

    	.top-dentist {
    		display: flex;
    		align-items: center;
    		margin-bottom: 20px;

    		img {
    			max-width: 15px;
    			margin-right: 12px;
    		}

    		span {
				color: gray;
				font-size: 14px;

				@media #{$phone} {
					font-size: 12px;
				}
			}
    	}
    }

    .type {
    	color: #9f9f9f;
    	font-size: 14px;
    	margin-bottom: 10px;
    	display: block;
    	margin-top: 2px;
		display: flex;
    	
    	@media #{$phone} {
			display: none;
		}

    	span {
    		color: #9f9f9f;
    		font-size: 14px;
    		margin-right: 3px;
    	}

		.img {
			width: 25px;

			img {
				height: 14px;
			}
		}

    }

    .dentist-website {
    	@media #{$phone} {
			display: none;
		}
    }

    .p {
		margin-bottom: 5px;
		font-size: 14px;
		display: flex;

		@media #{$phone} {
			font-size: 12px;
		}

		.img {
			width: 25px;

			img {
				height: 14px;
			}
		}

		span {
			font-size: 14px;

			&:not(.green-text) {

				color: gray;
			}

			@media #{$phone} {
				font-size: 12px;
			}
		}
	}

    h4 {
        font-weight: bold;

        @media #{$phone} {
			margin-bottom: 5px;
		}
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }

    .ratings {
    	@media #{$phone} {
			margin-top: 10px;
		}

		.rating {
			@media #{$phone} {
			    vertical-align: text-top;
			    font-size: 10px;
			}
		}
    }

	.button-submit {
    	position: absolute;
    	right: 15px;
    	bottom: 15px;
    	font-size: 14px;
		background-color: #e9e9e9;
		color: #333333;
		text-transform: initial;

		@media #{$phone} {
			display: none;
		}
	}

    .share-button {
    	display: none;
		position: absolute;
		top: 15px;
		right: 15px;
    }
}

.add-branch {
	display: block;
    width: 670px;
    text-align: center;
    margin: 0 auto;
    background-color: #0cafd4;
   	display: flex;
    align-items: center;
    justify-content: center;

    @media #{$phone} {
    	width: 300px;
    }

    img {
		max-width: 28px;
		vertical-align: middle;
		margin-right: 10px;
    }
}

.search-results-wrapper {
	position: relative;
    z-index: 100;

    .alert {
	    max-width: 670px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-bottom: 20px;
    }
}

.site-content {
	min-height: calc(100vh - 147px);

	@media #{$phone} {
		min-height: calc(100vh - 292px);
	}
}

body {

	.main-top {
		background: transparent;

		@media #{$phone} {
	    	padding-bottom: 220px;
	    }

		&::after {
			display: none;
		}
	}

	.sort-wrapper {
		position: absolute;
		z-index: 100;
		left: 0;
		right: 0;
		width: 670px;
		margin: 0 auto;
		margin-top: -70px;
		background: transparent;
		margin-bottom: 45px;

		@media #{$phone} {
			width: 100%;
			padding: 0px 10px;
			margin-top: -100px;
		}

		.flex {
			@media #{$phone} {
				display: flex;
			}
		}

		.col {
			color: white;
			font-weight: bold;

			@media #{$phone} {
				font-weight: 300;
			}

			&:nth-child(2) {
				text-align: right;
			}
		}

		.sort-button {
			color: white;
			font-weight: bold;

			@media #{$phone} {
				font-weight: 300;
			}

			img {
				vertical-align: bottom;
			}
		}
	}

	.home-search-form {
	    form {
	    	@media #{$phone} {
		    	margin-bottom: 0px;
		    }
	    }
	}
}

.page-c {

	h1 {
		color: white;
		font-weight: bold;
		text-align: center;

		@media #{$phone} {
			text-align: left;
		}
	}

	.main-top {
		padding-bottom: 160px;

		@media #{$phone} {
			padding-bottom: 200px;
		}
	}

	.sort-wrapper {
	    margin-top: -90px;
	    width: 100%;
	    padding: 0px 20px;
	}

	.countries-wrapper {
		position: relative;
	    z-index: 100;

	    .countries {
	    	background-color: white;
	    	padding: 70px 115px;
	        border-radius: 5px;
	        box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.16);

	        @media #{$tablet} {
	        	padding: 30px;
	        }

	        .col {
	        	padding-left: 20px;

	        	@media #{$phone} {
	        		padding-left: 0px;
	        	}

	        	&:first-child {
	        		padding-left: 0px;
	        	}
	        }

	        span {
	        	display: block;
			    font-weight: bold;
			    font-size: 45px;
			    height: 80px;

	        	@media #{$pc} {
	        		font-size: 35px;
    			}

	        	@media #{$tablet} {
	        		height: 50px;
	        	}
	        }

	        .show-all-dentists {
	        	font-size: 25px;
	        	margin-bottom: 20px;

	        	@media #{$pc} {
	        		font-size: 21px;
	        	}
	        }

	        a {
				font-size: 20px;
				height: 40px;
				display: block;
				line-height: 0.8;
				width: 220px;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;

	        	@media #{$pc} {
	        		font-size: 16px;
					width: 172.5px;
	        	}

	        	@media #{$tablet} {
	        		height: 30px;
					width: 160px;
	        	}

	        	@media #{$phone} {
	        		height: 25px;
					width: 100%;
	        	}

	        	&:hover {
	        		color: #0fb0e5;
	        	}
	        }
	    }
	}
}
.overflow-container {
	position: relative;
	z-index: 100;
	text-align: center;

	h1 {
		color: white;
		font-weight: bold;
		margin-top: -30px;
		margin-bottom: 30px;
		font-size: 33px;

		@media #{$phone} {
			margin-top: -60px;
			font-size: 23px;
		}

		&.small-mt {
			@media #{$phone} {
				margin-top: -20px;
			}
		}
	}
}

.pagination {
	text-align: center;
	list-style: none;
	margin-top: 60px;
    margin-bottom: 30px;

	li {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-color: #126585;
		color: white;
		cursor: pointer;
		line-height: 30px;
		margin: 0px 2px;

		&.active {
			background-color: #0fb0e5;
		}
	}
}

.search-gradient-wave {
	position: relative;

	&:before {
		content: '';
		background: #09aadf;
	    background: -moz-linear-gradient(top, #09aadf 0%, #1492da 100%);
	    background: -webkit-linear-gradient(top, #09aadf 0%, #1492da 100%);
	    background: linear-gradient(to bottom, #09aadf 0%, #1492da 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09aadf', endColorstr='#1492da',GradientType=0 );
		height: 91px;
		bottom: -91px;
		width: 100%;
		left: 0;
		right: 0;
		position: absolute;
	}

	&:after {
		content: '';
		background: url(../img-trp/index-bottom-gradient.svg) 50% 0% no-repeat;
		background-size: cover;
		height: 130px;
		bottom: -220px;
		width: 100%;
		left: 0;
		right: 0;
		position: absolute;
	}
}