$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.signin-top {
    background-color: white;
    padding: 40px 55px 30px 335px;
    border-radius: 20px;
    width: 70%;
    position: absolute;
    top: 105px;
    left: 230px;

    @media screen and (max-width: 1400px) {
    	top: 85px;
    	left: 120px;
    	width: 78%;
    }

	@media #{$pc} {
		position: relative;
		margin-top: 85px;
		top: auto;
		left: auto;
	    margin-left: 60px;
	    width: 90%;
	}

	@media #{$phone} {
		width: 100%;
		margin-top: -84px;
		z-index: 10;
		border-radius: 0px;
	    margin-left: 0px;
	    padding: 19px 28px 55px;
	    text-align: center;
	    display: flex;
	    flex-direction: column;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 300px;
		transform: translateY(-50%);
		width: 1px;
		height: 180px;
		background-color: #b7b7b7;

		@media #{$phone} {
			display: none;
		}
	}

	h1 {
		font-size: 35px;
		color: #333333;
		font-weight: 300;
	    max-width: 600px;
	    margin-bottom: 20px;

	    @media #{$phone} {
	    	max-width: 100%;
	    	line-height: 36px;
	    	order: -2;
	    }
	}

	p {
		font-size: 20px;
		font-weight: 300;
		color: #333333;
		margin-bottom: 20px;

		@media #{$phone} {
			margin-bottom: 30px;
		}
	}

	.ratings {
		@media #{$phone} {
			order: -1;
			margin-bottom: 20px;
			margin-top: 0px;
		}
	}

	.button-wrap {
		display: none;

		@media #{$phone} {
			display: block;
			margin-bottom: -82px;
			background: transparent;
		}

		.button {
			background-color: #46afda;
		    font-size: 25px;
		    font-weight: bold;
		    padding: 12.5px 65px;
		}
	}
}

.signin-form-wrapper {
    position: relative;

    @media #{$phone} {
    	order: -1;
    	text-align: center;
    }

    .container {
    	width: 60%;

    	@media screen and (max-width: 1500px) {
    		width: 67%;
    	}

    	@media #{$pc} {
    		width: 78%;
    	}

    	@media #{$phone} {
    		display: none;
    	}
    }

	.modern-field + .ajax-alert {
		margin-top: -10px;
	}

    img {
		position: absolute;
		bottom: -170px;
		background-color: transparent;
		z-index: 10;
		left: -50px;
		width: 810px;
		height: auto;

		@media screen and (max-width: 1400px) {
	    	width: 710px;
	        left: -80px;
	        bottom: -140px;
	    }

		@media #{$pc} {
			left: -150px;
		}

		@media #{$tablet} {
			width: 760px;
		    left: -220px;
		}

		@media screen and (max-width: 949px) {
			width: 810px;
		}

		@media #{$phone} {
			position: static;
		    width: 320px;
		    left: auto;
		    bottom: auto;
		    // background: url('../img-trp/behind-dentist-mobile.png') 50% 50% no-repeat;
		    // background-size: contain;
		}

		&.mobile-image {
			display: none;

			@media #{$phone} {
				display: inline-block;
			}
		}

		&.desktop-image {

			@media #{$phone} {
				display: none;
			}
		}
    }

    form {
		position: relative;
		top: -40px;
		float: right;
		padding: 50px 20px;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		background-color: white;
		box-shadow: -8px -8px 17px 0px rgba(109, 109, 109, 0.32);
		margin-top: 0px;
		margin-bottom: -112px;

		@media screen and (max-width: 1500px) {
			top: 0px;
			padding: 30px 20px;
			margin-bottom: -72px;
		}

    	@media #{$tablet} {
    		// float: none;
    		top: -20px;
			max-width: 300px;
    	}

    	@media #{$phone} {
    		display: none;
    	}

    	.modern-field {
    		margin-bottom: 15px;
    	}

    	input:not([type="submit"]) {
    		min-width: 320px !important;
    		background: white;

    		@media #{$tablet} {
    			min-width: 260px !important;
    		}
    	}

    	input[type="submit"] {
    		margin-bottom: 25px;
    		font-size: 25px;
    		padding: 12px 66px;
    		background-color: #46afda;
    	}
    }

    .have-account {
		text-align: center;
		font-weight: 300;
		color: #777777;
		margin-bottom: 30px;

		a {
			font-weight: bold;
			font-size: 18px;
			color: #141518;

			&:hover {
				text-decoration: underline;
			}
		}
    }
}

.welcome-dentist-section {
    background: url(../img-trp/dentist-background.png) 50% 0% no-repeat;
    background-size: cover;
    position: relative;
    padding-bottom: 163px;
    padding-top: 1px;
    overflow: hidden;
    padding-top: 380px;

    @media screen and (max-width: 1400px) {
    	padding-top: 320px;
    }

    @media screen and (max-width: 1300px) {
    	padding-top: 380px;
    }

    @media #{$pc} {
		padding-top: 0px;
	}

	@media #{$phone} {
		display: flex;
		flex-direction: column;
		padding-bottom: 0px;
		padding-top: 70px;
		background-image: url(../img-trp/index-dentist-mobile.jpg);
		margin-bottom: 30px;
		box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.2);
		overflow: visible;
	}

    &::after {
    	content: '';
		position: absolute;
		top: 100%;
		background: url('../img-trp/dentist-background-after.svg') no-repeat 0% 100%;
		background-size: cover;
		width: 100%;
		height: 163px;
		margin-top: -163px;
		z-index: 100;

		@media screen and (max-width: 1450px) {
			background-position: 50% 100%;
		}

		@media #{$phone} {
			display: none;
		}
    }
}

.section-how {
	padding: 110px 70px 85px;

	@media #{$phone} {
		padding: 80px 10px 70px;
	}

	h2 {
		position: relative;
		padding-bottom: 35px;
		margin-bottom: 70px;
		max-width: 630px;
		margin-right: auto;
		margin-left: auto;

		@media #{$phone} {
		    padding: 0px 20px;
    		margin-bottom: 40px;
    		font-size: 35px;
    	}

		&::after {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			height: 2px;
			width: 223px;
			background-color: #dce8ed;

			@media #{$phone} {
				display: none;
			}
		}

		span {
			font-size: 35px;
			color: #2478d1;
			font-weight: bold;
		}
	}

	a {
		color: #126585;

		&:hover {
			text-decoration: underline;
		}
	}

	.how-number {
	    margin-right: 30px;
	    color: #46afda;
	    position: relative;
	    font-size: 40px;

	    @media #{$phone} {
	    	font-size: 50px;
	    	margin-right: 0px;
			padding: 16px;
	    }

	    &::before {
	    	content: '';
	    	background: url('../img-trp/avatar-border.svg') 50% 50% no-repeat;
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	transform: translateX(-50%) translateY(-50%);
	    	width: 168%;
	    	height: 168%;

			@media #{$phone} {
				width: 100%;
				height: 100%;
			}
	    }
	}

	.left {
		float: left;
		width: 450px;

		@media #{$pc} {
			width: 400px;
		}

		@media #{$tablet} {
			width: 100%;
			float: none;
		}
	}

	.right {
		float: right;
		width: 450px;

		@media #{$pc} {
			width: 400px;
		}

		@media #{$tablet} {
			width: 100%;
			float: none;
		}
	}

	.how-block {
		margin-bottom: 35px;

		@media #{$phone} {
			text-align: center;
			width: 100%;
			margin-top: 10px;
		}

		a,
		p {
			font-size: 20px;
		    font-weight: 300;
		}

		p {			
		    color: #333333;

		    @media #{$phone} {
		    	margin-top: 40px;
		    	max-width: 300px;
			    margin-right: auto;
			    margin-left: auto;
		    }
		}
	}

	.button {
		color: white;
		font-size: 25px;
		font-weight: bold;
		background-color: #46afda;
	    padding: 12.5px 32px;
	    margin-top: 55px;

	    &:hover {
	    	text-decoration: none;
	    	opacity: 0.9;
	    }
	}

	.dot {
	    width: 20px;
	    height: 20px;
	    margin: 0 5px;
	    background-color: #eaeaea;
	    opacity: 1;

	    &.is-selected {
	    	background-color: #2478d1;
	    }
	}
}

.section-learn {
	background: url('../img-trp/learn-section-background.jpg') 50% 100% no-repeat;
	background-size: cover;
    padding-top: 40px;
    padding-bottom: 45px;
    position: relative;
    //overflow: hidden;

    @media #{$phone} {
    	position: relative;
    	text-align: center;
    	overflow: hidden;
    }

    .container {
    	position: static;
    }

    h2 {
    	color: white;
    	max-width: 350px;
    	margin-bottom: 20px;

    	@media #{$phone} {
    		max-width: 100%;
    		margin-bottom: 180px;
    		font-size: 35px;
    	}
    }

	.button {
	    font-weight: bold;
	}

	img {
		position: absolute;
	    top: -40px;

	    @media #{$tablet} {
	    	top: -23px;
	    }

	    @media #{$phone} {
	    	top: 40px;
	    	max-width: 400px;
		    left: 50%;
		    transform: translateX(-50%);
	    }

	    @media screen and (max-width: 680px) {
	    	top: 80px;
	    }

	    @media screen and (max-width: 379px) {
	    	top: 120px;
	    }
	}
}

.section-dentist-info-wrap {
	//na po-malko ekrani ima sinq cherta
    margin-top: -1px;
    background: white;
    position: relative;
    z-index: 10;
}

.section-dentist-info {
    max-width: 840px;
    padding-top: 30px;

    @media screen and (max-width: 1450px) {
    	padding-top: 0px;
    }

    @media #{$phone} {
    	padding-top: 50px;
    }

    .info-padding {
    	padding: 0px 60px;

    	@media #{$phone} {
    		padding: 0px 10px;
    	}
    }

    h2 {
    	color: #2478d1;
    	font-weight: bold;
    	position: relative;
    	padding-bottom: 25px;
    	margin-bottom: 70px;

    	@media #{$phone} {
    		padding-bottom: 40px;
    		margin-bottom: 30px;
    		font-size: 35px;
    	}

    	&::after {
		    content: '';
		    position: absolute;
		    bottom: 0px;
		    left: 50%;
		    transform: translateX(-50%);
		    height: 2px;
		    width: 223px;
		    background-color: #c1c1c1;
		}
    }

	.flex {
		margin-bottom: 100px;

		@media #{$phone} {
    		margin-bottom: 80px;
    	}
	}

	.col-icon {
		max-width: 65px;
		margin-right: 30px;

		@media #{$phone} {
			margin: 0px auto 10px;
		}
	}

	h3 {
		margin-top: 20px;
		margin-bottom: 10px;
		font-weight: 300;

		@media #{$phone} {
			font-size: 30px;
		}
	}

	p {
		font-size: 20px;
		font-weight: 300;
		color: #232323;

		@media #{$phone} {
			margin-bottom: 60px;
		}
	}

	img {
		@media #{$phone} {
			max-width: 250px;
		}
	}

	.button-wrap {
		display: none;

		// @media #{$phone} {
		// 	display: block;
		// }

		.button {
			background-color: #46afda;
		    font-size: 25px;
		    font-weight: bold;
		    padding: 12.5px 65px;
		}
	}
}

.testimonials-section {
	background: url(../img-trp/testimonials-full.png) 50% 100% no-repeat;
    background-size: 100% 370px;
    padding-bottom: 40px;
    position: relative;
    margin-top: 100px;

    @media #{$phone} {
    	background-size: 300% 390px;
    }

    @media screen and (max-width: 450px) {
    	background-size: 300% 440px;
    }

    @media #{$phone} {
    	margin-top: 80px;
    }

	h2 {
		font-weight: bold;
		color: #2478d1;

		@media #{$phone} {
			font-size: 35px;
		}
	}

	span {
		display: block;
		font-size: 24px;
		font-weight: 300;
	    padding: 0px 162px;
	    position: relative;
	    padding-bottom: 35px;
	    margin-bottom: 80px;

	    @media #{$phone} {
	    	padding-left: 0px;
	    	padding-right: 0px;
	    	margin-bottom: 30px;
	    }

	    &::after {
	    	content: '';
	    	position: absolute;
	    	width: 222px;
	    	height: 2px;
	    	left: 50%;
	    	transform: translateX(-50%);
	    	bottom: 0px;
	    	background-color: #dce8ed;
	    }
	}

	.testimonial {
		width: 100%;

		@media #{$phone} {
			padding-top: 65px;
		}

		.testimonial-inner {
			max-width: 630px;
			margin: 0 auto;
			text-align: center;

			@media #{$phone} {
				max-width: 100%;
			}

			img {
				margin-bottom: 15px;
				max-width: 108px;
			}

			h4 {
				font-size: 24px;
				font-weight: 300;
				color: white;
				margin-bottom: 22px;
			}

			p {
				font-size: 20px;
				color: white;
				font-weight: 300;

				&.name {
					font-weight: bold;
				}
			}
		}
	}

	.flickity-prev-next-button {
		@media #{$phone} {
    		top: 30%;
    	}
    }

    .flickity-button {
    	color: #6fb6d4 !important;
    }
}
body.page-welcome-dentist {

	.site-content {
		overflow: visible;
	}

	.site-content > .container:first-child {

		.button {
			display: none;
			margin-top: 30px;
			margin-bottom: -10px;

			@media #{$phone} {
				display: inline-block;
			}
		}

		@media #{$phone} {
			background-color: #f7f7f7;
		}			
	}
}
.tablet-fixes {
	input {
		@media #{$tablet} {
			min-width: unset !important;
		}
	}
}