$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.gallery-flickity {
	.slider-wrapper {
		.slider-image {
    		position: relative;

    		.remove-gallery-image {
    			position: absolute;
    			right: 5px;
    			top: 5px;
    		}

    		&.add-gallery-image {
    			display: block;
    			background-color: #e3e3e3;
    			border: 2px dashed #777777;
    			position: relative;
    		}
    	}
    }
}

.plus-gallery-image {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    img {
    	width: 26px;
    }

    span {
    	font-size: 20px;
    	display: block;
    	color: #777777;
    	font-weight: bold;
    }
}

.edit-short-description {
	float: left;
    width: 340px;
    margin-right: 10px;
    margin-top: 20px;

    @media #{$pc} {
		width: 260px;
    }

    @media #{$tablet} {
    	width: 100%;
    	margin-right: 0px;
    	margin-top: 40px;
    }
}

body.edit-user {
	.strength-parent {
		display: none !important;
	}

	.profile-info {
		background-color: white;
    	padding: 15px;
    	box-shadow: 0px 0 32px 3px rgba(0, 0, 0, 0.2);

		@media #{$phone} {
			padding: 0px;
			box-shadow: none;
		}

		.image-label {
			float: left;

			@media #{$pc} {
				margin-right: 0px;
			}

			@media #{$phone} {
				width: 100px;
				height: 100px;
				margin-right: auto;
				margin-left: auto;
				position: relative;
				margin-bottom: 10px;
				padding-top: 0px;
    			float: none;
			}

			.centered-hack {
				p {
					@media #{$phone} {
						font-size: 12px;
					}
				}
			}
		}

		.media-right {
			float: right;
			position: relative;
		    width: 340px;

		    @media #{$tablet} {
		    	width: 100%;
		    }
		}
	}

	.information {
		background-color: transparent;
		box-shadow: none;
	    align-items: normal;

		@media #{$phone} {
			background-color: white;
			box-shadow: 0px 0px 2px 1px #d8d2d2;
		}

		.share-button {
			display: none;
		}

		.profile-rating {
	    	margin-top: 100px;
	    }

		.media-right {
			@media #{$phone} {
				float: none;
			}
		}

		.edit-buttons {
			@media #{$phone} {
				div {
					width: 49%;

					.button {
						width: 100%;
					}
				}

				.cancel-edit {
					width: 49%;
					text-align: center;
				}
			}
		}

		.recommend-button,
		.claim-button,
		.edit-button {
			@media #{$phone} {
				display: none !important;
			}
		}
	}
}

.social-wrapper {
	text-align: right;

    @media #{$phone} {	    	
    	text-align: left;
    }

	.add-social-profile {
		display: inline-block;
	    font-size: 14px !important;;
	    font-weight: 300;
	    color: #1d6786;
	    margin-top: 10px;
	}
}

.flexed-wrap {
	align-items: baseline !important;

	@media #{$phone} {
    	display: flex;
    	margin-top: 10px;
    }

	.social-networks {
		max-width: 44px;
		border-radius: 5px;
		border: none;
		font-size: 16px;
		box-shadow: -3px 3px 7px 1px #d8d8d8;
		background: white;
		height: 33px;
		margin-top: -5px;
		position: relative;
	    border-right: 1px solid #ededed;
	    border-top-right-radius: 0px;
	    border-bottom-right-radius: 0px;
	    position: relative;

	    @media #{$phone} {
	    	margin-top: 0px;
	    }

	    .current-social {
		    &:after {
		    	content: '';
		    	position: absolute;
				top: 15px;
				right: 5px;
		    	width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 4px 0 4px;
				border-color: #9d9d9d transparent transparent transparent;
		    }
		}

		.current-social,
		a {
			display: block;
			height: 32px;
			margin-left: 5px;
			background-color: transparent;

			img {
				background-color: #929292;
				padding: 4px;
				max-width: 23px;
				height: 23px;
				border-radius: 3px;
				margin-top: 7px;
				display: block;
			}
		}

		.social-dropdown {
			display: none;
			position: absolute;
			background: white;
		    top: 100%;
		    left: -1px;
		    border: 1px solid #d8d8d8;
		    z-index: 1000;

			&.active {
				display: block;
			}

			a {
		    	padding: 0px 15px 0px 5px;
			    margin: 0 auto;
			    height: auto;
			    margin-bottom: 8px;

			    &.inactive {
			    	display: none;
			    }
			}
		}
	}

	.col {
		input {
			width: 100% !important;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;

			@media #{$phone} {
				margin-bottom: 0px;
			}
		}
	}
}

.email-wrapper {
	.checkbox-label {
		margin-bottom: 15px;
		margin-left: 44px;
		margin-top: 5px;

		.checkbox-square {
			background-color: white;
    		color: white;
			margin-right: 2px;
		}

		&.active {
			.checkbox-square {
				background-color: #126585;
			}
		}
	}
	.email-wrap {
		.social-networks {
		    .current-social {
			    &:after {
			    	display: none;
			    }
			}
		}
	}
}

.popup {
	&#recommend-dentist {

		.popup-inner {

			h2 {
				margin-bottom: 25px;
			}

			.popup-title {
				font-weight: bold;
			}

			.rec-first {
				margin-right: 18px;

				@media #{$phone} {
					margin-right: 0px;
				}
			}

			.modern-field {
				.modern-input {
					border-radius: 7px;
					border-width: 1px; 
				}
			}

			input[type="submit"] {
				background-color: #0cafd4;
			    margin-top: 25px;
			    margin-bottom: 30px;
			    padding: 12px 52px;
			}
		}
	}
}

#add-team-popup {
	form {
		.input {
			height: 40px;
		}

		label[for="add-invite-image"] {
			margin-bottom: 20px;
		}
	}
}

.tour-popup {
	background-color: rgba(0, 0, 0, 0.6);

	.popup-inner-tour {		
		position: absolute;
		left: 50%;
		top: 50%;
    	transform: translateX(-50%) translateY(-50%);
		margin-bottom: 60px;
		background: #24c7ca;
	    background: -moz-linear-gradient(top, #24c7ca 0%, #1c88d6 100%);
	    background: -webkit-linear-gradient(top, #24c7ca 0%, #1c88d6 100%);
	    background: linear-gradient(to bottom, #24c7ca 0%, #1c88d6 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c7ca', endColorstr='#1c88d6',GradientType=0 );
		width: 870px;
		border-radius: 15px;
		padding: 40px 100px;
		box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.7);

		@media screen and (max-width: 1300px) {
		    width: 630px;
		    padding: 40px 50px;
		}

		@media #{$phone} {
			width: 90%;
    		padding: 30px 20px;
		}

		.avatar {
	    	box-sizing: inherit;
	    	position: relative;
	    	width: 200px;
	    	min-width: 200px;
	    	height: 200px;
	    	border-radius: 50%;
			margin-right: auto;
			background-size: cover;
			margin-left: auto;

	    	@media screen and (max-width: 1300px) {
	    		width: 120px;
			    min-width: 120px;
			    height: 120px;
	    	}

	    	@media #{$phone} {
				width: 80px;
				min-width: 80px;
				height: 80px;
			}

	    	&:before {
	    		content: '';
	    		position: absolute;
				left: -7px;
			    right: 0;
			    top: -7px;
			    bottom: 0;
			    width: 215px;
			    height: 215px;
	    		background: url('../img-trp/avatar-border.svg') no-repeat 50% 50%;

	    		@media screen and (max-width: 1300px) {
					left: -4px;
					top: -4px;
					width: 128px;
					height: 128px;
	    		}

	    		@media #{$phone} {
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
	    		}
	    	}
	    }

	    h2 {
	    	font-size: 42px;
		    color: white;
		    font-weight: 300;
		    margin-top: 20px;

		    @media #{$phone} {
		    	font-size: 32px;
		    	margin-bottom: 20px;
		    }
	    }

	    p {
	    	font-size: 25px;
		    font-weight: 300;
		    color: white;

		    @media #{$phone} {
		    	font-size: 20px;
		    }
	    }

	    .tour-buttons {
	    	margin-top: 60px; 

	    	@media screen and (max-width: 1300px) {
	    		margin-top: 40px;
	    	}

	    	@media #{$phone} {
	    		margin-top: 30px;
	    	}
	    }

	    .tour-button {
	    	padding: 13px;
	    	display: inline-block;
	    	font-size: 20px;
	    	border: 1px solid white;
	    	width: 217px;
	    	border-radius: 5px;
	    	margin: 0px 7px;
	    	color: white;
	    	transition: all 0.3s ease;

	    	@media #{$phone} {
	    		font-size: 18px;
			    width: auto;
			    margin: 0px 0px;
	    	}

	    	&.button-white {
	    		background-color: white;
	    		color: #46afda;
	    		font-weight: bold;
	    		text-transform: uppercase;
	    	}

	    	&:hover {
	    		box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.4);
	    		transition: all 0.3s ease;
	    	}
	    }
	}

	&.first-guided-tour-done-popup {

		.popup-inner-tour {
			width: 540px;

			@media #{$phone} {
				width: 90%;
			}

			.tour-button {
				width: 100px;
			}
		}
		
	}
}

.guided-tour-wrapper {
	.guided-tour-part {
		position: fixed;
		background-color: rgba(0, 0, 0, 0.6);
    	z-index: 1000;
	}
}

.bubble-guided-tour {
	position: fixed;
    top: 50px;
    left: 50px;
    background-color: white;
    z-index: 100;
    border-radius: 14px;
    padding: 25px 30px;
    max-width: 355px;
    z-index: 10000;
    touch-action: none;

    @media #{$phone} {
    	max-width: 300px;
    	min-width: 300px;
    }

    .flex {
    	@media #{$phone} {
    		display: flex;
    	}
    }

    h4 {
    	color: #333;
	    margin-bottom: 17px;
	    font-weight: bold;
    }

    .guided-icon {
		min-width: 40px;
		max-width: 40px;
   		margin-right: 10px;

   		@media #{$phone} {
   			display: none;
   		}
    }

    .guided-info-wrap {
    	margin-bottom: 20px;
    }

    .guided-buttons {
    	justify-content: space-between;

    	.steps {
    	    font-weight: 300;

    	    span {
    	    	font-weight: bold;
    			font-size: 18px;
    	    }
    	}

    	.skip-step {
    		color: #126585;

    		&.button {
				color: white;
				padding: 5px 11px;
				font-size: 15px;
    		}
    	}
    }

    .cap {
    	background-color: transparent;
    	position: absolute;
    	top: -13px;
    	left: 24px;
    	width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 14px 13px 14px;
		border-color: transparent transparent #ffffff transparent;

		@media #{$phone} {
			position: fixed;
		}
    }

    &.bubble-reviews {
    	.cap {
			top: auto;
			bottom: -13px;
			border-width: 13px 14px 0 14px;
			border-color: #ffffff transparent transparent transparent;
		}
    }
}

.guided-overflow-wrapper {
    display: none;

    .guided-tour-part {
    	background-color: rgba(0, 0, 0, 0.6);
	    position: fixed;
	    z-index: 10000;
	    touch-action: none;

    	&.guided-overflow-top {
    		top: 0;
		    left: 0;
		    right: 0;
    	}

    	&.guided-overflow-right {
		    right: 0;

		    img.top {
		    	transform: rotate(90deg);
		    }

		    img.bottom {
		    	transform: rotate(180deg);
		    }
    	}

    	&.guided-overflow-left {
		    left: 0;

		    img.bottom {
		    	transform: rotate(-90deg);
		    }
    	}

    	&.guided-overflow-bottom {
    		bottom: 0;
		    left: 0;
		    right: 0;
    	}

    	img {
    		touch-action: none;
    		position: fixed;
    		background-color: transparent;
    	}
    }
}


.widget-step {
	.widget-step-title {
		color: #126585;
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 10px !important;

		span {
			color: black;
			font-size: 24px;
			text-transform: uppercase;
		}
	}

	.popup-desc {
		font-weight: 300;
		margin-bottom: 10px;
	}

	.popup-title {
		color: #333333;
	    padding: 7px 100px 9px;
	}

	.step-description {
		font-size: 18px;
		font-weight: 300;
		text-align: center;
		margin-bottom: 30px;
	}

	.modern-radios {
		display: block;

		@media #{$phone} {
			margin-bottom: 47px;
		}

		.radio-label {
			margin-bottom: 35px;

			@media #{$phone} {
				margin-bottom: 10px;
			    border-bottom: 2px solid #dadada;
			    padding-bottom: 20px;
			}

			&:first-child {
			    margin-right: 0px;
			}

			label {
				border-color: transparent;
				align-items: center;
				padding: 18px 15px;
				display: flex;

				@media #{$phone} {
					display: block;
				}

				&.active {
					border-color: #126585;

					.modern-radio {
						span {
				    		background-color: #126585;
					    }
					}

					.widget-option {
						p {
							color: #126585;
							font-weight: bold;
						}
					}

					&:hover {
						border-color: #126585;
					}
				}

				&:hover {
					border-color: #ccc;
				}

				.modern-radio {
					min-width: 36px;
				    width: 36px;
				    height: 36px;
				    border-color: #979797;
				    background-color: #ebebeb;
				    margin-right: 13px;

				    @media #{$phone} {
					    display: block;
					    margin-right: auto;
					    margin-left: auto;
					    margin-bottom: 14px;
					}

				    span {
				    	width: 20px;
				    	height: 20px;
				    }
				}

				.layout-img {
					max-width: 398px;

					@media #{$tablet} {
				    	max-width: 260px;
				    }

				    @media #{$phone} {
				    	margin-bottom: 20px;
				    }
				}

				.widget-option {
					margin-left: 40px;

					@media #{$tablet} {
				    	margin-left: 20px;
				    }

					p {
						font-size: 20px;
						font-weight: 300;
						margin-bottom: 20px;
					}

					.select-wrap {
						margin-bottom: 14px;

						@media #{$phone} {
							justify-content: center;
						}

						&:last-child {
							margin-bottom: 0px;
						}

						span {
							font-size: 18px;
							font-weight: 300;
						}
						select,
						input {
							display: block;
							border: 1px solid #d7d7d7;
							margin: 0px 5px;
							border-radius: 4px;
							padding: 0px 5px;
							font-size: 18px;
							font-weight: 300;

							&:hover,
							&:focus {
								outline: none;
							}
						}

						input {
							max-width: 59px;
							-moz-appearance:textfield;

							&::-webkit-outer-spin-button,
							&::-webkit-inner-spin-button {
							    /* display: none; <- Crashes Chrome on hover */
							    -webkit-appearance: none;
							    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
							}
						}
					}
				}
			}
		}
	}

	#selected-image-layout {
		margin-bottom: 25px;
		max-width: 398px;

		@media #{$phone} {
			max-width: 100%;
		}
	}

	#selected-layout {
		color: #126585;
		font-weight: bold;
		text-transform: capitalize;
	}

	.widget-subtitle {
		font-size: 22px;
		margin-bottom: 30px !important;
	}

	.popup-tabs {
		margin-top: 0px !important;

		@media #{$phone} {
			flex-direction: column;
		}

		a {
			@media #{$phone} {
				margin-right: 0px;
				margin-left: 0px;
			}

			&:first-child {
				@media #{$phone} {
					margin-bottom: 10px;
				}
			}
		}
	}

	.instructions-image {
		position: relative;
		display: block;

		.magnifier {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			background-color: transparent;
		}
	}

	.select-reviews {
		.modern-radios {
			.radio-label {
				margin-bottom: 27px;

				@media #{$phone} {
					border-bottom: 0px;
					padding-bottom: 0px;
				}

				label {
					border-color: #d6d6d7;
					display: block;
					border-width: 1px;
					position: relative;

					&.active {
						border-color: #126585;

						span {
							font-weight: bold;
							color: #126585;
						}

						.open-hidden-option {

							img {
								transform: rotate(180deg);
							}
						}
					}

					span {
						font-size: 20px;
						font-weight: 300;
					}

					.info {
						vertical-align: middle;
    					margin-left: 5px;
					}

					.hidden-option {
						display: none;
						padding-left: 40px;
						padding-top: 18px;

						@media #{$phone} {
							padding-left: 30px;
						}

						&.active {
							display: block;
						}

						.option-checkboxes {
							display: flex;

							label {
								border: none;
								padding: 0px;
								margin-right: 30px;
								font-size: 18px;

								&.active {
									.modern-radio {
										span {
											background-color: #126585;
										}								    
									}
								}

								&:last-child {
									margin-right: 0px;
								}

								.modern-radio {
									span {
										background-color: transparent;
									}								    
								}
							}
						}

						p {
							font-size: 18px;
    						margin-bottom: 15px;
						}

						.button {
							background-color: white;
							border: 1px solid #126585;
							color: #126585;
							text-transform: none;
							font-size: 18px;
							padding: 7px 20px;
							margin-bottom: 0px;

							&:hover {
								background-color: #126585;
								color: white;
							}
						}
					}

					.modern-radio {
						min-width: 24px;
					    width: 24px;
					    height: 24px;

					    @media #{$phone} {
							display: inline-block;
							margin-bottom: 0px;
							margin-right: 5px;
					    }

					    span {
					    	width: 13px;
    						height: 13px;
					    }
					}

					.open-hidden-option {
						padding: 20px;
					    padding-bottom: 19px;
					    position: absolute;
					    right: 2px;
					    top: 0px;

					    @media #{$phone} {
					    	padding: 10px;
						    top: 13px;
					    }

						img {
							max-width: 12px;
						}
					}
				}
			}
		}
	}

	.widget-code-wrap {
		background-color: #126585;
	    margin: 20px -100px 50px;
	    padding: 25px 100px;
	    position: relative;

	    @media #{$phone} {
	    	margin: 20px -20px 50px;
	    	padding: 25px 20px;
	    }

	    textarea {
	    	height: 170px;
    		box-shadow: none;
    	    padding: 10px 15px;

    	    @media #{$tablet} {
    	    	height: 210px;
    	    }

    	    @media #{$phone} {
    	    	height: 300px;
    	    }
	    }
	}

	.button {
		border: 1px solid #46afda;
		font-size: 25px;
		background-color: #46afda;
		padding: 12px 73px;
		margin-bottom: 30px;

		@media #{$phone} {
			font-size: 19px;
		    padding: 9px 45px;
		}

		&.back-widget {
			background-color: white;
			color: #46afda;
			margin-right: 10px;
		}
	}

	.copy-widget {
		position: absolute;
	    right: 104px;
	    background: #f1eff1;
	    color: #4e4c4e;
	    display: block;
	    padding: 8px;
	    top: 29px;

	    @media #{$phone} {
	    	right: 24px;
	    }

	    img {
			display: block;
			width: 14px;
	    }
	}

	.facebook-tab {
		.tab-info {
			font-size: 22px;
			margin-bottom: 30px;
			display: flex;
    		align-items: flex-start;

			img {
				max-width: 18px;
			    margin-top: 6px;
			    margin-right: 5px;
			}
		}

		.fb-l-button {
			background-color: #4267B2;
			color: white;
			border-radius: 5px;
			margin-bottom: 17px;
			padding: 10px 15px;
			font-size: 20px;
			padding-left: 15px;
			border: none;
			width: 350px;

			span {
				display: inline-block;
			    vertical-align: sub;
			    width: 27px;
			    text-align: center;
			    margin-right: 10px;

			    i {
					color: white;
					font-size: 30px;
			    }
			}
		}

		.tab-note {
			font-size: 17px;
		    color: #888888;
		    text-align: center;
		    margin-bottom: 20px;
		}
	}
}

body.reviews-guided-tour {
	.widget-step {

		.facebook-tab {
			.modern-field {
				padding: 13px 5px 10px;
			}
		}

		.select-reviews {
			.widget-subtitle {
				display: none;
			}

			.modern-radios {
				.radio-label {
					label {
						.hidden-option {
							.option-checkboxes {
								label {
									@media #{$phone} {
			    						margin-right: 16px;
			    					}
			    				}
			    			}
			    		}
			    	}
			    }
			}
		}
	}

	[reviews-guided-action="reviews_type"],
	.widget-first-inner,
	[reviews-guided-action="copy"] {
		padding: 10px;
	}

	.skip-reviews-step {
		padding: 3px 11px;
	}

	#select-reviews-popup {
		z-index: 10000;
	}

	.button {
		@media #{$phone} {
	    	padding: 9px 35px;
	    }
	}

	.widget-code-wrap {
	    margin: 20px -110px 50px;

	    @media #{$phone} {
	    	margin: 20px -30px 50px;
	    }
	}
}

.fixed-popup {
	.popup-inner {
		.invite-content {
    		padding-bottom: 40px;

    		.popup-title {
				font-weight: bold;
				text-transform: uppercase;
			}

			.popup-desc {
			    margin-top: -10px;
			}

			.step-title {
				text-transform: uppercase;
				font-weight: bold;
				color: #126585;
				text-align: center;
				font-size: 24px;

				@media #{$phone} {
					font-size: 18px;
					margin-bottom: 25px;
					text-align: left;
				}

				span {
					font-size: 24px;
					color: black;

					@media #{$phone} {
						font-size: 18px;
					}
				}
			}

			.invite-hubapp {
				display: inline-block;
			    position: relative;
			    top: 10px;

			    &.manual-hubapp {
			    	top: -20px;

			    	@media #{$phone} {
			    		top: -10px;
			    	}
			    }

			    i {
			    	margin-top: 0px;
			    }
			}

			.checkboxes-wrapper {
				width: 100%;
				overflow: hidden;
				overflow-x: auto;
				padding-bottom: 20px;
				-webkit-overflow-scrolling: touch;

				.checkboxes-inner {
					width: 1052px;
				}

				.checkbox-wrapper {
					width: 243px;
				    float: left;
				    margin-right: 20px;

				    &:last-child {
				    	margin-right: 0px;
				    }

				    &.active {
				    	.invite-radio {
				    		i {
								&:before {
									content: "\f14a";
								}
							}
				    	}

				    	.copypaste-box {
				    		border-color: #126585;
				    	}
				    }

				    .invite-radio {
				    	cursor: pointer;
						display: inline-block;
						position: relative;
						left: 50%;
						transform: translateX(-50%);
						margin-bottom: 9px;

				    	input {
				    		display: none;
				    	}

				    	i {
				    		font-size: 28px;
    						color: #126585;
				    	}
				    }

				    .copypaste-box {
				    	border: 1px solid #d6d6d7;
    					border-radius: 8px;
    					padding: 15px 0px;

    					p {
    						border-bottom: 1px solid #ebebeb;
    						color: #333;
    						padding: 4px 18px;
    						white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;

    						&:last-child {
    							border-bottom: none;
    						}
    					}
				    }
				}
			}

			.label-file {
				display: block;
				width: 100%;
				height: 62px;
				border: 1px solid #d6d6d7;
				border-radius: 8px;
				margin-bottom: 10px;
				display: flex;
				align-items: center;
				cursor: pointer;

				@media #{$phone} {
					height: 50px;
				}

				.browse {
				    width: 132px;
				    text-align: center;
				    text-transform: uppercase;
				    background-color: #eee;
				    height: 60px;
				    line-height: 60px;
				    border-top-right-radius: 8px;
				    border-bottom-right-radius: 8px;
				    font-size: 20px;

				    @media #{$phone} {
				    	height: 48px;
				    	line-height: 48px;
				    	font-size: 16px;
				    	width: 92px;
				    }
				}

				span {
					flex: 1;
				    padding: 0px 20px;				    
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				input {
					opacity: 0;
					z-index: -1;
					width: 1px;
					position: absolute;
				}
			}

			.file-info {
				margin-bottom: 30px;

				@media #{$phone} {
					margin-bottom: 0px;
				}
				
				.download-sample {
					color: #0cafd4;
				}

				img {
					width: 10px;
					margin-right: 3px;
				}

				span {
					display: block;
					text-align: right;
					color: #888888;

					@media #{$phone} {
						text-align: left;
					    margin-top: 10px;
					}
				}
			}

			.info {
				margin-bottom: 24px;
			    display: flex;
			    align-items: center;

				img {
					margin-right: 5px;
				}
			}

			.button {
				padding: 12px 49px;
				background-color: #0cafd4;
				-webkit-appearance: none;

				@media #{$phone} {
					width: 100%;
					text-align: center;
				}

				i {
					color: white;
				}

				&.button-inner-white {
					background-color: white;
					border-color: #0cafd4;
					color: #0cafd4;
					padding: 11px 77px;
				}

				&[disabled="disabled"] {
					background-color: #aaaaaa;
				}
			}

			.whatsapp-button {
				background-color: #24cd63;
			    padding: 12px 29px;
			    margin-top: 20px;
			    display: inline-block;
			    color: white;
			    text-transform: uppercase;
			    font-size: 20px;
			    border-radius: 5px;
			    cursor: pointer;

			    @media #{$phone} {
			    	margin-top: 0px;
			    }

			    img {
					margin-left: 8px;
					vertical-align: sub;
			    }
			}

			.modern-field {
				.modern-input {
					border-width: 1px;
					border-radius: 8px;
				}
			}

			.final-button {
				position: relative;

				&.waiting {
					color: #0cafd4;

					.loader {
						display: block;
					}
				}
				.loader {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);

					i {
						border-radius: 50%;
						display: block;
						font-size: 15px;
						width: 20px;
						height: 20px;
						text-indent: -9999em;
						border-top: 3px solid #121212;
						border-right: 3px solid white;
						border-bottom: 3px solid white;
						border-left: 3px solid white;
						animation: load8 1.1s infinite linear;
					}
				}
			}

			.chosen-patient-info {
				height: 62px;
			    border: 1px solid #d6d6d7;
			    border-radius: 8px;
			    margin-top: 25px;

			    @media #{$phone} {
			    	height: auto;
			    }

			    .patient-info-label {
			    	height: 100%;
				    min-width: 160px;
				    text-align: center;
				    align-items: center;
				    line-height: 60px;
				    text-transform: uppercase;
				    border-top-left-radius: 8px;
				    border-bottom-left-radius: 8px;
				    background-color: #eeeeee;

				    @media #{$phone} {
				    	line-height: 40px;
					    border-top-right-radius: 8px;
					    border-bottom-left-radius: 0px;
				    }
			    }

			    .patient-info-value {
					height: 100%;
					line-height: 60px;
					margin: 0px 23px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				    border-top-right-radius: 8px;
				    border-bottom-right-radius: 8px;

				    @media #{$phone} {
				    	line-height: 50px;
				    	margin: 0px 10px;
				    }
			    }
			}

			form {

				.input-flex {
					align-items: center;

					@media #{$phone} {
						display: flex;
					}

					.code-wrapper {
						flex: 1;
						max-width: 68px;
						text-align: center;
						height: 58px;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: #eeeeee;
						border: 1px solid #cccccc;
						border-radius: 8px;
						border-right: none;
						border-top-right-radius: 0px;
						border-bottom-right-radius: 0px;

						@media #{$tablet} {
							height: 45px;
						}

						@media #{$phone} {
							max-width: 58px;
						}						
					}

					.phone-code-holder {
						display: block;
						font-size: 16px;
						color: #888888;
						top: -4px;

						@media #{$phone} {
							font-size: 14px;
						}
					}

					.modern-field {
						margin-bottom: 0px;

						.modern-input + label {
							height: 0px;
						}

						.modern-input {							
							border-top-left-radius: 0px;
							border-bottom-left-radius: 0px;
						}
					}
				}

				#add-invite-image {
					opacity: 0;
				   position: absolute;
				   z-index: -1;
				}

				label[for="add-invite-image"] {
					position: relative;
					width: 100%;
				    height: 41px;
				    background-color: #126585;
				    display: block;
				    border-radius: 5px;
				    color: white;
				    text-align: center;
				    line-height: 41px;
				    cursor: pointer;
				}

				.col:first-child {
					margin-left: 0px;

					@media #{$phone} {
						margin-right: 0px;
					}
				}

				.col {
					margin-left: 15px;

					@media #{$phone} {
						margin-left: 0px;
					}
				}

				.add-dentist,
				.add-patient {
					color: #126585;
				}

				.button {
					margin-top: 25px;
					padding: 12px 49px;
				}
			}

			.preview-invite {
				font-size: 14px;
			    color: #0cafd4;
			    display: flex;
			    align-items: center;
			    justify-content: center;
				max-width: 190px;
				margin-right: auto;
				margin-left: auto;
				margin-bottom: -10px;
				margin-top: 10px;

			    img {
			    	max-width: 20px;
    				margin-right: 3px;
			    }
			}
		}
	}
}

.sample-invite-wrapper {
	p, div, a, a strong {
      font-family: arial,helvetica,sans-serif;
      font-size: 14px;
      line-height: 22px;
    }
    a, a strong {
      text-decoration: none !important;
        color: #1188E6;
    }
    p { margin: 0 !important; padding: 0 !important; }
    table.wrapper {
      width:100% !important;
      table-layout: fixed !important;
      -webkit-font-smoothing: antialiased !important;
      -webkit-text-size-adjust: 100% !important;
      -moz-text-size-adjust: 100% !important;
      -ms-text-size-adjust: 100% !important;
    }
    strong {
    	font-weight: bold;
    }
    img.max-width {
      max-width: 100% !important;
    }
    .column.of-2 {
      width: 50% !important;
    }
    .column.of-3 {
      width: 33.333% !important;
    }
    .column.of-4 {
      width: 25% !important;
    }
    @media screen and (max-width:480px) {
      .preheader .rightColumnContent,
      .footer .rightColumnContent {
        text-align: left !important;
      }
      .preheader .rightColumnContent div,
      .preheader .rightColumnContent span,
      .footer .rightColumnContent div,
      .footer .rightColumnContent span {
        text-align: left !important;
      }
      .preheader .rightColumnContent,
      .preheader .leftColumnContent {
        font-size: 80% !important;
        padding: 5px 0 !important;
      }
      table.wrapper-mobile {
        width: 100% !important;
        table-layout: fixed;
      }
      img.max-width {
        height: auto !important;
        max-width: 100% !important;
      }
      a.bulletproof-button {
        display: block !important;
        width: auto !important;
        font-size: 80%;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
      .columns {
        width: 100% !important;
      }
      .column {
        display: block !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
      .social-icon-column {
        display: inline-block !important;
      }
    }
}

.rearrange-team {
	background-color: #46afda;
	margin-bottom: 100px;

	@media #{$phone} {
		display: none;
	}
}

body.guided-tour {
	overflow-y: hidden;

	.black-overflow {
		display: none !important;
	}

	.strength-parent {
		display: none !important;
	}
}

#submit-review-popup {
	.review-tabs {
		a {
			@media #{$phone} {
				font-size: 16px;
				height: 40px;
				line-height: 40px;
			}
		}

		span {
			@media #{$tablet} {
				line-height: 45px;
			}

			@media #{$phone} {
			    min-width: 40px;
			    font-size: 16px;
			    color: #126585;
			    line-height: 40px;
			}
		}
	}
}

.CodeMirror {
    border: 1px solid #d6d6d7;
    border-radius: 10px;
    width: 100%;
    height: 140px !important;
    margin-bottom: 30px !important;

    @media #{$phone} {
    	margin-bottom: 0px !important;
    }

    pre {

		&.CodeMirror-line {
			padding-left: 35px !important;
		}

	    &.CodeMirror-placeholder {
			color: #afb0b9 !important;
			padding-left: 35px !important;
		}
    }

}

.CodeMirror-gutters {
    border-color: #ebebeb;
    width: 28px !important;
    left: 0px !important;
}

.CodeMirror-linenumber {
    min-width: 15px !important;
}

.CodeMirror-gutter-wrapper {
	left: 0px !important;
}

.header-success-tab {
	background-color: transparent;

	img {
		max-width: 120px;
		margin-bottom: 10px;

		@media #{$phone} {
			max-width: 60px;
		}
	}        	

	h2 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 38px;
		color: #126585 !important;
		margin-bottom: 13px !important;
		margin-top: 30px !important;

		@media #{$phone} {
			font-size: 24px;
			margin-top: 0px !important;
			margin-bottom: 20px !important;
		}
	}

	h4 {
		color: #333;
		max-width: 620px;
		margin-right: auto;
		margin-left: auto;

		@media #{$phone} {
			font-size: 16px;
			margin-bottom: 25px;
		}
	}
}

.symbols-wrapper {
	margin-bottom: 20px;

	span {
		&.red {
			color: red;
		}
	}
}

#select-reviews-popup,
#popup-widget {
	@media #{$tablet} {
		background-color: white;
	}
	.popup-inner {
	    overflow-x: initial;
	    overflow-y: unset;
        box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.8);

        @media #{$tablet} {
        	box-shadow: none;
        }

		h2 {
			margin-bottom: 25px;

			@media #{$phone} {
				font-size: 30px;
				margin-top: 40px;
			}
		}

		.popup-title {
			@media #{$phone} {
				font-size: 20px;
			}
		}

		.popup-description {
			@media #{$phone} {
				font-size: 18px;
				font-weight: 300;
			}
		}
	}
}

#select-reviews-popup {
	.button {
		border: 1px solid #46afda;
		font-size: 25px;
		background-color: #46afda;
		padding: 12px 73px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}