$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.faq-title {
    background-color: #01a5db;
    padding-top: 100px;
    text-align: center;
    position: relative;
 
    @media #{$phone} {
        padding-top: 80px;
        padding-bottom: 30px;
    }
 
    h1 {
        font-weight: 900;
        color: white;
    }
 
    &::after {
        content: '';
        position: absolute;
        bottom: -80px;
        left: 0px;
        background: url('../img-trp/oval-blue.png') no-repeat 50% 50%;
		background-size: 100% 100%;
        width: 100%;
        height: 81px;
 
        @media #{$phone} {
            height: auto;
            top: 98%;
            bottom: unset;
            background-size: contain;
            padding-top: 6%;
        }
    }
}
 
.faq-wrapper {
    background-color: #f7f7f7;
    padding-top: 60px;
    padding-bottom: 63px;
 
    @media #{$phone} {
        padding-top: 10px;
        padding-bottom: 20px;
    }
 
    h2 {
        padding-top: 37px;
        font-weight: bold;
        color: black;
    }
}
 
.questions {
    padding: 0px 15px;
 
    @media #{$phone} {
        padding: 0px;
    }
 
    .question {
        margin-bottom: 13px;
 
        .question-title {
            background-color: white;
            border-bottom: 1px solid #dddddd;      
            padding-top: 19px;
            padding-bottom: 19px;
            padding-right: 60px;
            padding-left: 25px;
            position: relative;
            display: block;
            font-size: 20px;
 
            @media #{$phone} {
                font-size: 16px;
                padding-top: 9px;
                padding-bottom: 9px;
                padding-right: 30px;
                padding-left: 15px;
            }
 
            span {
                font-size: 20px;
                color: #126585;
                font-weight: bold;
                margin-right: 8px;
 
                @media #{$phone} {
                    font-size: 16px;
                }
            }
 
            img {
                position: absolute;
                transition: all 0.3s ease;
                top: 50%;
                transform: translateY(-50%);
                right: 30px;
                color: #000;
                width: 16px;
 
                @media #{$phone} {
                    right: 10px;
                }
            }
        }
 
        .question-description {
            display: none;
            padding: 25px;
 
            @media #{$phone} {
                padding: 15px;
            }
 
            p {
                color: #555555;
                font-size: 20px;
                font-weight: 300;
                margin-bottom: 25px;
 
                @media #{$phone} {
                    font-size: 16px;
                    margin-bottom: 15px;
                }
 
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
 
        &.active {
            .question-title {
 
                img {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
 
            .question-description {
                display: block;
            }
        }
    }
}