$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot');
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri-Bold.woff2') format('woff2'),
         url('../fonts/Calibri-Bold.woff') format('woff'),
         url('../fonts/Calibri-Bold.ttf') format('truetype'),
         url('../fonts/Calibri-Bold.svg') format('svg');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri.woff2') format('woff2'),
         url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.ttf') format('truetype'),
         url('../fonts/Calibri.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Light.eot');
    src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri-Light.woff2') format('woff2'),
         url('../fonts/Calibri-Light.woff') format('woff'),
         url('../fonts/Calibri-Light.ttf') format('truetype'),
         url('../fonts/Calibri-Light.svg') format('svg');
    font-weight: 300;
    font-style: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
input, textarea, select, button,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Calibri', sans-serif;
	font-size: 16px;
	line-height: normal;
	background-color: inherit;
	color: black;
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
	text-decoration: none; 
	cursor: pointer;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.relative {
	position: relative;
}


.h1,
h1 {
	font-size: 50px;
	@media #{$phone} {
		font-size: 30px;
    }
}

.h1 {
	color: #126585;
}

h2 {
	font-size: 35px;
	font-weight: 300;
	color: #38393b;
	margin-bottom: 30px;

	@media #{$phone} {
		font-size: 24px;
    }
}

h3 {
	font-size: 30px;

	@media #{$phone} {
		font-size: 18px;
	}
}

h4 {
	font-size: 20px;
}


.tac {
	text-align: center;
}

.mobile-tac {
	@media #{$phone} {
		text-align: center;
	}
}

.tar {
	text-align: right;
}

.tal {
	text-align: left;
}

.tac-desktop {
	text-align: center;
    @media #{$phone} {
		text-align: inherit;
    }	
}

.hidden-mobile {
    display: none;

    @media #{$phone} {
		display: inherit;
    }

}

.hidden-non-mobile {
    display: inherit;

    @media #{$phone} {
		display: none;
    }
}

.flex-mobile,
.flex {
	display: flex;

	&.wrap {
		flex-flow: row wrap;		
	}

	&.wrap-mobile {
	    @media #{$phone} {
			flex-flow: row wrap;
	    }
	}

	&.space-between {
		justify-content: space-between;
	}

    .col {
    	flex: 1;
    	position: relative;
    }
    
    .flex-2 {
    	flex: 2;
    }

    .flex-3 {
    	flex: 3;
    }

    .flex-4 {
    	flex: 4;
    }

    .flex-5 {
    	flex: 5;
    }

    .flex-6 {
    	flex: 6;
    }

    .flex-7 {
    	flex: 7;
    }

    .flex-8 {
    	flex: 8;
    }

    .flex-9 {
    	flex: 9;
    }

    .flex-10 {
    	flex: 10;
    }


    &.break-pc {
    	@media #{$pc} {
			flex-direction: column;


    		&>.col,
    		&>.flex-2,
    		&>.flex-3,
    		&>.flex-5,
    		&>.flex-6,
    		&>.flex-8 {
		    	padding-left: 0px;
		    	padding-right: 0px;
		    }
		}
    }

    &.break-tablet {
    	@media #{$tablet} {
			flex-direction: column;


    		&>.col,
    		&>.flex-2,
    		&>.flex-3,
    		&>.flex-5,
    		&>.flex-6,
    		&>.flex-8 {
		    	padding-left: 0px;
		    	padding-right: 0px;
		    }
		}
    }

    &.break-mobile {
    	@media #{$phone} {
			flex-direction: column;

    		&>.col,
    		&>.flex-2,
    		&>.flex-3,
    		&>.flex-5,
    		&>.flex-6,
    		&>.flex-8 {
		    	padding-left: 0px;
		    	padding-right: 0px;
		    }
		}
    }

    .line-break {
		flex-basis: 100%;
		width: 0px; 
		height: 0px; 
		overflow: hidden;
    }
    
    .line-break-tablet {
    	@media #{$tablet} {
			flex-basis: 100%;
			width: 0px; 
			height: 0px; 
			overflow: hidden;
		}
    }
    .line-break-mobile {
    	@media #{$phone} {
			flex-basis: 100%;
			width: 0px; 
			height: 0px; 
			overflow: hidden;
		}
    }
}

.flex {
	@media #{$phone} {
		display: block;
	}
}

.flex-tablet {
	display: block;
	@media #{$tablet} {
		display: flex;
	}
}

.flex-mobile {
	@media #{$phone} {
		display: flex;
	}
}

.flex-center {
    align-items: center;
}
.flex-text-center {
    justify-content: center;
}

.flex-bottom {
    align-items: flex-end;
}

.flex-item-right {
	margin-left: auto;
}
.flex-item-left {
	margin-right: auto;
}

.container {
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
	background: transparent;

	@media #{$pc} {
		width: 980px;
	}
	@media #{$tablet} {
		width: 760px;
	}
	@media #{$phone} {
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	img {
		max-width: 100%;
	}
}

.container-middle {
	width: 830px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 10;
	background: transparent;

	@media #{$tablet} {
		width: 760px;
	}
	@media #{$phone} {
		width: 100%;
	}

	img {
		max-width: 100%;
	}
}

.alert {
	border-radius: 10px;
	background: white;
	border: 2px solid white;
	font-size: 18px;
	padding: 25px 20px 25px 80px;
	text-align: left;
	position: relative;
    word-break: break-word;
    margin-top: 20px;
    background: white;

    &:first-child {
    	margin-top: 0px;
    }


	@media #{$phone} {
		padding: 10px 10px 10px 40px;
		font-size: 14px;
	}

	&:before {
	    display: inline-block;
	    font-style: normal;
	    font-variant: normal;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    position: absolute;
	    left: 20px;
	    top: 50%;
	    transform: translateY(-50%);
	    font-size: 40px;
		
		@media #{$phone} {
			left: 10px;
			font-size: 20px;
		}
	}
	
    &.mobile {
		padding: 10px 10px 10px 40px;
		font-size: 14px;
		&:before {
			left: 10px;
			font-size: 20px;
		}
	}

	&.alert-warning {
		border-color: #7b1a23;
		color: #7b1a23;			
		strong {
			color: #7b1a23;			
		}
		&:before {
    		font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f071";
		}
	}
	&.alert-success {
		border-color: #2b9b60;
		color: #2b9b60;
		strong {
			color: #2b9b60;
		}
		&:before {
    		font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058";
		}
	}
	&.alert-info {
		border-color: #11aee1;
		color: #11aee1;
		strong {
			color: #11aee1;
		}
		&:before {
    		font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f05a";
		}
	}

	a:not(.button) {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: inherit;
			text-decoration: underline;
		}
	}

	span {
		display: block;
	}
}