$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 1080px)";
$phone: "screen and (max-width: 768px)";

//for downloads
.page-stats {	
	h2 {
		font-size: 18px;
		color: #333;
		text-align: center;
		font-weight: normal;
		margin-bottom: 40px;

		@media #{$phone} {
			font-size: 16px;
			margin-bottom: 20px;
			max-width: 200px;
		    margin-left: auto;
		    margin-right: auto;
		}
	}
}

.page-statistics {
	padding-top: 40px;

	@media #{$phone} {
		padding-top: 0px;
	}

	h1 {
		font-size: 25px;
		font-weight: bold;
		text-transform: uppercase;
		color: #020202;
		text-align: center;
		margin-bottom: 45px;
		position: relative;

		@media #{$phone} {
			font-size: 18px;
			margin-bottom: 35px;
			padding: 0px 20px;
		}
	}
	
	.stats:not(.st-download) {

		.stat {
			border-bottom: 1px solid #f3f3f3;

			.title {
				font-size: 20px;
				display: block;
				line-height: 28px;
				padding: 11px 0px;
				padding-left: 35px;
				background-color: #d3ebfb;
				cursor: pointer;

				@media #{$phone} {
					font-size: 14px;
				    line-height: 1;
				    padding-left: 25px;
				}

				h2 {
					font-weight: bold;
					font-size: 20px;
					text-align: left;
					margin-bottom: 0px;
					line-height: 28px;
					background: url(../new-vox-img/stats-down.png) 1px 50% no-repeat;
					background-size: 29px;
					padding-left: 40px;
					margin-top: 0px;

					@media #{$tablet} {
						width: 100%;
					}

					@media #{$phone} {
						font-size: 16px;
						line-height: normal;
						max-width: 100%;
						background-size: 20px;
						padding-left: 30px;
					}

					a {
						color: #41afff;

						@media #{$phone} {
							font-size: 16px;
						}
					}
				}
			}

			.contents {
				display: none;
			}
		}
	}
}

.all-stats-section {
	margin-top: 34px;
    margin-bottom: 40px;
    padding-top: 30px;
	position: relative;

	@media #{$phone} {
		margin-top: 30px;
		padding-top: 30px;
		margin-bottom: 20px;
	}

	.flex {
		@media #{$phone} {
			display: block;
		}
	}

	&:after {
		content: '';
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
		width: 585px;
		height: 1px;
		background-color: black;

		@media #{$phone} {
			width: 165px;
		}
	}

	h2 {
		font-size: 25px;
		font-weight: bold;
		color: black;
		margin-bottom: 22px;

		@media #{$phone} {
			font-size: 18px;
		}
	}

	p {
		font-size: 18px;
		color: #333333;
		margin-bottom: 45px;

		@media #{$phone} {
			font-size: 15px;
			margin-bottom: 25px;
		}
	}

	.white-button {
		padding: 12px 20px;
	    color: #38ace5;
	    margin-right: 15px;

	    @media #{$phone} {
	    	font-size: 16px;
		    display: block;
		    max-width: 200px;
		    margin: 0 auto;
		    margin-bottom: 10px;
		}

	    &:hover {
	    	color: white;
	    }
	}
}

.stats-blurred {
	//border-top: 1px solid #f3f3f3;

	.blurred-title {
		font-size: 20px;
	    display: block;
	    line-height: 28px;
	    padding: 11px 0px;
	    padding-left: 35px;
	    background-color: #d3ebfb;
		box-shadow: 0 3px 5px rgb(211, 235, 251);
		margin-bottom: 4px;

		@media #{$phone} {
			font-size: 14px;
		    line-height: 1;
		    padding-left: 25px;
		    box-shadow: 0 0px 5px rgb(211, 235, 251);
		}

	    h2 {
	    	font-weight: bold;
		    font-size: 20px;
		    text-align: left;
		    margin-bottom: 0px;
		    line-height: 28px;
		    background: url(../new-vox-img/stats-down.png) 1px 50% no-repeat;
		    background-size: 29px;
		    padding-left: 40px;
		    color: #333;
		    //filter: blur(4px);

		    @media #{$tablet} {
				width: 100%;
			}

			@media #{$phone} {
				font-size: 16px;
				line-height: normal;
				max-width: 100%;
				background-size: 20px;
				padding-left: 30px;
			}

			a {
				color: #41afff;
			}
	    }
	}

	.blurred-stat {
		position: relative;

		@media #{$phone} {
			width: 320px;
    		margin: 0 auto;
		}

		img {
			display: block;
			max-width: 100%;

			&.mobile-blurred {
				display: none;

				@media #{$phone} {
					display: block;
				}
			}

			&.pc-blurred {

				@media #{$phone} {
					display: none;
				}
			}
		}

		.blurred-text {
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translateX(-50%) translateY(-50%);
		    text-align: center;
		    width: 570px;
		    background-color: white;
		    border-radius: 10px;
		    box-shadow: 0 0 17px -2px rgba(0, 0, 0, 0.5);
		    padding-top: 50px;
		    padding-bottom: 30px;
		    background-image: url('../new-vox-img/stats-pdf-background.jpg');
		    background-position: 50% 100%;
		    background-repeat: no-repeat;

		    @media #{$tablet} {
		    	background-position: 50% 120%;
		    }

		    @media #{$phone} {
		    	//padding: 0px 20px;
		    	width: 100%;
		    }

		    .free-text {
		    	position: absolute;
			    top: -33px;
			    left: 50%;
			    transform: translateX(-50%);
			    font-size: 50px;
			    font-weight: 900;
			    color: #3daee6;
			    background-color: white;
			    box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.5);
			    text-transform: uppercase;
			    padding: 0px 50px;
			    border-radius: 10px;

			    @media #{$tablet} {
			    	top: -27px;
			    	font-size: 40px;
			    }
		    }

		    h2 {
		    	font-size: 39px;
			    font-weight: 900;
			    margin-bottom: 0px;
			    max-width: 100%;

			    @media #{$tablet} {
			    	font-size: 30px;
			    }

			    @media #{$phone} {
			    	font-size: 25px;
			    }
		    }

		    p {
				font-size: 24px;
				margin-bottom: 45px;

			    @media #{$tablet} {
			    	font-size: 20px;
			    }

			    @media #{$phone} {
			    	font-size: 16px;
			    }
			}

			.download-functions-wrap {
				display: flex;
    			justify-content: center;
    			margin-bottom: 15px;

				.download-functions {
					p {
						font-weight: bold;
						color: white;
						font-size: 20px;
						margin-bottom: 6px;
						text-align: left;

						@media #{$tablet} {
							font-size: 16px;
						}
					}
				}
			}

			.blue-button {
				font-weight: bold;
				border: 2px solid #ff0045;
			    background-color: #ff0045;
			    padding: 9px 40px;

			    &:hover {
			    	background-color: #e6013f;
			    }
			}

			span {
				display: block;
			    margin-top: 15px;
			    color: white;
			    font-size: 20px;

			    @media #{$tablet} {
			    	font-size: 18px;
			    }

				a {
					font-size: 20px;
			    	color: white;
					font-weight: 900;
				    text-transform: uppercase;
				    text-decoration: underline;

				    @media #{$tablet} {
				    	font-size: 18px;
				    }
				}
			}
		}
	}
}

.stats-image-wrapper {
	padding-top: 15px;
    background-color: #d3ebfb;
    border-bottom: 1px solid #f3f3f3;

    @media #{$phone} {
    	padding-bottom: 10px;
    }

    .container {
		@media #{$tablet} {
			width: 100%;
		}
    }

    .col {
    	text-align: center;

    	@media #{$phone} {
    		flex: none;
		    width: 100%;
		    text-align: center;
    	}

    	.red-button {
    		display: inline;
    		font-size: 20px;
    		font-weight: bold;
    		padding: 15px 20px;

			@media #{$tablet} {
			    font-size: 14px;
			    padding: 15px 20px;
			}

			@media #{$phone} {
				font-size: 16px;
				min-width: 230px;
			    display: inline-block;
			    padding: 12px 20px;
			}

    		img {
				max-width: 39px;
				vertical-align: middle;
				margin-right: 10px;
				margin-top: -4px;

				@media #{$phone} {
				    max-width: 30px;
				}
    		}
    	}

		img.mobile-stat-img {
			display: none;
			max-width: 250px;

			@media #{$phone} {
				display: inline-block;
			}
		}

		img.pc-stat-img {
			
			@media #{$pc} {
				width: 92%;
			}
			
			@media #{$phone} {
				display: none;
			}
		}
    }
}

body.logged-in {
	.christmas-banner {
		display: none !important;
	}
}