
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot');
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri-Bold.woff2') format('woff2'),
         url('../fonts/Calibri-Bold.woff') format('woff'),
         url('../fonts/Calibri-Bold.ttf') format('truetype'),
         url('../fonts/Calibri-Bold.svg') format('svg');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri.woff2') format('woff2'),
         url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.ttf') format('truetype'),
         url('../fonts/Calibri.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Light.eot');
    src: url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri-Light.woff2') format('woff2'),
         url('../fonts/Calibri-Light.woff') format('woff'),
         url('../fonts/Calibri-Light.ttf') format('truetype'),
         url('../fonts/Calibri-Light.svg') format('svg');
    font-weight: 300;
    font-style: bold;
}


$tablet: "screen and (max-width: 1080px)";
$phone: "screen and (max-width: 768px)";
$phone_up: "screen and (min-width: 769px)";

$main-color: #38ace5;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'Calibri', sans-serif;
    color: #1d1d1d;
}


body.sp-vox-iframe {
	min-height: 200px;

	header,
	.footer-expander,
	.col-md-3 {
		display: none;
	}

	.col-md-9 {
		padding: 0px !important;
		width: 100% !important;
		min-height: auto !important;
	}

	.container {
		width: 100% !important;
		padding: 0px !important;
	}

	.site-content {
		padding-top: 0px;

		h2.page-title {
			margin-top: 0px;
		}
	}
	.above-fold {
		min-height: auto !important;
	}
}

.black-line-title h4 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}


.page-profile .site-content {

	@media #{$phone} {
		.container {
			padding: 0px;

			.alert {
				margin-top: 22px;
			}
		}
	}

	table {
		a {
			color: $main-color;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	.alert {
	    padding: 15px;
	    margin-bottom: 20px;
	    border: 1px solid transparent;
	    border-radius: 4px;

	    &:before {
	    	display: none;
	    }

		&.alert-info {
		    color: #31708f;
		    background-color: #d9edf7;
		    border-color: #bce8f1;
		}

		&.alert-success {
		    color: #3c763d;
		    background-color: #dff0d8;
		    border-color: #d6e9c6;
		}

		&.alert-danger {
		    color: #a94442;
		    background-color: #f2dede;
		    border-color: #ebccd1;
		}
	}


	h2.page-title {
		font-size: 24px;
    	margin-bottom: 39px;
		margin-top: 35px;
		font-family: 'Lato', sans-serif;
		font-weight: bold;


		@media screen and (max-width: 992px) {
			font-size: 22px;
			margin-top: 20px;
			margin-bottom: 30px;
		}

		img {
			margin-right: 10px;
     		vertical-align: sub;
		}
	}

	.container > .col-md-9 {
		background-image: url(../new-vox-img/profile-background.png);
    	background-size: cover;
	    background-position: 100% 0%;
	    background-repeat: no-repeat;
	    min-height: calc(100vh - 147px - 40px - 100px);
	}

	.form-horizontal {
		margin-top: 35px;

		@media screen and (max-width: 992px) {
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}
}

.black-line-title {
	position: relative;
	overflow: hidden;

	h4 {
		display: inline-block;
		padding-right: 7px;
		margin-bottom: 15px;
		position: relative;

		&::after {
			content: '';
			height: 3px;
			background-color: black;
			width: 100%;
			z-index: -1;
			position: absolute;
			top: 3px;
		    top: 50%;
		    left: 100%;
			width: 2000px;
			margin-top: -1px;
		}
	}

	table {
		margin-bottom: 50px;

		a {
    		transition: all 0.3s ease;
    		
			&:hover {
				color: #38a2e5;
    			transition: all 0.3s ease;
			}
		}

		thead {
			font-size: 18px;
		}

		tbody {
			td {
				color: #333333;
			}
		}
	}

	.table>tbody>tr>td,
	.table>tbody>tr>th,
	.table>tfoot>tr>td,
	.table>tfoot>tr>th,
	.table>thead>tr>td,
	.table>thead>tr>th {
		border-color: #bfbfbf;
	}
}

.page-profile.sp-vox {
	.section-recent-surveys {
		margin-top: 20px;

		.swiper-container {
			padding-top: 0px;
			padding-bottom: 50px;
		}

		.swiper-slide {
			.featured-img {
				right: -18px;
			    top: -16px;
			    width: 30px;
			    z-index: 100;
			}

			.slider-inner {
				padding: 0px 10px;

				.slide-padding {
					max-width: 320px;
    				margin: 0 auto;
    				margin-top: 15px;
    				min-width: 245px;

    				@media screen and (max-width: 992px) {
    					min-width: auto;
    				}

    				@media #{$phone} {
    					max-width: none;
    					width: 100%;
    				}
				}
			}

			.vox-header {
				padding: 7px 15px;
				text-align: center;

				.first-flex {

					&:first-child {
						flex: 1;
					}
					

					.right {
					    text-align: center;
					}

					.survey-title {
						color: #060606;
						font-size: 17px;
					}
				}

				.btns {
			    	a {
			    		font-size: 16px;
			    		padding: 9px 20px;

			    		@media #{$phone} {
			    			font-size: 12px;
			    		}
			    	}
			    }
			}
		}
	}
}

.page-profile .poll-bubble {
	display: none !important;
}

.popup {
	&.banned {
		.wrapper {
			max-width: 95%;
			width: 1130px;
			overflow: hidden;
			min-height: 487px;
			top: 10px;
			transform: translateX(-50%);

			.x {	
				top: 5px;
				right: 5px;
			}

			.zman {
				left: -720px;
			    top: 440px;
			    height: 1100px;


				@media screen and (max-width: 1100px) {
					left: -820px;
				}

				@media #{$phone} {
					position: absolute;
					width: 500px;
				    height: 500px;
				    left: -320px;
				    top: auto;
				    max-width: none;
				    bottom: -360px;
				}
			}

			.inner {
				margin: 30px 0 0 auto;
    			max-width: calc(100% - 250px);
				text-align: center;


				@media screen and (max-width: 1100px) {
    				max-width: calc(100% - 210px);
				}

				@media #{$phone} {
    				max-width: 100%;
				}

				h2 {
					text-transform: none;

					@media #{$phone} {
	    				font-size: 22px;
					}
				}
				h3 {
					text-transform: none;
					margin-top: 10px;
					font-weight: 600;

					@media #{$phone} {
	    				margin-top: 15px;
					}
				}

				.countdown {
					margin: 55px auto;

					@media #{$phone} {
						margin: 25px auto;
					}

					.hours-countdown {
						display: inline-block;
						margin: 0 auto;
						padding-left: 70px;
						height: 47px;
						line-height: 47px;
						background: url(../new-vox-img/banned-cooldown.png) 0% 50% no-repeat;
						font-size: 20px;
						color: #010101;
						font-weight: 900;

						@media #{$phone} {
		    				font-size: 0px;
						}

						span {
							font-size: 30px;
						}
					}
				}

				.alternatives {
					font-size: 20px;
					text-align: center;
					margin: 0 auto;
					max-width: 600px;

					div {
						margin-bottom: 45px;
						
						@media #{$phone} {
							margin-bottom: 20px;
						}
					}

					img {
						margin: 0px 10px;						

						@media #{$phone} {
							max-width: 120px;
						}
					}
				}

				.bans-received {
					position: absolute;
					bottom: 25px;
					right: 40px;

					@media screen and (max-width: 1100px) {
					    position: static;
					    margin-top: 20px;
					}
					@media #{$phone} {
					    margin-top: 30px;
						float: right;
					}
				}
			}
		}
	}
}