$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 1080px)";
$phone: "screen and (max-width: 768px)";
$phone_up: "screen and (min-width: 769px)";

$main-color: #38ace5;

.all-stats-wrapper {
	padding-top: 40px;

	@media #{$phone} {
		padding-top: 0px;
	}
}

.page-stats {
	.fb_chb {
		display: none !important;
	}

	.section-take-surveys {
		background-color: white;

		h3 {
			color: black;
		}

		.white-button {
		    border-color: black;
		    color: black;
		}
	}

	.search-survey {

		@media #{$phone} {
	    	width: 70%;
		}
	}

	h1 {
		font-size: 26px;
		font-weight: bold;
		text-transform: uppercase;
		color: #020202;
		text-align: center;
		//margin-bottom: 45px;
		margin-bottom: 20px;
		position: relative;

		@media #{$phone} {
			font-weight: normal;
			padding: 0px 20px;
		}
	}
	h2 {
		font-size: 18px;
		color: #333;
		text-align: center;
		font-weight: normal;
		margin-bottom: 40px;

		@media #{$phone} {
			font-size: 16px;
			margin-bottom: 20px;
			max-width: 200px;
		    margin-left: auto;
		    margin-right: auto;
		}
	}

	.stats-description {
		text-align: center;
		max-width: 870px;
		margin: 0 auto;
		color: #333;
		margin-bottom: 40px;
		// margin-bottom: 10px;

		@media #{$phone} {
			font-size: 15px;
		}
	}

	.search-survey {
		margin: 0 auto;
	}

	.stats-list {
		margin-top: 10px;

		.stats-holder {
			//width: 870px;
			width: 100%;

			@media #{$phone} {
				padding: 0px 22px;
			}

			b {
				font-size: 20px;
				font-weight: bold;
				text-transform: uppercase;
				margin-bottom: 33px;
				display: block;
				color: #020202;

				display: none;
			}

			.vox-stat {
				//margin-bottom: 60px;
				margin-bottom: 25px;
				border-radius: 10px;
				border: 3px solid #f3f3f3;
				padding: 17px 12px;
				position: relative;

				max-width: 870px;
				margin-left: auto;
				margin-right: auto;
    			align-items: center;

				@media #{$tablet} {
					max-width: 700px;
				}

				@media #{$phone} {
					margin-bottom: 37px;
					padding: 6px 9px 16px;
					max-width: 100%;
					display: block;
					border-width: 1px;
    				border-color: #ccc;
				}

				img.featured {
					position: absolute;
					top: -23px;
					right: -28px;
					width: 50px;

					@media #{$phone} {
					    width: 40px;
					    height: 40px;
					    right: -20px;
					    top: -16px;
					}
				}

				img.cover {
					width: 260px;
					height: 176px;

					@media #{$tablet} {
						width: 180px;
						height: 121px;
					}
					@media #{$phone} {
						order: 2;
					    width: 100%;
					    height: auto;
					    border-top-right-radius: 10px;
					    border-top-left-radius: 10px;
					}
				}

				.stats-info {
					margin-left: 30px;
					width: 300px;
				    flex-direction: column;
				    justify-content: center;

					@media #{$tablet} {
						margin-left: 20px;
						margin-right: 20px;
					}
					@media #{$phone} {
						order: 1;
						margin-left: 0px;
						margin-right: 0px;
					    width: 100%;
					    min-height: 115px;
    					justify-content: flex-start;
					}

					h3 {
						color: #00beff;
						font-weight: bold;
						font-size: 18px;
						text-transform: uppercase;
						margin-bottom: 15px;

						@media #{$phone} {
							font-size: 22px;
							text-align: center;
							margin-top: 10px;
						}
					}

					h4 {
						font-weight: bold;
						font-size: 16px;
						color: #040404;
						margin-bottom: 20px;
					}

					p {
						font-size: 16px;
						color: #333;	

						@media #{$tablet} {
							overflow: hidden;
						    display: -webkit-box;
						    -webkit-line-clamp: 6;
						    -webkit-box-orient: vertical;
						}

						@media #{$phone} {
						    -webkit-line-clamp: 4;
							font-size: 14px;
							margin-bottom: 20px;
						}					
					}
				}

				.stats-cta {
				    flex-direction: column;
				    justify-content: center;
				    width: 170px;
				    margin-left: auto;
				    margin-right: 40px;
				    text-align: center;

					@media #{$tablet} {
						margin-right: 0px;
					}

					@media #{$phone} {
					    width: 100%;
					    display: block;
					}

				    a {
				    	background: #00beff;
				    	height: 40px;
				    	line-height: 40px;
				    	padding: 0px 10px;
				    	border-radius: 10px;
				    	text-transform: uppercase;
				    	color: #f9f6f6;
				    	font-size: 16px;
				    	text-align: center;

						@media #{$phone} {
							font-size: 16px;
						    height: auto;
						    line-height: normal;
						    padding: 12px 10px;
						    display: inline-block;
						    width: 46%;
						    vertical-align: middle;
						    border: 2px solid #00beff;
						    margin: 0px 4px;
						}

						@media screen and (max-width: 370px) {
							font-size: 14px;
						}

						&.secondary {
							border-color: #00beff;
							color: #00beff;
    						background-color: transparent;
    						margin-top: 25px;

    						@media #{$phone} {
    							margin-top: 0px;
    						}
						}
				    }
				}

				&.request-survey-stat {
					background-color: #ffd9e4;
					border-color: #ffd9e4;

					.cover {
						width: 260px;
					    height: 176px;
					    background-size: cover;

					    @media #{$tablet} {
					    	width: 180px;
    						height: 121px;
					    }

					    @media #{$phone} {
					    	display: block;
						    width: auto;
						    height: auto;
						    padding-top: 67%;						    
						    border-top-right-radius: 10px;
						    border-top-left-radius: 10px;
					    }
					}

					.stats-info {
						h3 {
							font-size: 20px;
    						color: #060606;

    						@media #{$phone} {
    							font-size: 22px;
    						}
						}
					}

					.stats-cta {
						a {
							background-color: #ff0046;
    						border-color: #ff0046;

							&.disabled {
								background-color: #a29296;
		    					border-color: #796b6f;
							}

    						@media #{$phone} {
    							width: auto;
    						}
						}
					}
				}
			}
		}
		.stats-cats {
			display: none;
			width: 220px;

			b {
				font-size: 17px;
				font-weight: bold;
				margin-bottom: 25px;
				display: block;
				color: #020202;
				line-height: 28px;
				padding-left: 15px;
			}

			a.cat {
				line-height: 27px;
				padding-left: 15px;
				font-size: 16px;
				color: #020202;
				font-weight: bold;
				display: block;
				cursor: pointer;
				position: relative;

				&.active,
				&:hover {
					background: #00aaff;
					color: #fcf8f8;

					&:after {
						position: absolute;
						content: '';
						width: 10px;
						height: 5px;
						background: url(../new-vox-img/stats-cat-down.png) 50% 50% no-repeat;
						top: 50%;
						right: 5px;
						transform: translateY(-50%);
					}
				}
			}

			.subcats {
				padding: 5px 0px 5px 25px;
				display: none;

				&.active {
					display: block;
				}

				a {
					display: block;
					color: #393838;
					font-size: 16px;
					line-height: 21px;
					cursor: pointer;

					&:hover {
						color: #00aaff;
					}
				}
			}
		}

		.pagination {
			align-items: center;
		    display: flex;
		    justify-content: center;
		    margin-bottom: 60px;
		    margin-top: 55px;
		    border-radius: 0px;

		    @media #{$phone} {
		    	display: block;
		    	margin-bottom: 30px;
		    	margin-top: 35px;
		    }

		    >li {

		    	@media #{$phone} {
		    		display: inline-block;
		    		margin-bottom: 8px;
		    	}

		    	>a,
		    	>span {
		    		color: #00bbdc;
				    width: 30px;
				    height: 30px;
				    line-height: 30px;
				    display: inline-block;
				    border: 1px solid #00bbdc;
				    margin: 0 3px;
				    border-radius: 50%;
				    font-size: 14px;
				    cursor: pointer;
				    transition: all 0.3s ease;
				    float: none;
				    padding: 0px;
		    	}

		    	&:hover,
		    	&.active {
		    		>span,
		    		>a {
		    			background: #00bbdc;
					    color: #fff;
					    transition: all 0.3s ease;
					    box-shadow: 0 0 20px -2px rgba(158, 158, 158, 0.59);
					   	border-color: #00bbdc;
		    		}
		    	}

		    	&.disabled {
		    		display: none;
		    	}

		    	&:first-child,
		    	&:last-child {
		    		>a,>span {
		    			line-height: 26px;

		    			@media #{$phone} {
		    				line-height: 30px;
		    			}
		    		}
		    	}
		    }
		}
	}

	&.sp-home {

		.footer-expander {
			footer {
			    opacity: 1;
			    bottom: 0;
			}
		}
	}

}

.section-take-surveys {
	padding: 40px 0px;
    background-color: #09ace1;

	@media #{$tablet} {
		margin-bottom: 20px;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media #{$tablet} {
			display: block;
			text-align: center;
		}
	}

	h3 {
		font-weight: bold;
		color: white;

		@media #{$pc} {
			font-size: 26px;
			font-weight: normal;
		}
	}

	img {
		max-width: 100%;

		@media #{$tablet} {
			display: none;
		}
	}

	.white-button {
		border: 2px solid white;
	    background-color: transparent;
	    color: white;
	    font-size: 18px;
	    font-weight: bold;
	    padding: 12px 15px;
	    border-radius: 10px;
	    text-transform: uppercase;
    	transition: all 0.3s ease;

		&.disabled {
			background: #d3d3d3;
		}

		@media #{$tablet} {
			margin-top: 20px;
			display: inline-block;
			padding: 8px 25px;
			max-width: 240px;
		}
	}
}
.search-survey {
	position: relative;
	margin-top: 35px;
	margin-bottom: 15px;
	width: 304px;

	@media #{$tablet} {
		margin-left: auto;
		margin-right: auto;
	}

	@media #{$phone} {
    	margin-left: 5%;
    	width: 45%;
	}

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #007fff; /* Old browsers */
		background: -moz-linear-gradient(left, #007fff 0%, #75d5ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #007fff 0%,#75d5ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #007fff 0%,#75d5ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fff', endColorstr='#75d5ff',GradientType=1 );
	}

	i {
		color: #38a2e5;
		font-size: 18px;
	}

	input {
		border: none;
		height: 28px;
		padding-left: 5px;
    	width: calc(100% - 25px);
	}
}