$tablet: "screen and (max-width: 1080px)";
$phone: "screen and (max-width: 768px)";
$phone_up: "screen and (min-width: 769px)";

$main-color: #38ace5;

.questions {
	h3 {			
		color: #060606;
		margin-bottom: 10px;
	}

	h1 {
		font-size: 25px;
		//font-weight: bold;
		text-transform: uppercase;
		color: #020202;
		text-align: center;
		margin-bottom: 45px;
		position: relative;

		@media #{$phone} {
			font-size: 16px;
			font-weight: 600;
			margin-bottom: 5px;
			padding: 0px 20px;
		}
	}

	.quest-wrap {
		max-width: 760px;
	    margin-left: auto;
	    margin-right: auto;
	}

	.answered-box {
		text-align: center;
		margin-top: -20px;
		margin-bottom: 20px;

		@media #{$phone} {
			margin-top: 0px;
		}

		p {
			color: #38a2e5;
			margin-bottom: 20px;
		}

		.start-over {
			color: white;
			font-size: 18px;
			text-transform: uppercase;
			background-color: #38ace5;
			border-radius: 10px;
			padding: 5px 11px;
			padding-bottom: 8px;
			display: inline-block;
			min-width: 190px;
			transition: all 0.3s ease;

			@media #{$phone} {
				font-size: 16px;
				min-width: 160px;
				padding-bottom: 5px;
			}

			&:hover {
				background-color: #37b8f7;
				transition: all 0.3s ease;
			}

			img {
				margin-right: 3px;
				max-width: 25px;
				vertical-align: text-bottom;

				@media #{$phone} {
					max-width: 20px;
					vertical-align: sub;
				}
			}
		}
	}

	.demographic-questionnaire-description,
	.questionnaire-description {
		text-align: center;
		font-size: 18px;
		color: #060606;
		margin-bottom: 35px;
	    margin-left: auto;
	    margin-right: auto;
		width: 90%;

		@media #{$phone} {
			font-size: 15px;
		}
	}

	.questions-dots {
	    width: 100%;
	    height: 2px;
	    background-color: #ececec;
	    margin-bottom: 15px;
	    border-radius: 10px;
	    position: relative;
	    margin-top: 40px;

	    .dot {
		    background-image: url(../new-vox-img/blue-line.png);
			background-size: cover;
			background-position: 50%;
		    position: absolute;
		    height: 2px;
		    width: 20%;
		    border-radius: 10px;
		    transition: all 0.3s ease;
		}
	}

	.questions-header {
		margin-bottom: 45px;
			
		@media #{$phone} {
			display: flex;
			margin-bottom: 15px;

			.col-md-6 {
				flex: 1;
			}
		}

		span {
			color: #38a2e5;

			@media #{$phone} {
				font-size: 12px;
			}
		}
	}

	.question-group {
		margin-bottom: 80px;
		text-align: center;
		position: relative;

		@media #{$phone} {
			margin-bottom: 20px;
		}

		&.multiple-choice {
			.answers {
				.answer-checkbox {
					.tooltip-text {
						font-size: 16px;
					}
				}
			}
		}

		.loader-survey {
			display: none;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1000;
			background-color: white;

			img {
				max-width: 50%;
				position: absolute;
				top: 0px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.question {
		    font-weight: bold;
    		font-size: 25px;
		    color: #060606;
			margin-bottom: 30px;
			position: relative;

			@media #{$phone} {
				font-size: 17px;
				margin-bottom: 18px;
				margin-top: 20px;
			}

			.tooltip-text {
				font-size: 25px;
		    	font-weight: bold;
				color: #41afff;

				@media #{$phone} {
					font-size: 17px;
				}
			}
		}

		.answers {
			display: inline-block;
			position: relative;
			width: auto;

			.loader {
	    		position: absolute;
	    		top: 0;
	    		bottom: 0;
	    		left: 0;
	    		right: 0;
	    		background: rgba(144, 185, 207, 0.53);
	    		text-align: center;
	    		border-radius: 10px;

	    		i {
	    			position: absolute;
	    			top: 50%;
	    			color: white;
					margin-left: -21px;
					margin-top: -21px;
	    		}
	    	}

			.answer-radios-group {
				text-align: center;
			}

			select,
			.answer-radio,
			.answer-checkbox,
			.answer {
				display: block;
			    padding: 10px 30px;
			    margin: 1px auto;
			    border: 1px solid #bdbdbd;
			    text-align: center;
			    border-radius: 10px;
			    font-size: 18px;
			    color: #333;
			    cursor: pointer;
			    font-weight: 600;
			    margin-bottom: 15px;
			    position: relative;

				@media #{$phone} {
					font-size: 15px;
					margin-bottom: 15px;
					padding-top: 8px;
					padding-bottom: 8px;
				}

				&.wrong {
					background: #f33651;
					border-color: #f33651;
					color: white;
				}

				.answer-mobile-tooltip {
					position: absolute;
					right: -25px;
					padding: 10px;
					padding-right: 0px;
					top: 50%;
					transform: translateY(-50%);

					i {
						color: #41afff;

						&:before {
							font-size: 17px;
						}
					}
				}

				.tooltip-text {
				    font-size: 18px;
					color: #41afff;

					@media #{$phone} {
						font-size: 16px;
					}
				}
			}


			.answer-radio,
			.answer-checkbox,
			.answer {

				&.active-label,
				&:hover {
					@media #{$phone_up} {
						border-color: #3daee6;
						color: white;
					    background: #3daee6;

					    i {
					    	color: white;
					    }

					    .tooltip-text {
							color: white;
						}
					}
				}

				&#birthyear-answer {
					min-width: 200px;
					padding-right: 1px;
				    padding-left: 10px;
				    text-align: left;
				    color: black;

					&:hover {
						background: white;
					}
				}

			}

			// select {
			// 	padding: 0px 15px;
			// }

			.answer-radio,
			.answer-checkbox {
				text-align: left;
				font-size: 16px;
				padding-left: 56px;
				position: relative;

				> i {
					position: absolute;
					top: 12px;
					left: 30px;
					padding-right: 8px;
					color: #bdbdbd;

					@media #{$phone} {
						top: 8px;
					}
				}

			    input.answer {
			    	display: inline-block;
				    width: auto;
				    vertical-align: baseline;
				    margin-bottom: 0px;
			    }

			    &.active:not(:hover) {
			    	color: $main-color;

			    	> i {
			    		color: $main-color;
			    	}
			    }
			}

			.answer-radio {
				width: auto;
				display: inline-block;
				margin: 0 auto;
				font-size: 0px;
				padding: 10px;
				border-radius: 50%;
			    border-color: #45b1ff;
			    margin-bottom: 30px;
			    margin-top: 20px;

				&:hover {
					width: auto;

					@media #{$phone} {
						width: 100%;
					}
				}
			}

			.answers-inner {
				width: 100%;

				.mobile-hide {
					@media #{$phone} {
						display: none;
					}
				}

				.fixed-titles {
					display: none;
					position: fixed;
				    top: 0;
				    width: 730px;
				    background: white;
				    z-index: 10;

				    @media screen and (max-width: 1200px) {
				        width: 596.66px;
				    }

				    @media screen and (max-width: 992px) {
				        width: 690px;
				    }

				    &.active {
				    	display: block;
				    }
				}

				.answer-title {
					float: left;
		    		padding: 0px 10px;
		    		vertical-align: middle;

		    		@media #{$phone} {
						width: 100% !important;
					}

		    		span {
						display: block;
						margin: 0 auto;
						font-weight: normal;
						text-align: center;
						color: #686b6d;
		    		}
				}

				//@media #{$phone} {
					.flickity {
					    width: auto;

						@media #{$phone} {
							margin: 0px -15px;
						}

						.flickity-page-dots {
							bottom: auto;
							top: 84px;

							@media #{$phone} {
								top: 6px;
							}

							.dot {
								margin: 0px 4px;
							    width: 35px;
							    height: 9px;
							    border-radius: 20px;
								background: #cfcfd1;
								opacity: 1;

								@media #{$phone} {
									margin: 0px 2px;
									width: 19px;
									height: 5px;
									border-radius: 2px;
								}
							}

							.dot.is-selected {
								background: #11689e;
								opacity: 1;
							}
							.dot.filled:not(.is-selected) {
								background: #38a6eb;
								opacity: 1;
							}
						}

						.answer-radios-group {
							width: 100%;
							//margin-right: 10px;
							border-radius: 5px;
							counter-increment: carousel-cell;

							&:before {
								display: block;
								text-align: center;
								line-height: 200px;
								font-size: 80px;
								color: white;
							}


							.answer-question {
								margin-bottom: 18px;
								background: #e0f0fd;
								width: 100%;
								text-align: center;
								border-radius: 20px;
								height: 127px;

								@media #{$phone} {
									padding: 24px 0px 5px 0px;
									border-radius: 0px;
									height: auto;
								}

								h3 {
								    text-align: center;
									padding: 0px 20px;
									margin: 0px 0px 5px 0px;
									display: inline-block;
									font-size: 20px;

									height: 86px;
								    display: flex;
								    align-items: center;
								    justify-content: center;

									@media #{$phone} {
										height: auto;
										display: block;
										font-size: 17px;
									}

									span {
										font-size: 20px;
										margin: 0px 5px;

										@media #{$phone} {
											margin: 0px;
											font-size: 17px;
										}
									}
								}
							}

							.buttons-list {
								display: inline-block;
								position: relative;
								width: auto;
								margin-right: auto;
								margin-left: auto;

								.answer-inner {
									width: 100% !important;
								}

								.answer-radio {
									padding: 10px 30px;
								    font-size: 18px;
								    margin-bottom: 15px;
									display: block;
								    margin: 1px auto;
								    border: 1px solid #bdbdbd;
								    text-align: center;
								    border-radius: 10px;
								    color: #333;
								    cursor: pointer;
								    font-weight: 600;

								    @media #{$phone} {
									    padding: 4px 30px;
									    font-size: 15px;
									    margin-bottom: 10px;
									}

									&.active-label {
										padding: 10px 30px;
		    							margin-top: 1px;
		    							color: white;

										@media #{$phone} {
								    		padding: 4px 30px;
								    	}
									}
								}

								@media screen and (min-width: 769px) {

									&.in-columns {
										display: flex;
						   				flex-wrap: wrap;

						   				.answer-inner {
						   					width: calc(50% - 10px) !important;
						   					display: flex;

						   					&:nth-child(2n) {
						   						margin-left: 20px;
						   					}

						   					.answer-radio {
						   						width: 100%;
											    display: flex;
											    align-items: center;

											    

						   						span {
						   							margin-right: 5px;
						   						}
						   					}
						   				}
									}
								}
							}

						}

						.flickity-prev-next-button {
							display: none;
						}
					}
				//}

				.answer-radios-group {
					//display: flex;
					align-items: center;

					//@media #{$phone} {
						display: block;
					//}

					&.scale-error {
						.buttons-list {
							.answer-inner {
								label {
									border-color: red;
								}
							}
						}
					}

					.answer-question {
						// width: 20%;
						// float: left;
					    //max-width: 20%;
						//flex: 1;
						text-align: right;

						//@media #{$phone} {
							max-width: none;
							flex: none;
						//}

						h3 {
							margin-bottom: 30px;
							margin-top: 20px;
							text-align: left;
							font-size: 18px;
							font-weight: bold;
							text-align: right;
							display: inline-block;

							.tooltip-text {
								font-size: 18px;
								color: #41afff;
							}
						}
					}

					.answer-inner {
						margin-bottom: 15px;

						.answer-radio {

							&:hover,
							&.active-label {
								background-color: #3daee6;
    							border-color: #3daee6;
    							color: white;
							}

							&.active-label {
								// padding: 15px;
    				// 			margin-top: 24px;
    				    		//transform: scale(1.5);

    				    		//@media #{$phone} {
    				    			transform: none;
    				    		//}
							}
						}
					}

					.buttons-list {
						//width: 80%;
						//flex: 1;

						//@media #{$phone} {
							width: auto;
							flex: none;
						//}
					}
				}
			}

			@media screen and (min-width: 769px) {

				&.in-columns {
					display: flex;
	   				flex-wrap: wrap;

	   				.checkbox {
	   					width: calc(50% - 10px);
	   					display: flex;

	   					&:nth-child(2n) {
	   						margin-left: 20px;
	   					}

	   					.answer-checkbox {
	   						width: 100%;
						    display: flex;
						    align-items: center;

	   						> i {
	   							margin-right: 4px;
	   							position: static;
	   							margin-left: -30px;
	   						}

	   						span {
	   							margin-right: 5px;
	   						}
	   					}
	   				}
				}
			}

		}
	}

	.question-group.scale {
		.answers {
			width: 100%;
		}		
	}

	.next-answer {
		display: block;
		width: 200px;
		margin: 0 auto;
		background-color: #41afff;
		padding: 5px 0px;
		text-align: center;
		color: white;
		font-weight: bold;
		border: 2px solid #41afff;
		border-radius: 10px;
		font-size: 20px;
		margin-top: 20px;
		transition: all 0.3s ease;

		&:hover {
			background-color: white;
			color: #38a2e5;
			transition: all 0.3s ease;
		}

		@media #{$phone} {
			font-size: 18px;
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

	.hint {
		width: 331px;
		margin: 40px auto 0px auto;
		font-size: 15px;
		color: #343434;
		text-align: center;

		@media #{$phone} {
			width: 100%;
		}
	}
}

.popup {

	&.first-test {
		.wrapper {
			.inner {
				max-width: calc(100% - 420px);

				@media screen and (max-width: 1100px) {
					max-width: calc(100% - 330px);
				}

				@media screen and (max-width: 860px) {
					max-width: calc(100% - 270px);
				}

				@media #{$phone} {
					max-width: 100%;
				}

				h2 {
					@media #{$phone} {
						font-size: 26px;
					}
				}

				h3 {
					@media #{$phone} {
						font-size: 18px;
					}
				}

				.rules {
					margin-top: 50px;
					margin-bottom: 50px;
					font-size: 18px;
					color: #333;
					text-transform: uppercase;
					text-align: center;

					@media #{$phone} {
						display: block;
						margin-top: 30px;
						margin-bottom: 30px;
					}
					.col {
						@media #{$phone} {
							margin: 20px 0px;
							font-size: 15px;
						}

						&:first-child {
							img {
								@media #{$phone} {
									order: -1;
								}

							}
						}
					}

					img {
						margin: 0px 20px;
						
						@media #{$phone} {
							height: 50px;
							margin: 0px 20px 0px 0px;
						}
					}
				}


				.icons {
					margin: 30px auto;
					max-width: 460px;

					.col {
						text-align: center;
						font-size: 15px;

						b {
							font-size: 15px;
						}

						@media screen and (max-width: 310px) {
							font-size: 12px;

							b {
								font-size: 12px;
							}
						}

						img {
							width: 60px;
							height: auto;
							margin-bottom: 18px;
							display: block;
							margin: 0 auto 15px auto;

							@media #{$phone} {
								width: 30px;
							}

							@media screen and (max-width: 310px) {
								width: 20px;
							}
						}
					}
				}

				.checkbox {
					margin-bottom: 20px;

					label {

						a {
							color: #40a0f4;
						}
					}
				}

				.btn {
					@media #{$phone} {
						font-size: 18px;
					}
				}
			}
		}
	}

	&.cross-checks {
		.wrapper {
			padding: 60px 30px;
			overflow-y: auto;

			.inner {
				max-width: calc(100% - 300px);

				@media screen and (max-width: 860px) {
					max-width: 100%;
				}

				h2 {
					margin-bottom: 30px;

					@media #{$phone} {
						margin-bottom: 20px;
					}
				}

				h4 {
					font-size: 22px;
					margin-bottom: 20px;

					@media screen and (max-width: 1200px) {
						font-size: 18px;
						margin-bottom: 10px;
					}

					@media #{$phone} {
						font-size: 14px;
						margin-bottom: 5px;
					}
				}

				.cross-checks-answers {
					margin-top: 30px;
					margin-bottom: 40px;
					display: inline-block;
				    position: relative;
				    width: auto;

					label {
						position: relative;
					    display: block;
					    margin-bottom: 20px;
						font-size: 24px;
						font-weight: bold;
						text-align: left;
					    padding-right: 56px;
					    position: relative;
					    cursor: pointer;

					    @media screen and (max-width: 1200px) {
							font-size: 20px;
							margin-bottom: 15px;
						}

						@media #{$phone} {
							font-size: 16px;
						}

						i {
							position: absolute;
							right: 0px;
							top: 50%;
    						transform: translateY(-50%);
							border-radius: 50%;
							width: 30px;
							height: 30px;
							border: 1px solid #00a6eb;

							@media screen and (max-width: 1200px) {
								width: 25px;
								height: 25px;
							}

							@media #{$phone} {
								width: 20px;
								height: 20px;
							}
						}

						&:hover,
						&.active {
							i {
								background-color: #00a6eb;
							}
						}
					}

					select {
						display: block;
					    padding: 10px 30px;
					    margin: 1px auto;
					    border: 1px solid #bdbdbd;
					    border-radius: 10px;
					    font-size: 18px;
					    cursor: pointer;
					    font-weight: 600;
					    margin-bottom: 15px;
					    position: relative;
						min-width: 200px;
						padding-right: 1px;
					    padding-left: 10px;
					    text-align: left;
					    color: black;

						@media #{$phone} {
							font-size: 15px;
							margin-bottom: 15px;
							padding-top: 8px;
							padding-bottom: 8px;
						}

						&:hover {
							background: white;
							border-color: #3daee6;
						}
					}
				}

				.white-button {
					color: #38a2e5;
					padding: 7px 40px;
					border-color: #38a2e5;

					@media #{$phone} {
						display: inline-block;
						width: auto;
					}

					&:focus,
					&:hover {
						color: white;
						background-color: #38a2e5;
					}
				}
			}
		}
	}
}


.popcircle {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(229, 243, 247, 0.2);
	z-index: 1000;
	display: none;
	overflow: hidden;

	&.active {
		display: block;
	}

	.zman {
		position: absolute;
		bottom: 0px;
		right: 295px;
		z-index: 1050;
		transform: scale(0.5);
    	transform-origin: 100% 100%;

		@media #{$phone} {
			right: 50%;
		    transform: translateX(50%) scale(0.5);
    		transform-origin: 50% 100%;
		    bottom: -80px;
		}
	}

	.wrapper {
		position: absolute;
		z-index: 1100;
		bottom: -50px;
		right: -140px;
		padding: 150px 90px;
		width: 550px;
		height: 550px;
		background-position: 50% 50%;
		background-size: contain;

		@media #{$phone} {
			width: 500px;
		    height: 500px;
		    min-width: 0;
		    bottom: -300px;
		    left: 50%;
		    transform: translateX(-50%);
		    padding: 50px 120px;
		}

		h2 {
			color: #060606;
			font-size: 25px;
			font-weight: 900;
			margin-bottom: 20px;

			@media #{$phone} {
				font-size: 22px;
				text-align: center;
				margin-bottom: 10px;
			}
		}

		p {
			color: #090909;
			font-size: 20px;
			margin-bottom: 25px;
    		width: 300px;
    		line-height: 1.2;

			@media #{$phone} {
				font-size: 12px;
    			text-align: center;
    			width: auto;
				margin-bottom: 10px;
			}
		}

		.btn {
			height: 57px;
			line-height: 57px;
			color: #050505;
			padding: 0px 60px;
			display: inline-block;
			font-size: 20px;
			font-weight: 500;
			background: white;
			box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.22);
			border-radius: 9px;
			text-transform: uppercase;

			@media #{$phone} {
				height: 40px;
				line-height: 40px;
				display: block;
				font-size: 14px;
				text-align: center;
			}

			i {
				color: #050505;

				&.fa-redo {
					transform: rotate(180deg);
				}
			}
		}
	}
}

.refresh-q,
.go-back-admin {
    padding: 2px 10px;
    background: #41afff;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    position: absolute;
    right: 0px;
    top: 4px;

    &:hover {
    	color: white;
    }

    @media #{$phone} {
	    padding: 0px 5px;
	    font-size: 15px;
	    top: 3px;
	    right: 0px;
    }

    &.refresh-q {
	    background: #03d3f4;
	    top: -26px;
    }
}