$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 1080px)";
$phone: "screen and (max-width: 768px)";
$phone_up: "screen and (min-width: 769px)";

$main-color: #38ace5;

.page-daily-polls {

	h1 {
		font-size: 25px;
	    font-weight: bold;
	    text-align: center;
	    text-transform: uppercase;
	    margin-bottom: 70px;

	    @media #{$phone} {
	    	font-size: 17px;
	    	margin-bottom: 17px;
	    }
	}

	.back-home {
		text-transform: none;
		padding-left: 15px;
		font-size: 20px;
		color: #68ade3;
		margin-bottom: -28px;
		background: url(../new-vox-img/polls-back.png) 0px 50% no-repeat;

		@media #{$phone} {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}

#calendar {
	position: relative;
	border-top: 10px solid #38ace5;
	padding: 20px;
	box-shadow: 0 0 10px #c3c3c3;

	@media #{$phone} {
		padding: 13px 0px 0px;
		border-top-width: 6px;
	}

	td.to-take {
		border: 2px solid #e67f96;
		
		.poll-day {
			.poll-q {
				font-weight: bold;
			}
		}
	}

	.poll-day {
		display: block;
		height: 100%;
		position: relative;
		padding: 4px;

		&:hover {
			.poll-q {
				opacity: 0;
			}

			.butn {
				opacity: 1;
			}
		}

		.fc-day-number {
			position: absolute;
			right: 0px;
			top: 0px;
		}

		i {
			position: absolute;
		    top: 6px;
		    right: 27px;
		}

		.poll-q {
			font-size: 16px;
			font-weight: 300;
			color: #060606;
			padding-left: 4px;
    		padding-top: 3px;
			max-height: 64px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;

    		@media #{$pc} {
				font-size: 13px;
			}

			@media screen and (max-width: 992px) {
				-webkit-line-clamp: 2;
				padding-top: 0px;
			}

		}

		.poll-image {
			max-width: 28px;

			@media #{$pc} {
				max-width: 18px;
			}
		}

		.poll-stat-image {
			max-width: 16px;
			position: absolute;
			bottom: 5px;
			right: 3px;
		}

		.poll-take-image {
			max-width: 11px;
			position: absolute;
			bottom: 8px;
			right: 8px;
		}

		.poll-taken-image {
			max-width: 16px;
			position: absolute;
			right: 24px;
			bottom: 5px;
		}

		.butn {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			padding: 3px 14px;
			border: 1px solid black;
			border-radius: 10px;
			font-size: 20px;
			font-weight: 300;

			@media #{$pc} {
				font-size: 14px;
			}

			&.answer {
				background-color: white;
				font-weight: bold;
			}
		}
	}

	.fc-prev-button,
	.fc-next-button {
		background-color: #3eafe6;
		border-color: white;
	    box-shadow: none;

	    @media #{$phone} {
	    	padding-top: 0px;
	    	padding-left: 4px;
    		padding-right: 4px;
	    }

		span {
			color: white;
		}
	}

	.fc-today-button {
		background-color: #3eafe6;
		border-color: #3eafe6;
		box-shadow: none;

		@media #{$phone} {
			position: absolute;
			right: 10px;
			padding: 3px 5px;
		}
	}

	.fc-right {
		@media #{$phone} {
			display: none;
		}
	}

	.fc-center {
		@media #{$phone} {
			flex: 1;
		    margin-right: 50px;
		    text-align: center;
		}

		h2 {
			font-weight: 600;
		}
	}

	.fc-button-group {

		.fc-listMonth-button,
		.fc-dayGridMonth-button {
			background-color: white;
			border-color: #3eafe6;
			color: #3eafe6;
			border-width: 2px;
			outline: none !important;
			box-shadow: none;

			&.fc-button-active {
				background-color: #3eafe6;
				color: white;
			}
		}
	}

	.fc-center {
		h2 {
			@media #{$phone} {
				font-size: 16px;
			}
		}
	}

	.fc-header-toolbar {
		@media #{$phone} {
			padding: 0px 10px;
		}
	}

	.fc-list-empty-wrap1 {
		min-height: 400px;

		.info-list {
			background-color: #eeeeee;
		    display: flex;
		    justify-content: end;
		    align-items: center;
		    padding: 10px 15px;
		    border-bottom: 1px solid #dfdfdf;

		    .poll-full-date,
			.day-word {
				font-weight: bold;
				color: #060606;
			} 
			.day-word {
				flex: 1;
			}
		}

		.list-event {
			display: block;
			border-bottom: 1px solid #dfdfdf;
			padding: 10px 0px 10px 86px;
			position: relative;
			font-size: 16px;
			font-weight: 300;
			color: #060606;

			@media #{$tablet} {
				padding: 0px;
				display: flex;
			}

			.mobile-poll-date {
				max-width: 55px;
				padding: 10px;
				flex: 1;
				display: flex;
			    flex-direction: column;
			    align-items: center;
			    justify-content: center;

			    .poll-day-word,
			    .poll-day-mobile {
					color: #060606;
					font-weight: 300;
			    }
			}

			i {
				position: absolute;
			    left: 17px;
			    top: 50%;
			    transform: translateY(-50%);

			    @media #{$tablet} {
			    	left: 57px;
			    	top: 2px;
			    	transform: none;
			    }
			}

			.mobile-poll-content {
				flex: 1;
				padding-left: 52px;
				position: relative;
				display: flex;
				align-items: center;
				padding-right: 60px;

				.poll-image {
					left: 12px;
				}
			}

			&.to-take {
				border: 1px solid #e67f96;
				font-weight: bold;

				@media #{$tablet} {
					border: none;
					font-weight: normal;
				}

				.mobile-poll-content {
					border: 1px solid #e67f96;
					font-weight: bold;
				}

				.mobile-poll-date {
					border-bottom: 1px solid #dfdfdf;
				}
			}

		    .poll-image {
		    	max-width: 28px;
		    	position: absolute;
			    left: 50px;
			    top: 50%;
			    transform: translateY(-50%);
		    }

		    .poll-take-image {
		    	max-width: 15px;
		    	position: absolute;
		    	right: 10px;
		    	top: 50%;
			    transform: translateY(-50%);

			    @media #{$tablet} {
			    	max-width: 10px;
			    	right: 13px;
			    }
		    }

		    .poll-taken-image {
				max-width: 28px;
				position: absolute;
				left: 17px;
				top: 50%;
				transform: translateY(-50%);

				@media #{$tablet} {
					max-width: 16px;
					left: auto;
					right: 32px;
				}
		    }

		    .poll-stat-image {
				max-width: 20px;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);

				@media #{$tablet} {
					max-width: 16px;
				}
		    }
		}
	}
}