$big_pc: "screen and (max-width: 1590px)";
$medium_pc: "screen and (max-width: 1450px)";
$pc: "screen and (max-width: 1300px)";
$pc_small: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 1080px)";
$phone: "screen and (max-width: 768px)";
$phone_up: "screen and (min-width: 769px)";

$main-color: #38ace5;

@import 'vox-index-part';
@import 'vox-index-home';

.index-container {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

	@media screen and (min-width: 992px) {
		width: 970px;
	}
	@media screen and (min-width: 1200px) {
		width: 1170px;
	}
	@media screen and (min-width: 1500px) {
		width: 1470px;
	}

	@media #{$phone} {
		flex-direction: column;
		width: 100%;
	}
}

.logged-in {
	.full {
		margin-top: -40px;

		@media #{$phone} {
		 	margin-top: 0px;
		}
	}
}

.full {
	background-image: url(../new-vox-img/dv-home.jpg);
    height: calc(100vh - 70px);
    background-size: cover;
    background-position: 50%;
    position: relative;
    overflow-x: clip;

    @media screen and (max-width: 1300px) {
    	background-position: 40% 50%;
    }

    @media #{$tablet} {
    	background: none;
    }

    @media #{$phone} {
    	height: auto;
    	padding-top: 0%;
    	// background-position: 50% 50%;
    	// background-image: url(../new-vox-img/dv-home-mobile.jpg);
    }

    @media screen and (min-width: 1300px) and (max-height: 1080px ) {
    	background-size: contain;
    	background-repeat: no-repeat;

    }

    .blue-circle {
    	position: absolute;
	    right: -20px;
	    top: 0;

	    @media #{$pc_small} {
	    	max-width: 110px;
	    }

	    @media #{$phone} {
	    	display: none;
	    }
    }

    .first-absolute {
	    position: absolute;
	    top: 47%;
    	left: 60%;
    	transform: translateY(-50%);
	    z-index: 1;

	    @media screen and (max-width: 1250px) {
	    	left: 58%;
	    }

	    @media #{$pc_small} {
	    	left: 60%;
	    }

	    @media #{$tablet} {
		    top: 0px;
		    left: 0px;
		    transform: none;
		    width: 100%;
		    text-align: center;
		    display: flex;
			flex-direction: column;
			align-items: center;
			position: static;
		}

    	h1 {
		    font-size: 80px;
		    font-weight: 900;
		    max-width: 570px;
		    margin-bottom: 10px;
		    line-height: 89px;
		    text-transform: uppercase;

		    @media #{$big_pc} {
				font-size: 66px;
				font-weight: 900;
				max-width: 570px;
				line-height: 71px;
			}

			@media #{$pc_small} {
				font-size: 56px;
				line-height: 61px;
			}

			@media #{$tablet} {
				width: 100%;
			    max-width: 100%;
			    margin-top: 80px;
			}

			@media #{$phone} {
				font-size: 22px;
			    font-weight: 900;
			    text-transform: uppercase;
			    text-align: center;
			    padding: 0px 20px;
			    margin-bottom: 0px;
			    margin-top: 10px;
			    line-height: normal;
			}
    	}

    	h2 {
			font-size: 70px;
			line-height: 59px;

			@media #{$big_pc} {
				font-size: 60px;
			}

			@media screen and (max-width: 1400px) {
				font-size: 50px;
				line-height: 39px;
			}

			@media #{$pc_small} {
				font-size: 40px;
    			line-height: 39px;
			}

			@media #{$tablet} {
				font-size: 60px;
    			line-height: normal;
			}

			@media #{$phone} {
			    text-align: center;
			    font-size: 22px;
			}
    	}

	    a {
    		margin-top: 30px;

    		@media #{$pc_small} {
    			margin-top: 10px;
    		}

    		@media #{$tablet} {
	    		width: auto;
			    font-size: 35px;
			    margin-bottom: 40px;
			}

			@media #{$phone} {
				font-size: 18px;
			}
	    }

	    .tablet-home-image {
	    	display: none;

	    	@media #{$tablet} {
	    		display: block;
	    		max-width: 100%;
	    		order: 4;
	    		// margin-top: 40px;
	    	}

	    	@media #{$phone} {
	    		display: none;
	    	}
	    }

	    .mobile-home-image {
	    	display: none;
			height: auto !important;

	    	@media #{$phone} {
	    		display: block;
	    		order: initial;
	    		// margin-top: 0px;
	    	}
	    }
    }
}

.section-recent-surveys {
	margin-top: -1px;
    background: white;
    position: relative;

    .swiper-slide  {
    	.slider-inner {

    		@media screen and (max-width: 1350px) {
		    	padding: 0px 15px;
		    }

		    @media #{$phone} {
		    	padding: 0px;
		    }

		    .vox-header {
		    	@media #{$phone} {
		    		padding: 5px;
		    	}
		    }
		}
	}
}

.genuine-reports-wrapper {
	margin-top: 164px;
	margin-bottom: 170px;

	@media #{$medium_pc} {
		margin-top: 85px;
	}

	@media #{$phone} {
		margin-top: 50px;
		margin-bottom: 60px;
	}

	.flex {
		margin-top: 47px;
		text-align: center;

		@media #{$phone} {
			margin-top: 27px;
		}

		img {
			width: 100%;
			max-width: 310px;

			@media #{$pc_small} {
				max-width: 270px;
			}
		}

		h3 {
			font-weight: 900;
			margin-top: 30px;
			color: #333;
		}

		p {
			font-size: 20px;
			color: #565656;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 40px;

		    @media #{$tablet} {
		        max-width: 400px;
		    }

		    @media #{$phone} {
		    	font-size: 16px;
		    	margin-bottom: 15px;
		    }

		    br {
		    	@media screen and (max-width: 1400px) {
		    		display: none;
		    	}
		    }
		}

		.blue-button {
			min-width: 252px;
			font-size: 24px;
		    font-weight: bold;
		    border-radius: 17px;
		    padding: 16px 40px;

		    @media #{$tablet} {
				font-size: 20px;
				min-width: 222px;
			}

			@media #{$phone} {
				margin-bottom: 0px;
				border-radius: 10px;
				font-size: 18px;
				min-width: 172px;
			}
		}

		.col {

			@media screen and (max-width: 1400px) {
				margin: 0px 20px;
			}

			@media #{$tablet} {
				margin: 0px;
			}

			&:last-child {
				p {
					margin-bottom: 14px;

					@media screen and (max-width: 1400px) {
						margin-bottom: 95px;
					}

					@media #{$pc_small} {
						margin-bottom: 55px;
					}

					@media #{$phone} {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

.get-app-wrapper {
	margin-top: 300px;
	margin-bottom: -270px;
	position: relative;
	background-image: url('../new-vox-img/blue-bubble-background.jpg');
	background-size: cover;
	background-position: 50% 0%;
	overflow-x: clip;
	// padding-top: 35%;

	@media screen and (max-width: 1650px) {
		margin-bottom: -200px;
	}

	@media #{$pc_small} {
		margin-top: 200px;
	}

	@media #{$tablet} {
		margin-bottom: -130px;
	}

	@media screen and (max-width: 900px) {
		margin-bottom: -90px;
		padding-top: 80px;
	}

	@media #{$phone} {
		padding-top: 0px;
		margin-top: 60px;
		margin-bottom: 0px;
		flex-flow: row wrap;
		flex-direction: unset !important;
	}

	.phone-col {
		display: flex;
	    align-items: center;
	    justify-content: center;

	    @media #{$phone} {
	    	width: 50%;
	    }

	    .phone {
			max-width: 100%;
			margin-left: 60px;
			display: block;
			transform: translateY(200px);
			transition: all 0.4s ease;

			@media #{$phone} {
				transform: translateY(0px);
				margin-left: 23px;
			}
	    }
	}

	.mobile-info-col {
		margin-top: -300px;
		position: relative;
		z-index: 100;

		@media screen and (max-width: 1500px) {
		    margin-right: 20px;
    		margin-left: 20px;
    	}

    	@media screen and (max-width: 1300px) {
    		margin-top: -200px;
    	}

    	@media #{$tablet} {
    		margin-right: 0px;
    		margin-left: 0px;
    		min-width: 409px;
    	}

    	@media #{$phone} {
    		margin-top: 0px;
    	    order: -1;
    	    padding: 15px 15px 20px !important;
    		width: 100%;
    		min-width: 100%;
    	}

    	img {
    		margin-bottom: 20px;

    		@media screen and (max-width: 1300px) {
    			max-width: 100px;
    		}

    		@media #{$pc_small} {
    			max-width: 80px;
    		}

    		@media #{$tablet} {
    			max-width: 60px;
    			margin-bottom: 10px;
    		}

    		@media #{$phone} {
    			max-width: 100px;
    		}
    	}

	    h2 {
	    	margin-bottom: 30px;
	    	color: white;

	    	@media screen and (max-width: 900px) {
	    		margin-bottom: 20px;
	    	}
	    }

	    p.h2-bold {
	    	margin-bottom: -3px;
	    	color: white;
	    }

	    .mobile-app-button {
			background-size: cover;
			background-position: 50% 50%;
			padding-top: 11%;
		    width: 230px;
		    border: 2px solid white;
		    border-radius: 8px;
		    transition: all 0.2s ease;

		    @media screen and (max-width: 1650px) {
		    	padding-top: 12%;
		    }

		    @media screen and (max-width: 1500px) {
			    padding-top: 13%;
	    	}

	    	@media #{$pc_small} {
	    		width: 210px;
	    	}

	    	@media #{$tablet} {
	    		width: 180px;
	    	}

	    	@media #{$phone} {
	    		padding-top: 0px;
	    		height: 57px;
	    	}

	    	@media screen and (max-width: 400px) {
			    padding-top: 13%;
	    		height: auto;
	    	}

		    &:hover {
		    	box-shadow: 0px 0px 27px 5px white;
		    	transition: all 0.2s ease;
		    }

	    	&.google-play {
	    		background-image: url('../new-vox-img/google-play.svg');
	    		margin-right: 29px;

		    	@media #{$phone} {
		    		margin-right: 16px;
		    	}
	    	}

	    	&.app-store {
	    		background-image: url('../new-vox-img/app-store.svg');
	    	}
	    }
	}

    .white-wave {
    	position: absolute;
    	bottom: -170px;
    	width: 100%;
    	transition: all 0.5s ease;

    	@media #{$phone} {
    		bottom: 0px;
    	}
    }

    &.animation-activated {
    	.phone-col {
		    .phone {
				transform: translateY(-130px);
				transition: all 0.4s ease;

				@media #{$pc_small} {
					transform: translateY(-90px);
				}
				@media #{$phone} {
					transform: translateY(0px);
				}
		    }
		}

	    .white-wave {
	    	bottom: 0px;
	    	transition: all 0.5s ease;
	    }
    }
}

.ready-to-start-wrapper {
	.col {

		@media #{$phone} {
			text-align: center;
		}

		&:first-child {
			margin-right: 85px;

			@media #{$phone} {
				margin-right: 0px;
				order: 2;
				margin-top: 30px;
			}

			img {
				max-width: 100%;
				display: block;
    			margin-left: auto;
			}
		}

		p {
			text-align: left;
			margin-top: -70px;

			@media #{$phone} {
				text-align: center;
				margin-top: 0px;
			}
		}

		h2 {
			margin-bottom: 40px;

			@media #{$phone} {
				margin-bottom: 20px;
			}
		}
	}
}

.all-surveys-container {
	margin-top: 40px;
	position: relative;

	@media #{$phone} {
	    padding-bottom: 35px;
	    position: relative;
	    margin-top: 20px;

	    &:after {
	    	content: '';
	    	position: absolute;
	    	bottom: 0px;
	    	left: 50%;
	    	transform: translateX(-50%);
	    	width: 157px;
	    	height: 1px;
	    	background-color: black;
	    }
    }

    img {
    	position: absolute;
        left: 0px;

        @media #{$tablet} {
        	max-width: 150px;
        }

    	@media #{$phone} {
    		max-width: 55px;
			bottom: -35px;
    	}
    }
}

.blue-button {
	@media screen and (max-width: 1490px) {
		padding: 10px 15px !important;
		font-size: 16px;
	}

	&.mobile-button-index {
	}
}

.mobile-button-index-wrapper {
	position: relative;
	margin-top: 15px;
	margin-bottom: 40px;
	padding-bottom: 50px;

	&:after {
		content: "";
		position: absolute;
		bottom: 0px;
		height: 1px;
		width: 158px;
		left: 50%;
		transform: translateX(-50%);
		background-color: black;
	}
}