$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 1080px)";
$phone: "screen and (max-width: 768px)";
$phone_up: "screen and (min-width: 769px)";

$main-color: #38ace5;


.level-wrapper {
	background-color: #42b0e7;
	padding: 25px 0px;
    margin-bottom: 70px;

    @media #{$phone} {
    	padding: 15px 0px;
    	margin-bottom: 30px;
    }

	.container {
		max-width: 980px;
    	margin: 0 auto;

    	@media screen and (max-width: 992px) and (min-width: 769px ) {
    		width: 100%;
    		max-width: none;
		    width: auto;
		    margin: 0px;
		    padding: 0px;
    	}

    	@media #{$phone} {
    		padding: 0px 10px;
    	}

    	.flex {
    		@media #{$phone} {
    			flex-wrap: wrap;
    			align-items: unset;
    		}
    	}

    	.col {
    		text-align: center;
    		position: relative;

    		@media screen and (max-width: 992px) and (min-width: 769px ) {
    			padding: 0px;
    		}

    		@media #{$phone} {
    			flex: none;
    			padding: 0px;
    			width: 33%;
    		}

    		&:nth-child(2) {
    			@media #{$phone} {
    				order: -1;
    			}
    		}

    		&:after {
    			content: '';
			    position: absolute;
			    right: 0px;
			    height: 91px;
			    width: 1px;
			    top: 50%;
			    transform: translateY(-50%);
    			background-image: url('../new-vox-img/lifetime-border.png');

    			@media #{$phone} {
    				display: none;
    			}
    		}

    		img {
    			max-width: 76px;

    			@media #{$phone} {
    				max-width: 62px;
    				height: auto;
    			}
    		}

    		p {
    			font-size: 20px;
    			color: white;
    			font-weight: 300;

    			@media #{$pc} {
    				font-size: 19px;
    			}

    			@media screen and (max-width: 992px) and (min-width: 769px ) {
    				font-size: 17px;
    			}

    			@media #{$phone} {
    				font-size: 16px;
    			}

    			&.bold {
    				font-weight: bold;
    			}

    			&.big {
    				font-size: 40px;
    				line-height: 33px;

    				@media #{$phone} {
	    				font-size: 30px;
	    			}
    			}
    		}

    		&.lifetime-rewards {
    			text-align: left;
    			padding-left: 20px;

    			@media screen and (max-width: 992px) and (min-width: 769px ) {
    				padding-left: 11px;
    			}

    			@media #{$phone} {
    				width: 100%;
    				display: flex;
    				padding-left: 5px;
					justify-content: space-between;
					padding-top: 18px;
    				margin-top: 15px;
    			}

    			&:after {
    				display: none;

    				@media #{$phone} {
	    				display: block;
	    				background-image: url('../new-vox-img/lifetime-border-horizontal.png');
	    				width: 91px;
	    				height: 1px;
	    				top: 0px;
	    				left: 50%;
	    				transform: translateX(-50%);
	    			}
    			}

    			.flex {
    				@media #{$phone} {
    					align-items: center;
    				}
    			}

    			.flex:first-child {
    				margin-bottom: 10px;

    				@media #{$phone} {
    					margin-bottom: 0px;
    				}
    			}

    			.circle {
    				width: 14px;
    				min-width: 14px;
				    height: 14px;
				    background: white;
				    border-radius: 50%;
				    margin-right: 10px;

				    @media #{$phone} {
				    	width: 9px;
	    				min-width: 9px;
					    height: 9px;
				    	margin-right: 5px;
				    }

				    @media screen and (max-width: 370px) {
				    	display: none;
				    }
    			}
    		}
    	}
	}
}

.all-qs-wrap {
	@media #{$phone} {
		padding: 0px;
	}
}

.all-taken-wrapper {
	max-width: 980px;
    margin: 0 auto;
    align-items: center;

    @media screen and (max-width: 992px) and (min-width: 769px ) {
		width: 100%;
		max-width: none;
	    width: auto;
	    margin: 0px;
	}

	.col {
		text-align: left;

		@media #{$phone} {
			text-align: center;
		}
	}

	img {
	    max-width: 100%;

	    @media #{$phone} {
	    	max-width: 70%;
	    }
	}

	h3 {
		font-size: 28px;
    	font-weight: bold;
    	margin-bottom: 0px;

    	@media screen and (max-width: 992px) {
    		font-size: 26px;
    	}

    	@media #{$phone} {
    		font-size: 22px;
    	}
	}

	b,p {
		font-size: 20px;

		@media #{$phone} {
    		font-size: 16px;
    	}
	}

	b {
		margin-top: 20px;
		display: block;
	}

	.btns {
		margin-top: 20px;

		a {
			padding: 18px 23px;
			font-size: 21px;
    		font-weight: bold;
    		border-width: 1px;

    		@media screen and (max-width: 992px) {
	    		padding: 16px 13px;
    			font-size: 17px;
	    	}

	    	@media #{$phone} {
		    	padding: 13px 10px;
	    		font-size: 15px;
	    	}

    		&:first-child {
    			margin-right: 5px;

    			@media #{$phone} {
    				margin-right: 0px;
    			}
    		}
		}
	}
}

.daily-poll-welcome {
	text-align: center;

	@media screen and (max-height: 800px) and (min-width: 769px ) {
		margin-top: -30px;
	}

	.flex-mobile {
		@media #{$phone} {
			align-items: center;
		}
		.col {
			&:first-child {
				@media #{$phone} {
					order: 2;
					text-align: left;
				}
			}
		}
	}

	h3 {
		margin-bottom: 5px;

		@media #{$phone} {
			font-size: 20px;
		}
	}

	h4 {
		margin-bottom: 25px;

		@media #{$phone} {
			font-size: 17px;
		}

		b {
			color: #3bade5;
			font-weight: normal;
		}

		&.title-next {
			margin-top: 35px;
			font-weight: bold;
			margin-bottom: 30px;

			@media #{$phone} {
				font-size: 21px;
				margin-top: 20px;
			}
		}
	}

	.poll-man {
		@media screen and (max-height: 800px) and (min-width: 769px ) {
			height: 220px;
		}
	}

	img {
		max-width: 100%;

		@media #{$phone} {
			height: auto;
		}
	}

	.doing-next {
		margin-bottom: 65px;

		@media #{$phone} {
			display: block;
		}

		.col {

			> img {
				max-width: 126px;
				display: block;
	   			margin: 0 auto 20px;

	   			@media screen and (max-height: 800px) and (min-width: 769px ) {
					max-width: 106px;
				}

	   			@media #{$phone} {
	   				display: none;
	   			}
			}

			.blue-button {
				@media #{$phone} {
					position: relative;
				    display: block;
				    max-width: 260px;
				    margin-right: auto;
				    margin-left: auto;
				    margin-bottom: 20px;
				    text-align: left;
				    padding-left: 53px;
				    padding-top: 15px;
				    padding-bottom: 15px;
				    font-size: 15px;
				}

				img {
					display: none;

					@media #{$phone} {
						display: block;
					    position: absolute;
					    max-width: 60px;
					    left: -20px;
					    top: 50%;
					    transform: translateY(-50%);
					    border: 5px solid #38ace5;
					    border-radius: 50%;
					    background-color: #38ace5;
					}
				}
			}
		}
	}
}
.search-survey {
	position: relative;
	margin-top: 35px;
	margin-bottom: 15px;
	width: 304px;

	@media #{$tablet} {
		margin-left: auto;
		margin-right: auto;
	}

	@media #{$phone} {
    	margin-left: 5%;
    	width: 45%;
    	margin-top: 25px;
	}

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #007fff; /* Old browsers */
		background: -moz-linear-gradient(left, #007fff 0%, #75d5ff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #007fff 0%,#75d5ff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #007fff 0%,#75d5ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fff', endColorstr='#75d5ff',GradientType=1 );
	}

	i {
		color: #38a2e5;
		font-size: 18px;
	}

	input {
		border: none;
		height: 28px;
		padding-left: 5px;
    	width: calc(100% - 25px);
	}
}

#questions-wrapper {

	@media #{$phone} {
		margin-top: 10px;
	}
}

.questions-menu {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;

	@media #{$phone} {
		margin-bottom: 20px;
	}

	&.filter-items {
		@media #{$phone} {
			margin-bottom: 0px;
		}
	}

	.sort-menu,
	.sort-category {
		width: 50%;
		float: left;

	}
	.sort-menu {
		@media #{$tablet} {
			float: none;
			margin-left: auto;
			margin-right: auto;
		    display: inline-block;
		    width: auto;
		}

		@media #{$phone} {
			text-align: center;
		}
	}

	.filter-menu {
		margin-left: 5px;

		@media #{$tablet} {
			margin-left: auto;
			margin-right: auto;
		    display: inline-block;
		}

		@media #{$phone} {
			text-align: center;
		}

		label {
			cursor: pointer;
			border: 1px solid #61b1f6 !important;
			border-radius: 10px;
			min-width: 100px;
			display: inline-block;
			text-align: center;
			padding: 2px;
			font-weight: 600;
			color: #50ade8;
			margin-right: 5px;
			transition: all 0.3s ease;

			@media #{$phone} {
				min-width: 90px;
			}

			&:hover,
			&.active {
				background-color: #d3ebfb;
				transition: all 0.3s ease;
			}
		}
	}

	.sort-category {
		@media #{$tablet} {
			display: none;
		}

		@media #{$phone} {
		    display: block;
		    position: absolute;
		    top: -37px;
		    width: 40%;
		    right: 5%;
		}
	}

	select {
		border: 1px solid #61b1f6;
		border-radius: 10px;
		height: 27px;
		padding: 0px 10px;
		margin-left: 7px;
		font-size: 15px;
    	background: white;

		@media #{$phone} {
    		width: 100%;
    		height: 23px;
    	}		
	}

	span {
		font-size: 15px;
		color: #333;

		@media #{$phone} {
			display: none;
		}
	}

	a {
		padding-right: 8px;
		padding-left: 8px;
		font-size: 15px;
		color: #333;
		border-right: 1px solid #373737;
		transition: all 0.3s ease;
		position: relative;

		@media #{$phone} {
			text-transform: capitalize;
			margin-bottom: 5px;
			display: inline-block;
		}

		i {
			color: #333;
			vertical-align: text-top;
			position: absolute;
			top: 3px;
			left: 0px;
			font-size: 12px;

			@media #{$phone} {
				top: 1px;

				&:before {
					font-size: 11px;
				}
			}
		}

		&:first-child {
			// padding-left: 17px;
		}

		&:last-child {
			border-right: none;
		}

		&.active,
		&:hover {
			color: #38a2e5;
			transition: all 0.3s ease;

			i {
				color: #38a2e5;
			}
		}

		&.active.sortable {
			padding-right: 17px;

			&:after {
				content: '';				
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				top: 8px;
				right: 8px;
				border-width: 4px 3px 0 3px;
				border-color: #38a2e5 transparent transparent transparent;
			}

			&.order-asc {
				&:after {
					border-width: 0 3px 4px 3px;
					border-color: transparent transparent #38a2e5 transparent;
					top: 7px;
				}
			}
		}
	}
}
.another-questions {
	text-align: center;
	padding-top: 40px;

	@media #{$phone} {
		padding-top: 0px;
	}

	h1 {
		font-size: 30px;
		font-weight: normal;
		text-transform: uppercase;
		color: #020202;
		text-align: center;
		margin-bottom: 39px;
		position: relative;

		@media #{$phone} {
			font-size: 26px;
			margin-bottom: 0px;
			padding: 0px 10px;
		}
	}

	.filters-section {

		max-width: 980px;
		margin: 0 auto;

		@media #{$pc} {
			max-width: 900px;
		}

		@media (max-width: 992px) {
			max-width: 700px;
		}

		@media (max-width: 768px) {
			width: 100%;
		}
	}


	.section-recent-surveys {		

		.questions-inner {
			position: relative;
			padding: 20px 0px;
		    margin-left: auto;
		    margin-right: auto;
		    display: flex;
		    flex-wrap: wrap;
		    text-align: left;
			max-width: 1040px;

		    .swiper-slide {
		    	width: 460px;
		    	margin-left: 30px;
		    	margin-right: 30px;
		    	margin-bottom: 50px;
		    	display: block !important; 
				
				@media #{$pc} {
					width: 430px;
					margin-left: 20px;
					margin-right: 20px;
				}

				@media (max-width: 992px) {
					width: 320px;
				}

				@media #{$phone} {
					width: 100%;
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 20px;
				}

				&.request-vox {
					.slide-padding {
						background-color: #ffd9e4;

						.cover {
							background-position-y: -30px;
						}
					}

					.survey-cats {
						span {
							color: #ff0046;
							border-color: #ff0046;
						}
					}

					.blue-button {
						background-color: #ff0046;
						border-color: #ff0046;

						&:hover {
							background-color: #eb3869;
							border-color: #eb3869;
						}
					}
				}

		    	.slider-inner {
		    		padding: 0px;
		    		height: 100%;

			    	.vox-header {
			    		padding: 10px;

			    		.right {
			    			.btns {
			    				text-align: left;

			    				a {
									padding-left: 20px;
									padding-right: 20px;
									display: inline-block;
									text-align: center;

									@media (max-width: 768px) {
										display: block;
									}

									&:first-child {
										margin-right: 10px;

										@media (max-width: 768px) {
											margin-right: 0px;
										}
									}
								}
							}
				    	}

				    	.second-flex {
				    		flex-direction: column;
				    	}

			    		.left h4 {
			    			font-size: 18px;

							.vox-description {
								@media screen and (max-width: 1600px) {
							    	max-height: 79px;
							    }
							}
			    		}

			    		.btns {
			    			a {
			    				@media (max-width: 768px) {
			    					font-size: 15px;
			    					padding: 10px;
			    				}
			    			}
			    		}
			    	}
		    	}

		    }
		}

		.give-me-more {
			font-size: 13px;
			font-weight: 500;
			color: #b7dffa;
			text-align: center;
			padding-bottom: 15px;
			background: url(../new-vox-img/down-blue.png) 50% 100% no-repeat;
			display: block;
			margin-bottom: 30px;
		}
	}
}

.alert-done-all-surveys {
	max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    border-width: 1px;
    margin-bottom: 50px;
    padding: 25px 20px 25px 90px;

    @media #{$pc} {
		max-width: 900px;
		font-size: 17px;
		margin-bottom: 30px;
    }

    @media #{$phone} {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 14px;
		padding: 10px 10px 10px 50px;
	}

	&:before {
		background: url('../new-vox-img/checklist.png');
		content: '' !important;
	    width: 70px;
	    height: 70px;
	    background-size: contain;
	    left: 10px;

	    @media #{$phone} {
	    	width: 40px;
	    	height: 40px;
	    	left: 5px;
	    }
	}
}