/node_modules
/public/hot
/public/storage
/storage
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/app/Models/Dcn.php
composer.lock
artisan
sitemaps
lang
/app/Http/Controllers/MobidentController.php
/public/sample-import-file.csv
/public/poll-import-template.xlsx
/public/survey-import-template.xlsx
/public/dentist_import.xls
/public/socials.html
