.panel.template .panel-body {
    background: #d9e0e7;
}

.form-group.block-btns {
    border-top: 1px solid white;
    padding-top: 30px;
}

div.dataTables_wrapper div.dataTables_length select {
	width: auto;
}

table.table .table-search {
	width: 100%;
	display: inline-block;
}

#image_thumb {
	display: block;
	margin-bottom: 10px;
}

.ck-holder {
	background-size: cover;
	background-position: 50% 50%;
}

.my-gallery .image {
    width: 25%;
    display: block;
    margin-right: -10px;
    padding: 10px;
    float: left;
}

.my-gallery .image img {
	width: 100%;
}

.my-gallery .image-inner {
    position: relative;
    background: #fff;
    border-radius: 3px 3px 0 0;
}
.my-gallery .image-caption {
    position: absolute;
    top: 15px;
    left: 0;
    background: url(../img/transparent/black-0.6.png);
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 5px 15px;
    margin: 0;
}

.my-gallery .image-info {
    background: #fff;
    padding: 15px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.my-gallery .image-info .title {
    margin: 0 0 10px;
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-gallery .image-info .desc {
    line-height: 16px;
    font-size: 12px;
    height: 48px;
    overflow: hidden;
}

.cke_editable {
    cursor: text;
    width: 100%;
}

.cke_editable.p-none {
    padding: 0px 10px;
}
.cke_editable.p-small {
    padding: 20px 10px;
}
.cke_editable.p-medium {
    padding: 40px 10px;
}
.cke_editable.p-big {
    padding: 80px 10px;
}
.cke_editable.p-huge {
    padding: 160px 10px;
}


.tab-content.bordered {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.spending-table th,
.spending-table td {
    text-align: right;
}

.template-box .select2.select2-container {
    float: left;
}

.ui-sortable-handle {
    padding: 5px;
    border: 1px solid rgb(182, 194, 201);
}

.panel-heading {
    position: relative;
}

.panel-heading .closer {
    position: absolute;
    top: -15px;
    right: -15px;
    background: red;
    width: 20px;
    height: 20px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    color: white;
    justify-content: center;
    line-height: 20px;
    cursor: pointer;
}

.table-striped>tbody>tr.linked,
.table-striped>tbody>tr.linked td {
    background: #c4d0e2;
    position: relative;
}

.linked td:nth-child(6) {
    position: relative;
}
.linked td:nth-child(6)::before {
    content: "\f0c1";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    top: -12px;
    left: 50%;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #e2e7eb;
    border-radius: 3px;
    transform: translateX(-50%);
    line-height: 24px;
    text-align: center;
    font-size: 18px;
}

.flex {
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
}

.col-60 {
    max-width: 60px;
}

.custom-tabs .tab-content .tab-pane {
    display: none;
}

.custom-tabs .tab-content .tab-pane.active {
    display: block;
}

table .order {
    position: relative;
    padding-right: 30px;
    color: #242a30;
}

table .order::after {
    content: "\e150";
    position: absolute;
    bottom: -1px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    color: rgba(36, 42, 48, 0.2);
}

table .order.asc::after {
    content: "\e155";
    color: rgba(36, 42, 48, 0.5);
}

table .order.desc::after {
    content: "\e156";
    color: rgba(36, 42, 48, 0.5);
}

.related-group .select2 {
    width: 100% !important;
}

.related-group .input-group {
    width: 100% !important;
}

.ratings {
    color: black;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -148px;
}

.ratings .stars {
    width: 74px;
    height: 14px;
    display: inline-block;
    background: url('../../img-trp/stars-gray.png') 50% 50% no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.ratings .stars .bar {
    background: url('../../img-trp/stars-blue.png') 0% 50% no-repeat;
    background-size: cover;
    height: 14px;
}

.ratings .rating {
    vertical-align: middle;
}

.avatar-group {
    text-align: right;
    position: relative;
}

.open-trp-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.user-b {
    line-height: 21px;
}

.user-l {
    padding-top: 12px !important;
}

.with-dropdown .toggled-area {
    display: none;
}

.with-dropdown.active .toggled-area {
    display: block;
}

.with-dropdown .toggle-button {
    position: relative;
    padding: 5px;
}

.with-dropdown .toggle-button h4 {
   padding-left: 36px;
}

.with-dropdown .toggle-button:after {
    content: "\e114";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: block;
    font-family: 'Glyphicons Halflings';
    color: black;
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    line-height: 20px;
    background-color: white;
}

.with-dropdown.active .toggle-button:after {
    content: "\e113";
}

.with-arrow .show-hide-button {
    position: relative;
}

.show-hide-section .show-hide-button {
    padding: 5px;
}

.with-arrow .show-hide-button h4 {
    padding-left: 36px;
}

.with-arrow .show-hide-button:after {
    content: "\e114";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: block;
    font-family: 'Glyphicons Halflings';
    color: black;
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    line-height: 20px;
    background-color: white;
}

.with-arrow.active .show-hide-button:after {
    content: "\e113";
}

.limit-buttons {
    display: none;
}

.limit-buttons a {
    display: none;
}

.custom-checkbox {
    display: block;
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 3px !important;
    color: #aeb8ae;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox i {
    font-size: 29px;
    vertical-align: middle;
    padding-left: 10px;
}

.custom-checkbox.active {
    color: green;
}

.custom-checkbox.active i:before {
    content: "\f046";
}

.button-wrapper {
    padding-bottom: 20px;
    text-align: center;
}

.total-num,
.show-all-button {
    display: none;
}

.custom-row .datepicker {
    min-width: auto !important;
}

.filter-hidden {
    display: none;
}

.image-label {
    cursor: pointer;
    width: 100%;
    padding-top: 100%;
    display: block;
    background-color: #e3e3e3;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}

.centered-hack {
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 0px;
    left: 0;
    background: #8c8c8c;
    display: flex;
    align-items: center;
    padding: 5px;
}

.image-label p {
    font-size: 18px;
    color: #777777;
    font-weight: 300;
}

.image-label i {
    font-size: 30px;
    color: #777777;
}

.image-label input {
    display: none;
}

.image-label .loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    color: white;
    width: 100px;
    height: 100px;
    line-height: 80px;
}

.image-label .loader i {
    color: white;
    background: none;
    font-size: 40px;
}

.image-label.loading .loader {
    display: block;
}

.image-label.loading .centered-hack {
    display: none;
}