.panel.template .panel-body {
    background: #d9e0e7;
}

.form-group.block-btns {
    border-top: 1px solid white;
    padding-top: 30px;
}

div.dataTables_wrapper div.dataTables_length select {
	width: auto;
}

table.table .table-search {
	width: 100%;
	display: inline-block;
}

#image_thumb {
	display: block;
	margin-bottom: 10px;
}

.ck-holder {
	background-size: cover;
	background-position: 50% 50%;
}

.my-gallery .image {
    width: 25%;
    display: block;
    margin-right: -10px;
    padding: 10px;
    float: left;
}

.my-gallery .image img {
	width: 100%;
}

.my-gallery .image-inner {
    position: relative;
    background: #fff;
    border-radius: 3px 3px 0 0;
}
.my-gallery .image-caption {
    position: absolute;
    top: 15px;
    left: 0;
    background: url(../img/transparent/black-0.6.png);
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 5px 15px;
    margin: 0;
}

.my-gallery .image-info {
    background: #fff;
    padding: 15px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.my-gallery .image-info .title {
    margin: 0 0 10px;
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-gallery .image-info .desc {
    line-height: 16px;
    font-size: 12px;
    height: 48px;
    overflow: hidden;
}

.cke_editable {
    cursor: text;
    width: 100%;
}

.cke_editable.p-none {
    padding: 0px 10px;
}
.cke_editable.p-small {
    padding: 20px 10px;
}
.cke_editable.p-medium {
    padding: 40px 10px;
}
.cke_editable.p-big {
    padding: 80px 10px;
}
.cke_editable.p-huge {
    padding: 160px 10px;
}


.tab-content.bordered {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.spending-table th,
.spending-table td {
    text-align: right;
}

.template-box .select2.select2-container {
    float: left;
}

.ui-sortable-handle {
    padding: 5px;
    border: 1px solid rgb(182, 194, 201);
}

table-striped>tbody>tr:nth-of-type(odd).selected,
.ui-sortable-handle.selected {
    background-color: rgba(0, 172, 172, 0.6) !important;
}

table-striped>tbody>tr:nth-of-type(odd).selected td,
.ui-sortable-handle.selected td {
    background-color: transparent !important;
}

.panel-heading {
    position: relative;
}

.panel-heading .closer {
    position: absolute;
    top: -15px;
    right: -15px;
    background: red;
    width: 20px;
    height: 20px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    color: white;
    justify-content: center;
    line-height: 20px;
    cursor: pointer;
}

.table-striped>tbody>tr.linked,
.table-striped>tbody>tr.linked td {
    background: #c4d0e2;
    position: relative;
}

.linked td:nth-child(6) {
    position: relative;
}
.linked td:nth-child(6)::before {
    content: "\f0c1";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    position: absolute;
    top: -12px;
    left: 50%;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #e2e7eb;
    border-radius: 3px;
    transform: translateX(-50%);
    line-height: 24px;
    text-align: center;
    font-size: 18px;
}

.flex {
    display: flex;
    align-items: center;
}

.col {
    flex: 1;
}

.col-60 {
    max-width: 60px;
}

.custom-tabs .tab-content .tab-pane {
    display: none;
}

.custom-tabs .tab-content .tab-pane.active {
    display: block;
}

table .order {
    position: relative;
    padding-right: 30px;
    color: #242a30;
}

table .order::after {
    content: "\e150";
    position: absolute;
    bottom: -1px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    color: rgba(36, 42, 48, 0.2);
}

table .order.asc::after {
    content: "\e155";
    color: rgba(36, 42, 48, 0.5);
}

table .order.desc::after {
    content: "\e156";
    color: rgba(36, 42, 48, 0.5);
}

.related-group .select2 {
    width: 100% !important;
}

.related-group .input-group {
    width: 100% !important;
}

.ratings {
    color: black;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -148px;
}

.ratings .stars {
    width: 74px;
    height: 14px;
    display: inline-block;
    background: url('../../img-trp/stars-gray.png') 50% 50% no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.ratings .stars .bar {
    background: url('../../img-trp/stars-blue.png') 0% 50% no-repeat;
    background-size: cover;
    height: 14px;
}

.ratings .rating {
    vertical-align: middle;
}

.avatar-group {
    text-align: right;
    position: relative;
}

.open-trp-link {
    display: inline-block;
    margin-top: 10px;
    text-decoration: underline;
    margin-bottom: 30px;
}

.user-b {
    line-height: 21px;
}

.user-l {
    padding-top: 12px !important;
}

.with-dropdown .toggled-area {
    display: none;
}

.with-dropdown.active .toggled-area {
    display: block;
}

.with-dropdown .toggle-button {
    position: relative;
    padding: 5px;
}

.with-dropdown .toggle-button h4 {
   padding-left: 36px;
}

.with-dropdown .toggle-button:after {
    content: "\e114";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: block;
    font-family: 'Glyphicons Halflings';
    color: black;
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    line-height: 20px;
    background-color: white;
}

.with-dropdown.active .toggle-button:after {
    content: "\e113";
}

.with-arrow .show-hide-button {
    position: relative;
}

.show-hide-section .show-hide-button {
    padding: 5px;
}

.with-arrow .show-hide-button h4 {
    padding-left: 36px;
}

.with-arrow .show-hide-button:after {
    content: "\e114";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: block;
    font-family: 'Glyphicons Halflings';
    color: black;
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
    padding: 1px;
    line-height: 20px;
    background-color: white;
}

.with-arrow.active .show-hide-button:after {
    content: "\e113";
}

.limit-buttons {
    display: none;
}

.limit-buttons a {
    display: none;
}

.custom-checkbox {
    display: block;
    text-align: right;
    vertical-align: middle;
    padding-right: 10px;
    padding-top: 3px !important;
    color: #aeb8ae;
}

.custom-checkbox input {
    display: none;
}

.custom-checkbox i {
    font-size: 29px;
    vertical-align: middle;
    padding-left: 10px;
}

.custom-checkbox.active {
    color: green;
}

.custom-checkbox.active i:before {
    content: "\f046";
}

.button-wrapper {
    padding-bottom: 20px;
    text-align: center;
}

.total-num,
.show-all-button {
    display: none;
}

.custom-row .datepicker {
    min-width: auto !important;
}

.filter-hidden {
    display: none;
}

.image-label {
    cursor: pointer;
    width: 100%;
    padding-top: 100%;
    display: block;
    background-color: #e3e3e3;
    border: 2px solid #ddd;
    border-radius: 5px;
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
}

.centered-hack {
    position: absolute;
    width: 100%;
    top: auto;
    bottom: 0px;
    left: 0;
    background: #8c8c8c;
    display: flex;
    align-items: center;
    padding: 5px;
}

.image-label p {
    font-size: 18px;
    color: #777777;
    font-weight: 300;
}

.image-label i {
    font-size: 30px;
    color: #777777;
}

.image-label input {
    display: none;
}

.image-label .loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    background: rgba(0,0,0,0.3);
    color: white;
    width: 100px;
    height: 100px;
    line-height: 80px;
}

.image-label .loader i {
    color: white;
    background: none;
    font-size: 40px;
}

.image-label.loading .loader {
    display: block;
}

.image-label.loading .centered-hack {
    display: none;
}

.slimScrollBar {
    background: #00acac !important;
    opacity: 1 !important;
}

.search-questions-wrapper .results {
    background-color: white;
    border: 2px solid #00acac;
    position: absolute;
    z-index: 10;
    top: 30px;
    right: 17px;
    border-radius: 4px;
    overflow-y: scroll;
    max-height: 600px;
    min-width: 167px;
}

.search-questions-wrapper .results p {
    text-align: center;
}

.search-questions-wrapper .results .loader {
    text-align: center;
    padding: 5px;
}

.search-questions-wrapper .results .loader i {
    font-size: 30px;
}

.search-questions-wrapper .results .result {
    border-bottom: 1px solid #00acac;
}

.search-questions-wrapper .results .result:last-child {
    border-bottom: none;
}

.search-questions-wrapper .results .result a {
    padding: 5px 10px;
    display: block;
    color: black;
    transition: all 0.3s ease;
    font-weight: bold;
}

.search-questions-wrapper .results .result a:hover {
    background-color: rgba(0, 172, 172, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
}

.search-questions-wrapper .results .result .questions-titles a {
    padding-left: 20px;
    display: block;
    font-weight: normal;
}

.err-vox {
    color: red;
    font-size: 20px;
    margin-bottom: 20px;
    position: fixed;
    z-index: 12000;
    top: 20px;
    left: 120px;
}

.users-filters .filter {
    display: none;
}

.answer-image-wrap {
    position: relative;
    width: 100px;
    min-width: 100px;
    margin-right: 0px;
}

.answer-image-wrap img {
    max-width: 120px;
    max-height: 60px;
}

.delete-answer-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    max-width: 20px;
    display: block;
    padding: 0px;
}

.delete-answer-avatar i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.multi-select-container {
    display: inline-block;
    position: relative;
    width: 100%;
}

.multi-select-menu {
    position: absolute;
    left: 0;
    top: 1.8em;
    z-index: 1;
    float: left;
    min-width: 100%;
    background: #fff;
    margin: 1em 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: none;
}

.multi-select-menuitem {
    display: block;
    font-size: 0.875em;
    padding: 0.6em 1em 0.6em 30px;
    white-space: nowrap;
}

.multi-select-menuitem--titled:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    margin: 0 0 0.25em -20px;
}

.multi-select-menuitem--titledsr:before {
    display: block;
    font-weight: bold;
    content: attr(data-group-title);
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.multi-select-menuitem + .multi-select-menuitem {
    padding-top: 0;
}

.multi-select-presets {
    border-bottom: 1px solid #ddd;
}

.multi-select-menuitem input {
    position: absolute;
    margin-top: 0.25em;
    margin-left: -20px;
}

.multi-select-button {
    display: inline-block;
    padding: 0.2em 0.6em;
    max-width: 100%;
    width: 100%;
    height: 34px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -0.5em;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.multi-select-button:after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.4em 0.4em 0 0.4em;
    border-color: #999 transparent transparent transparent;
    margin-left: 0.4em;
    vertical-align: 0.1em;
}

.multi-select-container--open .multi-select-menu {
    display: block;
}

.multi-select-container--open .multi-select-button:after {
    border-width: 0 0.4em 0.4em 0.4em;
    border-color: transparent transparent #999 transparent;
}

.multi-select-container--positioned .multi-select-menu {
    /* Avoid border/padding on menu messing with JavaScript width calculation */
    box-sizing: border-box;
}

.multi-select-container--positioned .multi-select-menu label {
    /* Allow labels to line wrap when menu is artificially narrowed */
    white-space: normal;
}

.multi-select-button {
    border: 1px solid #ccd0d4 !important;
    box-shadow: none !important;
}


@media screen and (max-width: 767px) {
    .col-60 {
        max-width: 30px;
    }
}

@media screen and (max-width: 767.98px) {
    
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}