table {
  background-color: transparent; }

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left; }

th {
  text-align: left; }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd; }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0; }

.table > tbody + tbody {
  border-top: 2px solid #ddd; }

.table .table {
  background-color: #fff; }

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px; }

.table-bordered {
  border: 1px solid #ddd; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd; }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5; }

table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none; }

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none; }

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5; }

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8; }

.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8; }

.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6; }

.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7; }

.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3; }

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3; }

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc; }

.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede; }

.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc; }

.page-profile .site-content {
  color: #1d1d1d; }
  .page-profile .site-content * {
    color: #1d1d1d; }
  .page-profile .site-content .form-group {
    margin-bottom: 15px; }
    .page-profile .site-content .form-group i {
      display: block;
      margin-top: 10px; }
  .page-profile .site-content table {
    margin-bottom: 50px; }
    .page-profile .site-content table a {
      transition: all 0.3s ease; }
      .page-profile .site-content table a:hover {
        color: #38a2e5;
        transition: all 0.3s ease; }
      .page-profile .site-content table a.unconfirmed {
        color: #d85709; }
      .page-profile .site-content table a.completed {
        color: green; }
    .page-profile .site-content table thead {
      font-size: 18px; }
    .page-profile .site-content table tbody td {
      color: #333333; }
  .page-profile .site-content .table > tbody > tr > td,
  .page-profile .site-content .table > tbody > tr > th,
  .page-profile .site-content .table > tfoot > tr > td,
  .page-profile .site-content .table > tfoot > tr > th,
  .page-profile .site-content .table > thead > tr > td,
  .page-profile .site-content .table > thead > tr > th {
    border-color: #bfbfbf; }
  .page-profile .site-content .black-line-title {
    position: relative;
    overflow: hidden; }
    .page-profile .site-content .black-line-title h4 {
      display: inline-block;
      padding-right: 7px;
      margin-bottom: 25px;
      position: relative;
      font-weight: bold;
      font-family: 'Lato', sans-serif; }
      .page-profile .site-content .black-line-title h4::after {
        content: '';
        height: 3px;
        background-color: black;
        width: 100%;
        z-index: -1;
        position: absolute;
        top: 3px;
        top: 50%;
        left: 100%;
        width: 2000px;
        margin-top: -1px; }
  .page-profile .site-content .profile-menu {
    border: 1px solid #f3f3f3;
    box-shadow: 0px 0px 10px 2px #f3f3f3;
    padding-bottom: 20px;
    background: white;
    margin-right: 40px; }
    @media screen and (max-width: 992px) {
      .page-profile .site-content .profile-menu {
        padding-bottom: 0px;
        margin-right: 0px;
        box-shadow: none;
        border: none;
        text-align: center; } }
    .page-profile .site-content .profile-menu .heading {
      font-size: 12px;
      color: #bbbbbb;
      padding: 20px; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .profile-menu .heading {
          padding: 10px;
          display: block; }
          .page-profile .site-content .profile-menu .heading br {
            display: none; } }
      .page-profile .site-content .profile-menu .heading b {
        display: block;
        font-size: 16px;
        color: #5a6270; }
      .page-profile .site-content .profile-menu .heading img {
        width: 43px;
        height: 43px;
        margin-right: 10px;
        border-radius: 50%; }
        @media screen and (max-width: 992px) {
          .page-profile .site-content .profile-menu .heading img {
            width: 63px;
            height: 63px;
            margin-right: 0px; } }
    .page-profile .site-content .profile-menu .mobile-shadow {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.3s ease;
      background: rgba(0, 0, 0, 0.6);
      z-index: 150; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .profile-menu .mobile-shadow.active {
          display: block; } }
    @media screen and (max-width: 992px) {
      .page-profile .site-content .profile-menu .menu-list {
        position: fixed;
        right: -100%;
        top: 0;
        text-align: left;
        height: 100%;
        padding-top: 55px;
        transition: all 0.3s ease;
        background: white;
        z-index: 200;
        border-left: 1px solid #565656; }
        .page-profile .site-content .profile-menu .menu-list.active {
          right: 0px; } }
    .page-profile .site-content .profile-menu .menu-list .list-item {
      display: block;
      padding-left: 50px;
      height: 44px;
      line-height: 44px;
      font-size: 16px;
      color: #5a6170;
      border-left: 3px solid transparent; }
      @media screen and (max-width: 1200px) {
        .page-profile .site-content .profile-menu .menu-list .list-item {
          padding-left: 20px; } }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .profile-menu .menu-list .list-item {
          padding-right: 28px; }
          .page-profile .site-content .profile-menu .menu-list .list-item:last-child {
            margin-top: 30px; } }
      .page-profile .site-content .profile-menu .menu-list .list-item:hover, .page-profile .site-content .profile-menu .menu-list .list-item.active {
        background: #f0f9ff;
        color: #80b8dc; }
      .page-profile .site-content .profile-menu .menu-list .list-item.active {
        border-color: #80b8dc; }
      .page-profile .site-content .profile-menu .menu-list .list-item img {
        width: 14px;
        height: 14px;
        margin-right: 20px; }
      .page-profile .site-content .profile-menu .menu-list .list-item.list-item-mobile {
        display: none;
        margin-bottom: 40px; }
        @media screen and (max-width: 992px) {
          .page-profile .site-content .profile-menu .menu-list .list-item.list-item-mobile {
            display: block; } }
  .page-profile .site-content h2.page-title {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold; }
    .page-profile .site-content h2.page-title img {
      margin-right: 10px;
      vertical-align: sub; }
    @media screen and (max-width: 992px) {
      .page-profile .site-content h2.page-title {
        font-size: 22px;
        margin-top: 20px;
        margin-left: -10px;
        margin-right: -10px;
        padding: 5px 10px; } }
  .page-profile .site-content .container > .col-md-9 {
    background-image: url(../new-vox-img/profile-background.png);
    background-size: cover;
    background-position: 100% 0%;
    background-repeat: no-repeat;
    min-height: calc(100vh - 147px - 40px - 100px); }
  .page-profile .site-content .form-horizontal {
    margin-top: 60px; }
    @media screen and (max-width: 992px) {
      .page-profile .site-content .form-horizontal {
        margin-top: 20px;
        margin-bottom: 40px; } }
  .page-profile .site-content .separated {
    margin-top: 30px; }
  .page-profile .site-content .control-label {
    font-size: 16px;
    color: #a6a6a6;
    font-weight: normal;
    padding: 0px 0px 0px 10px;
    line-height: 43px;
    display: block; }
    @media screen and (max-width: 992px) {
      .page-profile .site-content .control-label {
        line-height: 34px;
        font-size: 12px;
        padding-left: 30px; } }
    .page-profile .site-content .control-label.top-label {
      color: #777777;
      font-size: 14px;
      margin-bottom: 12px;
      text-align: left;
      padding-left: 15px;
      line-height: normal; }
  .page-profile .site-content input[type="password"].form-control,
  .page-profile .site-content input[type="text"].form-control,
  .page-profile .site-content input[type="number"].form-control,
  .page-profile .site-content select.form-control {
    height: 40px;
    line-height: 40px;
    border: 1px solid #acacac;
    border-radius: 5px;
    font-size: 16px;
    color: #333333;
    padding: 0px 15px;
    font-weight: normal;
    display: block;
    width: 100%; }
    .page-profile .site-content input[type="password"].form-control.has-error,
    .page-profile .site-content input[type="text"].form-control.has-error,
    .page-profile .site-content input[type="number"].form-control.has-error,
    .page-profile .site-content select.form-control.has-error {
      color: red;
      border-color: red; }
    @media screen and (max-width: 992px) {
      .page-profile .site-content input[type="password"].form-control,
      .page-profile .site-content input[type="text"].form-control,
      .page-profile .site-content input[type="number"].form-control,
      .page-profile .site-content select.form-control {
        height: 34px;
        line-height: 34px;
        font-size: 12px; } }
  .page-profile .site-content input[type="number"].form-control {
    padding-right: 1px; }
  .page-profile .site-content .btn {
    height: 40px;
    line-height: 40px;
    float: right;
    padding: 0px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    width: auto;
    border: none;
    margin-top: 30px; }
    @media screen and (max-width: 992px) {
      .page-profile .site-content .btn {
        display: block;
        float: none;
        width: 100%;
        line-height: 34px;
        height: 34px;
        font-size: 13px;
        margin-top: 10px; } }
    @media screen and (max-width: 768px) {
      .page-profile .site-content .btn {
        font-size: 11px; } }
    .page-profile .site-content .btn:hover {
      background-color: #38ace5; }
    .page-profile .site-content .btn.nom {
      margin-top: 0px;
      display: block;
      width: 100%;
      text-align: center; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .btn.nom {
          margin-top: 10px; } }
      .page-profile .site-content .btn.nom i {
        display: inline-block; }
        @media screen and (max-width: 992px) {
          .page-profile .site-content .btn.nom i {
            vertical-align: middle;
            margin-top: 0px; } }
    .page-profile .site-content .btn.compact {
      height: 20px;
      line-height: 20px;
      font-size: 14px;
      margin-right: 10px;
      margin-top: 0px;
      float: none; }
      .page-profile .site-content .btn.compact i {
        font-size: 12px; }
    .page-profile .site-content .btn i {
      color: white;
      font-weight: normal; }
  .page-profile .site-content .btn-primary {
    background-color: #126585 !important;
    background-image: none;
    color: white; }
    .page-profile .site-content .btn-primary:hover {
      background-color: #38ace5; }
  .page-profile .site-content .btn-inactive {
    background-color: #9d9d9d;
    color: white; }
    .page-profile .site-content .btn-inactive:hover.no-hover {
      background-color: #9d9d9d; }
    .page-profile .site-content .btn-inactive:hover:not(.no-hover) {
      background-color: #80b8dc; }
  .page-profile .site-content .privacy-row {
    padding: 50px 0px;
    border-bottom: 3px solid black; }
    .page-profile .site-content .privacy-row:last-child {
      border: none; }
    .page-profile .site-content .privacy-row img {
      margin-right: 25px;
      min-width: 95px;
      height: 95px; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .privacy-row img {
          margin-right: 15px;
          min-width: 60px;
          height: 60px; } }
    .page-profile .site-content .privacy-row h3 {
      font-size: 20px;
      font-weight: bold;
      color: black;
      margin-bottom: 20px; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .privacy-row h3 {
          font-size: inherit; } }
    .page-profile .site-content .privacy-row p {
      margin: 0;
      padding: 0;
      font-size: 18px;
      color: #333333; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .privacy-row p {
          font-size: 12px; } }
  .page-profile .site-content #invite-wrapper {
    font-weight: normal;
    font-size: 18px;
    color: #333333; }
    @media screen and (max-width: 992px) {
      .page-profile .site-content #invite-wrapper {
        font-size: 14px; } }
    .page-profile .site-content #invite-wrapper h3 {
      color: black;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 15px; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content #invite-wrapper h3 {
          font-size: initial; } }
    .page-profile .site-content #invite-wrapper b {
      display: block;
      margin-top: 30px; }
    .page-profile .site-content #invite-wrapper .steps {
      position: relative;
      margin-top: 20px; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content #invite-wrapper .steps {
          display: block; } }
      .page-profile .site-content #invite-wrapper .steps:before {
        content: '';
        position: absolute;
        top: 26px;
        height: 3px;
        width: 100%;
        background: black; }
        @media screen and (max-width: 992px) {
          .page-profile .site-content #invite-wrapper .steps:before {
            display: none; } }
      .page-profile .site-content #invite-wrapper .steps .step {
        flex: 1; }
        @media screen and (max-width: 992px) {
          .page-profile .site-content #invite-wrapper .steps .step {
            margin-bottom: 40px;
            text-align: left;
            flex: none; }
            .page-profile .site-content #invite-wrapper .steps .step .form-horizontal {
              margin: 0px; }
              .page-profile .site-content #invite-wrapper .steps .step .form-horizontal input {
                margin-top: 10px; } }
        .page-profile .site-content #invite-wrapper .steps .step .number {
          height: 57px;
          width: 57px;
          line-height: 50px;
          background: white;
          border: 3px solid black;
          text-align: center;
          font-size: 25px;
          font-weight: bold;
          color: black;
          border-radius: 50%;
          z-index: 10;
          position: relative;
          margin-bottom: 15px;
          display: inline-block; }
          @media screen and (max-width: 992px) {
            .page-profile .site-content #invite-wrapper .steps .step .number {
              float: left;
              margin-right: 15px; } }
        .page-profile .site-content #invite-wrapper .steps .step .btn {
          display: inline-block;
          margin-top: 25px;
          float: none;
          min-width: 190px;
          text-align: center; }
          @media screen and (max-width: 992px) {
            .page-profile .site-content #invite-wrapper .steps .step .btn {
              margin-top: 10px; } }
        .page-profile .site-content #invite-wrapper .steps .step p {
          min-height: 57px; }
          @media screen and (max-width: 992px) {
            .page-profile .site-content #invite-wrapper .steps .step p {
              min-height: auto; } }
    .page-profile .site-content #invite-wrapper .option-div {
      margin-top: 50px; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content #invite-wrapper .option-div {
          margin-top: 0px;
          clear: both; } }
      .page-profile .site-content #invite-wrapper .option-div form {
        margin-top: 0px; }
  .page-profile .site-content .profile-home-content {
    padding-top: 30px; }
    .page-profile .site-content .profile-home-content b {
      font-size: 42px;
      color: black;
      font-weight: bold;
      display: block; }
      .page-profile .site-content .profile-home-content b span {
        font-size: 42px; }
        @media screen and (max-width: 992px) {
          .page-profile .site-content .profile-home-content b span {
            font-size: 20px; } }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .profile-home-content b {
          font-size: 20px; } }
    .page-profile .site-content .profile-home-content .convertor,
    .page-profile .site-content .profile-home-content .convertor * {
      color: #333333;
      font-size: 30px;
      font-weight: bold; }
    .page-profile .site-content .profile-home-content .convertor .convertor-currnecy {
      padding-right: 26px;
      position: relative;
      padding-bottom: 20px; }
      .page-profile .site-content .profile-home-content .convertor .convertor-currnecy:after {
        content: '';
        position: absolute;
        right: 0px;
        top: 14px;
        border-style: solid;
        border-width: 14px 6px 0 6px;
        border-color: #616161 transparent transparent transparent; }
      .page-profile .site-content .profile-home-content .convertor .convertor-currnecy .expander {
        display: none;
        position: absolute;
        top: 50px;
        left: 0px;
        right: 0px;
        padding: 14px;
        background: white;
        z-index: 20;
        border: 1px solid #e8e8e8;
        box-shadow: 0px 0px 7px 3px rgba(234, 234, 234, 0.5); }
        .page-profile .site-content .profile-home-content .convertor .convertor-currnecy .expander:before {
          content: '';
          position: absolute;
          left: 50%;
          margin-left: -5px;
          top: -4px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 4px 5px;
          border-color: transparent transparent #ffffff transparent; }
        .page-profile .site-content .profile-home-content .convertor .convertor-currnecy .expander a {
          font-size: 20px;
          text-align: left;
          display: block;
          cursor: pointer;
          padding-bottom: 5px; }
          .page-profile .site-content .profile-home-content .convertor .convertor-currnecy .expander a:hover, .page-profile .site-content .profile-home-content .convertor .convertor-currnecy .expander a.active {
            color: #126585; }
          .page-profile .site-content .profile-home-content .convertor .convertor-currnecy .expander a:last-child {
            padding-bottom: none; }
      .page-profile .site-content .profile-home-content .convertor .convertor-currnecy:hover .expander {
        display: block; }
    .page-profile .site-content .profile-home-content .btn {
      margin-top: 10px; }
      @media screen and (max-width: 992px) {
        .page-profile .site-content .profile-home-content .btn {
          margin-top: 20px; } }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }
  .alert:before {
    display: none; }
  .alert.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1; }
  .alert.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; }
  .alert.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1; }

.page-prpfile .support-icon {
  display: none !important; }
