#popup-lead-magnet .popup-inner {
  padding: 30px 0px; }
  #popup-lead-magnet .popup-inner .button {
    padding: 12px 49px;
    background-color: #0cafd4;
    -webkit-appearance: none; }
  #popup-lead-magnet .popup-inner .first-form {
    border-top: 3px solid;
    border-color: #eeeeee;
    padding-top: 30px; }
    @media screen and (max-width: 768px) {
      #popup-lead-magnet .popup-inner .first-form {
        padding-top: 20px; } }
    #popup-lead-magnet .popup-inner .first-form .modern-field {
      padding: 0px 20px; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .first-form .modern-field {
          padding: 0px; } }
    #popup-lead-magnet .popup-inner .first-form .ajax-alert {
      margin-right: 20px;
      margin-left: 20px; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .first-form .ajax-alert {
          margin-left: 0px;
          margin-right: 0px; } }
    #popup-lead-magnet .popup-inner .first-form .checkbox-label {
      text-align: left;
      padding: 0px 20px;
      margin-top: -20px;
      margin-bottom: 30px; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .first-form .checkbox-label {
          margin-top: -10px;
          padding: 0px; } }
  #popup-lead-magnet .popup-inner .modern-field .modern-input {
    border-width: 1px;
    border-radius: 8px; }
  #popup-lead-magnet .popup-inner .flickity-magnet {
    margin: 0px -130px; }
    @media screen and (max-width: 768px) {
      #popup-lead-magnet .popup-inner .flickity-magnet {
        margin: 0px -20px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet {
      width: 100%;
      text-align: center; }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 19px; }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label {
        text-align: left;
        display: block;
        padding: 10px 14px;
        padding-right: 23px;
        margin: 1px auto;
        border: 1px solid #d6d6d7;
        border-radius: 8px;
        font-size: 18px;
        color: #333;
        cursor: pointer;
        margin-bottom: 15px;
        position: relative; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.disabled-label {
          background-color: #f7f7f7; }
        @media screen and (max-width: 768px) {
          #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label {
            font-size: 16px;
            padding: 10px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label input {
          display: none; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .checkbox-square {
          width: 17px;
          height: 17px;
          border: 1px solid #dddddd;
          display: inline-block;
          background-color: white;
          color: #126585;
          line-height: 26px;
          text-align: center;
          border-radius: 20%;
          font-weight: bold;
          margin-right: 5px;
          font-size: 0px; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .checkbox-square {
              width: 14px;
              height: 14px;
              line-height: 23px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label i {
          font-size: 23px;
          vertical-align: middle;
          margin-right: 6px;
          color: #dddddd; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label i {
              font-size: 19px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .modern-radio {
          min-width: 26px;
          width: 26px;
          height: 26px;
          border-color: #979797;
          background-color: #ebebeb;
          margin-right: 9px;
          border-radius: 50%;
          border: 1px solid #ccc;
          display: inline-block;
          position: relative;
          vertical-align: middle; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .modern-radio {
              min-width: 20px;
              width: 20px;
              height: 20px;
              margin-right: 5px; } }
          #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .modern-radio span {
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 14px;
            height: 14px; }
            @media screen and (max-width: 768px) {
              #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .modern-radio span {
                width: 11px;
                height: 11px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active .modern-radio span {
          background-color: #126585; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active .checkbox-square {
          border-color: #126585;
          font-size: 13px;
          line-height: 18px; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active .checkbox-square {
              line-height: 13px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active i {
          color: #126585; }
          #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active i:before {
            content: '\f14a'; }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question {
      padding: 20px 130px;
      background-color: #eeeeee; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question {
          padding: 10px 20px;
          min-height: 103px; } }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question h4 {
        font-weight: bold;
        text-align: center; }
        @media screen and (max-width: 768px) {
          #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question h4 {
            font-size: 19px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .buttons-list {
      margin-top: 20px;
      padding: 0px 130px;
      display: inline-block;
      position: relative;
      width: auto; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .buttons-list {
          padding: 0px 20px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .button {
      margin-top: 20px; }
    #popup-lead-magnet .popup-inner .flickity-magnet .alert {
      margin: 0px 130px; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .alert {
          margin: 0px 20px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots {
      bottom: auto;
      top: 60px;
      background: transparent; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots {
          top: 80px; } }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 100; }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots .dot {
        margin: 0px 3px;
        border: 1px solid #979797;
        opacity: 1;
        width: 12px;
        height: 12px;
        background: transparent; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots .dot.is-selected {
          background-color: #126585; }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-prev-next-button {
      display: none !important;
      top: 50px;
      background: transparent; }
