.site-content {
  display: flex;
  flex-direction: column; }

.lead-magnet-wrapper {
  background-color: #e2ebff;
  padding-top: 100px;
  padding-bottom: 65px; }
  @media screen and (max-width: 768px) {
    .lead-magnet-wrapper {
      padding-top: 70px;
      padding-bottom: 45px; } }
  .lead-magnet-wrapper .magnet-main-section {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 998px) {
      .lead-magnet-wrapper .magnet-main-section {
        flex-direction: column; } }
  .lead-magnet-wrapper .flex-1 {
    background-color: white;
    width: 400px;
    padding: 60px 50px 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 32px -4px #919191; }
    @media screen and (max-width: 1200px) {
      .lead-magnet-wrapper .flex-1 {
        width: 350px;
        padding: 60px 30px 50px; } }
    @media screen and (max-width: 998px) {
      .lead-magnet-wrapper .flex-1 {
        width: 640px;
        margin-bottom: -40px;
        padding: 30px 30px 50px; } }
    @media screen and (max-width: 768px) {
      .lead-magnet-wrapper .flex-1 {
        padding: 12px 20px 30px;
        width: 100%; } }
  .lead-magnet-wrapper .flex-2 {
    background-color: white;
    padding: 35px 44px;
    border-radius: 30px;
    box-shadow: 0px 0px 32px -4px #919191;
    margin-left: -20px; }
    @media screen and (max-width: 1200px) {
      .lead-magnet-wrapper .flex-2 {
        padding: 35px 34px; } }
    @media screen and (max-width: 998px) {
      .lead-magnet-wrapper .flex-2 {
        margin-left: 0px; } }
    @media screen and (max-width: 768px) {
      .lead-magnet-wrapper .flex-2 {
        padding: 28px 0px;
        margin-left: -10px;
        margin-right: -10px; } }
    .lead-magnet-wrapper .flex-2 h2 {
      color: #332255;
      text-align: center;
      font-weight: 800;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .flex-2 h2 {
          font-size: 28px; } }
    .lead-magnet-wrapper .flex-2 h4 {
      font-size: 18px;
      color: #332255;
      display: block;
      padding: 20px 35px;
      font-weight: bold;
      border-radius: 15px;
      margin-bottom: 10px;
      line-height: 25px; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .flex-2 h4 {
          font-size: 16px;
          padding: 13px 20px;
          border-radius: 0px;
          line-height: normal; } }
      .lead-magnet-wrapper .flex-2 h4.green {
        background-color: #90ebe2; }
      .lead-magnet-wrapper .flex-2 h4.yellow {
        background-color: #fffda1; }
      .lead-magnet-wrapper .flex-2 h4.red {
        background-color: #f4c1c3; }
    .lead-magnet-wrapper .flex-2 h3 {
      text-align: center;
      background-color: #0084d1;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      padding: 4px;
      border-radius: 10px;
      margin-bottom: 45px; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .flex-2 h3 {
          font-size: 24px;
          padding: 4px 4px 6px;
          border-radius: 0px;
          margin-bottom: 25px; } }
    .lead-magnet-wrapper .flex-2 .flex {
      align-items: center;
      margin-bottom: 60px; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .flex-2 .flex {
          display: flex;
          align-items: normal;
          padding: 0px 15px;
          margin-bottom: 25px; } }
      .lead-magnet-wrapper .flex-2 .flex img {
        width: 130px;
        min-width: 130px;
        margin-right: 40px; }
        @media screen and (max-width: 1200px) {
          .lead-magnet-wrapper .flex-2 .flex img {
            margin-right: 30px; } }
        @media screen and (max-width: 768px) {
          .lead-magnet-wrapper .flex-2 .flex img {
            width: 78px;
            min-width: 78px;
            margin-right: 15px; } }
      .lead-magnet-wrapper .flex-2 .flex h5 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 18px;
        color: #0564c6; }
        @media screen and (max-width: 768px) {
          .lead-magnet-wrapper .flex-2 .flex h5 {
            font-size: 22px;
            margin-top: 10px;
            height: 60px; } }
      .lead-magnet-wrapper .flex-2 .flex p {
        font-size: 18px;
        color: #332255; }
        @media screen and (max-width: 768px) {
          .lead-magnet-wrapper .flex-2 .flex p {
            margin-left: -90px;
            font-size: 16px; } }
  @media screen and (max-width: 998px) {
    .lead-magnet-wrapper .flex-charts {
      display: flex;
      align-items: center; } }
  .lead-magnet-wrapper .pie-chart {
    width: 280px;
    justify-content: space-around;
    margin-right: 40px;
    background-color: #e2ecf7;
    border-radius: 50%;
    margin-bottom: 70px; }
    @media screen and (max-width: 1200px) {
      .lead-magnet-wrapper .pie-chart {
        width: 230px; } }
    @media screen and (max-width: 998px) {
      .lead-magnet-wrapper .pie-chart {
        width: 230px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 768px) {
      .lead-magnet-wrapper .pie-chart {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 140px; } }
    .lead-magnet-wrapper .pie-chart .circular-chart {
      display: block;
      max-height: 280px; }
    .lead-magnet-wrapper .pie-chart .circle-bg {
      fill: none;
      stroke: #c5ccde;
      stroke-width: 2.6; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .pie-chart .circle-bg {
          stroke-width: 3.6; } }
    .lead-magnet-wrapper .pie-chart .circle {
      fill: none;
      stroke-width: 2.6px;
      animation: progress 1s ease-out forwards;
      stroke: #0084d1; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .pie-chart .circle {
          stroke-width: 3.6; } }
@keyframes progress {
  0% {
    stroke-dasharray: 0 100; } }
    .lead-magnet-wrapper .pie-chart .percentage {
      fill: #0564c6;
      font-size: 8pt;
      font-weight: 800;
      text-anchor: middle; }
    .lead-magnet-wrapper .pie-chart .info {
      fill: #332255;
      font-size: 0.22em;
      font-weight: bold;
      text-anchor: middle; }
  .lead-magnet-wrapper .column-chart {
    flex: 1;
    text-align: left; }
    @media screen and (max-width: 1200px) {
      .lead-magnet-wrapper .column-chart {
        padding-right: 20px; } }
    @media screen and (max-width: 768px) {
      .lead-magnet-wrapper .column-chart {
        padding-right: 0px;
        margin-left: 12px;
        background: transparent;
        margin-top: -20px; } }
    .lead-magnet-wrapper .column-chart p {
      font-size: 18px;
      color: #332255;
      font-weight: bold;
      margin-bottom: 10px; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .column-chart p {
          font-size: 16px;
          margin-bottom: 6px; } }
    .lead-magnet-wrapper .column-chart .result-column {
      height: 23px;
      width: 100%;
      background-color: #c5ccde;
      border-radius: 15px;
      position: relative;
      overflow: hidden;
      margin-bottom: 30px; }
      @media screen and (max-width: 998px) {
        .lead-magnet-wrapper .column-chart .result-column {
          margin-bottom: 20px; } }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .column-chart .result-column {
          margin-bottom: 7px;
          height: 14px; } }
      .lead-magnet-wrapper .column-chart .result-column .result-percentage {
        background-color: #0084d1;
        position: absolute;
        left: 0px;
        height: 100%;
        background-size: cover;
        background-position: 0% 50%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px; }
  .lead-magnet-wrapper .button-wrapper {
    margin-top: 45px; }
    .lead-magnet-wrapper .button-wrapper a {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .lead-magnet-wrapper .button-wrapper a {
          text-align: left;
          padding: 7px 33px; } }
      .lead-magnet-wrapper .button-wrapper a img {
        width: 35px;
        margin-right: 15px; }

.country-dentist-rating {
  background-image: url("../img-trp/magnet-background.jpg");
  background-size: cover;
  text-align: center;
  padding: 30px 0px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .country-dentist-rating {
      order: 3; } }
  .country-dentist-rating .container {
    position: inherit; }
  .country-dentist-rating h2 {
    font-size: 32px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .country-dentist-rating h2 {
        font-size: 24px;
        margin-bottom: 25px; } }
    .country-dentist-rating h2 img {
      max-width: 16px;
      margin-right: -4px;
      margin-left: 7px; }
      @media screen and (max-width: 768px) {
        .country-dentist-rating h2 img {
          max-width: 14px; } }
    .country-dentist-rating h2 span {
      font-size: 30px;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }
      @media screen and (max-width: 768px) {
        .country-dentist-rating h2 span {
          font-size: 24px; } }
    @media screen and (max-width: 768px) {
      .country-dentist-rating h2 nl {
        display: block; } }
  .country-dentist-rating .rating-wrapper {
    display: flex; }
    @media screen and (max-width: 768px) {
      .country-dentist-rating .rating-wrapper {
        display: block; } }
    .country-dentist-rating .rating-wrapper .country-flex {
      text-align: left;
      background-color: white;
      flex: 1;
      box-shadow: 0px 0px 32px -4px #919191;
      border-radius: 30px;
      padding: 40px 35px;
      align-items: center; }
      @media screen and (max-width: 998px) {
        .country-dentist-rating .rating-wrapper .country-flex {
          margin-left: -60px;
          padding: 30px 20px; } }
      @media screen and (max-width: 768px) {
        .country-dentist-rating .rating-wrapper .country-flex {
          margin-left: 0px;
          display: flex; } }
      .country-dentist-rating .rating-wrapper .country-flex img {
        width: 100px;
        margin-right: 20px; }
        @media screen and (max-width: 998px) {
          .country-dentist-rating .rating-wrapper .country-flex img {
            width: 70px;
            margin-right: 10px; } }
        @media screen and (max-width: 768px) {
          .country-dentist-rating .rating-wrapper .country-flex img {
            width: 67px; } }
      .country-dentist-rating .rating-wrapper .country-flex h3 {
        font-size: 22px;
        font-weight: bold;
        color: #332255;
        margin-bottom: 10px; }
        @media screen and (max-width: 768px) {
          .country-dentist-rating .rating-wrapper .country-flex h3 {
            font-size: 18px; } }
      .country-dentist-rating .rating-wrapper .country-flex p {
        font-size: 30px;
        color: #332255;
        font-weight: 900; }
        @media screen and (max-width: 998px) {
          .country-dentist-rating .rating-wrapper .country-flex p {
            font-size: 26px; } }
        @media screen and (max-width: 768px) {
          .country-dentist-rating .rating-wrapper .country-flex p {
            font-size: 22px; } }
      .country-dentist-rating .rating-wrapper .country-flex .ratings {
        margin-right: 15px; }
    .country-dentist-rating .rating-wrapper .avg-reviews {
      margin-left: -140px; }
      @media screen and (max-width: 768px) {
        .country-dentist-rating .rating-wrapper .avg-reviews {
          margin-top: 15px;
          margin-bottom: 20px;
          margin-left: 0px; } }
  .country-dentist-rating .rating-info {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .country-dentist-rating .rating-info {
        font-size: 16px;
        padding: 0px 60px;
        margin-top: 30px; } }
  .country-dentist-rating .dentist-image {
    position: absolute;
    width: 361px;
    right: -40px;
    bottom: 0px;
    z-index: 100; }
    @media screen and (max-width: 1350px) {
      .country-dentist-rating .dentist-image {
        width: 291px; } }
    @media screen and (max-width: 1200px) {
      .country-dentist-rating .dentist-image {
        width: 221px; } }
    @media screen and (max-width: 998px) {
      .country-dentist-rating .dentist-image {
        display: none; } }

.lead-magnet-info {
  padding: 70px 0px 90px; }
  @media screen and (max-width: 768px) {
    .lead-magnet-info {
      padding: 20px 0px 45px; } }
  .lead-magnet-info h2 {
    font-size: 36px;
    font-weight: bold;
    color: #332255;
    margin-bottom: 60px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 768px) {
      .lead-magnet-info h2 {
        font-size: 26px;
        margin-bottom: 20px; } }
  .lead-magnet-info .info-box-wrapper {
    flex-flow: row wrap; }
    @media screen and (max-width: 768px) {
      .lead-magnet-info .info-box-wrapper {
        margin-left: -10px;
        margin-right: -10px; } }
    .lead-magnet-info .info-box-wrapper .info-box {
      width: 50%;
      text-align: center;
      margin-bottom: 50px; }
      @media screen and (max-width: 998px) {
        .lead-magnet-info .info-box-wrapper .info-box {
          padding: 0px 30px; } }
      @media screen and (max-width: 768px) {
        .lead-magnet-info .info-box-wrapper .info-box {
          width: 100%;
          padding-bottom: 30px;
          padding-top: 20px; }
          .lead-magnet-info .info-box-wrapper .info-box:nth-child(2n) {
            background-color: #f2f6ff; } }
      .lead-magnet-info .info-box-wrapper .info-box .info-icon {
        margin-bottom: 10px; }
        .lead-magnet-info .info-box-wrapper .info-box .info-icon img {
          height: 206px; }
          @media screen and (max-width: 768px) {
            .lead-magnet-info .info-box-wrapper .info-box .info-icon img {
              height: 117px; } }
      .lead-magnet-info .info-box-wrapper .info-box .info-text h3 {
        margin-bottom: 10px;
        font-weight: bold;
        color: #0564c6; }
      .lead-magnet-info .info-box-wrapper .info-box .info-text p {
        color: #332255;
        font-size: 20px;
        max-width: 470px;
        margin: 0 auto; }
        @media screen and (max-width: 768px) {
          .lead-magnet-info .info-box-wrapper .info-box .info-text p {
            font-size: 18px; } }
  .lead-magnet-info .get-started {
    text-transform: uppercase;
    margin-top: 60px; }
    @media screen and (max-width: 998px) {
      .lead-magnet-info .get-started {
        margin-top: 20px; } }
    @media screen and (max-width: 768px) {
      .lead-magnet-info .get-started {
        margin-top: 0px; } }
