.popup .popup-inner {
  width: 1020px; }
  @media screen and (max-width: 1200px) {
    .popup .popup-inner {
      width: 950px;
      padding: 55px 60px; } }
  @media screen and (max-width: 998px) {
    .popup .popup-inner {
      width: 100%;
      padding: 35px 30px; } }
  @media screen and (max-width: 768px) {
    .popup .popup-inner {
      padding: 35px 15px; } }
.popup .details-wrapper .verify-review {
  padding: 9px 40px; }
  @media screen and (max-width: 768px) {
    .popup .details-wrapper .verify-review {
      font-size: 15px;
      padding: 5px 15px; } }
.popup .details-wrapper .review-avatar {
  width: 115px;
  height: 115px;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  margin: 0 auto 22px; }
  @media screen and (max-width: 768px) {
    .popup .details-wrapper .review-avatar {
      width: 85px;
      height: 85px;
      margin-bottom: 17px; } }
.popup .details-wrapper h2 {
  margin-bottom: 35px; }
  @media screen and (max-width: 768px) {
    .popup .details-wrapper h2 {
      margin-bottom: 30px; } }
.popup .details-wrapper .review-header .flex {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  position: relative; }
  .popup .details-wrapper .review-header .flex.no-title {
    justify-content: flex-end; }
.popup .details-wrapper .review-header .review-title {
  font-weight: 900;
  color: #332255; }
  @media screen and (max-width: 768px) {
    .popup .details-wrapper .review-header .review-title {
      font-size: 24px; } }
.popup .details-wrapper .review-header .review-date {
  font-size: 18px;
  color: #888888;
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    .popup .details-wrapper .review-header .review-date {
      font-size: 16px; } }
.popup .details-wrapper .review-content {
  font-size: 18px;
  color: #332255;
  margin-bottom: 30px;
  padding-bottom: 40px;
  border-bottom: 1px solid #0084d1; }
  .popup .details-wrapper .review-content .video-wrap {
    max-width: 610px;
    margin: 0 auto; }
  .popup .details-wrapper .review-content .review-replied-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 25px; }
    .popup .details-wrapper .review-content .review-replied-wrapper .review-avatar {
      width: 33px;
      height: 33px;
      border-radius: 50%;
      margin-right: 10px;
      margin-bottom: 0px; }
    .popup .details-wrapper .review-content .review-replied-wrapper > div {
      width: 100%; }
    .popup .details-wrapper .review-content .review-replied-wrapper .replied-info {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      font-size: 14px;
      color: #888888; }
      .popup .details-wrapper .review-content .review-replied-wrapper .replied-info img {
        max-width: 15px;
        margin-right: 3px; }
    .popup .details-wrapper .review-content .review-replied-wrapper .review-content {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: none; }
.popup .details-wrapper h4 {
  font-size: 20px;
  color: #0084d1;
  font-weight: 900;
  margin-bottom: 20px; }
.popup .details-wrapper .review-treatments .treatments.with-border {
  border-right: 1px solid #cad3e6;
  margin-right: 30px; }
  @media screen and (max-width: 768px) {
    .popup .details-wrapper .review-treatments .treatments.with-border {
      margin-right: 0px;
      border-right: none; } }
.popup .details-wrapper .review-treatments .treatments .treatment {
  font-size: 16px;
  color: #332255;
  padding: 8px 15px 10px;
  background-color: #e2ebff;
  display: inline-block;
  border-radius: 22px;
  transition: all 0.3s ease;
  margin-bottom: 20px;
  border: 1px solid #0084d1;
  margin-right: 10px; }
@media screen and (max-width: 768px) {
  .popup .details-wrapper .review-treatments .review-dentist {
    margin-top: 20px; } }
.popup .details-wrapper .review-treatments .review-dentist .flex {
  align-items: center; }
.popup .details-wrapper .review-treatments .review-dentist .review-dentist-avatar {
  width: 40px;
  height: 40px;
  background-position: 50%;
  background-size: cover;
  border-radius: 50%; }
.popup .details-wrapper .review-treatments .review-dentist p {
  font-size: 18px;
  font-weight: 800;
  color: #332255;
  margin-left: 10px; }
.popup .details-wrapper .review-answers {
  margin-top: 40px;
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .popup .details-wrapper .review-answers {
      margin-bottom: 40px; } }
  .popup .details-wrapper .review-answers .overview-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end; }
    @media screen and (max-width: 768px) {
      .popup .details-wrapper .review-answers .overview-wrapper {
        margin-left: -15px;
        margin-right: -15px; } }
    .popup .details-wrapper .review-answers .overview-wrapper .overview-column {
      width: calc(25% - 21px);
      border-right: 1px solid #cad3e6;
      margin-right: 27px;
      padding-bottom: 30px;
      position: relative; }
      @media screen and (max-width: 1200px) {
        .popup .details-wrapper .review-answers .overview-wrapper .overview-column {
          width: calc(25% - 17px);
          margin-right: 17px; } }
      @media screen and (max-width: 998px) {
        .popup .details-wrapper .review-answers .overview-wrapper .overview-column {
          width: calc(33.3% - 16px);
          margin-right: 24px; } }
      @media screen and (max-width: 768px) {
        .popup .details-wrapper .review-answers .overview-wrapper .overview-column {
          width: 100%;
          border-right: none;
          margin-right: 0px;
          padding: 21px 15px 19px;
          display: flex;
          align-items: center;
          justify-content: space-between; } }
      .popup .details-wrapper .review-answers .overview-wrapper .overview-column:nth-child(4n) {
        margin-right: 0px;
        border-right: none; }
        @media screen and (max-width: 998px) {
          .popup .details-wrapper .review-answers .overview-wrapper .overview-column:nth-child(4n) {
            margin-right: 24px;
            border-right: 1px solid #cad3e6; } }
        @media screen and (max-width: 768px) {
          .popup .details-wrapper .review-answers .overview-wrapper .overview-column:nth-child(4n) {
            margin-right: 0px;
            border-right: none; } }
      @media screen and (max-width: 998px) {
        .popup .details-wrapper .review-answers .overview-wrapper .overview-column:nth-child(3n) {
          margin-right: 0px;
          border-right: none; } }
      @media screen and (max-width: 768px) {
        .popup .details-wrapper .review-answers .overview-wrapper .overview-column:nth-child(2n - 1) {
          background-color: #f2f6ff; } }
      @media screen and (max-width: 768px) {
        .popup .details-wrapper .review-answers .overview-wrapper .overview-column .rating {
          margin-left: 10px; } }
      .popup .details-wrapper .review-answers .overview-wrapper .overview-column .new-question {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #14cab8;
        border: 1px solid #14cab8;
        display: inline-block;
        padding: 2px 12px;
        border-radius: 12px;
        margin-bottom: 7px; }
        @media screen and (max-width: 768px) {
          .popup .details-wrapper .review-answers .overview-wrapper .overview-column .new-question {
            position: absolute;
            top: 6px; } }
      .popup .details-wrapper .review-answers .overview-wrapper .overview-column p {
        font-size: 18px;
        color: #332255;
        font-weight: 800;
        margin-bottom: 6px;
        display: flex;
        align-items: center; }
        @media screen and (max-width: 768px) {
          .popup .details-wrapper .review-answers .overview-wrapper .overview-column p {
            margin-bottom: 0px; } }
        .popup .details-wrapper .review-answers .overview-wrapper .overview-column p img {
          margin-right: 6px; }
.popup .details-wrapper .blue-button {
  text-transform: none; }
