.flickity-oval {
  position: relative;
  background-color: #f7f7f7; }
  .flickity-oval::after {
    content: '';
    position: absolute;
    top: 0px;
    background: url("../img-trp/oval-blue.png") no-repeat 50% 50%;
    background-size: 100% 100%;
    width: 100%;
    height: 81px; }
  .flickity-oval .slider-wrapper {
    display: flex;
    flex-direction: column; }

.index-gradient {
  padding-bottom: 1px; }
  .index-gradient .main-top {
    background: none;
    padding-bottom: 0px;
    margin-bottom: 7px; }
    @media screen and (max-width: 345px) {
      .index-gradient .main-top {
        margin-bottom: 27px; } }
  .index-gradient .home-search-form {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    background: transparent;
    margin: 0 auto;
    padding-top: 100px; }
    @media screen and (max-width: 768px) {
      .index-gradient .home-search-form {
        padding-top: 70px;
        top: auto !important; } }
    @media screen and (max-width: 768px) {
      .index-gradient .home-search-form form {
        margin-bottom: 0px; } }
  .index-gradient .flickity-oval {
    background: none; }
    .index-gradient .flickity-oval::after {
      display: none; }
    @media screen and (max-width: 768px) {
      .index-gradient .flickity-oval .container {
        padding: 0px; } }
    .index-gradient .flickity-oval .container .slider-right {
      position: absolute;
      right: 18px;
      background: url(../img-trp/slider-new-arrow-right.png) 50% 50% no-repeat;
      width: 41px;
      height: 112px;
      top: 50%;
      transform: translateY(-50%); }
      @media screen and (max-width: 998px) {
        .index-gradient .flickity-oval .container .slider-right {
          right: -4px; } }
      @media screen and (max-width: 768px) {
        .index-gradient .flickity-oval .container .slider-right {
          display: none; } }
    .index-gradient .flickity-oval .container .slider-left {
      position: absolute;
      left: 18px;
      background: url(../img-trp/slider-new-arrow-left.png) 50% 50% no-repeat;
      width: 41px;
      height: 112px;
      top: 50%;
      transform: translateY(-50%); }
      @media screen and (max-width: 998px) {
        .index-gradient .flickity-oval .container .slider-left {
          left: -4px; } }
      @media screen and (max-width: 768px) {
        .index-gradient .flickity-oval .container .slider-left {
          display: none; } }
    .index-gradient .flickity-oval .flickity {
      position: relative;
      height: 492px;
      overflow-y: hidden;
      overflow-x: scroll;
      padding-bottom: 30px;
      padding-top: 30px;
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */ }
      @media screen and (max-width: 768px) {
        .index-gradient .flickity-oval .flickity {
          height: 432px; } }
      .index-gradient .flickity-oval .flickity::-webkit-scrollbar {
        display: none; }
      .index-gradient .flickity-oval .flickity .index-slider {
        position: absolute;
        width: 3120px;
        height: 100%; }
      .index-gradient .flickity-oval .flickity .flickity-prev-next-button {
        width: 41px !important;
        height: 112px !important; }
      .index-gradient .flickity-oval .flickity .slider-wrapper {
        max-width: 220px;
        padding: 0px;
        margin: 0px 20px;
        float: left; }
        @media screen and (max-width: 1200px) {
          .index-gradient .flickity-oval .flickity .slider-wrapper {
            max-width: 178px; } }
        @media screen and (max-width: 998px) {
          .index-gradient .flickity-oval .flickity .slider-wrapper {
            max-width: 298px; } }
        @media screen and (max-width: 768px) {
          .index-gradient .flickity-oval .flickity .slider-wrapper {
            max-width: 220px; } }
        .index-gradient .flickity-oval .flickity .slider-wrapper .slider-inner {
          position: relative;
          border-radius: 5px;
          height: 100%;
          display: flex;
          flex-direction: column; }
        .index-gradient .flickity-oval .flickity .slider-wrapper .slider-container {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px; }
        .index-gradient .flickity-oval .flickity .slider-wrapper:hover .slider-container {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px; }
        .index-gradient .flickity-oval .flickity .slider-wrapper:hover .slider-inner {
          box-shadow: 0px 0px 33px -2px rgba(0, 0, 0, 0.4); }
        .index-gradient .flickity-oval .flickity .slider-wrapper .has-review-image {
          position: absolute;
          width: 70px;
          z-index: 10;
          right: -13px;
          top: -13px; }
        .index-gradient .flickity-oval .flickity .slider-wrapper .slider-image-wrapper {
          position: relative;
          text-align: center; }
          .index-gradient .flickity-oval .flickity .slider-wrapper .slider-image-wrapper::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 190.31px;
            height: 190.31px;
            background: url(../img-trp/avatar-border.svg) no-repeat 50% 50%;
            z-index: 1; }
            @media screen and (max-width: 1200px) {
              .index-gradient .flickity-oval .flickity .slider-wrapper .slider-image-wrapper::before {
                width: 147.05px;
                height: 148.05px; } }
            @media screen and (max-width: 998px) {
              .index-gradient .flickity-oval .flickity .slider-wrapper .slider-image-wrapper::before {
                width: 190.31px;
                height: 190.31px; } }
          .index-gradient .flickity-oval .flickity .slider-wrapper .slider-image-wrapper .slider-real-image {
            border-radius: 50%;
            height: auto;
            display: block; }
          .index-gradient .flickity-oval .flickity .slider-wrapper .slider-image-wrapper .tooltip-text {
            position: absolute;
            top: 15px;
            left: 14px;
            width: 18px;
            height: 18px;
            z-index: 100; }
          .index-gradient .flickity-oval .flickity .slider-wrapper .slider-image-wrapper .invited-dentist {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
            margin-bottom: 0px;
            padding-bottom: 18px;
            margin-top: 0px; }
        @media screen and (max-width: 768px) {
          .index-gradient .flickity-oval .flickity .slider-wrapper:hover .slider-container {
            transform: none;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px; } }
        .index-gradient .flickity-oval .flickity .slider-wrapper .ratings {
          display: flex;
          align-items: center; }
          @media screen and (max-width: 1200px) {
            .index-gradient .flickity-oval .flickity .slider-wrapper .ratings {
              flex-direction: column; } }
          @media screen and (max-width: 998px) {
            .index-gradient .flickity-oval .flickity .slider-wrapper .ratings {
              flex-direction: unset; } }
          .index-gradient .flickity-oval .flickity .slider-wrapper .ratings .rating {
            margin-left: 3px; }

.home-search-form {
  position: absolute;
  z-index: 102;
  width: 830px;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent; }
  @media screen and (max-width: 998px) {
    .home-search-form {
      width: 100%;
      padding: 0px 20px; } }
  @media screen and (max-width: 768px) {
    .home-search-form {
      top: 100px; } }
  .home-search-form h1 {
    color: white;
    padding-top: 0px;
    font-weight: bold;
    text-transform: uppercase; }
  .home-search-form h2 {
    color: white; }
  .home-search-form form {
    height: 54px;
    background-color: white;
    margin-bottom: 40px;
    display: block;
    border-radius: 5px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 4px 0px #0c779c;
    position: relative; }
    @media screen and (max-width: 768px) {
      .home-search-form form {
        height: 35px;
        padding-left: 8px;
        padding-right: 8px; } }
    .home-search-form form input[type="text"] {
      flex: 1;
      font-size: 16px;
      border: none;
      padding-left: 10px; }
      @media screen and (max-width: 768px) {
        .home-search-form form input[type="text"] {
          font-size: 14px; } }
      .home-search-form form input[type="text"]:focus {
        outline: none; }
      .home-search-form form input[type="text"]::placeholder {
        color: #8c8c8c; }
    .home-search-form form input[type="submit"] {
      background: url("../img-trp/submit.png") no-repeat 50% 50%;
      width: 27px;
      height: 27px;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      transition: all 0.3s ease; }
      @media screen and (max-width: 768px) {
        .home-search-form form input[type="submit"] {
          background-size: 21px; } }
      .home-search-form form input[type="submit"]:focus {
        outline: none; }
      .home-search-form form input[type="submit"]:hover {
        background-color: #d7e4ff;
        transition: all 0.3s ease; }

.results {
  position: absolute;
  top: 101%;
  right: 0px;
  left: 0px;
  padding: 20px;
  z-index: 10000;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  @media screen and (max-width: 768px) {
    .results {
      text-align: left; } }
  .results .result-title {
    color: #777777;
    border-bottom: 1px solid #9dcbe5;
    padding-bottom: 8px;
    margin-bottom: 8px;
    display: inline-block; }
  .results a {
    display: block;
    padding: 3px 12px;
    margin-bottom: 4px;
    font-size: 14px; }
    @media screen and (max-width: 768px) {
      .results a {
        padding-left: 0px; } }
    .results a.special {
      color: #126585; }
    .results a.active, .results a:hover {
      background-color: #d8eaf5; }
  .results .results-type {
    margin-bottom: 25px; }
    .results .results-type:last-child {
      margin-bottom: 0px; }
  .results .ratings {
    margin-top: 0px;
    float: right; }
    @media screen and (max-width: 768px) {
      .results .ratings {
        display: none; } }
    .results .ratings .stars {
      background: url("../img-trp/stars-gray.png") 50% 50% no-repeat;
      background-size: contain; }
      .results .ratings .stars .bar {
        background: url("../img-trp/stars-black.png") 0% 50% no-repeat;
        background-size: cover; }
    .results .ratings .rating {
      vertical-align: top; }

@media screen and (max-width: 620px) {
  .main-box {
    top: 70px !important; } }
.main-box .index-big-title {
  font-size: 45px;
  color: white;
  padding-top: 0px;
  font-weight: bold;
  text-transform: uppercase; }
  @media screen and (max-width: 998px) {
    .main-box .index-big-title {
      font-size: 39px; } }
  @media screen and (max-width: 768px) {
    .main-box .index-big-title {
      font-size: 30px;
      margin-bottom: 10px; } }
.main-box .index-main-title {
  font-size: 35px;
  color: white;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: unset; }
  @media screen and (max-width: 768px) {
    .main-box .index-main-title {
      font-size: 24px; } }

@media screen and (max-width: 768px) {
  .front-info {
    text-align: center; } }
.front-info .index-h2 {
  padding-bottom: 25px;
  margin-bottom: 100px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .front-info .index-h2 {
      padding-bottom: 15px;
      margin-bottom: 40px; } }
.front-info h2 {
  font-size: 30px; }
.front-info p {
  font-size: 18px; }
.front-info .first .fixed-width {
  width: 450px;
  flex: unset;
  margin-top: 45px; }
  @media screen and (max-width: 768px) {
    .front-info .first .fixed-width {
      width: 100%;
      margin-top: 15px;
      text-align: center; } }
  .front-info .first .fixed-width h3 {
    margin-bottom: 30px;
    font-weight: 300; }
    @media screen and (max-width: 768px) {
      .front-info .first .fixed-width h3 {
        margin-bottom: 10px;
        font-weight: normal; } }
  .front-info .first .fixed-width p {
    margin-bottom: 20px;
    font-weight: 300; }
.front-info .second {
  padding-bottom: 140px; }
  @media screen and (max-width: 768px) {
    .front-info .second {
      margin-top: 80px;
      flex-direction: column;
      display: flex;
      padding-bottom: 40px; } }
  .front-info .second .fixed-width {
    width: 470px;
    flex: unset;
    margin-top: 110px; }
    @media screen and (max-width: 768px) {
      .front-info .second .fixed-width {
        width: 100%;
        flex: 1;
        order: 2;
        margin-top: 20px; } }
    .front-info .second .fixed-width h3 {
      margin-bottom: 30px;
      font-weight: 300; }
      @media screen and (max-width: 768px) {
        .front-info .second .fixed-width h3 {
          margin-bottom: 10px;
          font-weight: normal; } }
    .front-info .second .fixed-width p {
      margin-bottom: 20px;
      font-weight: 300; }
  .front-info .second img {
    float: right;
    margin-top: -110px; }
    @media screen and (max-width: 998px) {
      .front-info .second img {
        margin-top: 0px;
        float: none; } }
.front-info .third {
  position: relative; }
  @media screen and (max-width: 998px) {
    .front-info .third {
      margin-bottom: 40px; } }
  @media screen and (max-width: 768px) {
    .front-info .third {
      margin-bottom: 0px; } }
  .front-info .third .fixed-width {
    width: 750px;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .front-info .third .fixed-width {
        width: 100%; } }
    .front-info .third .fixed-width h2 {
      position: relative;
      margin-bottom: 45px;
      font-weight: bold;
      text-align: center;
      width: 440px;
      margin-right: auto;
      margin-left: auto;
      color: #2478d1; }
      @media screen and (max-width: 768px) {
        .front-info .third .fixed-width h2 {
          width: 100%;
          margin-bottom: 20px;
          font-size: 30px; } }
    .front-info .third .fixed-width p {
      font-size: 20px;
      margin-bottom: 50px;
      font-weight: 300;
      color: #333333; }
      @media screen and (max-width: 768px) {
        .front-info .third .fixed-width p {
          margin-bottom: 30px; } }

.info-section {
  padding-bottom: 88px; }
  @media screen and (max-width: 768px) {
    .info-section {
      padding-bottom: 78px; } }
  .info-section .container {
    max-width: 838px; }
  .info-section h2 {
    text-align: center;
    font-weight: bold;
    color: #2478d1;
    padding: 0px 7px;
    padding-bottom: 40px;
    margin-bottom: 70px; }
    @media screen and (max-width: 768px) {
      .info-section h2 {
        padding: 0px;
        padding-bottom: 20px;
        margin-bottom: 40px; } }
  .info-section .info-box {
    margin-bottom: 70px; }
    @media screen and (max-width: 1200px) {
      .info-section .info-box {
        margin-bottom: 40px; } }
    @media screen and (max-width: 768px) {
      .info-section .info-box {
        flex-direction: column;
        align-items: center;
        margin-bottom: 45px; } }
    .info-section .info-box .info-icon {
      margin-right: 35px;
      min-width: 106px; }
      @media screen and (max-width: 768px) {
        .info-section .info-box .info-icon {
          margin-right: 0px;
          margin-bottom: 16px; } }
    @media screen and (max-width: 768px) {
      .info-section .info-box .info-text {
        text-align: center; } }
    .info-section .info-box h3 {
      margin-bottom: 10px; }
      @media screen and (max-width: 768px) {
        .info-section .info-box h3 {
          font-size: 25px; } }
    .info-section .info-box p {
      font-size: 20px;
      font-weight: 300;
      color: #232323; }
  .info-section .button {
    font-size: 25px;
    background-color: #46afda;
    padding: 13px 65px;
    font-weight: bold; }
    .info-section .button:hover {
      background-color: #238fbb; }

.add-practice {
  margin-bottom: 100px;
  background: #09a8df;
  /* Old browsers */
  background: -moz-linear-gradient(top, #09a8df 0%, #2083d4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #09a8df 0%, #2083d4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #09a8df 0%, #2083d4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09a8df', endColorstr='#2083d4',GradientType=0 );
  /* IE6-9 */ }
  @media screen and (max-width: 998px) {
    .add-practice {
      margin-bottom: 70px; } }
  @media screen and (max-width: 768px) {
    .add-practice {
      padding-bottom: 0px; } }
  @media screen and (max-width: 998px) {
    .add-practice .flex {
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 998px) {
    .add-practice .flex .col:nth-child(2) {
      order: -1; } }
  @media screen and (max-width: 768px) {
    .add-practice .flex .col:nth-child(2) {
      padding: 0px 20px; } }
  @media screen and (max-width: 998px) {
    .add-practice .practice-image {
      text-align: center; } }
  .add-practice .practice-image img {
    position: absolute;
    top: -55px; }
    @media screen and (max-width: 1200px) {
      .add-practice .practice-image img {
        top: -42px;
        max-width: 450px; } }
    @media screen and (max-width: 998px) {
      .add-practice .practice-image img {
        position: static;
        top: auto; } }
    @media screen and (max-width: 768px) {
      .add-practice .practice-image img {
        display: none; } }
  .add-practice .mobile-practice-img {
    display: none;
    margin-right: -14px;
    margin-bottom: 60px;
    margin-top: 60px; }
    @media screen and (max-width: 768px) {
      .add-practice .mobile-practice-img {
        display: block; } }
    .add-practice .mobile-practice-img img {
      width: 100%;
      transform: scale(1.3); }
  .add-practice h2 {
    padding-top: 60px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 19px; }
    @media screen and (max-width: 1200px) {
      .add-practice h2 {
        padding-top: 30px; } }
    @media screen and (max-width: 768px) {
      .add-practice h2 {
        font-size: 30px;
        text-align: center;
        padding-top: 50px;
        line-height: 30px;
        margin-bottom: 30px; } }
  .add-practice .button {
    margin-bottom: 45px;
    margin-top: 30px; }
    @media screen and (max-width: 1200px) {
      .add-practice .button {
        margin-bottom: 35px; } }
    @media screen and (max-width: 768px) {
      .add-practice .button {
        margin-bottom: 55px;
        margin-top: 45px; } }
  .add-practice p {
    color: white;
    font-size: 24px;
    font-weight: 300; }
    @media screen and (max-width: 1200px) {
      .add-practice p {
        font-size: 20px; } }
    .add-practice p.practice-subtitle {
      font-weight: 400;
      margin-bottom: 15px; }
      @media screen and (max-width: 768px) {
        .add-practice p.practice-subtitle {
          margin-bottom: 25px; } }

@media screen and (max-width: 998px) {
  .tac-tablet {
    text-align: center; } }

.flickity-dentists-form {
  font-size: 20px;
  font-weight: 500;
  margin-left: 85px;
  margin-top: 10px;
  margin-bottom: 10px; }
  @media screen and (max-width: 998px) {
    .flickity-dentists-form {
      margin-left: 0px;
      margin-top: 40px;
      text-align: center; } }
  .flickity-dentists-form img {
    max-width: 13px; }
  .flickity-dentists-form .caret-down {
    width: 7px;
    margin-bottom: 4px; }
  .flickity-dentists-form .current-city {
    font-size: 20px;
    font-weight: 500;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 14px;
    -webkit-appearance: none; }
    @media screen and (max-width: 768px) {
      .flickity-dentists-form .current-city {
        padding: 3px 14px; } }
    .flickity-dentists-form .current-city i {
      color: white;
      font-size: 10px;
      position: relative;
      top: -2px; }

#change-dentist-popup .popup-inner {
  padding-bottom: 40px; }
#change-dentist-popup h2 {
  font-size: 42px;
  margin-bottom: 25px; }
  @media screen and (max-width: 768px) {
    #change-dentist-popup h2 {
      font-size: 32px; } }
  #change-dentist-popup h2 img {
    width: 25px; }
    @media screen and (max-width: 768px) {
      #change-dentist-popup h2 img {
        max-width: 15px; } }
#change-dentist-popup .checkbox-label {
  text-align: left; }
#change-dentist-popup .modern-field {
  margin-bottom: 10px; }
#change-dentist-popup button {
  margin-top: 45px;
  background-color: #46afda;
  padding: 13px 65px; }
