header,
footer,
.blue-background,
.strength-wrapper,
.support-icon {
  display: none; }

.container {
  width: 100%; }

.site-content {
  min-height: auto !important; }
  .site-content h2.page-title {
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 30px; }
    @media screen and (max-width: 992px) {
      .site-content h2.page-title {
        font-size: 22px;
        margin-top: 20px;
        margin-left: -10px;
        margin-right: -10px;
        padding: 5px 10px; } }
    .site-content h2.page-title img {
      margin-right: 10px;
      vertical-align: sub; }
  .site-content .blue-button {
    margin-top: 20px; }

#banned-popup .popup-inner .flex {
  justify-content: center; }
#banned-popup .popup-inner h4 {
  color: #332255; }
