.flickity-oval {
  margin-top: 111px; }
  @media screen and (max-width: 1200px) {
    .flickity-oval {
      margin-top: 91px; } }
  @media screen and (max-width: 998px) {
    .flickity-oval {
      margin-top: 60px; } }
  @media screen and (max-height: 750px) {
    .flickity-oval {
      margin-top: 41px; } }
  @media screen and (max-width: 768px) {
    .flickity-oval {
      margin-top: 45px; } }
  .flickity-oval .slider-left {
    background: url(../img-trp/slider-arrow-left-inactive.svg) 50% 50% no-repeat;
    width: 50px;
    height: 50px; }
    @media screen and (max-width: 998px) {
      .flickity-oval .slider-left {
        width: 40px;
        height: 40px;
        margin-bottom: -40px; } }
    @media screen and (max-width: 768px) {
      .flickity-oval .slider-left {
        display: none; } }
    .flickity-oval .slider-left.active {
      background-image: url(../img-trp/slider-arrow-left-active.svg); }
  .flickity-oval .slider-right {
    background: url(../img-trp/slider-arrow-right-inactive.svg) 50% 50% no-repeat;
    width: 50px;
    height: 50px; }
    @media screen and (max-width: 998px) {
      .flickity-oval .slider-right {
        width: 40px;
        height: 40px;
        margin-bottom: -40px; } }
    @media screen and (max-width: 768px) {
      .flickity-oval .slider-right {
        display: none; } }
    .flickity-oval .slider-right.active {
      background-image: url(../img-trp/slider-arrow-right-active.svg); }
  .flickity-oval .flickity {
    width: 100%;
    position: relative;
    height: 315px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 0px;
    padding-top: 50px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */ }
    @media screen and (max-width: 1200px) {
      .flickity-oval .flickity {
        height: 326px; } }
    @media screen and (max-width: 998px) {
      .flickity-oval .flickity {
        height: 315px; } }
    @media screen and (max-width: 768px) {
      .flickity-oval .flickity {
        height: 335px; } }
    .flickity-oval .flickity::-webkit-scrollbar {
      display: none; }
    .flickity-oval .flickity .index-slider {
      position: absolute;
      width: 5020px;
      height: 100%; }
    .flickity-oval .flickity .flickity-prev-next-button {
      width: 41px !important;
      height: 112px !important; }
    .flickity-oval .flickity .slider-wrapper {
      display: flex;
      flex-direction: column;
      width: 348px;
      padding: 0px;
      margin: 0px 11px;
      float: left; }
      @media screen and (max-width: 1200px) {
        .flickity-oval .flickity .slider-wrapper {
          width: 301px; } }
      @media screen and (max-width: 998px) {
        .flickity-oval .flickity .slider-wrapper {
          width: 348px; } }
      @media screen and (max-width: 768px) {
        .flickity-oval .flickity .slider-wrapper {
          width: 320px;
          margin: 0px 5px; } }
      .flickity-oval .flickity .slider-wrapper:hover .slider-inner .slider-container {
        border-color: #0084d1;
        transform: translateY(0px) !important;
        box-shadow: 7px 3px 11px 1px #959393; }
      .flickity-oval .flickity .slider-wrapper .slider-inner {
        position: relative;
        border-radius: 5px;
        height: 100%;
        display: flex;
        flex-direction: column; }
        .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper {
          display: flex;
          align-items: center;
          background: transparent;
          position: absolute;
          z-index: 10;
          padding: 0px;
          top: -43px;
          left: 35px; }
          @media screen and (max-width: 768px) {
            .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper {
              left: 35px; } }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper .slider-real-image {
            max-width: 86px;
            border-radius: 50%;
            height: auto;
            display: block; }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper .partner {
            width: 220px;
            background-color: #0084d1;
            margin-left: -10px;
            z-index: -1;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 5px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            font-size: 15px;
            font-weight: bold; }
            @media screen and (max-width: 1200px) {
              .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper .partner {
                width: 180px; } }
            @media screen and (max-width: 768px) {
              .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper .partner {
                width: 195px; } }
            .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper .partner img {
              background-color: transparent;
              max-width: 20px;
              margin-right: 4px; }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-image-wrapper .invited-dentist {
            position: absolute;
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
            margin-bottom: 0px;
            padding-bottom: 18px;
            margin-top: 0px; }
        .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container {
          min-height: 230px;
          padding: 30px;
          padding-top: 56px;
          padding-bottom: 20px;
          border-radius: 6px;
          border: 2px solid white;
          text-align: left;
          display: block; }
          @media screen and (max-width: 1200px) {
            .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container {
              padding: 20px;
              padding-top: 56px; } }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container .has-review-image {
            position: absolute;
            width: 70px;
            z-index: 10;
            right: -13px;
            top: -13px; }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container h4 {
            font-size: 20px;
            font-weight: 900;
            color: #332255; }
            @media screen and (max-width: 1200px) {
              .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container h4 {
                font-size: 18px; } }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container .p {
            font-size: 15px;
            color: #555555; }
            .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container .p img {
              margin-top: 3px;
              margin-right: 6px; }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container .ratings {
            display: flex;
            align-items: center;
            margin-bottom: 20px; }
            .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container .ratings .rating {
              font-size: 15px;
              margin-left: 4px;
              color: #555555; }
          .flickity-oval .flickity .slider-wrapper .slider-inner .slider-container .review-content {
            font-size: 15px;
            color: #555555;
            height: 40px;
            overflow: hidden; }

.site-content {
  min-height: calc(100vh - 127px);
  background-color: #e2ebff; }

.error-wrapper {
  padding-bottom: 50px;
  padding-top: 80px; }
  @media screen and (max-width: 768px) {
    .error-wrapper > .flex {
      display: flex;
      flex-direction: column; } }
  .error-wrapper .error-image {
    margin-right: 30px; }
    @media screen and (max-width: 768px) {
      .error-wrapper .error-image {
        order: 2; } }
    .error-wrapper .error-image img {
      width: 100%; }
      @media screen and (max-width: 768px) {
        .error-wrapper .error-image img {
          max-width: 300px;
          margin: 0 auto;
          display: block; } }
  .error-wrapper h1 {
    color: #332255;
    font-weight: 900; }
    @media screen and (max-width: 768px) {
      .error-wrapper h1 {
        text-align: center;
        margin-bottom: 20px; } }
  .error-wrapper .flickity-oval {
    margin-top: 0px; }
    .error-wrapper .flickity-oval > .flex {
      margin-bottom: 30px; }
      @media screen and (max-width: 768px) {
        .error-wrapper .flickity-oval > .flex {
          margin-bottom: 10px; } }
      .error-wrapper .flickity-oval > .flex h3 {
        color: #332255; }
        @media screen and (max-width: 768px) {
          .error-wrapper .flickity-oval > .flex h3 {
            text-align: center; } }
  .error-wrapper .blue-button {
    margin-top: 40px; }
    @media screen and (max-width: 768px) {
      .error-wrapper .blue-button {
        margin-top: -10px; } }
