.list-reviews label {
  display: flex;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .list-reviews label {
      flex-direction: column;
      padding-top: 10px;
      border-bottom: none; } }
  .list-reviews label:last-child {
    border-bottom: 0px; }
  .list-reviews label * {
    background-color: transparent; }
  .list-reviews label.active, .list-reviews label:hover {
    background-color: rgba(3, 169, 244, 0.03); }
    @media screen and (max-width: 998px) {
      .list-reviews label.active, .list-reviews label:hover {
        background-color: transparent; } }
  .list-reviews label .widget-checkbox {
    margin-top: -50px;
    margin-right: 20px;
    margin-left: 20px; }
    @media screen and (max-width: 768px) {
      .list-reviews label .widget-checkbox {
        margin-top: 0px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 768px) {
      .list-reviews label .widget-checkbox i {
        font-size: 21px; } }
.list-reviews .list-review {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .list-reviews .list-review {
      flex-direction: column;
      border-bottom: none;
      position: relative; } }
  @media screen and (max-width: 768px) {
    .list-reviews .list-review:after {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 213px;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #eeeeee; } }
  .list-reviews .list-review:last-child {
    margin-bottom: 0px;
    border-bottom: none; }
  .list-reviews .list-review .review-avatar {
    width: 84px;
    height: 84px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 28px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-avatar {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 14px; } }
    .list-reviews .list-review .review-avatar:before {
      content: '';
      position: absolute;
      left: 0px;
      right: 0;
      top: 0px;
      bottom: 0;
      width: 100%;
      background: url(../img-trp/avatar-border.svg) no-repeat 50% 50%; }
  .list-reviews .list-review .list-review-left {
    margin-right: 30px; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .list-review-left {
        margin-right: 0px; } }
  .list-reviews .list-review .list-review-right {
    text-align: left; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .list-review-right {
        text-align: center; } }
  .list-reviews .list-review .review-date {
    color: #888888;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-date {
        display: none; } }
  .list-reviews .list-review .review-title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase; }
  .list-reviews .list-review .ratings {
    margin-top: 6px; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .ratings {
        margin-top: 14px; } }
    .list-reviews .list-review .ratings .stars {
      width: 117px;
      height: 20px;
      background: url("../img-trp/new-stars-gray.png") 50% 50% no-repeat; }
      .list-reviews .list-review .ratings .stars .bar {
        background: url("../img-trp/new-stars-blue.png") 0% 50% no-repeat;
        height: 20px; }
  .list-reviews .list-review .review-content {
    font-weight: 300;
    margin-top: 3px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-content {
        -webkit-line-clamp: 4;
        margin-top: 12px; } }
  .list-reviews .list-review .review-name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    color: #333; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-name {
        font-size: 16px;
        margin-bottom: 15px; } }
  .list-reviews .list-review .mobile-review-date {
    display: none;
    text-align: center;
    color: #888888; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .mobile-review-date {
        display: block; } }

.gallery-flickity .slider-wrapper .slider-image {
  position: relative; }
  .gallery-flickity .slider-wrapper .slider-image .remove-gallery-image {
    position: absolute;
    right: 5px;
    top: 5px; }
  .gallery-flickity .slider-wrapper .slider-image.add-gallery-image {
    display: block;
    background-color: #e3e3e3;
    border: 2px dashed #777777;
    position: relative; }

.plus-gallery-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }
  .plus-gallery-image img {
    width: 26px; }
  .plus-gallery-image span {
    font-size: 20px;
    display: block;
    color: #777777;
    font-weight: bold; }

.edit-short-description {
  float: left;
  width: 340px;
  margin-right: 10px;
  margin-top: 20px; }
  @media screen and (max-width: 1200px) {
    .edit-short-description {
      width: 260px; } }
  @media screen and (max-width: 998px) {
    .edit-short-description {
      width: 100%;
      margin-right: 0px;
      margin-top: 40px; } }

body.edit-user .strength-parent {
  display: none !important; }
body.edit-user .profile-info {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0 32px 3px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 768px) {
    body.edit-user .profile-info {
      padding: 0px;
      box-shadow: none; } }
  body.edit-user .profile-info .upload-image-wrapper {
    float: left; }
    @media screen and (max-width: 1200px) {
      body.edit-user .profile-info .upload-image-wrapper .image-label {
        margin-right: 0px; } }
    @media screen and (max-width: 768px) {
      body.edit-user .profile-info .upload-image-wrapper .image-label {
        margin-right: auto;
        margin-left: auto;
        position: relative;
        margin-bottom: 10px;
        padding-top: 0px;
        float: none; } }
    @media screen and (max-width: 768px) {
      body.edit-user .profile-info .upload-image-wrapper .image-label .centered-hack p {
        font-size: 12px; } }
    body.edit-user .profile-info .upload-image-wrapper .max-size-label {
      margin-left: 0px; }
      @media screen and (max-width: 768px) {
        body.edit-user .profile-info .upload-image-wrapper .max-size-label {
          text-align: left;
          margin-bottom: 20px; } }
    @media screen and (max-width: 998px) {
      body.edit-user .profile-info .upload-image-wrapper .cropper-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px; } }
    @media screen and (max-width: 768px) {
      body.edit-user .profile-info .upload-image-wrapper .cropper-container {
        margin-bottom: 50px; } }
  body.edit-user .profile-info .media-right {
    float: right;
    position: relative;
    width: 340px; }
    @media screen and (max-width: 1200px) {
      body.edit-user .profile-info .media-right {
        width: 280px; } }
    @media screen and (max-width: 998px) {
      body.edit-user .profile-info .media-right {
        width: 100%; } }
body.edit-user .information {
  background-color: transparent;
  box-shadow: none;
  align-items: normal; }
  @media screen and (max-width: 768px) {
    body.edit-user .information {
      background-color: white;
      box-shadow: 0px 0px 2px 1px #d8d2d2; } }
  body.edit-user .information .share-button {
    display: none; }
  body.edit-user .information .profile-rating {
    margin-top: 100px; }
  @media screen and (max-width: 768px) {
    body.edit-user .information .media-right {
      float: none; } }
  @media screen and (max-width: 768px) {
    body.edit-user .information .edit-buttons div {
      width: 49%; }
      body.edit-user .information .edit-buttons div .button {
        width: 100%; }
    body.edit-user .information .edit-buttons .cancel-edit {
      width: 49%;
      text-align: center; } }
  @media screen and (max-width: 768px) {
    body.edit-user .information .recommend-button,
    body.edit-user .information .claim-button,
    body.edit-user .information .edit-button {
      display: none !important; } }

.social-wrapper {
  text-align: right; }
  @media screen and (max-width: 768px) {
    .social-wrapper {
      text-align: left; } }
  .social-wrapper .add-social-profile {
    display: inline-block;
    font-size: 14px !important;
    font-weight: 300;
    color: #1d6786;
    margin-top: 10px; }

.flexed-wrap {
  align-items: baseline !important; }
  @media screen and (max-width: 768px) {
    .flexed-wrap {
      display: flex;
      margin-top: 7px; } }
  .flexed-wrap .social-networks {
    max-width: 44px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: -3px 3px 7px 1px #d8d8d8;
    background: white;
    height: 33px;
    margin-top: -5px;
    position: relative;
    border-right: 1px solid #ededed;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .flexed-wrap .social-networks {
        margin-top: 0px; } }
    .flexed-wrap .social-networks .current-social:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: #9d9d9d transparent transparent transparent; }
    .flexed-wrap .social-networks .current-social,
    .flexed-wrap .social-networks a {
      display: block;
      height: 32px;
      margin-left: 5px;
      background-color: transparent; }
      .flexed-wrap .social-networks .current-social img,
      .flexed-wrap .social-networks a img {
        background-color: #929292;
        padding: 4px;
        max-width: 23px;
        height: 23px;
        border-radius: 3px;
        margin-top: 7px;
        display: block; }
    .flexed-wrap .social-networks .social-dropdown {
      display: none;
      position: absolute;
      background: white;
      top: 100%;
      left: -1px;
      border: 1px solid #d8d8d8;
      z-index: 1000; }
      .flexed-wrap .social-networks .social-dropdown.active {
        display: block; }
      .flexed-wrap .social-networks .social-dropdown a {
        padding: 0px 15px 0px 5px;
        margin: 0 auto;
        height: auto;
        margin-bottom: 8px; }
        .flexed-wrap .social-networks .social-dropdown a.inactive {
          display: none; }
  .flexed-wrap .col input {
    width: 100% !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
    @media screen and (max-width: 768px) {
      .flexed-wrap .col input {
        margin-bottom: 0px; } }

.email-wrapper .checkbox-label {
  margin-bottom: 15px;
  margin-left: 44px;
  margin-top: 5px; }
  .email-wrapper .checkbox-label .checkbox-square {
    background-color: white;
    color: white;
    margin-right: 2px; }
  .email-wrapper .checkbox-label.active .checkbox-square {
    background-color: #126585; }
.email-wrapper .email-wrap .social-networks .current-social:after {
  display: none; }

.popup#recommend-dentist .popup-inner h2 {
  margin-bottom: 25px; }
.popup#recommend-dentist .popup-inner .popup-title {
  font-weight: bold; }
.popup#recommend-dentist .popup-inner .rec-first {
  margin-right: 18px; }
  @media screen and (max-width: 768px) {
    .popup#recommend-dentist .popup-inner .rec-first {
      margin-right: 0px; } }
.popup#recommend-dentist .popup-inner .modern-field .modern-input {
  border-radius: 7px;
  border-width: 1px; }
.popup#recommend-dentist .popup-inner input[type="submit"] {
  background-color: #0cafd4;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 12px 52px; }

#add-team-popup form .input {
  height: 40px; }
#add-team-popup form label[for="add-invite-image"] {
  margin-bottom: 20px; }

.tour-popup {
  background-color: rgba(0, 0, 0, 0.6); }
  .tour-popup .popup-inner-tour {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-bottom: 60px;
    background: #24c7ca;
    background: -moz-linear-gradient(top, #24c7ca 0%, #1c88d6 100%);
    background: -webkit-linear-gradient(top, #24c7ca 0%, #1c88d6 100%);
    background: linear-gradient(to bottom, #24c7ca 0%, #1c88d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c7ca', endColorstr='#1c88d6',GradientType=0 );
    width: 870px;
    border-radius: 15px;
    padding: 40px 100px;
    box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.7); }
    @media screen and (max-width: 1300px) {
      .tour-popup .popup-inner-tour {
        width: 630px;
        padding: 40px 50px; } }
    @media screen and (max-width: 768px) {
      .tour-popup .popup-inner-tour {
        width: 90%;
        padding: 30px 20px; } }
    .tour-popup .popup-inner-tour .avatar {
      box-sizing: inherit;
      position: relative;
      width: 200px;
      min-width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: auto;
      background-size: cover;
      margin-left: auto; }
      @media screen and (max-width: 1300px) {
        .tour-popup .popup-inner-tour .avatar {
          width: 120px;
          min-width: 120px;
          height: 120px; } }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour .avatar {
          width: 80px;
          min-width: 80px;
          height: 80px; } }
      .tour-popup .popup-inner-tour .avatar:before {
        content: '';
        position: absolute;
        left: -7px;
        right: 0;
        top: -7px;
        bottom: 0;
        width: 215px;
        height: 215px;
        background: url("../img-trp/avatar-border.svg") no-repeat 50% 50%; }
        @media screen and (max-width: 1300px) {
          .tour-popup .popup-inner-tour .avatar:before {
            left: -4px;
            top: -4px;
            width: 128px;
            height: 128px; } }
        @media screen and (max-width: 768px) {
          .tour-popup .popup-inner-tour .avatar:before {
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%; } }
    .tour-popup .popup-inner-tour h2 {
      font-size: 42px;
      color: white;
      font-weight: 300;
      margin-top: 20px; }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour h2 {
          font-size: 32px;
          margin-bottom: 20px; } }
    .tour-popup .popup-inner-tour p {
      font-size: 25px;
      font-weight: 300;
      color: white; }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour p {
          font-size: 20px; } }
    .tour-popup .popup-inner-tour .tour-buttons {
      margin-top: 60px; }
      @media screen and (max-width: 1300px) {
        .tour-popup .popup-inner-tour .tour-buttons {
          margin-top: 40px; } }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour .tour-buttons {
          margin-top: 30px; } }
    .tour-popup .popup-inner-tour .tour-button {
      padding: 13px;
      display: inline-block;
      font-size: 20px;
      border: 1px solid white;
      width: 217px;
      border-radius: 5px;
      margin: 0px 7px;
      color: white;
      transition: all 0.3s ease; }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour .tour-button {
          font-size: 18px;
          width: auto;
          margin: 0px 0px; } }
      .tour-popup .popup-inner-tour .tour-button.button-white {
        background-color: white;
        color: #46afda;
        font-weight: bold;
        text-transform: uppercase; }
      .tour-popup .popup-inner-tour .tour-button:hover {
        box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease; }
  .tour-popup.first-guided-tour-done-popup .popup-inner-tour {
    width: 540px; }
    @media screen and (max-width: 768px) {
      .tour-popup.first-guided-tour-done-popup .popup-inner-tour {
        width: 90%; } }
    .tour-popup.first-guided-tour-done-popup .popup-inner-tour .tour-button {
      width: 100px; }

.guided-tour-wrapper .guided-tour-part {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.bubble-guided-tour {
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: white;
  z-index: 100;
  border-radius: 14px;
  padding: 25px 30px;
  max-width: 355px;
  z-index: 10000;
  touch-action: none; }
  @media screen and (max-width: 768px) {
    .bubble-guided-tour {
      max-width: 300px;
      min-width: 300px; } }
  @media screen and (max-width: 768px) {
    .bubble-guided-tour .flex {
      display: flex; } }
  .bubble-guided-tour h4 {
    color: #333;
    margin-bottom: 17px;
    font-weight: bold; }
  .bubble-guided-tour .guided-icon {
    min-width: 40px;
    max-width: 40px;
    margin-right: 10px; }
    @media screen and (max-width: 768px) {
      .bubble-guided-tour .guided-icon {
        display: none; } }
  .bubble-guided-tour .guided-info-wrap {
    margin-bottom: 20px; }
  .bubble-guided-tour .guided-buttons {
    justify-content: space-between; }
    .bubble-guided-tour .guided-buttons .steps {
      font-weight: 300; }
      .bubble-guided-tour .guided-buttons .steps span {
        font-weight: bold;
        font-size: 18px; }
    .bubble-guided-tour .guided-buttons .skip-step {
      color: #126585; }
      .bubble-guided-tour .guided-buttons .skip-step.button {
        color: white;
        padding: 5px 11px;
        font-size: 15px; }
  .bubble-guided-tour .cap {
    background-color: transparent;
    position: absolute;
    top: -13px;
    left: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 13px 14px;
    border-color: transparent transparent #ffffff transparent; }
    @media screen and (max-width: 768px) {
      .bubble-guided-tour .cap {
        position: fixed; } }
  .bubble-guided-tour.bubble-reviews .cap {
    top: auto;
    bottom: -13px;
    border-width: 13px 14px 0 14px;
    border-color: #ffffff transparent transparent transparent; }

.guided-overflow-wrapper {
  display: none; }
  .guided-overflow-wrapper .guided-tour-part {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 10000;
    touch-action: none; }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-top {
      top: 0;
      left: 0;
      right: 0; }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-right {
      right: 0; }
      .guided-overflow-wrapper .guided-tour-part.guided-overflow-right img.top {
        transform: rotate(90deg); }
      .guided-overflow-wrapper .guided-tour-part.guided-overflow-right img.bottom {
        transform: rotate(180deg); }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-left {
      left: 0; }
      .guided-overflow-wrapper .guided-tour-part.guided-overflow-left img.bottom {
        transform: rotate(-90deg); }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-bottom {
      bottom: 0;
      left: 0;
      right: 0; }
    .guided-overflow-wrapper .guided-tour-part img {
      touch-action: none;
      position: fixed;
      background-color: transparent; }

.widget-step .widget-step-title {
  color: #126585;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px !important; }
  .widget-step .widget-step-title span {
    color: black;
    font-size: 24px;
    text-transform: uppercase; }
.widget-step .popup-desc {
  font-weight: 300;
  margin-bottom: 10px; }
.widget-step .popup-title {
  color: #333333;
  padding: 7px 100px 9px; }
.widget-step .step-description {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px; }
.widget-step .modern-radios {
  display: block; }
  @media screen and (max-width: 768px) {
    .widget-step .modern-radios {
      margin-bottom: 47px; } }
  .widget-step .modern-radios .radio-label {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .widget-step .modern-radios .radio-label {
        margin-bottom: 10px;
        border-bottom: 2px solid #dadada;
        padding-bottom: 20px; } }
    .widget-step .modern-radios .radio-label:first-child {
      margin-right: 0px; }
    .widget-step .modern-radios .radio-label label {
      border-color: transparent;
      align-items: center;
      padding: 18px 15px;
      display: flex; }
      @media screen and (max-width: 768px) {
        .widget-step .modern-radios .radio-label label {
          display: block; } }
      .widget-step .modern-radios .radio-label label.active {
        border-color: #126585; }
        .widget-step .modern-radios .radio-label label.active .modern-radio span {
          background-color: #126585; }
        .widget-step .modern-radios .radio-label label.active .widget-option p {
          color: #126585;
          font-weight: bold; }
        .widget-step .modern-radios .radio-label label.active:hover {
          border-color: #126585; }
      .widget-step .modern-radios .radio-label label:hover {
        border-color: #ccc; }
      .widget-step .modern-radios .radio-label label .modern-radio {
        min-width: 36px;
        width: 36px;
        height: 36px;
        border-color: #979797;
        background-color: #ebebeb;
        margin-right: 13px; }
        @media screen and (max-width: 768px) {
          .widget-step .modern-radios .radio-label label .modern-radio {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 14px; } }
        .widget-step .modern-radios .radio-label label .modern-radio span {
          width: 20px;
          height: 20px; }
      .widget-step .modern-radios .radio-label label .layout-img {
        max-width: 398px; }
        @media screen and (max-width: 998px) {
          .widget-step .modern-radios .radio-label label .layout-img {
            max-width: 260px; } }
        @media screen and (max-width: 768px) {
          .widget-step .modern-radios .radio-label label .layout-img {
            margin-bottom: 20px; } }
      .widget-step .modern-radios .radio-label label .widget-option {
        margin-left: 40px; }
        @media screen and (max-width: 998px) {
          .widget-step .modern-radios .radio-label label .widget-option {
            margin-left: 20px; } }
        .widget-step .modern-radios .radio-label label .widget-option p {
          font-size: 20px;
          font-weight: 300;
          margin-bottom: 20px; }
        .widget-step .modern-radios .radio-label label .widget-option .select-wrap {
          margin-bottom: 14px; }
          @media screen and (max-width: 768px) {
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap {
              justify-content: center; } }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap:last-child {
            margin-bottom: 0px; }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap span {
            font-size: 18px;
            font-weight: 300; }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap select,
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap input {
            display: block;
            border: 1px solid #d7d7d7;
            margin: 0px 5px;
            border-radius: 4px;
            padding: 0px 5px;
            font-size: 18px;
            font-weight: 300; }
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap select:hover, .widget-step .modern-radios .radio-label label .widget-option .select-wrap select:focus,
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap input:hover,
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap input:focus {
              outline: none; }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap input {
            max-width: 59px;
            -moz-appearance: textfield; }
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap input::-webkit-outer-spin-button, .widget-step .modern-radios .radio-label label .widget-option .select-wrap input::-webkit-inner-spin-button {
              /* display: none; <- Crashes Chrome on hover */
              -webkit-appearance: none;
              margin: 0;
              /* <-- Apparently some margin are still there even though it's hidden */ }
.widget-step #selected-image-layout {
  margin-bottom: 25px;
  max-width: 398px; }
  @media screen and (max-width: 768px) {
    .widget-step #selected-image-layout {
      max-width: 100%; } }
.widget-step #selected-layout {
  color: #126585;
  font-weight: bold;
  text-transform: capitalize; }
.widget-step .widget-subtitle {
  font-size: 22px;
  margin-bottom: 30px !important; }
.widget-step .popup-tabs {
  margin-top: 0px !important; }
  @media screen and (max-width: 768px) {
    .widget-step .popup-tabs {
      flex-direction: column; } }
  @media screen and (max-width: 768px) {
    .widget-step .popup-tabs a {
      margin-right: 0px;
      margin-left: 0px; } }
  @media screen and (max-width: 768px) {
    .widget-step .popup-tabs a:first-child {
      margin-bottom: 10px; } }
.widget-step .instructions-image {
  position: relative;
  display: block; }
  .widget-step .instructions-image .magnifier {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: transparent; }
.widget-step .select-reviews .modern-radios .radio-label {
  margin-bottom: 27px; }
  @media screen and (max-width: 768px) {
    .widget-step .select-reviews .modern-radios .radio-label {
      border-bottom: 0px;
      padding-bottom: 0px; } }
  .widget-step .select-reviews .modern-radios .radio-label label {
    border-color: #d6d6d7;
    display: block;
    border-width: 1px;
    position: relative; }
    .widget-step .select-reviews .modern-radios .radio-label label.active {
      border-color: #126585; }
      .widget-step .select-reviews .modern-radios .radio-label label.active span {
        font-weight: bold;
        color: #126585; }
      .widget-step .select-reviews .modern-radios .radio-label label.active .open-hidden-option img {
        transform: rotate(180deg); }
    .widget-step .select-reviews .modern-radios .radio-label label span {
      font-size: 20px;
      font-weight: 300; }
    .widget-step .select-reviews .modern-radios .radio-label label .info {
      vertical-align: middle;
      margin-left: 5px; }
    .widget-step .select-reviews .modern-radios .radio-label label .hidden-option {
      display: none;
      padding-left: 40px;
      padding-top: 18px; }
      @media screen and (max-width: 768px) {
        .widget-step .select-reviews .modern-radios .radio-label label .hidden-option {
          padding-left: 30px; } }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option.active {
        display: block; }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes {
        display: flex; }
        .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label {
          border: none;
          padding: 0px;
          margin-right: 30px;
          font-size: 18px; }
          .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label.active .modern-radio span {
            background-color: #126585; }
          .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label:last-child {
            margin-right: 0px; }
          .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label .modern-radio span {
            background-color: transparent; }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option p {
        font-size: 18px;
        margin-bottom: 15px; }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .button {
        background-color: white;
        border: 1px solid #126585;
        color: #126585;
        text-transform: none;
        font-size: 18px;
        padding: 7px 20px;
        margin-bottom: 0px; }
        .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .button:hover {
          background-color: #126585;
          color: white; }
    .widget-step .select-reviews .modern-radios .radio-label label .modern-radio {
      min-width: 24px;
      width: 24px;
      height: 24px; }
      @media screen and (max-width: 768px) {
        .widget-step .select-reviews .modern-radios .radio-label label .modern-radio {
          display: inline-block;
          margin-bottom: 0px;
          margin-right: 5px; } }
      .widget-step .select-reviews .modern-radios .radio-label label .modern-radio span {
        width: 13px;
        height: 13px; }
    .widget-step .select-reviews .modern-radios .radio-label label .open-hidden-option {
      padding: 20px;
      padding-bottom: 19px;
      position: absolute;
      right: 2px;
      top: 0px; }
      @media screen and (max-width: 768px) {
        .widget-step .select-reviews .modern-radios .radio-label label .open-hidden-option {
          padding: 10px;
          top: 13px; } }
      .widget-step .select-reviews .modern-radios .radio-label label .open-hidden-option img {
        max-width: 12px; }
.widget-step .widget-code-wrap {
  background-color: #126585;
  margin: 20px -100px 50px;
  padding: 25px 100px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .widget-step .widget-code-wrap {
      margin: 20px -20px 50px;
      padding: 25px 20px; } }
  .widget-step .widget-code-wrap textarea {
    height: 170px;
    box-shadow: none;
    padding: 10px 15px; }
    @media screen and (max-width: 998px) {
      .widget-step .widget-code-wrap textarea {
        height: 210px; } }
    @media screen and (max-width: 768px) {
      .widget-step .widget-code-wrap textarea {
        height: 300px; } }
.widget-step .button {
  border: 1px solid #46afda;
  font-size: 25px;
  background-color: #46afda;
  padding: 12px 73px;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .widget-step .button {
      font-size: 19px;
      padding: 9px 45px; } }
  .widget-step .button.back-widget {
    background-color: white;
    color: #46afda;
    margin-right: 10px; }
.widget-step .copy-widget {
  position: absolute;
  right: 104px;
  background: #f1eff1;
  color: #4e4c4e;
  display: block;
  padding: 8px;
  top: 29px; }
  @media screen and (max-width: 768px) {
    .widget-step .copy-widget {
      right: 24px; } }
  .widget-step .copy-widget img {
    display: block;
    width: 14px; }
.widget-step .facebook-tab .tab-info {
  font-size: 22px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start; }
  .widget-step .facebook-tab .tab-info img {
    max-width: 18px;
    margin-top: 6px;
    margin-right: 5px; }
.widget-step .facebook-tab .fb-l-button {
  background-color: #4267B2;
  color: white;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 10px 15px;
  font-size: 20px;
  padding-left: 15px;
  border: none;
  width: 350px; }
  .widget-step .facebook-tab .fb-l-button span {
    display: inline-block;
    vertical-align: sub;
    width: 27px;
    text-align: center;
    margin-right: 10px; }
    .widget-step .facebook-tab .fb-l-button span i {
      color: white;
      font-size: 30px; }
.widget-step .facebook-tab .tab-note {
  font-size: 17px;
  color: #888888;
  text-align: center;
  margin-bottom: 20px; }

body.reviews-guided-tour .widget-step .facebook-tab .modern-field {
  padding: 13px 5px 10px; }
body.reviews-guided-tour .widget-step .select-reviews .widget-subtitle {
  display: none; }
@media screen and (max-width: 768px) {
  body.reviews-guided-tour .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label {
    margin-right: 16px; } }
body.reviews-guided-tour [reviews-guided-action="reviews_type"],
body.reviews-guided-tour .widget-first-inner,
body.reviews-guided-tour [reviews-guided-action="copy"] {
  padding: 10px; }
body.reviews-guided-tour .skip-reviews-step {
  padding: 3px 11px; }
body.reviews-guided-tour #select-reviews-popup {
  z-index: 10000; }
@media screen and (max-width: 768px) {
  body.reviews-guided-tour .button {
    padding: 9px 35px; } }
body.reviews-guided-tour .widget-code-wrap {
  margin: 20px -110px 50px; }
  @media screen and (max-width: 768px) {
    body.reviews-guided-tour .widget-code-wrap {
      margin: 20px -30px 50px; } }

.popup .popup-inner .invite-content {
  padding-bottom: 40px; }
  .popup .popup-inner .invite-content .popup-title {
    font-weight: bold;
    text-transform: uppercase; }
  .popup .popup-inner .invite-content .popup-desc {
    margin-top: -10px; }
  .popup .popup-inner .invite-content .step-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #126585;
    text-align: center;
    font-size: 24px; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content .step-title {
        font-size: 18px;
        margin-bottom: 25px;
        text-align: left; } }
    .popup .popup-inner .invite-content .step-title span {
      font-size: 24px;
      color: black; }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content .step-title span {
          font-size: 18px; } }
  .popup .popup-inner .invite-content .invite-hubapp {
    display: inline-block;
    position: relative;
    top: 10px; }
    .popup .popup-inner .invite-content .invite-hubapp.manual-hubapp {
      top: -20px; }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content .invite-hubapp.manual-hubapp {
          top: -10px; } }
    .popup .popup-inner .invite-content .invite-hubapp i {
      margin-top: 0px; }
  .popup .popup-inner .invite-content .checkboxes-wrapper {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: 20px;
    -webkit-overflow-scrolling: touch; }
    .popup .popup-inner .invite-content .checkboxes-wrapper .checkboxes-inner {
      width: 1052px; }
    .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper {
      width: 243px;
      float: left;
      margin-right: 20px; }
      .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper:last-child {
        margin-right: 0px; }
      .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper.active .invite-radio .checkbox-square {
        font-size: 13px;
        line-height: 18px; }
        @media screen and (max-width: 768px) {
          .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper.active .invite-radio .checkbox-square {
            line-height: 13px; } }
      .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper.active .copypaste-box {
        border-color: #126585; }
      .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper .invite-radio {
        cursor: pointer;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 9px; }
        .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper .invite-radio input {
          display: none; }
        .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper .invite-radio .checkbox-square {
          width: 17px;
          height: 17px;
          border: 1px solid #126585;
          display: inline-block;
          background-color: white;
          color: #126585;
          line-height: 26px;
          text-align: center;
          border-radius: 20%;
          font-weight: bold;
          margin-right: 5px;
          font-size: 0px; }
          @media screen and (max-width: 768px) {
            .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper .invite-radio .checkbox-square {
              width: 14px;
              height: 14px;
              line-height: 23px; } }
      .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper .copypaste-box {
        border: 1px solid #d6d6d7;
        border-radius: 8px;
        padding: 15px 0px; }
        .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper .copypaste-box p {
          border-bottom: 1px solid #ebebeb;
          color: #333;
          padding: 4px 18px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          .popup .popup-inner .invite-content .checkboxes-wrapper .checkbox-wrapper .copypaste-box p:last-child {
            border-bottom: none; }
  .popup .popup-inner .invite-content .label-file {
    display: block;
    width: 100%;
    height: 62px;
    border: 1px solid #d6d6d7;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content .label-file {
        height: 50px; } }
    .popup .popup-inner .invite-content .label-file .browse {
      width: 132px;
      text-align: center;
      text-transform: uppercase;
      background-color: #eee;
      height: 60px;
      line-height: 60px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      font-size: 20px; }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content .label-file .browse {
          height: 48px;
          line-height: 48px;
          font-size: 16px;
          width: 92px; } }
    .popup .popup-inner .invite-content .label-file span {
      flex: 1;
      padding: 0px 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .popup .popup-inner .invite-content .label-file input {
      opacity: 0;
      z-index: -1;
      width: 1px;
      position: absolute; }
  .popup .popup-inner .invite-content .file-info {
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content .file-info {
        margin-bottom: 0px; } }
    .popup .popup-inner .invite-content .file-info .download-sample {
      color: #0cafd4; }
    .popup .popup-inner .invite-content .file-info img {
      width: 10px;
      margin-right: 3px; }
    .popup .popup-inner .invite-content .file-info span {
      display: block;
      text-align: right;
      color: #888888; }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content .file-info span {
          text-align: left;
          margin-top: 10px; } }
  .popup .popup-inner .invite-content .info {
    margin-bottom: 24px;
    display: flex;
    align-items: center; }
    .popup .popup-inner .invite-content .info img {
      margin-right: 5px; }
  .popup .popup-inner .invite-content .button {
    padding: 12px 49px;
    background-color: #0cafd4;
    -webkit-appearance: none; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content .button {
        width: 100%;
        text-align: center; } }
    .popup .popup-inner .invite-content .button i {
      color: white; }
    .popup .popup-inner .invite-content .button.button-inner-white {
      background-color: white;
      border-color: #0cafd4;
      color: #0cafd4;
      padding: 11px 77px; }
    .popup .popup-inner .invite-content .button[disabled="disabled"] {
      background-color: #aaaaaa; }
  .popup .popup-inner .invite-content .whatsapp-button {
    background-color: #24cd63;
    padding: 12px 29px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content .whatsapp-button {
        margin-top: 0px; } }
    .popup .popup-inner .invite-content .whatsapp-button img {
      margin-left: 8px;
      vertical-align: sub; }
  .popup .popup-inner .invite-content .modern-field .modern-input {
    border-width: 1px;
    border-radius: 8px; }
  .popup .popup-inner .invite-content .final-button {
    position: relative; }
    .popup .popup-inner .invite-content .final-button.waiting {
      color: #0cafd4; }
      .popup .popup-inner .invite-content .final-button.waiting .loader {
        display: block; }
    .popup .popup-inner .invite-content .final-button .loader {
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }
      .popup .popup-inner .invite-content .final-button .loader i {
        border-radius: 50%;
        display: block;
        font-size: 15px;
        width: 20px;
        height: 20px;
        text-indent: -9999em;
        border-top: 3px solid #121212;
        border-right: 3px solid white;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        animation: load8 1.1s infinite linear; }
  .popup .popup-inner .invite-content .chosen-patient-info {
    height: 62px;
    border: 1px solid #d6d6d7;
    border-radius: 8px;
    margin-top: 25px; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content .chosen-patient-info {
        height: auto; } }
    .popup .popup-inner .invite-content .chosen-patient-info .patient-info-label {
      height: 100%;
      min-width: 160px;
      text-align: center;
      align-items: center;
      line-height: 60px;
      text-transform: uppercase;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: #eeeeee; }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content .chosen-patient-info .patient-info-label {
          line-height: 40px;
          border-top-right-radius: 8px;
          border-bottom-left-radius: 0px; } }
    .popup .popup-inner .invite-content .chosen-patient-info .patient-info-value {
      height: 100%;
      line-height: 60px;
      margin: 0px 23px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px; }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content .chosen-patient-info .patient-info-value {
          line-height: 50px;
          margin: 0px 10px; } }
  .popup .popup-inner .invite-content form .input-flex {
    align-items: center; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content form .input-flex {
        display: flex; } }
    .popup .popup-inner .invite-content form .input-flex .code-wrapper {
      flex: 1;
      max-width: 68px;
      text-align: center;
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eeeeee;
      border: 1px solid #cccccc;
      border-radius: 8px;
      border-right: none;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px; }
      @media screen and (max-width: 998px) {
        .popup .popup-inner .invite-content form .input-flex .code-wrapper {
          height: 45px; } }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content form .input-flex .code-wrapper {
          max-width: 58px; } }
    .popup .popup-inner .invite-content form .input-flex .phone-code-holder {
      display: block;
      font-size: 16px;
      color: #888888;
      top: -4px; }
      @media screen and (max-width: 768px) {
        .popup .popup-inner .invite-content form .input-flex .phone-code-holder {
          font-size: 14px; } }
    .popup .popup-inner .invite-content form .input-flex .modern-field {
      margin-bottom: 0px; }
      .popup .popup-inner .invite-content form .input-flex .modern-field .modern-input + label {
        height: 0px; }
      .popup .popup-inner .invite-content form .input-flex .modern-field .modern-input {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; }
  .popup .popup-inner .invite-content form #add-invite-image {
    opacity: 0;
    position: absolute;
    z-index: -1; }
  .popup .popup-inner .invite-content form label[for="add-invite-image"] {
    position: relative;
    width: 100%;
    height: 41px;
    background-color: #126585;
    display: block;
    border-radius: 5px;
    color: white;
    text-align: center;
    line-height: 41px;
    cursor: pointer; }
  .popup .popup-inner .invite-content form .col:first-child {
    margin-left: 0px; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content form .col:first-child {
        margin-right: 0px; } }
  .popup .popup-inner .invite-content form .col {
    margin-left: 15px; }
    @media screen and (max-width: 768px) {
      .popup .popup-inner .invite-content form .col {
        margin-left: 0px; } }
  .popup .popup-inner .invite-content form .add-dentist,
  .popup .popup-inner .invite-content form .add-patient {
    color: #126585; }
  .popup .popup-inner .invite-content form .button {
    margin-top: 25px;
    padding: 12px 49px; }
  .popup .popup-inner .invite-content .preview-invite {
    font-size: 14px;
    color: #0cafd4;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -10px;
    margin-top: 10px; }
    .popup .popup-inner .invite-content .preview-invite img {
      max-width: 20px;
      margin-right: 3px; }

.sample-invite-wrapper p, .sample-invite-wrapper div, .sample-invite-wrapper a, .sample-invite-wrapper a strong {
  font-family: arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 22px; }
.sample-invite-wrapper a, .sample-invite-wrapper a strong {
  text-decoration: none !important;
  color: #1188E6; }
.sample-invite-wrapper p {
  margin: 0 !important;
  padding: 0 !important; }
.sample-invite-wrapper table.wrapper {
  width: 100% !important;
  table-layout: fixed !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important; }
.sample-invite-wrapper strong {
  font-weight: bold; }
.sample-invite-wrapper img.max-width {
  max-width: 100% !important; }
.sample-invite-wrapper .column.of-2 {
  width: 50% !important; }
.sample-invite-wrapper .column.of-3 {
  width: 33.333% !important; }
.sample-invite-wrapper .column.of-4 {
  width: 25% !important; }
@media screen and (max-width: 480px) {
  .sample-invite-wrapper .preheader .rightColumnContent,
  .sample-invite-wrapper .footer .rightColumnContent {
    text-align: left !important; }
  .sample-invite-wrapper .preheader .rightColumnContent div,
  .sample-invite-wrapper .preheader .rightColumnContent span,
  .sample-invite-wrapper .footer .rightColumnContent div,
  .sample-invite-wrapper .footer .rightColumnContent span {
    text-align: left !important; }
  .sample-invite-wrapper .preheader .rightColumnContent,
  .sample-invite-wrapper .preheader .leftColumnContent {
    font-size: 80% !important;
    padding: 5px 0 !important; }
  .sample-invite-wrapper table.wrapper-mobile {
    width: 100% !important;
    table-layout: fixed; }
  .sample-invite-wrapper img.max-width {
    height: auto !important;
    max-width: 100% !important; }
  .sample-invite-wrapper a.bulletproof-button {
    display: block !important;
    width: auto !important;
    font-size: 80%;
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .sample-invite-wrapper .columns {
    width: 100% !important; }
  .sample-invite-wrapper .column {
    display: block !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .sample-invite-wrapper .social-icon-column {
    display: inline-block !important; } }

.rearrange-team {
  background-color: #46afda;
  margin-bottom: 100px; }
  @media screen and (max-width: 768px) {
    .rearrange-team {
      display: none; } }

body.guided-tour {
  overflow-y: hidden; }
  body.guided-tour .black-overflow {
    display: none !important; }
  body.guided-tour .strength-parent {
    display: none !important; }

@media screen and (max-width: 768px) {
  #submit-review-popup .review-tabs a {
    font-size: 16px;
    height: 40px;
    line-height: 40px; } }
@media screen and (max-width: 998px) {
  #submit-review-popup .review-tabs span {
    line-height: 45px; } }
@media screen and (max-width: 768px) {
  #submit-review-popup .review-tabs span {
    min-width: 40px;
    font-size: 16px;
    color: #126585;
    line-height: 40px; } }

.CodeMirror {
  border: 1px solid #d6d6d7;
  border-radius: 10px;
  width: 100%;
  height: 140px !important;
  margin-bottom: 30px !important; }
  @media screen and (max-width: 768px) {
    .CodeMirror {
      margin-bottom: 0px !important; } }
  .CodeMirror pre.CodeMirror-line {
    padding-left: 35px !important; }
  .CodeMirror pre.CodeMirror-placeholder {
    color: #afb0b9 !important;
    padding-left: 35px !important; }

.CodeMirror-gutters {
  border-color: #ebebeb;
  width: 28px !important;
  left: 0px !important; }

.CodeMirror-linenumber {
  min-width: 15px !important; }

.CodeMirror-gutter-wrapper {
  left: 0px !important; }

.header-success-tab {
  background-color: transparent; }
  .header-success-tab img {
    max-width: 120px;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .header-success-tab img {
        max-width: 60px; } }
  .header-success-tab h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    color: #126585 !important;
    margin-bottom: 13px !important;
    margin-top: 30px !important; }
    @media screen and (max-width: 768px) {
      .header-success-tab h2 {
        font-size: 24px;
        margin-top: 0px !important;
        margin-bottom: 20px !important; } }
  .header-success-tab h4 {
    color: #333;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .header-success-tab h4 {
        font-size: 16px;
        margin-bottom: 25px; } }

.symbols-wrapper {
  margin-bottom: 20px; }
  .symbols-wrapper span.red {
    color: red; }

@media screen and (max-width: 998px) {
  #select-reviews-popup,
  #popup-widget {
    background-color: white; } }
#select-reviews-popup .popup-inner,
#popup-widget .popup-inner {
  overflow-x: initial;
  overflow-y: unset;
  box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 998px) {
    #select-reviews-popup .popup-inner,
    #popup-widget .popup-inner {
      box-shadow: none; } }
  #select-reviews-popup .popup-inner h2,
  #popup-widget .popup-inner h2 {
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      #select-reviews-popup .popup-inner h2,
      #popup-widget .popup-inner h2 {
        font-size: 30px;
        margin-top: 40px; } }
  @media screen and (max-width: 768px) {
    #select-reviews-popup .popup-inner .popup-title,
    #popup-widget .popup-inner .popup-title {
      font-size: 20px; } }
  @media screen and (max-width: 768px) {
    #select-reviews-popup .popup-inner .popup-description,
    #popup-widget .popup-inner .popup-description {
      font-size: 18px;
      font-weight: 300; } }

#select-reviews-popup .button {
  border: 1px solid #46afda;
  font-size: 25px;
  background-color: #46afda;
  padding: 12px 73px;
  margin-top: 30px;
  margin-bottom: 20px; }

.image-team-wrapper .avatar-name-wrapper,
.image-team-wrapper .image-big-error {
  margin-left: auto;
  max-width: 180px; }
  @media screen and (max-width: 768px) {
    .image-team-wrapper .avatar-name-wrapper,
    .image-team-wrapper .image-big-error {
      margin-right: auto; } }
@media screen and (max-width: 768px) {
  .image-team-wrapper .max-size-label {
    max-width: 180px;
    margin-left: auto;
    margin-right: auto; } }
