.popup-wokring-time .popup-inner h4 {
  margin-bottom: 35px; }
.popup-wokring-time .popup-inner .day-wrapper {
  margin-bottom: 50px;
  text-align: center; }
  .popup-wokring-time .popup-inner .day-wrapper .all-days-equal {
    color: #126585;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    border: 1px solid #126585;
    border-radius: 5px;
    transition: all 0.3s ease; }
    .popup-wokring-time .popup-inner .day-wrapper .all-days-equal:hover {
      transition: all 0.3s ease;
      background-color: #126585;
      color: white; }
.popup-wokring-time .popup-inner .popup-desc {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: -15px;
  margin-bottom: 20px; }
  .popup-wokring-time .popup-inner .popup-desc label {
    margin-right: 5px; }
  .popup-wokring-time .popup-inner .popup-desc select {
    width: 65px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px 5px; }
    .popup-wokring-time .popup-inner .popup-desc select.grayed {
      background-color: #eee; }
  .popup-wokring-time .popup-inner .popup-desc .separator {
    background: #333333;
    width: 36px;
    height: 2px;
    margin: 0px 12px; }
