#popup-lead-magnet .popup-inner {
  padding: 50px 0px 40px;
  width: 730px;
  min-width: 730px; }
  @media screen and (max-width: 1200px) {
    #popup-lead-magnet .popup-inner {
      width: 660px;
      min-width: 660px; } }
  @media screen and (max-width: 768px) {
    #popup-lead-magnet .popup-inner {
      width: 100%;
      min-width: auto;
      padding-bottom: 10px; } }
  #popup-lead-magnet .popup-inner .close-popup:not(.button) {
    top: 18px; }
  #popup-lead-magnet .popup-inner h2 {
    font-size: 30px; }
    @media screen and (max-width: 1200px) {
      #popup-lead-magnet .popup-inner h2 {
        font-size: 27px; } }
  #popup-lead-magnet .popup-inner form {
    box-shadow: 0px -12px 13px -8px #dcdcdc;
    padding: 50px 50px 0px;
    min-height: 516px;
    position: relative; }
    @media screen and (max-width: 768px) {
      #popup-lead-magnet .popup-inner form {
        padding: 30px 15px 0px; } }
    #popup-lead-magnet .popup-inner form .loader-lead-magnet {
      position: absolute;
      z-index: 1000;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center; }
      #popup-lead-magnet .popup-inner form .loader-lead-magnet video {
        width: 330px;
        margin: 60px auto 0; }
        @media screen and (max-width: 768px) {
          #popup-lead-magnet .popup-inner form .loader-lead-magnet video {
            width: 240px; } }
      #popup-lead-magnet .popup-inner form .loader-lead-magnet p {
        font-size: 20px;
        color: #332255;
        margin-top: 20px; }
        @media screen and (max-width: 768px) {
          #popup-lead-magnet .popup-inner form .loader-lead-magnet p {
            padding: 0px 40px; } }
    #popup-lead-magnet .popup-inner form .checkbox-label {
      margin-bottom: 45px; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner form .checkbox-label {
          margin-top: -10px;
          padding: 0px; } }
  #popup-lead-magnet .popup-inner .flickity-magnet {
    margin: -10px -50px 0px; }
    @media screen and (max-width: 768px) {
      #popup-lead-magnet .popup-inner .flickity-magnet {
        margin: 0px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet {
      width: 100%;
      text-align: center; }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet p {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 19px; }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label {
        text-align: left;
        display: block;
        padding: 18px 22px;
        padding-right: 23px;
        margin: 1px auto 15px;
        border: 1px solid #d6d6d7;
        border-radius: 4px;
        font-size: 18px;
        color: #332255;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        box-shadow: 0px 0px 4px 0px #d6d6d7; }
        @media screen and (max-width: 768px) {
          #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label {
            font-size: 16px;
            padding: 16px 22px;
            margin-bottom: 18px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.disabled-label {
          background-color: #f7f7f7; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active {
          border-color: #14cab8; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label:hover {
          background-color: #f7f7f7; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label:hover {
              background-color: white; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label input {
          display: none; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .checkbox-square {
          width: 17px;
          height: 17px;
          border: 1px solid #dddddd;
          display: inline-block;
          background-color: white;
          color: #126585;
          line-height: 26px;
          text-align: center;
          border-radius: 20%;
          font-weight: bold;
          margin-right: 5px;
          font-size: 0px; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label .checkbox-square {
              width: 14px;
              height: 14px;
              line-height: 23px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label i {
          font-size: 23px;
          vertical-align: middle;
          margin-right: 6px;
          color: #dddddd; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label i {
              font-size: 19px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active .checkbox-square {
          border-color: #126585;
          font-size: 13px;
          line-height: 18px; }
          @media screen and (max-width: 768px) {
            #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active .checkbox-square {
              line-height: 13px; } }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active i {
          color: #126585; }
          #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-radios-magnet label.active i:before {
            content: '\f14a'; }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question {
      margin-bottom: 45px; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question {
          margin-bottom: 15px;
          margin-top: 40px; } }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question h4 {
        font-weight: 800;
        color: #332255; }
        @media screen and (max-width: 768px) {
          #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .answer-question h4 {
            font-size: 20px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .buttons-list {
      margin-top: 20px;
      width: 525px;
      display: inline-block;
      position: relative; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .buttons-list {
          width: 100%;
          margin-top: 0px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-viewport .button {
      margin-top: 20px; }
    #popup-lead-magnet .popup-inner .flickity-magnet .alert {
      margin: 0px 130px 20px; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .alert {
          margin: 0px 20px 20px; } }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots {
      bottom: auto;
      top: 50px;
      background: transparent; }
      @media screen and (max-width: 768px) {
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots {
          top: 0px; } }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 20px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 100; }
      #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots .dot {
        margin: 0px 3px;
        border: 1px solid #bfbfbf;
        opacity: 1;
        width: 17px;
        height: 17px;
        background: transparent; }
        #popup-lead-magnet .popup-inner .flickity-magnet .flickity-page-dots .dot.is-selected {
          border-color: #0085d2;
          background-color: #0085d2; }
    #popup-lead-magnet .popup-inner .flickity-magnet .flickity-prev-next-button {
      display: none !important; }
