.signin-top {
  background-color: white;
  padding: 40px 55px 30px 335px;
  border-radius: 20px;
  width: 70%;
  position: absolute;
  top: 105px;
  left: 230px; }
  @media screen and (max-width: 1400px) {
    .signin-top {
      top: 85px;
      left: 120px;
      width: 78%; } }
  @media screen and (max-width: 1200px) {
    .signin-top {
      position: relative;
      margin-top: 85px;
      top: auto;
      left: auto;
      margin-left: 60px;
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .signin-top {
      width: 100%;
      margin-top: -124px;
      z-index: 10;
      border-radius: 0px;
      margin-left: 0px;
      padding: 19px 28px 55px;
      text-align: center;
      display: flex;
      flex-direction: column; } }
  .signin-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 300px;
    transform: translateY(-50%);
    width: 1px;
    height: 180px;
    background-color: #b7b7b7; }
    @media screen and (max-width: 768px) {
      .signin-top::after {
        display: none; } }
  .signin-top h1 {
    font-size: 35px;
    color: #333333;
    font-weight: 300;
    max-width: 600px;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .signin-top h1 {
        max-width: 100%;
        line-height: 36px;
        order: -2; } }
  .signin-top p {
    font-size: 20px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .signin-top p {
        margin-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .signin-top .ratings {
      order: -1;
      margin-bottom: 20px;
      margin-top: 0px; } }
  .signin-top .button-wrap {
    display: none; }
    @media screen and (max-width: 768px) {
      .signin-top .button-wrap {
        display: block;
        margin-bottom: -82px;
        background: transparent; } }
    .signin-top .button-wrap .button {
      background-color: #46afda;
      font-size: 25px;
      font-weight: bold;
      padding: 12.5px 65px; }

.signin-form-wrapper {
  position: relative; }
  @media screen and (max-width: 768px) {
    .signin-form-wrapper {
      order: -1; } }
  .signin-form-wrapper .container {
    width: 60%; }
    @media screen and (max-width: 1500px) {
      .signin-form-wrapper .container {
        width: 67%; } }
    @media screen and (max-width: 1200px) {
      .signin-form-wrapper .container {
        width: 78%; } }
    @media screen and (max-width: 768px) {
      .signin-form-wrapper .container {
        display: none; } }
  .signin-form-wrapper .modern-field + .ajax-alert {
    margin-top: -10px; }
  .signin-form-wrapper img {
    position: absolute;
    bottom: -170px;
    background-color: transparent;
    z-index: 10;
    left: -50px;
    width: 810px; }
    @media screen and (max-width: 1400px) {
      .signin-form-wrapper img {
        width: 710px;
        left: -80px;
        bottom: -140px; } }
    @media screen and (max-width: 1200px) {
      .signin-form-wrapper img {
        left: -150px; } }
    @media screen and (max-width: 998px) {
      .signin-form-wrapper img {
        width: 760px;
        left: -220px; } }
    @media screen and (max-width: 949px) {
      .signin-form-wrapper img {
        width: 810px; } }
    @media screen and (max-width: 768px) {
      .signin-form-wrapper img {
        position: static;
        width: 100%;
        left: auto;
        bottom: auto;
        background: url("../img-trp/behind-dentist.png") 50% 50% no-repeat;
        background-size: contain; } }
  .signin-form-wrapper form {
    position: relative;
    top: -40px;
    float: right;
    padding: 50px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    box-shadow: -8px -8px 17px 0px rgba(109, 109, 109, 0.32);
    margin-top: 0px;
    margin-bottom: -112px; }
    @media screen and (max-width: 1500px) {
      .signin-form-wrapper form {
        top: 0px;
        padding: 30px 20px;
        margin-bottom: -72px; } }
    @media screen and (max-width: 998px) {
      .signin-form-wrapper form {
        top: -20px;
        max-width: 300px; } }
    @media screen and (max-width: 768px) {
      .signin-form-wrapper form {
        display: none; } }
    .signin-form-wrapper form .modern-field {
      margin-bottom: 15px; }
    .signin-form-wrapper form input:not([type="submit"]) {
      min-width: 320px !important;
      background: white; }
      @media screen and (max-width: 998px) {
        .signin-form-wrapper form input:not([type="submit"]) {
          min-width: 260px !important; } }
    .signin-form-wrapper form input[type="submit"] {
      margin-bottom: 25px;
      font-size: 25px;
      padding: 12px 66px;
      background-color: #46afda; }
  .signin-form-wrapper .have-account {
    text-align: center;
    font-weight: 300;
    color: #777777;
    margin-bottom: 30px; }
    .signin-form-wrapper .have-account a {
      font-weight: bold;
      font-size: 18px;
      color: #141518; }
      .signin-form-wrapper .have-account a:hover {
        text-decoration: underline; }

.welcome-dentist-section {
  background: url(../img-trp/dentist-background.png) 50% 0% no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 163px;
  padding-top: 1px;
  overflow: hidden;
  padding-top: 380px; }
  @media screen and (max-width: 1400px) {
    .welcome-dentist-section {
      padding-top: 320px; } }
  @media screen and (max-width: 1300px) {
    .welcome-dentist-section {
      padding-top: 380px; } }
  @media screen and (max-width: 1200px) {
    .welcome-dentist-section {
      padding-top: 0px; } }
  @media screen and (max-width: 768px) {
    .welcome-dentist-section {
      display: flex;
      flex-direction: column;
      padding-bottom: 0px;
      padding-top: 70px;
      background-image: url(../img-trp/index-dentist-mobile.jpg);
      margin-bottom: 20px;
      box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.2);
      overflow: visible; } }
  .welcome-dentist-section::after {
    content: '';
    position: absolute;
    top: 100%;
    background: url("../img-trp/dentist-background-after.svg") no-repeat 0% 100%;
    background-size: cover;
    width: 100%;
    height: 163px;
    margin-top: -163px;
    z-index: 100; }
    @media screen and (max-width: 1450px) {
      .welcome-dentist-section::after {
        background-position: 50% 100%; } }
    @media screen and (max-width: 768px) {
      .welcome-dentist-section::after {
        display: none; } }

.section-how {
  padding: 110px 70px 85px; }
  @media screen and (max-width: 768px) {
    .section-how {
      padding: 80px 10px 70px; } }
  .section-how h2 {
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 70px;
    max-width: 630px;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .section-how h2 {
        padding: 0px 20px;
        margin-bottom: 40px;
        font-size: 35px; } }
    .section-how h2::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 223px;
      background-color: #dce8ed; }
      @media screen and (max-width: 768px) {
        .section-how h2::after {
          display: none; } }
    .section-how h2 span {
      font-size: 35px;
      color: #2478d1;
      font-weight: bold; }
  .section-how a {
    color: #126585; }
    .section-how a:hover {
      text-decoration: underline; }
  .section-how .how-number {
    margin-right: 30px;
    color: #46afda;
    position: relative;
    font-size: 40px; }
    @media screen and (max-width: 768px) {
      .section-how .how-number {
        font-size: 50px;
        margin-right: 0px;
        padding: 16px; } }
    .section-how .how-number::before {
      content: '';
      background: url("../img-trp/avatar-border.svg") 50% 50% no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 168%;
      height: 168%; }
      @media screen and (max-width: 768px) {
        .section-how .how-number::before {
          width: 100%;
          height: 100%; } }
  .section-how .left {
    float: left;
    width: 450px; }
    @media screen and (max-width: 1200px) {
      .section-how .left {
        width: 400px; } }
    @media screen and (max-width: 998px) {
      .section-how .left {
        width: 100%;
        float: none; } }
  .section-how .right {
    float: right;
    width: 450px; }
    @media screen and (max-width: 1200px) {
      .section-how .right {
        width: 400px; } }
    @media screen and (max-width: 998px) {
      .section-how .right {
        width: 100%;
        float: none; } }
  .section-how .how-block {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .section-how .how-block {
        text-align: center;
        width: 100%;
        margin-top: 10px; } }
    .section-how .how-block a,
    .section-how .how-block p {
      font-size: 20px;
      font-weight: 300; }
    .section-how .how-block p {
      color: #333333; }
      @media screen and (max-width: 768px) {
        .section-how .how-block p {
          margin-top: 40px;
          max-width: 300px;
          margin-right: auto;
          margin-left: auto; } }
  .section-how .button {
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: #46afda;
    padding: 12.5px 32px;
    margin-top: 55px; }
    .section-how .button:hover {
      text-decoration: none;
      opacity: 0.9; }
  .section-how .dot {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    background-color: #eaeaea;
    opacity: 1; }
    .section-how .dot.is-selected {
      background-color: #2478d1; }

.section-learn {
  background: url("../img-trp/learn-section-background.jpg") 50% 100% no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 45px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .section-learn {
      position: relative;
      text-align: center;
      overflow: hidden; } }
  .section-learn .container {
    position: static; }
  .section-learn h2 {
    color: white;
    max-width: 350px;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .section-learn h2 {
        max-width: 100%;
        margin-bottom: 180px;
        font-size: 35px; } }
  .section-learn .button {
    font-weight: bold; }
  .section-learn img {
    position: absolute;
    top: -40px; }
    @media screen and (max-width: 998px) {
      .section-learn img {
        top: -23px; } }
    @media screen and (max-width: 768px) {
      .section-learn img {
        top: 40px;
        max-width: 400px;
        left: 50%;
        transform: translateX(-50%); } }
    @media screen and (max-width: 680px) {
      .section-learn img {
        top: 80px; } }
    @media screen and (max-width: 379px) {
      .section-learn img {
        top: 120px; } }

.section-dentist-info-wrap {
  margin-top: -1px;
  background: white;
  position: relative;
  z-index: 10; }

.section-dentist-info {
  max-width: 840px;
  padding-top: 30px; }
  @media screen and (max-width: 1450px) {
    .section-dentist-info {
      padding-top: 0px; } }
  @media screen and (max-width: 768px) {
    .section-dentist-info {
      padding-top: 50px; } }
  .section-dentist-info .info-padding {
    padding: 0px 60px; }
    @media screen and (max-width: 768px) {
      .section-dentist-info .info-padding {
        padding: 0px 10px; } }
  .section-dentist-info h2 {
    color: #2478d1;
    font-weight: bold;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 70px; }
    @media screen and (max-width: 768px) {
      .section-dentist-info h2 {
        padding-bottom: 40px;
        margin-bottom: 30px;
        font-size: 35px; } }
    .section-dentist-info h2::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 223px;
      background-color: #c1c1c1; }
  .section-dentist-info .flex {
    margin-bottom: 100px; }
    @media screen and (max-width: 768px) {
      .section-dentist-info .flex {
        margin-bottom: 80px; } }
  .section-dentist-info .col-icon {
    max-width: 65px;
    margin-right: 30px; }
    @media screen and (max-width: 768px) {
      .section-dentist-info .col-icon {
        margin: 0px auto 10px; } }
  .section-dentist-info h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 300; }
    @media screen and (max-width: 768px) {
      .section-dentist-info h3 {
        font-size: 30px; } }
  .section-dentist-info p {
    font-size: 20px;
    font-weight: 300;
    color: #232323; }
    @media screen and (max-width: 768px) {
      .section-dentist-info p {
        margin-bottom: 60px; } }
  @media screen and (max-width: 768px) {
    .section-dentist-info img {
      max-width: 250px; } }
  .section-dentist-info .button-wrap {
    display: none; }
    .section-dentist-info .button-wrap .button {
      background-color: #46afda;
      font-size: 25px;
      font-weight: bold;
      padding: 12.5px 65px; }

.testimonials-section {
  background: url(../img-trp/testimonials-full.png) 50% 100% no-repeat;
  background-size: 100% 370px;
  padding-bottom: 40px;
  position: relative;
  margin-top: 100px; }
  @media screen and (max-width: 768px) {
    .testimonials-section {
      background-size: 300% 390px; } }
  @media screen and (max-width: 450px) {
    .testimonials-section {
      background-size: 300% 440px; } }
  @media screen and (max-width: 768px) {
    .testimonials-section {
      margin-top: 80px; } }
  .testimonials-section h2 {
    font-weight: bold;
    color: #2478d1; }
    @media screen and (max-width: 768px) {
      .testimonials-section h2 {
        font-size: 35px; } }
  .testimonials-section span {
    display: block;
    font-size: 24px;
    font-weight: 300;
    padding: 0px 162px;
    position: relative;
    padding-bottom: 35px;
    margin-bottom: 80px; }
    @media screen and (max-width: 768px) {
      .testimonials-section span {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px; } }
    .testimonials-section span::after {
      content: '';
      position: absolute;
      width: 222px;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
      background-color: #dce8ed; }
  .testimonials-section .testimonial {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .testimonials-section .testimonial {
        padding-top: 65px; } }
    .testimonials-section .testimonial .testimonial-inner {
      max-width: 630px;
      margin: 0 auto;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .testimonials-section .testimonial .testimonial-inner {
          max-width: 100%; } }
      .testimonials-section .testimonial .testimonial-inner img {
        margin-bottom: 15px;
        max-width: 108px; }
      .testimonials-section .testimonial .testimonial-inner h4 {
        font-size: 24px;
        font-weight: 300;
        color: white;
        margin-bottom: 22px; }
      .testimonials-section .testimonial .testimonial-inner p {
        font-size: 20px;
        color: white;
        font-weight: 300; }
        .testimonials-section .testimonial .testimonial-inner p.name {
          font-weight: bold; }
  @media screen and (max-width: 768px) {
    .testimonials-section .flickity-prev-next-button {
      top: 30%; } }
  .testimonials-section .flickity-button {
    color: #6fb6d4 !important; }
