.list-reviews label {
  display: flex;
  padding-top: 30px;
  border-bottom: 1px solid #ccc;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .list-reviews label {
      flex-direction: column;
      padding-top: 10px;
      border-bottom: none; } }
  .list-reviews label:last-child {
    border-bottom: 0px; }
  .list-reviews label * {
    background-color: transparent; }
  .list-reviews label.active, .list-reviews label:hover {
    background-color: rgba(3, 169, 244, 0.03); }
    @media screen and (max-width: 998px) {
      .list-reviews label.active, .list-reviews label:hover {
        background-color: transparent; } }
  .list-reviews label .widget-checkbox {
    margin-top: -50px;
    margin-right: 20px;
    margin-left: 20px; }
    @media screen and (max-width: 768px) {
      .list-reviews label .widget-checkbox {
        margin-top: 0px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 768px) {
      .list-reviews label .widget-checkbox i {
        font-size: 21px; } }
.list-reviews .list-review {
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .list-reviews .list-review {
      flex-direction: column;
      border-bottom: none;
      position: relative; } }
  @media screen and (max-width: 768px) {
    .list-reviews .list-review:after {
      content: '';
      position: absolute;
      bottom: 0px;
      width: 213px;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #eeeeee; } }
  .list-reviews .list-review:last-child {
    margin-bottom: 0px;
    border-bottom: none; }
  .list-reviews .list-review .review-avatar {
    width: 84px;
    height: 84px;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 28px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-avatar {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 14px; } }
    .list-reviews .list-review .review-avatar:before {
      content: '';
      position: absolute;
      left: 0px;
      right: 0;
      top: 0px;
      bottom: 0;
      width: 100%;
      background: url(../img-trp/avatar-border.svg) no-repeat 50% 50%; }
  .list-reviews .list-review .list-review-left {
    margin-right: 30px; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .list-review-left {
        margin-right: 0px; } }
  .list-reviews .list-review .list-review-right {
    text-align: left; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .list-review-right {
        text-align: center; } }
  .list-reviews .list-review .review-date {
    color: #888888;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-date {
        display: none; } }
  .list-reviews .list-review .review-title {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase; }
  .list-reviews .list-review .ratings {
    margin-top: 6px; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .ratings {
        margin-top: 14px; } }
    .list-reviews .list-review .ratings .stars {
      width: 117px;
      height: 20px;
      background: url("../img-trp/new-stars-gray.png") 50% 50% no-repeat; }
      .list-reviews .list-review .ratings .stars .bar {
        background: url("../img-trp/new-stars-blue.png") 0% 50% no-repeat;
        height: 20px; }
  .list-reviews .list-review .review-content {
    font-weight: 300;
    margin-top: 3px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-content {
        -webkit-line-clamp: 4;
        margin-top: 12px; } }
  .list-reviews .list-review .review-name {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    display: block;
    color: #333; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .review-name {
        font-size: 16px;
        margin-bottom: 15px; } }
  .list-reviews .list-review .mobile-review-date {
    display: none;
    text-align: center;
    color: #888888; }
    @media screen and (max-width: 768px) {
      .list-reviews .list-review .mobile-review-date {
        display: block; } }

.profile-wrapper .edit-field-button {
  display: none; }

body.edit-dentist-profile-mode .profile-wrapper .edit-field-button {
  display: inline-block; }

.turn-on-edit-mode {
  padding: 5px 20px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #0084d1;
  margin-right: 5px; }
  @media screen and (max-width: 768px) {
    .turn-on-edit-mode {
      padding: 4px 20px 7px;
      display: inline-flex;
      border-width: 1px; } }
  .turn-on-edit-mode:hover {
    color: #0084d1;
    background-color: white; }
  .turn-on-edit-mode img {
    margin-right: 5px; }
  .turn-on-edit-mode span {
    font-size: 16px;
    font-weight: bold;
    color: #0084d1; }

.edit-field .edit-wrapper {
  display: none;
  margin-bottom: 6px;
  max-width: 455px; }
  .edit-field .edit-wrapper.edit-name select {
    margin-bottom: 6px; }
  .edit-field .edit-wrapper.edit-name .save-field {
    height: auto; }
  .edit-field .edit-wrapper.edit-name [name="name"] {
    font-size: 30px;
    font-weight: 900;
    color: #332255; }
  .edit-field .edit-wrapper .phone-code-holder {
    height: 44px;
    line-height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid #cccccc;
    margin-right: -4px;
    background-color: white;
    padding: 0px 10px;
    z-index: 10; }
  .edit-field .edit-wrapper .input {
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px; }
    .edit-field .edit-wrapper .input.input-alternative {
      font-size: 20px;
      font-weight: 900;
      color: #878686; }
.edit-field .save-field {
  cursor: pointer;
  position: relative;
  width: 44px;
  min-width: 44px;
  background-color: #0084d1;
  display: block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper {
  margin-bottom: 10px; }
  @media screen and (max-width: 768px) {
    .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper {
      max-width: 140px; } }
  .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .image-label {
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden; }
    @media screen and (max-width: 768px) {
      .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .image-label {
        width: 80px;
        height: 80px; } }
    .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .image-label .centered-hack {
      transform: none;
      left: 0;
      width: 100%;
      bottom: 0;
      top: auto;
      padding: 8px 0px 14px;
      background-color: rgba(255, 255, 255, 0.84); }
      @media screen and (max-width: 768px) {
        .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .image-label .centered-hack {
          padding: 6px 0px 10px; } }
      .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .image-label .centered-hack p {
        font-size: 14px;
        background: transparent;
        color: #0084d1;
        font-weight: 600; }
        @media screen and (max-width: 768px) {
          .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .image-label .centered-hack p {
            font-size: 10px; } }
  .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .max-size-label {
    margin-left: 0px; }
    @media screen and (max-width: 768px) {
      .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .max-size-label {
        text-align: left;
        margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .cropper-container {
      margin-left: 0px;
      margin-bottom: 20px; } }
  .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .cropper-container .cr-boundary {
    border-radius: 50%; }
  .profile-wrapper .profile-info-container .avatar-wrapper .upload-image-wrapper .save-avatar {
    display: none;
    font-size: 15px;
    padding: 5px 10px 6px;
    width: 100%;
    margin-top: 10px; }

.socials-wrapper .edit-field {
  display: none;
  max-width: 455px; }
.socials-wrapper .input {
  margin-bottom: 0px;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  padding-left: 10px; }
.socials-wrapper .email-wrapper .email-wrap.disabled-email .social-networks {
  border-color: #e6e6e6; }
.socials-wrapper .email-wrapper .checkbox-label {
  margin-bottom: 15px;
  margin-top: 5px; }
.socials-wrapper .email-wrapper .social-wrap,
.socials-wrapper .social-wrapper .social-wrap {
  position: relative;
  align-items: center;
  margin-top: 6px; }
  .socials-wrapper .email-wrapper .social-wrap:first-child,
  .socials-wrapper .social-wrapper .social-wrap:first-child {
    margin-top: 0px; }
  .socials-wrapper .email-wrapper .social-wrap.new .social-networks,
  .socials-wrapper .social-wrapper .social-wrap.new .social-networks {
    border-right: 2px solid #cccccc;
    max-width: 55px;
    padding-right: 21px;
    position: relative; }
    .socials-wrapper .email-wrapper .social-wrap.new .social-networks:after,
    .socials-wrapper .social-wrapper .social-wrap.new .social-networks:after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4.5px 0 4.5px;
      border-color: #332255 transparent transparent transparent;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%); }
    .socials-wrapper .email-wrapper .social-wrap.new .social-networks .current-social,
    .socials-wrapper .social-wrapper .social-wrap.new .social-networks .current-social {
      width: 50px;
      padding-right: 26px; }
    .socials-wrapper .email-wrapper .social-wrap.new .social-networks .social-dropdown a,
    .socials-wrapper .social-wrapper .social-wrap.new .social-networks .social-dropdown a {
      width: 51px;
      padding: 5px 21px 5px 5px; }
  .socials-wrapper .email-wrapper .social-wrap .remove-social,
  .socials-wrapper .social-wrapper .social-wrap .remove-social {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); }
.socials-wrapper .email-wrapper .social-networks,
.socials-wrapper .social-wrapper .social-networks {
  max-width: 37px;
  padding-right: 5px;
  border-radius: 5px;
  border: 2px solid #cccccc;
  background: white;
  height: 44px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  text-align: center;
  border-right: none; }
  @media screen and (max-width: 768px) {
    .socials-wrapper .email-wrapper .social-networks,
    .socials-wrapper .social-wrapper .social-networks {
      margin-top: 0px; } }
  .socials-wrapper .email-wrapper .social-networks a,
  .socials-wrapper .social-wrapper .social-networks a {
    line-height: 51px;
    display: block;
    margin-left: 5px;
    background-color: transparent; }
  .socials-wrapper .email-wrapper .social-networks .social-dropdown,
  .socials-wrapper .social-wrapper .social-networks .social-dropdown {
    display: none;
    position: absolute;
    background: white;
    top: 98%;
    left: -2px;
    border: 2px solid #cccccc;
    z-index: 100;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .socials-wrapper .email-wrapper .social-networks .social-dropdown.active,
    .socials-wrapper .social-wrapper .social-networks .social-dropdown.active {
      display: block; }
    .socials-wrapper .email-wrapper .social-networks .social-dropdown a,
    .socials-wrapper .social-wrapper .social-networks .social-dropdown a {
      cursor: pointer;
      width: 31px;
      line-height: normal;
      display: block;
      padding: 5px 4px;
      margin: 0 auto;
      height: auto; }
      .socials-wrapper .email-wrapper .social-networks .social-dropdown a.inactive,
      .socials-wrapper .social-wrapper .social-networks .social-dropdown a.inactive {
        display: none; }
.socials-wrapper .email-wrapper .add-social-profile,
.socials-wrapper .social-wrapper .add-social-profile {
  position: absolute;
  display: inline-block;
  font-size: 18px;
  color: #0084d1;
  margin-top: 10px; }
.socials-wrapper .save-field {
  height: auto; }

.tab-sections .tab-container .payments-section.edit-mode .edit-checkboxes-form .checkboxes-wrapper.not-added,
.tab-sections .tab-container .specializations-section.edit-mode .edit-checkboxes-form .checkboxes-wrapper.not-added {
  display: block; }
.tab-sections .tab-container .payments-section.edit-mode .edit-checkboxes-form .checkboxes-wrapper .remove-checkbox,
.tab-sections .tab-container .specializations-section.edit-mode .edit-checkboxes-form .checkboxes-wrapper .remove-checkbox {
  display: inline-block; }
.tab-sections .tab-container .payments-section.edit-mode .edit-checkboxes-form button,
.tab-sections .tab-container .specializations-section.edit-mode .edit-checkboxes-form button {
  display: block; }
.tab-sections .tab-container .payments-section .edit-checkboxes-form .checkboxes-wrapper.not-added,
.tab-sections .tab-container .specializations-section .edit-checkboxes-form .checkboxes-wrapper.not-added {
  display: none;
  border-top: 1px solid #c5ccde;
  padding-top: 20px;
  margin-top: 5px; }
  .tab-sections .tab-container .payments-section .edit-checkboxes-form .checkboxes-wrapper.not-added label,
  .tab-sections .tab-container .specializations-section .edit-checkboxes-form .checkboxes-wrapper.not-added label {
    border: none;
    background-color: #f2f6ff; }
    .tab-sections .tab-container .payments-section .edit-checkboxes-form .checkboxes-wrapper.not-added label .remove-checkbox,
    .tab-sections .tab-container .specializations-section .edit-checkboxes-form .checkboxes-wrapper.not-added label .remove-checkbox {
      display: none; }
.tab-sections .tab-container .payments-section .edit-checkboxes-form .checkboxes-wrapper input,
.tab-sections .tab-container .specializations-section .edit-checkboxes-form .checkboxes-wrapper input {
  display: none; }
.tab-sections .tab-container .payments-section .edit-checkboxes-form .checkboxes-wrapper .remove-checkbox,
.tab-sections .tab-container .specializations-section .edit-checkboxes-form .checkboxes-wrapper .remove-checkbox {
  display: none;
  margin-left: 6px;
  margin-right: -4px; }
.tab-sections .tab-container .payments-section .edit-checkboxes-form button,
.tab-sections .tab-container .specializations-section .edit-checkboxes-form button {
  display: none;
  padding: 9px 33px;
  font-size: 17px; }
.tab-sections .tab-container .payments-section.edit-mode .dentist-payments label {
  padding: 5px 22px 6px 16px;
  background-color: #e2ebff;
  border-radius: 22px;
  margin-right: 10px;
  margin-left: 0px;
  border: 1px solid #3b9fdd;
  transition: all 0.3s ease;
  margin-bottom: 15px;
  cursor: pointer; }
.tab-sections .tab-container .location-section.edit-mode {
  flex-direction: column;
  align-items: flex-start; }
  .tab-sections .tab-container .location-section.edit-mode .gallery-slider {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%; }
    .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .flickity-viewport {
      height: 250px !important; }
      @media screen and (max-width: 998px) {
        .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .flickity-viewport {
          height: 241px !important; } }
    .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper {
      width: 33.3%; }
      @media screen and (max-width: 998px) {
        .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper {
          width: 50%; } }
      .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper.add-gallery-wrapper {
        display: block; }
      .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper .slider-image {
        position: relative; }
        .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper .slider-image.add-gallery-image {
          display: block;
          padding-top: 60%;
          border: 1px solid #0084d1;
          position: relative;
          background-color: #f4f7ff; }
          .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper .slider-image.add-gallery-image .plus-gallery-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center; }
            .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper .slider-image.add-gallery-image .plus-gallery-image img {
              width: 80px; }
            .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper .slider-image.add-gallery-image .plus-gallery-image span {
              display: block;
              font-size: 20px;
              font-weight: bold;
              color: #0084d1;
              margin-top: 10px; }
        .tab-sections .tab-container .location-section.edit-mode .gallery-slider .gallery-flickity .slider-wrapper .slider-image .remove-gallery-image {
          position: absolute;
          right: 5px;
          top: 5px; }
.tab-sections .tab-container .team-container.edit-mode .deleter,
.tab-sections .tab-container .team-container.edit-mode .delete-invite {
  display: inline-block; }
.tab-sections .tab-container .team-container.edit-mode .team.add-team-member {
  display: flex; }
.tab-sections .tab-container .team-container .team.add-team-member {
  display: none;
  position: relative;
  border: 1px solid rgba(0, 132, 209, 0.5); }
  .tab-sections .tab-container .team-container .team.add-team-member:hover {
    box-shadow: none; }
  .tab-sections .tab-container .team-container .team.add-team-member .disabled-prop {
    display: flex;
    align-items: center;
    opacity: 0.5; }
  .tab-sections .tab-container .team-container .team.add-team-member .add-team-text {
    font-size: 20px;
    font-weight: bold;
    color: #0084d1; }
  .tab-sections .tab-container .team-container .team.add-team-member .comming-soon {
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: #0084d1;
    right: 0;
    top: 15px;
    padding: 4px 20px 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px; }
.tab-sections .tab-container .open-hours-section.edit-mode button {
  display: block; }
.tab-sections .tab-container .open-hours-section button {
  display: none;
  padding: 9px 33px;
  font-size: 17px;
  margin-top: 20px; }

.asks-section {
  padding-top: 45px;
  display: none; }
  .asks-section h2 {
    color: #332255;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px; }
  .asks-section h3 {
    font-size: 20px;
    color: #0084d1;
    font-weight: 800;
    margin-bottom: 23px; }

@media screen and (max-width: 768px) {
  .asks-container {
    overflow-x: auto; } }
.asks-container table {
  margin-bottom: 50px;
  width: 100%;
  max-width: 100%; }
  .asks-container table thead {
    font-weight: 900;
    background-color: #f2f6ff; }
  .asks-container table th, .asks-container table td {
    vertical-align: bottom;
    padding: 8px 17px;
    line-height: 1.42857143;
    text-align: left;
    color: #332255;
    border-right: 2px solid #e2ebff; }
    @media screen and (max-width: 768px) {
      .asks-container table th, .asks-container table td {
        padding: 8px 10px; } }
    .asks-container table th:last-child, .asks-container table td:last-child {
      border-right: none; }
  .asks-container table td {
    vertical-align: middle; }
    .asks-container table td .invite-again {
      font-size: 16px;
      padding-top: 2px;
      padding-bottom: 4px;
      text-align: center;
      font-weight: normal;
      padding-left: 10px;
      padding-right: 10px; }
      @media screen and (max-width: 1200px) {
        .asks-container table td .invite-again {
          font-size: 12px; } }
    .asks-container table td .ask-review {
      padding: 4px 5px;
      text-decoration: underline;
      color: #0084d1;
      margin-top: 2px;
      display: inline-block;
      text-align: center; }
      @media screen and (max-width: 1200px) {
        .asks-container table td .ask-review {
          font-size: 12px; } }
    .asks-container table td .show-review {
      color: #126585;
      text-decoration: underline; }
  .asks-container table .action-buttons .accept-button {
    margin-right: 4px; }
    @media screen and (max-width: 768px) {
      .asks-container table .action-buttons .accept-button {
        margin-bottom: 5px; } }
  .asks-container table .accepted-text {
    color: #14cab8; }
  .asks-container table .declined-text {
    color: #ff6e6e; }
  .asks-container table .gray-text {
    color: #888888; }

.edit-short-description {
  float: left;
  width: 340px;
  margin-right: 10px;
  margin-top: 20px; }
  @media screen and (max-width: 1200px) {
    .edit-short-description {
      width: 260px; } }
  @media screen and (max-width: 998px) {
    .edit-short-description {
      width: 100%;
      margin-right: 0px;
      margin-top: 40px; } }

.popup#recommend-dentist .popup-inner h2 {
  margin-bottom: 25px; }
.popup#recommend-dentist .popup-inner .popup-title {
  font-weight: bold; }
.popup#recommend-dentist .popup-inner .rec-first {
  margin-right: 18px; }
  @media screen and (max-width: 768px) {
    .popup#recommend-dentist .popup-inner .rec-first {
      margin-right: 0px; } }
.popup#recommend-dentist .popup-inner .modern-field .modern-input {
  border-radius: 7px;
  border-width: 1px; }
.popup#recommend-dentist .popup-inner input[type="submit"] {
  background-color: #0cafd4;
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 12px 52px; }

#add-team-popup form .input {
  height: 40px; }
#add-team-popup form label[for="add-invite-image"] {
  margin-bottom: 20px; }

.tour-popup {
  background-color: rgba(0, 0, 0, 0.6); }
  .tour-popup .popup-inner-tour {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-bottom: 60px;
    background: #24c7ca;
    background: -moz-linear-gradient(top, #24c7ca 0%, #1c88d6 100%);
    background: -webkit-linear-gradient(top, #24c7ca 0%, #1c88d6 100%);
    background: linear-gradient(to bottom, #24c7ca 0%, #1c88d6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c7ca', endColorstr='#1c88d6',GradientType=0 );
    width: 870px;
    border-radius: 15px;
    padding: 40px 100px;
    box-shadow: 0 4px 14px 0px rgba(0, 0, 0, 0.7); }
    @media screen and (max-width: 1300px) {
      .tour-popup .popup-inner-tour {
        width: 630px;
        padding: 40px 50px; } }
    @media screen and (max-width: 768px) {
      .tour-popup .popup-inner-tour {
        width: 90%;
        padding: 30px 20px; } }
    .tour-popup .popup-inner-tour .avatar {
      box-sizing: inherit;
      position: relative;
      width: 200px;
      min-width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-right: auto;
      background-size: cover;
      margin-left: auto; }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour .avatar {
          width: 80px;
          min-width: 80px;
          height: 80px; } }
      .tour-popup .popup-inner-tour .avatar:before {
        content: '';
        position: absolute;
        left: -7px;
        right: 0;
        top: -7px;
        bottom: 0;
        width: 215px;
        height: 215px;
        background: url("../img-trp/avatar-border.svg") no-repeat 50% 50%; }
        @media screen and (max-width: 1300px) {
          .tour-popup .popup-inner-tour .avatar:before {
            left: -4px;
            top: -4px;
            width: 128px;
            height: 128px; } }
        @media screen and (max-width: 768px) {
          .tour-popup .popup-inner-tour .avatar:before {
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%; } }
    .tour-popup .popup-inner-tour h2 {
      font-size: 42px;
      color: white;
      font-weight: 300;
      margin-top: 20px; }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour h2 {
          font-size: 32px;
          margin-bottom: 20px; } }
    .tour-popup .popup-inner-tour p {
      font-size: 25px;
      font-weight: 300;
      color: white; }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour p {
          font-size: 20px; } }
    .tour-popup .popup-inner-tour .tour-buttons {
      margin-top: 60px; }
      @media screen and (max-width: 1300px) {
        .tour-popup .popup-inner-tour .tour-buttons {
          margin-top: 40px; } }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour .tour-buttons {
          margin-top: 30px; } }
    .tour-popup .popup-inner-tour .tour-button {
      padding: 13px;
      display: inline-block;
      font-size: 20px;
      border: 1px solid white;
      width: 217px;
      border-radius: 5px;
      margin: 0px 7px;
      color: white;
      transition: all 0.3s ease; }
      @media screen and (max-width: 768px) {
        .tour-popup .popup-inner-tour .tour-button {
          font-size: 18px;
          width: auto;
          margin: 0px 0px; } }
      .tour-popup .popup-inner-tour .tour-button.button-white {
        background-color: white;
        color: #46afda;
        font-weight: bold;
        text-transform: uppercase; }
      .tour-popup .popup-inner-tour .tour-button:hover {
        box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease; }
  .tour-popup.first-guided-tour-done-popup .popup-inner-tour {
    width: 540px; }
    @media screen and (max-width: 768px) {
      .tour-popup.first-guided-tour-done-popup .popup-inner-tour {
        width: 90%; } }
    .tour-popup.first-guided-tour-done-popup .popup-inner-tour .tour-button {
      width: 100px; }

.guided-tour-wrapper .guided-tour-part {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000; }

.bubble-guided-tour {
  position: fixed;
  top: 50px;
  left: 50px;
  background-color: white;
  z-index: 100;
  border-radius: 14px;
  padding: 25px 30px;
  max-width: 355px;
  z-index: 10000;
  touch-action: none; }
  @media screen and (max-width: 768px) {
    .bubble-guided-tour {
      max-width: 300px;
      min-width: 300px; } }
  @media screen and (max-width: 768px) {
    .bubble-guided-tour .flex {
      display: flex; } }
  .bubble-guided-tour h4 {
    color: #333;
    margin-bottom: 17px;
    font-weight: bold; }
  .bubble-guided-tour .guided-icon {
    min-width: 40px;
    max-width: 40px;
    margin-right: 10px; }
    @media screen and (max-width: 768px) {
      .bubble-guided-tour .guided-icon {
        display: none; } }
  .bubble-guided-tour .guided-info-wrap {
    margin-bottom: 20px; }
  .bubble-guided-tour .guided-buttons {
    justify-content: space-between; }
    .bubble-guided-tour .guided-buttons .steps {
      font-weight: 300; }
      .bubble-guided-tour .guided-buttons .steps span {
        font-weight: bold;
        font-size: 18px; }
    .bubble-guided-tour .guided-buttons .skip-step {
      color: #126585; }
      .bubble-guided-tour .guided-buttons .skip-step.button {
        color: white;
        padding: 5px 11px;
        font-size: 15px; }
  .bubble-guided-tour .cap {
    background-color: transparent;
    position: absolute;
    top: -13px;
    left: 24px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 14px 13px 14px;
    border-color: transparent transparent #ffffff transparent; }
    @media screen and (max-width: 768px) {
      .bubble-guided-tour .cap {
        position: fixed; } }
  .bubble-guided-tour.bubble-reviews .cap {
    top: auto;
    bottom: -13px;
    border-width: 13px 14px 0 14px;
    border-color: #ffffff transparent transparent transparent; }

.guided-overflow-wrapper {
  display: none; }
  .guided-overflow-wrapper .guided-tour-part {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 10000;
    touch-action: none; }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-top {
      top: 0;
      left: 0;
      right: 0; }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-right {
      right: 0; }
      .guided-overflow-wrapper .guided-tour-part.guided-overflow-right img.top {
        transform: rotate(90deg); }
      .guided-overflow-wrapper .guided-tour-part.guided-overflow-right img.bottom {
        transform: rotate(180deg); }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-left {
      left: 0; }
      .guided-overflow-wrapper .guided-tour-part.guided-overflow-left img.bottom {
        transform: rotate(-90deg); }
    .guided-overflow-wrapper .guided-tour-part.guided-overflow-bottom {
      bottom: 0;
      left: 0;
      right: 0; }
    .guided-overflow-wrapper .guided-tour-part img {
      touch-action: none;
      position: fixed;
      background-color: transparent; }

.widget-step .widget-step-title {
  color: #126585;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px !important; }
  .widget-step .widget-step-title span {
    color: black;
    font-size: 24px;
    text-transform: uppercase; }
.widget-step .popup-desc {
  font-weight: 300;
  margin-bottom: 10px; }
.widget-step .popup-title {
  color: #333333;
  padding: 7px 100px 9px; }
.widget-step .step-description {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px; }
.widget-step .modern-radios {
  display: block; }
  @media screen and (max-width: 768px) {
    .widget-step .modern-radios {
      margin-bottom: 47px; } }
  .widget-step .modern-radios .radio-label {
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .widget-step .modern-radios .radio-label {
        margin-bottom: 10px;
        border-bottom: 2px solid #dadada;
        padding-bottom: 20px; } }
    .widget-step .modern-radios .radio-label:first-child {
      margin-right: 0px; }
    .widget-step .modern-radios .radio-label label {
      border-color: transparent;
      align-items: center;
      padding: 18px 15px;
      display: flex; }
      @media screen and (max-width: 768px) {
        .widget-step .modern-radios .radio-label label {
          display: block; } }
      .widget-step .modern-radios .radio-label label.active {
        border-color: #126585; }
        .widget-step .modern-radios .radio-label label.active .modern-radio span {
          background-color: #126585; }
        .widget-step .modern-radios .radio-label label.active .widget-option p {
          color: #126585;
          font-weight: bold; }
        .widget-step .modern-radios .radio-label label.active:hover {
          border-color: #126585; }
      .widget-step .modern-radios .radio-label label:hover {
        border-color: #ccc; }
      .widget-step .modern-radios .radio-label label .modern-radio {
        min-width: 36px;
        width: 36px;
        height: 36px;
        border-color: #979797;
        background-color: #ebebeb;
        margin-right: 13px; }
        @media screen and (max-width: 768px) {
          .widget-step .modern-radios .radio-label label .modern-radio {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 14px; } }
        .widget-step .modern-radios .radio-label label .modern-radio span {
          width: 20px;
          height: 20px; }
      .widget-step .modern-radios .radio-label label .layout-img {
        max-width: 398px; }
        @media screen and (max-width: 998px) {
          .widget-step .modern-radios .radio-label label .layout-img {
            max-width: 260px; } }
        @media screen and (max-width: 768px) {
          .widget-step .modern-radios .radio-label label .layout-img {
            margin-bottom: 20px; } }
      .widget-step .modern-radios .radio-label label .widget-option {
        margin-left: 40px; }
        @media screen and (max-width: 998px) {
          .widget-step .modern-radios .radio-label label .widget-option {
            margin-left: 20px; } }
        .widget-step .modern-radios .radio-label label .widget-option p {
          font-size: 20px;
          font-weight: 300;
          margin-bottom: 20px; }
        .widget-step .modern-radios .radio-label label .widget-option .select-wrap {
          margin-bottom: 14px; }
          @media screen and (max-width: 768px) {
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap {
              justify-content: center; } }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap:last-child {
            margin-bottom: 0px; }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap span {
            font-size: 18px;
            font-weight: 300; }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap select,
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap input {
            display: block;
            border: 1px solid #d7d7d7;
            margin: 0px 5px;
            border-radius: 4px;
            padding: 0px 5px;
            font-size: 18px;
            font-weight: 300; }
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap select:hover, .widget-step .modern-radios .radio-label label .widget-option .select-wrap select:focus,
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap input:hover,
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap input:focus {
              outline: none; }
          .widget-step .modern-radios .radio-label label .widget-option .select-wrap input {
            max-width: 59px;
            -moz-appearance: textfield; }
            .widget-step .modern-radios .radio-label label .widget-option .select-wrap input::-webkit-outer-spin-button, .widget-step .modern-radios .radio-label label .widget-option .select-wrap input::-webkit-inner-spin-button {
              /* display: none; <- Crashes Chrome on hover */
              -webkit-appearance: none;
              margin: 0;
              /* <-- Apparently some margin are still there even though it's hidden */ }
.widget-step #selected-image-layout {
  margin-bottom: 25px;
  max-width: 398px; }
  @media screen and (max-width: 768px) {
    .widget-step #selected-image-layout {
      max-width: 100%; } }
.widget-step #selected-layout {
  color: #126585;
  font-weight: bold;
  text-transform: capitalize; }
.widget-step .widget-subtitle {
  font-size: 22px;
  margin-bottom: 30px !important; }
.widget-step .popup-tabs {
  margin-top: 0px !important; }
  @media screen and (max-width: 768px) {
    .widget-step .popup-tabs {
      flex-direction: column; } }
  @media screen and (max-width: 768px) {
    .widget-step .popup-tabs a {
      margin-right: 0px;
      margin-left: 0px; } }
  @media screen and (max-width: 768px) {
    .widget-step .popup-tabs a:first-child {
      margin-bottom: 10px; } }
.widget-step .instructions-image {
  position: relative;
  display: block; }
  .widget-step .instructions-image .magnifier {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: transparent; }
.widget-step .select-reviews .modern-radios .radio-label {
  margin-bottom: 27px; }
  @media screen and (max-width: 768px) {
    .widget-step .select-reviews .modern-radios .radio-label {
      border-bottom: 0px;
      padding-bottom: 0px; } }
  .widget-step .select-reviews .modern-radios .radio-label label {
    border-color: #d6d6d7;
    display: block;
    border-width: 1px;
    position: relative; }
    .widget-step .select-reviews .modern-radios .radio-label label.active {
      border-color: #126585; }
      .widget-step .select-reviews .modern-radios .radio-label label.active span {
        font-weight: bold;
        color: #126585; }
      .widget-step .select-reviews .modern-radios .radio-label label.active .open-hidden-option img {
        transform: rotate(180deg); }
    .widget-step .select-reviews .modern-radios .radio-label label span {
      font-size: 20px;
      font-weight: 300; }
    .widget-step .select-reviews .modern-radios .radio-label label .info {
      vertical-align: middle;
      margin-left: 5px; }
    .widget-step .select-reviews .modern-radios .radio-label label .hidden-option {
      display: none;
      padding-left: 40px;
      padding-top: 18px; }
      @media screen and (max-width: 768px) {
        .widget-step .select-reviews .modern-radios .radio-label label .hidden-option {
          padding-left: 30px; } }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option.active {
        display: block; }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes {
        display: flex; }
        .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label {
          border: none;
          padding: 0px;
          margin-right: 30px;
          font-size: 18px; }
          .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label.active .modern-radio span {
            background-color: #126585; }
          .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label:last-child {
            margin-right: 0px; }
          .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label .modern-radio span {
            background-color: transparent; }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option p {
        font-size: 18px;
        margin-bottom: 15px; }
      .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .button {
        background-color: white;
        border: 1px solid #126585;
        color: #126585;
        text-transform: none;
        font-size: 18px;
        padding: 7px 20px;
        margin-bottom: 0px; }
        .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .button:hover {
          background-color: #126585;
          color: white; }
    .widget-step .select-reviews .modern-radios .radio-label label .modern-radio {
      min-width: 24px;
      width: 24px;
      height: 24px; }
      @media screen and (max-width: 768px) {
        .widget-step .select-reviews .modern-radios .radio-label label .modern-radio {
          display: inline-block;
          margin-bottom: 0px;
          margin-right: 5px; } }
      .widget-step .select-reviews .modern-radios .radio-label label .modern-radio span {
        width: 13px;
        height: 13px; }
    .widget-step .select-reviews .modern-radios .radio-label label .open-hidden-option {
      padding: 20px;
      padding-bottom: 19px;
      position: absolute;
      right: 2px;
      top: 0px; }
      @media screen and (max-width: 768px) {
        .widget-step .select-reviews .modern-radios .radio-label label .open-hidden-option {
          padding: 10px;
          top: 13px; } }
      .widget-step .select-reviews .modern-radios .radio-label label .open-hidden-option img {
        max-width: 12px; }
.widget-step .widget-code-wrap {
  background-color: #126585;
  margin: 20px -100px 50px;
  padding: 25px 100px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .widget-step .widget-code-wrap {
      margin: 20px -20px 50px;
      padding: 25px 20px; } }
  .widget-step .widget-code-wrap textarea {
    height: 170px;
    box-shadow: none;
    padding: 10px 15px; }
    @media screen and (max-width: 998px) {
      .widget-step .widget-code-wrap textarea {
        height: 210px; } }
    @media screen and (max-width: 768px) {
      .widget-step .widget-code-wrap textarea {
        height: 300px; } }
.widget-step .button {
  border: 1px solid #46afda;
  font-size: 25px;
  background-color: #46afda;
  padding: 12px 73px;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .widget-step .button {
      font-size: 19px;
      padding: 9px 45px; } }
  .widget-step .button.back-widget {
    background-color: white;
    color: #46afda;
    margin-right: 10px; }
.widget-step .copy-widget {
  position: absolute;
  right: 104px;
  background: #f1eff1;
  color: #4e4c4e;
  display: block;
  padding: 8px;
  top: 29px; }
  @media screen and (max-width: 768px) {
    .widget-step .copy-widget {
      right: 24px; } }
  .widget-step .copy-widget img {
    display: block;
    width: 14px; }
.widget-step .facebook-tab .tab-info {
  font-size: 22px;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start; }
  .widget-step .facebook-tab .tab-info img {
    max-width: 18px;
    margin-top: 6px;
    margin-right: 5px; }
.widget-step .facebook-tab .fb-l-button {
  background-color: #4267B2;
  color: white;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 10px 15px;
  font-size: 20px;
  padding-left: 15px;
  border: none;
  width: 350px; }
  .widget-step .facebook-tab .fb-l-button span {
    display: inline-block;
    vertical-align: sub;
    width: 27px;
    text-align: center;
    margin-right: 10px; }
    .widget-step .facebook-tab .fb-l-button span i {
      color: white;
      font-size: 30px; }
.widget-step .facebook-tab .tab-note {
  font-size: 17px;
  color: #888888;
  text-align: center;
  margin-bottom: 20px; }

body.reviews-guided-tour .widget-step .facebook-tab .modern-field {
  padding: 13px 5px 10px; }
body.reviews-guided-tour .widget-step .select-reviews .widget-subtitle {
  display: none; }
@media screen and (max-width: 768px) {
  body.reviews-guided-tour .widget-step .select-reviews .modern-radios .radio-label label .hidden-option .option-checkboxes label {
    margin-right: 16px; } }
body.reviews-guided-tour [reviews-guided-action="reviews_type"],
body.reviews-guided-tour .widget-first-inner,
body.reviews-guided-tour [reviews-guided-action="copy"] {
  padding: 10px; }
body.reviews-guided-tour .skip-reviews-step {
  padding: 3px 11px; }
body.reviews-guided-tour #select-reviews-popup {
  z-index: 10000; }
@media screen and (max-width: 768px) {
  body.reviews-guided-tour .button {
    padding: 9px 35px; } }
body.reviews-guided-tour .widget-code-wrap {
  margin: 20px -110px 50px; }
  @media screen and (max-width: 768px) {
    body.reviews-guided-tour .widget-code-wrap {
      margin: 20px -30px 50px; } }

body.guided-tour {
  overflow-y: hidden; }
  body.guided-tour .black-overflow {
    display: none !important; }
  body.guided-tour .strength-parent {
    display: none !important; }

.header-success-tab {
  background-color: transparent; }
  .header-success-tab img {
    max-width: 120px;
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .header-success-tab img {
        max-width: 60px; } }
  .header-success-tab h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    color: #126585 !important;
    margin-bottom: 13px !important;
    margin-top: 30px !important; }
    @media screen and (max-width: 768px) {
      .header-success-tab h2 {
        font-size: 24px;
        margin-top: 0px !important;
        margin-bottom: 20px !important; } }
  .header-success-tab h4 {
    color: #333;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .header-success-tab h4 {
        font-size: 16px;
        margin-bottom: 25px; } }

@media screen and (max-width: 998px) {
  #select-reviews-popup,
  #popup-widget {
    background-color: white; } }
#select-reviews-popup .popup-inner,
#popup-widget .popup-inner {
  overflow-x: initial;
  overflow-y: unset;
  box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.8); }
  @media screen and (max-width: 998px) {
    #select-reviews-popup .popup-inner,
    #popup-widget .popup-inner {
      box-shadow: none; } }
  #select-reviews-popup .popup-inner h2,
  #popup-widget .popup-inner h2 {
    margin-bottom: 25px; }
    @media screen and (max-width: 768px) {
      #select-reviews-popup .popup-inner h2,
      #popup-widget .popup-inner h2 {
        font-size: 30px;
        margin-top: 40px; } }
  @media screen and (max-width: 768px) {
    #select-reviews-popup .popup-inner .popup-title,
    #popup-widget .popup-inner .popup-title {
      font-size: 20px; } }
  @media screen and (max-width: 768px) {
    #select-reviews-popup .popup-inner .popup-description,
    #popup-widget .popup-inner .popup-description {
      font-size: 18px;
      font-weight: 300; } }

#select-reviews-popup .button {
  border: 1px solid #46afda;
  font-size: 25px;
  background-color: #46afda;
  padding: 12px 73px;
  margin-top: 30px;
  margin-bottom: 20px; }

.image-team-wrapper .avatar-name-wrapper,
.image-team-wrapper .image-big-error {
  margin-left: auto;
  max-width: 180px; }
  @media screen and (max-width: 768px) {
    .image-team-wrapper .avatar-name-wrapper,
    .image-team-wrapper .image-big-error {
      margin-right: auto; } }
@media screen and (max-width: 768px) {
  .image-team-wrapper .max-size-label {
    max-width: 180px;
    margin-left: auto;
    margin-right: auto; } }
