.written-review {
  margin-bottom: 60px; }
  .written-review.video-review {
    width: 50%;
    margin-right: 50px;
    margin-bottom: 0px; }
  .written-review.hidden-review {
    display: none; }
  .written-review .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 20px; }
    .written-review .video-wrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .written-review .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    .written-review .review-header .review-avatar {
      max-width: 50px;
      border-radius: 50%;
      margin-right: 9px; }
    .written-review .review-header .review-name {
      font-size: 18px;
      color: #332255;
      font-weight: bold;
      display: block;
      margin-bottom: 10px; }
    .written-review .review-header .review-title {
      font-size: 20px;
      color: #332255;
      font-weight: 900;
      display: block; }
    .written-review .review-header > div {
      flex: 1; }
    .written-review .review-header .share-button {
      justify-content: end;
      min-width: 120px;
      color: #888888; }
      .written-review .review-header .share-button img {
        width: 25px; }
  .written-review .review-rating {
    display: flex;
    align-items: center;
    margin-bottom: 18px; }
    .written-review .review-rating .trusted-sticker {
      margin-left: 0px;
      margin-right: 12px; }
    .written-review .review-rating .ratings {
      display: flex;
      align-items: center; }
      .written-review .review-rating .ratings .stars {
        margin-right: 5px; }
      .written-review .review-rating .ratings .rating {
        font-size: 16px;
        color: #332255;
        margin-right: 10px;
        font-weight: normal; }
    .written-review .review-rating .review-date {
      font-size: 14px;
      color: #888888; }
  .written-review .review-content {
    font-size: 18px;
    color: #332255; }
    .written-review .review-content .more {
      color: #0084d1;
      font-weight: 700;
      font-size: 18px;
      text-decoration: underline;
      text-transform: lowercase; }
  .written-review .review-replied-wrapper {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 25px; }
    .written-review .review-replied-wrapper .review-avatar {
      width: 33px;
      border-radius: 50%;
      margin-right: 10px; }
    .written-review .review-replied-wrapper > div {
      width: 100%; }
    .written-review .review-replied-wrapper .replied-info {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      font-size: 14px;
      color: #888888; }
      .written-review .review-replied-wrapper .replied-info img {
        max-width: 15px;
        margin-right: 3px; }

.gray-line {
  background-color: #e6eeff;
  height: 80px; }

.blue-button {
  padding: 12px 43px; }

.profile-wrapper {
  padding: 45px 0px 65px;
  display: flex;
  align-items: flex-start; }
  .profile-wrapper .profile-info-container {
    flex: 1; }
    .profile-wrapper .profile-info-container .avatar-wrapper {
      margin-right: 30px; }
      .profile-wrapper .profile-info-container .avatar-wrapper .avatar {
        border-radius: 50%;
        margin-bottom: 10px; }
      .profile-wrapper .profile-info-container .avatar-wrapper .main-clinic {
        text-align: center;
        font-size: 14px;
        color: #332255;
        font-weight: 600;
        margin-bottom: 10px; }
      .profile-wrapper .profile-info-container .avatar-wrapper .clinic-branches {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #0084d1;
        font-weight: 600;
        justify-content: center;
        margin-bottom: 10px; }
        .profile-wrapper .profile-info-container .avatar-wrapper .clinic-branches img {
          margin-right: 4px; }
        .profile-wrapper .profile-info-container .avatar-wrapper .clinic-branches .fa-circle-notch.fa-spin {
          font-size: 16px;
          margin-left: -3px;
          color: #46afda; }
      .profile-wrapper .profile-info-container .avatar-wrapper .visits-wrapper span {
        display: flex;
        align-items: center;
        background-color: #e6eeff;
        padding: 3px 4px 3px;
        border-radius: 30px;
        margin-bottom: 4px;
        font-size: 14px;
        color: #555555;
        font-weight: 600; }
        .profile-wrapper .profile-info-container .avatar-wrapper .visits-wrapper span .visit-icon {
          margin-right: 3px;
          border-radius: 50%; }
        .profile-wrapper .profile-info-container .avatar-wrapper .visits-wrapper span .visit-info {
          margin-left: 3px; }
    .profile-wrapper .profile-info-container .profile-details {
      flex: 1;
      margin-right: 45px; }
      .profile-wrapper .profile-info-container .profile-details .partner-wrapper {
        margin-bottom: 20px;
        align-items: center; }
        .profile-wrapper .profile-info-container .profile-details .partner-wrapper .partner {
          width: 180px;
          background-color: #0084d1;
          color: white;
          display: flex;
          justify-content: center;
          padding: 4px 5px 6px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          font-weight: bold;
          align-items: end; }
          .profile-wrapper .profile-info-container .profile-details .partner-wrapper .partner img {
            background-color: transparent;
            max-width: 17px;
            margin-right: 4px; }
        .profile-wrapper .profile-info-container .profile-details .partner-wrapper .share-button {
          color: #888888; }
          .profile-wrapper .profile-info-container .profile-details .partner-wrapper .share-button img {
            width: 25px; }
      .profile-wrapper .profile-info-container .profile-details h1 {
        font-size: 36px;
        color: #332255;
        margin-bottom: 20px;
        font-weight: 900; }
      .profile-wrapper .profile-info-container .profile-details .alternative-name {
        font-size: 20px;
        font-weight: 900;
        color: #878686;
        margin-bottom: 10px;
        margin-top: -10px; }
      .profile-wrapper .profile-info-container .profile-details p {
        color: #555555;
        margin-bottom: 8px; }
        .profile-wrapper .profile-info-container .profile-details p a {
          color: #555555; }
          .profile-wrapper .profile-info-container .profile-details p a.blue-href {
            color: #0084d1; }
      .profile-wrapper .profile-info-container .profile-details .dentist-address {
        cursor: pointer;
        color: #555555;
        margin-bottom: 8px; }
      .profile-wrapper .profile-info-container .profile-details .workplace-wrapper {
        margin-bottom: 18px; }
        .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time {
          position: relative;
          font-size: 13px;
          display: flex;
          align-items: center;
          min-width: 90px;
          justify-content: end; }
          @media screen and (max-width: 768px) {
            .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time {
              position: absolute;
              left: 160px;
              top: 98px; } }
          .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time.open {
            color: #0084d1;
            min-width: 97px; }
            .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time.open:after {
              content: "";
              margin-left: 5px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 6px 4.5px 0 4.5px;
              border-color: #0084d1 transparent transparent transparent;
              margin-top: 2px; }
            .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time.open:hover .work-hours {
              display: block; }
          .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time.closed {
            color: #ff6a6a; }
          .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time img {
            max-width: 19px;
            margin-right: 4px;
            max-height: 17px; }
          .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time .work-hours {
            display: none;
            position: absolute;
            top: 100%;
            left: 0px;
            background-color: white;
            width: 225px;
            box-shadow: 0px 0px 3px 0px #c1c1c1; }
            .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time .work-hours p {
              font-size: 16px;
              color: #332255; }
              .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time .work-hours p.month {
                font-weight: 900;
                width: 80px;
                text-align: center; }
            .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time .work-hours .flex {
              border-bottom: 2px solid #e2ebff;
              padding: 10px 0px 6px; }
              .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time .work-hours .flex:last-child {
                border-bottom: none; }
              .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .working-time .work-hours .flex.active p {
                color: #0084d1; }
        .profile-wrapper .profile-info-container .profile-details .workplace-wrapper .workplace a {
          font-size: 20px;
          font-weight: 900;
          color: #332255; }
      .profile-wrapper .profile-info-container .profile-details .socials {
        display: flex;
        margin-top: 16px; }
        .profile-wrapper .profile-info-container .profile-details .socials .social {
          margin-right: 8px;
          transition: all 0.3s ease; }
          .profile-wrapper .profile-info-container .profile-details .socials .social:hover {
            opacity: 0.8;
            transition: all 0.3s ease; }
      .profile-wrapper .profile-info-container .profile-details .announcement-wrapper {
        border-top: 2px solid #c5ccde;
        padding-top: 20px;
        margin-top: 20px; }
        .profile-wrapper .profile-info-container .profile-details .announcement-wrapper h4 {
          font-weight: bold;
          color: #332255;
          font-size: 20px;
          margin-bottom: 5px; }
          .profile-wrapper .profile-info-container .profile-details .announcement-wrapper h4 img {
            margin-right: 7px; }
        .profile-wrapper .profile-info-container .profile-details .announcement-wrapper .announcement-title {
          font-size: 14px;
          color: #888888; }
        .profile-wrapper .profile-info-container .profile-details .announcement-wrapper .announcement-description {
          color: #555555; }
        .profile-wrapper .profile-info-container .profile-details .announcement-wrapper a {
          color: #0084d1;
          text-decoration: underline; }
  .profile-wrapper .profile-rating {
    text-align: center;
    width: 308px;
    background-color: #f8fbff;
    padding: 20px 24px 24px;
    border-radius: 17px;
    box-shadow: 17px 14px 21px -4px #efefef; }
    .profile-wrapper .profile-rating .rating {
      font-size: 46px;
      color: #14cab8;
      font-weight: 500;
      margin-bottom: 2px; }
    .profile-wrapper .profile-rating .reviews-count {
      font-size: 18px;
      color: #0084d1;
      margin-bottom: 30px; }
    .profile-wrapper .profile-rating .ratings {
      margin-bottom: 15px; }
    .profile-wrapper .profile-rating .white-button {
      padding: 12px 43px;
      border-color: #0084d1;
      margin-bottom: 10px;
      color: #0084d1; }
      .profile-wrapper .profile-rating .white-button:hover {
        background-color: #0084d1;
        color: white; }

.more {
  color: red; }

.tab-titles {
  box-shadow: 0px 0px 21px 0px #d3d2d2;
  border: 2px solid #c5ccde;
  border-left: none;
  border-right: none; }
  .tab-titles .tab-title {
    position: relative;
    font-size: 20px;
    display: inline-block;
    padding: 15px 0px;
    transition: all 0.3s ease;
    font-weight: bold;
    color: #332255;
    border-bottom: 4px solid transparent;
    margin-right: 70px; }
    @media screen and (max-width: 998px) {
      .tab-titles .tab-title {
        font-size: 18px; } }
    @media screen and (max-width: 768px) {
      .tab-titles .tab-title {
        margin-right: 4px;
        padding: 5px 10px;
        min-width: auto; } }
    @media screen and (max-width: 500px) {
      .tab-titles .tab-title {
        margin-bottom: 4px; } }
    .tab-titles .tab-title:hover {
      color: #0084d1;
      transition: all 0.3s ease; }
      @media screen and (max-width: 768px) {
        .tab-titles .tab-title:hover {
          transition: all 0.3s ease; } }
    .tab-titles .tab-title.active {
      color: #0084d1;
      border-bottom-color: #0084d1;
      transition: all 0.3s ease; }
      @media screen and (max-width: 768px) {
        .tab-titles .tab-title.active {
          transition: all 0.3s ease; } }
    .tab-titles .tab-title:last-child {
      margin-right: 0px; }
    .tab-titles .tab-title span.active {
      position: absolute;
      top: 7px;
      right: 5px;
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-left: 4px;
      margin-right: 4px;
      background-color: #eb6a6b;
      vertical-align: middle; }
      @media screen and (max-width: 768px) {
        .tab-titles .tab-title span.active {
          top: 2px;
          right: -2px; } }

.tab-sections {
  padding-top: 45px;
  background-color: white; }
  .tab-sections .tab-container {
    margin-bottom: 90px; }
    .tab-sections .tab-container h2 {
      color: #332255;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 30px;
      margin-bottom: 30px; }
    .tab-sections .tab-container h3 {
      font-size: 20px;
      color: #0084d1;
      font-weight: 800;
      margin-bottom: 23px; }
    .tab-sections .tab-container .tab-inner-section {
      margin-bottom: 40px; }
    .tab-sections .tab-container .specializations .specialization {
      position: relative;
      font-size: 16px;
      padding: 8px 23px 10px;
      background-color: #e2ebff;
      display: inline-block;
      border-radius: 22px;
      margin-right: 10px;
      border: 1px solid #3b9fdd;
      transition: all 0.3s ease;
      margin-bottom: 15px;
      cursor: pointer; }
    .tab-sections .tab-container .description {
      font-size: 18px;
      color: #332255; }
    .tab-sections .tab-container .work-hours {
      border-top: 1px solid #0084d1;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px; }
      .tab-sections .tab-container .work-hours .col {
        border-right: 2px solid #e2ebff; }
        .tab-sections .tab-container .work-hours .col.active p {
          color: #0084d1; }
        .tab-sections .tab-container .work-hours .col:first-child .month {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border-left: 1px solid #0084d1; }
        .tab-sections .tab-container .work-hours .col:last-child {
          border-right: none; }
          .tab-sections .tab-container .work-hours .col:last-child .month {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-right: 1px solid #0084d1; }
        .tab-sections .tab-container .work-hours .col .month {
          font-size: 16px;
          font-weight: 900;
          color: #332255;
          background-color: #f2f6ff;
          border-bottom: 1px solid #0084d1;
          padding: 7px 16px; }
        .tab-sections .tab-container .work-hours .col p {
          padding: 14px 16px 7px; }
        .tab-sections .tab-container .work-hours .col label {
          display: block;
          padding-left: 26px;
          margin-bottom: 15px; }
        .tab-sections .tab-container .work-hours .col .edit-working-hours-wrap {
          display: flex;
          align-items: center;
          flex-flow: row wrap;
          justify-content: center;
          margin-top: 10px; }
          .tab-sections .tab-container .work-hours .col .edit-working-hours-wrap select {
            width: 56px;
            padding: 0px;
            display: inline-block;
            margin-right: 5px; }
            .tab-sections .tab-container .work-hours .col .edit-working-hours-wrap select:nth-child(2n) {
              margin-right: 0px; }
            .tab-sections .tab-container .work-hours .col .edit-working-hours-wrap select.grayed {
              background-color: #eee; }
    .tab-sections .tab-container .show-more-reviews {
      font-size: 18px;
      color: #0084d1;
      font-weight: 700;
      text-decoration: underline;
      display: inline-block; }
    .tab-sections .tab-container .reviews-type-buttons {
      margin-bottom: 30px; }
      .tab-sections .tab-container .reviews-type-buttons a {
        font-size: 20px;
        color: #332255;
        font-weight: bold;
        transition: all 0.3s ease; }
        .tab-sections .tab-container .reviews-type-buttons a.active {
          color: #0084d1;
          text-decoration: underline;
          transition: all 0.3s ease; }
        .tab-sections .tab-container .reviews-type-buttons a:hover {
          color: #0084d1;
          transition: all 0.3s ease; }
        .tab-sections .tab-container .reviews-type-buttons a:nth-child(2) {
          border-left: 2px solid #332255;
          margin-left: 12px;
          padding-left: 12px; }
    .tab-sections .tab-container .aggregated-rating-wrapper {
      background-color: #f2f6ff;
      padding: 11px 20px 11px 35px;
      border-radius: 20px;
      margin-bottom: 40px; }
      .tab-sections .tab-container .aggregated-rating-wrapper .col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 40px; }
        .tab-sections .tab-container .aggregated-rating-wrapper .col .rating {
          font-size: 46px;
          color: #14cab8;
          margin-bottom: 5px; }
        .tab-sections .tab-container .aggregated-rating-wrapper .col .ratings {
          margin-bottom: 10px; }
        .tab-sections .tab-container .aggregated-rating-wrapper .col .reviews-count {
          font-size: 18px;
          color: #555555; }
      .tab-sections .tab-container .aggregated-rating-wrapper .flex {
        flex-flow: row wrap; }
        .tab-sections .tab-container .aggregated-rating-wrapper .flex .overview-column {
          width: 25%;
          border-right: 1px solid #cad3e6;
          padding: 0px 10px 0px 25px; }
          .tab-sections .tab-container .aggregated-rating-wrapper .flex .overview-column:nth-child(4n) {
            border-right: none;
            padding-right: 0px; }
          .tab-sections .tab-container .aggregated-rating-wrapper .flex .overview-column p {
            font-weight: 900;
            color: #332255;
            margin-bottom: 5px; }
          .tab-sections .tab-container .aggregated-rating-wrapper .flex .overview-column .ratings {
            margin-bottom: 15px; }
    .tab-sections .tab-container .reviews-filter {
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      border-bottom: 1px solid #bebebe;
      margin-bottom: 50px; }
      .tab-sections .tab-container .reviews-filter span {
        color: #888888;
        margin-right: 10px; }
      .tab-sections .tab-container .reviews-filter .filter {
        font-size: 14px;
        color: #332255;
        padding: 8px 29px 10px 15px;
        background-color: #e2ebff;
        display: inline-block;
        border-radius: 22px;
        margin-right: 13px;
        border: 1px solid #0084d1;
        transition: all 0.3s ease;
        position: relative;
        cursor: pointer;
        font-weight: bold; }
        .tab-sections .tab-container .reviews-filter .filter:hover {
          background-color: #0084d1;
          color: white;
          transition: all 0.3s ease; }
          .tab-sections .tab-container .reviews-filter .filter:hover .label {
            color: white;
            background-color: transparent; }
          .tab-sections .tab-container .reviews-filter .filter:hover .caret-down {
            background-position-y: 100%; }
          .tab-sections .tab-container .reviews-filter .filter:hover .filter-options {
            display: block; }
        .tab-sections .tab-container .reviews-filter .filter .label {
          font-size: 14px;
          color: #332255;
          background-color: transparent;
          margin-right: 0px; }
        .tab-sections .tab-container .reviews-filter .filter .caret-down {
          background-image: url(../img-trp/caret-down-new.png);
          background-color: transparent;
          width: 7px;
          height: 6px;
          position: absolute;
          right: 13px;
          top: 50%;
          transform: translateY(-50%);
          background-size: cover;
          background-position-y: 0%; }
        .tab-sections .tab-container .reviews-filter .filter .filter-options {
          text-align: left;
          display: none;
          position: absolute;
          z-index: 100011;
          background-color: white;
          left: 0px;
          padding: 19px 15px;
          box-shadow: 0px 0px 4px 0px #b3b3b3;
          min-width: 250px;
          top: 103%; }
          .tab-sections .tab-container .reviews-filter .filter .filter-options .checkbox-label {
            margin-bottom: 11px; }
            .tab-sections .tab-container .reviews-filter .filter .filter-options .checkbox-label:last-child {
              margin-bottom: 0px; }
      .tab-sections .tab-container .reviews-filter .search-reviews-wrapper {
        max-width: 218px;
        border-bottom: 1px solid #bebebe;
        display: flex;
        align-items: center;
        padding-bottom: 3px;
        margin-left: 15px; }
        .tab-sections .tab-container .reviews-filter .search-reviews-wrapper img {
          margin-bottom: -3px;
          margin-right: 8px; }
        .tab-sections .tab-container .reviews-filter .search-reviews-wrapper input {
          height: 30px;
          max-width: 200px;
          outline: none; }
      .tab-sections .tab-container .reviews-filter .reviews-count {
        flex: 1;
        display: flex;
        justify-content: end;
        color: #332255; }
    .tab-sections .tab-container .written-reviews-wrapper .video-reviews-flex {
      display: flex; }
      .tab-sections .tab-container .written-reviews-wrapper .video-reviews-flex .video-review:nth-child(2) {
        margin-right: 0px; }
    .tab-sections .tab-container .written-reviews-wrapper .flickity-page-dots {
      display: none; }
    .tab-sections .tab-container .written-reviews-wrapper .flickity-prev-next-button {
      width: 28px !important;
      height: 66px !important;
      border-radius: 0px !important; }
    .tab-sections .tab-container .written-reviews-wrapper .flickity-button {
      top: 160px !important; }
    .tab-sections .tab-container .written-reviews-wrapper .flickity-prev-next-button.previous {
      transform: rotate(180deg);
      transform-origin: 50% 19px;
      background: url("../img-trp/slider-arrow-left-white.svg") 50% 50% no-repeat; }
      .tab-sections .tab-container .written-reviews-wrapper .flickity-prev-next-button.previous svg {
        display: none; }
    .tab-sections .tab-container .written-reviews-wrapper .flickity-prev-next-button.next {
      background: url("../img-trp/slider-arrow-right-white.svg") 50% 50% no-repeat; }
      .tab-sections .tab-container .written-reviews-wrapper .flickity-prev-next-button.next svg {
        display: none; }
    .tab-sections .tab-container #no-reviews {
      display: none; }
    .tab-sections .tab-container .location-section {
      display: flex;
      align-items: end; }
      .tab-sections .tab-container .location-section .col {
        max-width: 50%;
        flex: 1; }
      .tab-sections .tab-container .location-section .gallery-slider {
        margin-left: 50px; }
        .tab-sections .tab-container .location-section .gallery-slider.with-arrows .gallery-flickity .flickity-button {
          display: block; }
          @media screen and (max-width: 768px) {
            .tab-sections .tab-container .location-section .gallery-slider.with-arrows .gallery-flickity .flickity-button {
              display: none !important; } }
        .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-viewport {
          height: 350px !important; }
        .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-page-dots {
          display: none; }
          @media screen and (max-width: 768px) {
            .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-page-dots {
              display: block; } }
          .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-page-dots .dot {
            opacity: 1;
            background: none;
            border: 1px solid #126585;
            margin: 0 3px; }
            .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-page-dots .dot:hover, .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-page-dots .dot.is-selected {
              background: #126585; }
        .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .slider-wrapper {
          display: block;
          width: 100%;
          padding-right: 5px;
          padding-left: 5px; }
          .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .slider-wrapper .slider-image {
            padding-top: 66%;
            width: 100%; }
            @media screen and (max-width: 768px) {
              .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .slider-wrapper .slider-image {
                padding-top: 70%; } }
        .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-prev-next-button {
          width: 28px !important;
          height: 66px !important;
          border-radius: 0px !important; }
        .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-button {
          display: none; }
          @media screen and (max-width: 768px) {
            .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-button {
              display: none !important; } }
        .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-prev-next-button.previous {
          transform: rotate(180deg);
          transform-origin: 50% 19px;
          background: url("../img-trp/slider-arrow-left-white.svg") 50% 50% no-repeat; }
          .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-prev-next-button.previous svg {
            display: none; }
        .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-prev-next-button.next {
          background: url("../img-trp/slider-arrow-right-white.svg") 50% 50% no-repeat; }
          .tab-sections .tab-container .location-section .gallery-slider .gallery-flickity .flickity-prev-next-button.next svg {
            display: none; }
      .tab-sections .tab-container .location-section .map-address {
        color: #555555;
        margin-bottom: 15px; }
      .tab-sections .tab-container .location-section .map-container {
        width: 100%;
        padding-top: 65%; }
        .tab-sections .tab-container .location-section .map-container .gm-ui-hover-effect {
          display: none !important; }
    .tab-sections .tab-container .dentist-payments span {
      display: flex;
      align-items: center;
      border-right: 2px solid #e2ebff;
      padding-right: 17px;
      margin-left: 20px;
      color: #332255; }
      .tab-sections .tab-container .dentist-payments span:last-child {
        border-right: none; }
      .tab-sections .tab-container .dentist-payments span:first-child {
        margin-left: 0px; }
      .tab-sections .tab-container .dentist-payments span img {
        height: 25px;
        margin-right: 6px; }
    .tab-sections .tab-container .education-wrapper {
      font-size: 18px;
      color: #332255;
      line-height: 26px; }
    .tab-sections .tab-container .laguages-wrapper {
      padding-left: 68px;
      border-left: 2px solid #e2ebff;
      margin-left: 60px; }
      .tab-sections .tab-container .laguages-wrapper img {
        vertical-align: middle; }
    .tab-sections .tab-container .bubble {
      position: relative;
      font-size: 16px;
      padding: 8px 15px 10px;
      background-color: #e2ebff;
      display: inline-block;
      border-radius: 22px;
      margin-right: 10px;
      border: 1px solid #3b9fdd;
      transition: all 0.3s ease;
      margin-bottom: 15px;
      cursor: pointer; }
    .tab-sections .tab-container .team-container {
      display: flex;
      flex-flow: row wrap; }
      .tab-sections .tab-container .team-container.edit-mode .deleter,
      .tab-sections .tab-container .team-container.edit-mode .delete-invite {
        display: inline-block; }
      .tab-sections .tab-container .team-container .deleter,
      .tab-sections .tab-container .team-container .delete-invite {
        display: none; }
      .tab-sections .tab-container .team-container .team {
        width: calc(33.3% - 13px);
        display: flex;
        align-items: center;
        background-color: #f4f7ff;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 30px 15px;
        border-radius: 10px;
        transition: all 0.3s ease; }
        .tab-sections .tab-container .team-container .team.add-team-member {
          position: relative;
          border: 1px solid #0084d1; }
          .tab-sections .tab-container .team-container .team.add-team-member:hover {
            box-shadow: none; }
          .tab-sections .tab-container .team-container .team.add-team-member .disabled-prop {
            display: flex;
            align-items: center;
            opacity: 0.5; }
          .tab-sections .tab-container .team-container .team.add-team-member .add-team-text {
            font-size: 20px;
            font-weight: bold;
            color: #0084d1; }
          .tab-sections .tab-container .team-container .team.add-team-member .comming-soon {
            position: absolute;
            color: white;
            font-weight: bold;
            background-color: #0084d1;
            right: 0;
            top: 15px;
            padding: 4px 20px 5px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px; }
        .tab-sections .tab-container .team-container .team:hover {
          transition: all 0.3s ease;
          box-shadow: 13px 12px 13px 1px #e9e9e9; }
        .tab-sections .tab-container .team-container .team:nth-child(3n) {
          margin-right: 0px; }
        .tab-sections .tab-container .team-container .team .team-image {
          position: relative;
          width: 105px;
          height: 105px;
          border-radius: 50%;
          margin-right: 15px;
          background-size: cover;
          background-position: 50%; }
          .tab-sections .tab-container .team-container .team .team-image .delete-invite,
          .tab-sections .tab-container .team-container .team .team-image .deleter {
            width: 16px;
            background-color: transparent;
            position: absolute;
            top: -20px;
            left: -5px; }
        .tab-sections .tab-container .team-container .team .team-info h4 {
          font-size: 20px;
          font-weight: 800;
          color: #332255;
          margin-bottom: 6px; }
        .tab-sections .tab-container .team-container .team .team-info p {
          font-weight: bold;
          color: #0084d1;
          margin-bottom: 30px; }
        .tab-sections .tab-container .team-container .team .team-info .ratings {
          display: flex;
          align-items: center; }
          .tab-sections .tab-container .team-container .team .team-info .ratings .rating {
            font-size: 15px;
            font-weight: 300;
            color: #555555;
            margin-left: 5px; }
        .tab-sections .tab-container .team-container .team .team-info .action-buttons {
          margin-top: 20px; }
          .tab-sections .tab-container .team-container .team .team-info .action-buttons div:first-child {
            margin-right: 5px; }

.hightlights-wrapper .hightlight {
  width: 33.3%;
  margin-right: 50px;
  display: flex;
  flex-direction: column; }
  .hightlights-wrapper .hightlight:last-child {
    margin-right: 0px; }
  .hightlights-wrapper .hightlight .hightlight-image {
    background-color: #f2f6ff;
    height: 340px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 4px; }
    .hightlights-wrapper .hightlight .hightlight-image img {
      max-width: 96%;
      border-radius: 10px;
      margin: 0 auto; }
  .hightlights-wrapper .hightlight p {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #332255;
    text-align: center;
    padding: 29px 10px;
    background-color: #f2f6ff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center; }

.info-address {
  text-align: center;
  margin-bottom: 20px; }
  .info-address img {
    max-width: 15px;
    margin-right: 4px;
    vertical-align: bottom; }

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 23px;
  height: 23px;
  background: #898989;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .delete-button img {
    width: 54%; }

.invited-dentist {
  margin-top: -40px;
  margin-bottom: 25px;
  color: #14c9b9;
  padding: 5px;
  font-weight: bold;
  font-size: 20px; }
  @media screen and (max-width: 1200px) {
    .invited-dentist {
      font-size: 18px;
      margin-top: 0px;
      margin-bottom: 5px; } }
  @media screen and (max-width: 998px) {
    .invited-dentist {
      margin-top: -20px;
      text-align: center;
      margin-left: 10px; } }
  @media screen and (max-width: 768px) {
    .invited-dentist {
      font-size: 16px;
      margin-top: -8px; } }

.pager {
  text-align: center;
  margin: 1em 0; }
  @media screen and (max-width: 768px) {
    .pager {
      margin-bottom: 40px; } }
  .pager span {
    border: 1px solid #126585;
    background-color: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    color: #126585;
    margin-right: 10px;
    font-weight: bold;
    margin-bottom: 10px; }
    .pager span.active {
      background-color: #126585;
      color: white; }

.ip-country {
  margin-bottom: 20px; }

.popup .popup-inner .widget-wrapper h3 {
  margin-bottom: 30px; }
.popup .popup-inner .widget-wrapper .widget-options {
  margin-top: 20px;
  margin-bottom: 30px; }
.popup .popup-inner .widget-wrapper .widget-content {
  margin-bottom: 40px; }

.review-rating-new {
  border: 2px solid #2dcec3;
  display: inline-flex;
  align-items: center;
  height: 70px;
  width: 406px;
  justify-content: space-evenly;
  padding-left: 28px;
  border-radius: 10px;
  margin-bottom: 55px; }
  @media screen and (max-width: 768px) {
    .review-rating-new {
      width: 100%;
      height: 60px;
      padding-left: 18px;
      margin-bottom: 35px; } }
  .review-rating-new.verified-review {
    justify-content: space-between; }
    .review-rating-new.verified-review .ratings {
      padding-left: 10px; }
    .review-rating-new.verified-review .trusted {
      display: block; }
  .review-rating-new .rating {
    font-size: 38px;
    font-weight: 800;
    color: #31beb2; }
    @media screen and (max-width: 768px) {
      .review-rating-new .rating {
        font-size: 32px; } }
  .review-rating-new .ratings {
    border-left: 2px solid #2dcec3;
    margin-left: -20px;
    padding-left: 21px; }
  .review-rating-new .trusted {
    display: none;
    background-color: #2dcec3;
    height: 70px;
    line-height: 96px;
    margin-right: -1px;
    padding: 0px 13px 0px 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    @media screen and (max-width: 768px) {
      .review-rating-new .trusted {
        height: 60px;
        line-height: 76px;
        padding: 0px 9px 0px 14px; } }
    .review-rating-new .trusted img {
      max-width: 40px; }
      @media screen and (max-width: 768px) {
        .review-rating-new .trusted img {
          max-width: 30px; } }
