#popup-branch {
  z-index: 999; }
  #popup-branch .popup-inner {
    width: 770px; }
    #popup-branch .popup-inner .branch-content {
      padding: 0px 20px; }
      @media screen and (max-width: 768px) {
        #popup-branch .popup-inner .branch-content {
          padding: 0px; } }
      #popup-branch .popup-inner .branch-content .last-step-flex {
        margin-bottom: 35px; }
        #popup-branch .popup-inner .branch-content .last-step-flex .col {
          margin-right: 20px; }
          @media screen and (max-width: 768px) {
            #popup-branch .popup-inner .branch-content .last-step-flex .col {
              margin-right: 0px; } }
          @media screen and (max-width: 768px) {
            #popup-branch .popup-inner .branch-content .last-step-flex .col:nth-child(2) {
              display: flex;
              justify-content: center;
              margin-right: 0px;
              margin-top: 30px; } }
      #popup-branch .popup-inner .branch-content .submit-branch-button,
      #popup-branch .popup-inner .branch-content .next-branch-button {
        text-align: center; }
      #popup-branch .popup-inner .branch-content .prev-branch-button {
        font-size: 36px;
        font-weight: normal;
        padding: 1px 34px;
        vertical-align: top;
        border-width: 1px;
        margin-right: 10px;
        text-align: center; }
      #popup-branch .popup-inner .branch-content .image-label {
        margin-left: auto; }
        @media screen and (max-width: 768px) {
          #popup-branch .popup-inner .branch-content .image-label {
            margin-right: auto; } }
      #popup-branch .popup-inner .branch-content .phone-code-holder {
        margin-top: 20px;
        display: block;
        margin-right: 5px; }
        @media screen and (max-width: 998px) {
          #popup-branch .popup-inner .branch-content .phone-code-holder {
            margin-top: 13px; } }
      #popup-branch .popup-inner .branch-content .cropper-container {
        margin-left: auto;
        margin-bottom: 40px; }
        @media screen and (max-width: 768px) {
          #popup-branch .popup-inner .branch-content .cropper-container {
            margin-right: auto; } }
      #popup-branch .popup-inner .branch-content .avatar-name-wrapper,
      #popup-branch .popup-inner .branch-content .image-big-error {
        margin-left: auto;
        max-width: 180px; }
        @media screen and (max-width: 768px) {
          #popup-branch .popup-inner .branch-content .avatar-name-wrapper,
          #popup-branch .popup-inner .branch-content .image-big-error {
            margin-right: auto; } }
      @media screen and (max-width: 768px) {
        #popup-branch .popup-inner .branch-content .max-size-label {
          max-width: 180px;
          margin-left: auto;
          margin-right: auto; } }
      #popup-branch .popup-inner .branch-content .checkbox-question {
        max-width: 200px;
        margin-bottom: 7px; }
      #popup-branch .popup-inner .branch-content .checkbox-label {
        text-align: left; }
        #popup-branch .popup-inner .branch-content .checkbox-label .checkbox-square {
          margin-top: 4px; }
