@media screen and (max-width: 768px) {
  #submit-review-popup {
    background-color: white; } }
#submit-review-popup .review-info-description {
  position: relative;
  background-color: #e2ebff;
  min-width: 464px;
  padding: 30px 50px 50px;
  border-radius: 30px;
  margin-right: -50px;
  transition: all 0.3s ease; }
  @media screen and (max-width: 1200px) {
    #submit-review-popup .review-info-description {
      min-width: auto;
      padding: 30px 60px 50px 20px;
      margin-right: -70px; } }
  @media screen and (max-width: 998px) {
    #submit-review-popup .review-info-description {
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
      padding: 20px 20px 90px;
      margin-bottom: -30px; } }
  @media screen and (max-width: 768px) {
    #submit-review-popup .review-info-description {
      padding: 10px 20px 110px;
      margin-bottom: -60px;
      margin-left: 5px;
      margin-right: 5px; } }
  @media screen and (max-width: 998px) {
    #submit-review-popup .review-info-description.hidden-info {
      margin-bottom: -383px; }
      #submit-review-popup .review-info-description.hidden-info .toggle-review-info {
        bottom: auto;
        top: 121px;
        transform: rotate(90deg); } }
  @media screen and (max-width: 768px) {
    #submit-review-popup .review-info-description.hidden-info {
      margin-bottom: -403px; }
      #submit-review-popup .review-info-description.hidden-info .toggle-review-info {
        top: 101px; } }
  #submit-review-popup .review-info-description img {
    max-width: 310px;
    margin-left: auto;
    display: block; }
    @media screen and (max-width: 998px) {
      #submit-review-popup .review-info-description img {
        margin-right: -20px;
        border-top-right-radius: 10px; } }
    @media screen and (max-width: 768px) {
      #submit-review-popup .review-info-description img {
        max-width: 270px;
        border-top-right-radius: 30px; } }
  #submit-review-popup .review-info-description h3 {
    font-weight: 800;
    color: #0564c6;
    margin-bottom: 35px;
    margin-top: 10px; }
    @media screen and (max-width: 1200px) {
      #submit-review-popup .review-info-description h3 {
        font-size: 24px; } }
    @media screen and (max-width: 998px) {
      #submit-review-popup .review-info-description h3 {
        text-align: center; } }
  #submit-review-popup .review-info-description .steps-info {
    margin-bottom: 30px; }
    #submit-review-popup .review-info-description .steps-info p {
      font-size: 18px;
      color: #332255;
      margin-bottom: 8px;
      font-weight: 800; }
      @media screen and (max-width: 1200px) {
        #submit-review-popup .review-info-description .steps-info p {
          font-size: 16px; } }
      @media screen and (max-width: 998px) {
        #submit-review-popup .review-info-description .steps-info p {
          font-size: 18px; } }
      #submit-review-popup .review-info-description .steps-info p span {
        background-color: #0084d1;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        margin-right: 6px;
        font-size: 18px;
        color: white;
        height: 24px;
        width: 24px; }
        @media screen and (max-width: 1200px) {
          #submit-review-popup .review-info-description .steps-info p span {
            font-size: 16px;
            height: 21px;
            width: 22px; } }
        @media screen and (max-width: 998px) {
          #submit-review-popup .review-info-description .steps-info p span {
            margin-right: 9px;
            font-size: 18px;
            height: 24px;
            width: 24px; } }
  #submit-review-popup .review-info-description .earn-text {
    text-transform: uppercase;
    font-size: 24px;
    color: #0084d1;
    font-weight: bold; }
    @media screen and (max-width: 1200px) {
      #submit-review-popup .review-info-description .earn-text {
        font-size: 21px; } }
    @media screen and (max-width: 998px) {
      #submit-review-popup .review-info-description .earn-text {
        text-align: center;
        font-size: 22px; } }
  #submit-review-popup .review-info-description .toggle-review-info {
    display: none;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 10px);
    background-image: url(../img/arrow-left-white.svg);
    width: 30px;
    height: 30px;
    transform: rotate(-90deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    transform-origin: center; }
    @media screen and (max-width: 998px) {
      #submit-review-popup .review-info-description .toggle-review-info {
        display: block; } }
    @media screen and (max-width: 768px) {
      #submit-review-popup .review-info-description .toggle-review-info {
        bottom: 64px; } }
@media screen and (max-width: 768px) {
  #submit-review-popup .popup-wrapper {
    padding-top: 60px; } }
#submit-review-popup .popup-wrapper .close-review-popup {
  position: absolute;
  top: 9px;
  left: 15px;
  display: none; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .popup-wrapper .close-review-popup {
      display: block; } }
@media screen and (max-width: 1200px) {
  #submit-review-popup .popup-image {
    margin-right: -180px;
    margin-left: -270px; } }
@media screen and (max-width: 998px) {
  #submit-review-popup .write-review-step {
    flex-direction: column; } }
#submit-review-popup .popup-inner {
  min-width: 700px;
  max-width: 700px;
  padding: 50px 60px 40px;
  margin-bottom: 0px; }
  @media screen and (max-width: 1200px) {
    #submit-review-popup .popup-inner {
      min-width: 660px;
      max-width: 660px;
      padding: 50px 50px 40px; } }
  @media screen and (max-width: 768px) {
    #submit-review-popup .popup-inner {
      min-width: auto;
      padding: 20px 15px 60px; } }
  #submit-review-popup .popup-inner .blue-button {
    text-transform: none; }
    @media screen and (max-width: 1200px) {
      #submit-review-popup .popup-inner .blue-button {
        padding: 10px 46px; } }
    @media screen and (max-width: 768px) {
      #submit-review-popup .popup-inner .blue-button {
        padding: 10px 27px;
        font-size: 18px;
        min-width: 160px; } }
  @media screen and (max-width: 768px) {
    #submit-review-popup .popup-inner .close-popup:not(.blue-button) {
      display: none; } }
#submit-review-popup h2 {
  margin-bottom: 15px; }
  #submit-review-popup h2.smaller-h2 {
    font-size: 28px;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      #submit-review-popup h2.smaller-h2 {
        font-size: 22px; } }
#submit-review-popup .subtitle-box {
  text-align: center;
  margin-bottom: 30px; }
  #submit-review-popup .subtitle-box p {
    font-size: 18px;
    font-weight: 900;
    color: #332255; }
    @media screen and (max-width: 768px) {
      #submit-review-popup .subtitle-box p {
        max-width: 240px;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 768px) {
      #submit-review-popup .subtitle-box p:last-child {
        display: none; } }
  #submit-review-popup .subtitle-box h2 {
    margin-bottom: 10px; }
  #submit-review-popup .subtitle-box .subtitle {
    font-size: 26px; }
#submit-review-popup .reviews-wrapper {
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .reviews-wrapper {
      margin-bottom: 20px; } }
  #submit-review-popup .reviews-wrapper .review-tabs {
    display: flex;
    margin-bottom: 33px; }
    @media screen and (max-width: 768px) {
      #submit-review-popup .reviews-wrapper .review-tabs {
        margin-bottom: 13px; } }
    #submit-review-popup .reviews-wrapper .review-tabs label {
      box-shadow: 0px 0px 4px 2px #e5e5e5;
      text-transform: uppercase;
      position: relative;
      align-items: center;
      padding: 16px 18px;
      font-weight: 700;
      flex: 1; }
      @media screen and (max-width: 768px) {
        #submit-review-popup .reviews-wrapper .review-tabs label {
          font-size: 16px;
          padding-top: 13px; } }
      #submit-review-popup .reviews-wrapper .review-tabs label.active {
        box-shadow: none;
        color: #0084d1; }
        #submit-review-popup .reviews-wrapper .review-tabs label.active .active-image {
          display: block; }
        #submit-review-popup .reviews-wrapper .review-tabs label.active .inactive-image {
          display: none; }
      #submit-review-popup .reviews-wrapper .review-tabs label:first-child {
        margin-right: 15px; }
        @media screen and (max-width: 768px) {
          #submit-review-popup .reviews-wrapper .review-tabs label:first-child {
            margin-right: 11px; } }
      #submit-review-popup .reviews-wrapper .review-tabs label:nth-child(2) img {
        margin-bottom: 3px; }
        @media screen and (max-width: 768px) {
          #submit-review-popup .reviews-wrapper .review-tabs label:nth-child(2) img {
            margin-bottom: 0px; } }
      #submit-review-popup .reviews-wrapper .review-tabs label img {
        max-width: 30px;
        margin-right: 11px;
        vertical-align: -webkit-baseline-middle; }
        #submit-review-popup .reviews-wrapper .review-tabs label img.active-image {
          display: none; }
        #submit-review-popup .reviews-wrapper .review-tabs label img.inactive-image {
          display: block; }
      #submit-review-popup .reviews-wrapper .review-tabs label .video-reward {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #14cab8;
        border-radius: 50%;
        color: white;
        text-align: center;
        font-size: 20px;
        text-transform: lowercase;
        line-height: 11px;
        padding-top: 12px;
        right: -20px;
        bottom: -20px; }
        @media screen and (max-width: 768px) {
          #submit-review-popup .reviews-wrapper .review-tabs label .video-reward {
            right: -10px; } }
        #submit-review-popup .reviews-wrapper .review-tabs label .video-reward p {
          display: inline;
          color: white;
          font-size: 10px; }
  #submit-review-popup .reviews-wrapper .review-video-info {
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    padding: 20px 15px 10px;
    position: relative; }
    @media screen and (max-width: 768px) {
      #submit-review-popup .reviews-wrapper .review-video-info {
        padding: 14px 11px; } }
    #submit-review-popup .reviews-wrapper .review-video-info.hide-video-reviews {
      padding: 0px;
      border: none; }
      #submit-review-popup .reviews-wrapper .review-video-info.hide-video-reviews:before {
        display: none; }
      #submit-review-popup .reviews-wrapper .review-video-info.hide-video-reviews p {
        color: #332255; }
    #submit-review-popup .reviews-wrapper .review-video-info:before {
      content: 'How it works:';
      position: absolute;
      top: -17px;
      background-color: white;
      padding: 5px;
      left: 6px;
      color: #0084d1;
      font-size: 15px; }
    #submit-review-popup .reviews-wrapper .review-video-info p {
      margin-bottom: 15px; }
    #submit-review-popup .reviews-wrapper .review-video-info .option-span {
      position: relative;
      padding-left: 14px;
      color: #332255;
      font-weight: normal;
      margin-bottom: 5px; }
      #submit-review-popup .reviews-wrapper .review-video-info .option-span:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #0084d1;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%); }
      #submit-review-popup .reviews-wrapper .review-video-info .option-span a {
        font-weight: bold;
        color: #0084d1;
        text-decoration: underline; }
    #submit-review-popup .reviews-wrapper .review-video-info .myVideo-dimensions {
      display: none;
      position: relative;
      width: 100% !important;
      height: auto; }
      #submit-review-popup .reviews-wrapper .review-video-info .myVideo-dimensions * {
        display: none; }
      #submit-review-popup .reviews-wrapper .review-video-info .myVideo-dimensions #myVideo_html5_api {
        display: block;
        position: absolute;
        top: 0;
        width: 100%; }
    #submit-review-popup .reviews-wrapper .review-video-info .green-button {
      padding: 10px 43px 12px; }
      #submit-review-popup .reviews-wrapper .review-video-info .green-button img {
        margin-right: 7px;
        margin-bottom: -2px; }
    #submit-review-popup .reviews-wrapper .review-video-info .agree-text {
      font-size: 14px;
      color: #332255;
      max-width: 450px;
      margin: 17px auto 9px; }
      #submit-review-popup .reviews-wrapper .review-video-info .agree-text a {
        color: #0084d1;
        font-size: 14px;
        text-decoration: underline; }
#submit-review-popup .questions-rating-wrapper.dentist-in-clinic .teams .select-team-wrapper .select-team-options .select-team:last-child {
  padding-left: 16px;
  padding-top: 2px; }
#submit-review-popup .questions-rating-wrapper.dentist-in-clinic .questions .question {
  display: none; }
  #submit-review-popup .questions-rating-wrapper.dentist-in-clinic .questions .question.dentist-question {
    display: block; }
#submit-review-popup .questions-rating-wrapper .teams {
  margin-bottom: 25px; }
  #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper {
    padding-left: 15px;
    padding-right: 30px;
    height: 58px;
    border-radius: 4px;
    margin: 0;
    border: 2px solid #cccccc;
    width: 100%;
    background-color: white;
    position: relative;
    cursor: pointer; }
    #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper.active .select-team-options {
      display: block; }
    #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper.chosen .remove-selected-team,
    #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper.chosen .select-team-chosen-label {
      display: block; }
    #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .select-team-chosen-label {
      display: none;
      position: absolute;
      top: -18px;
      background-color: white;
      padding: 5px;
      left: 9px;
      color: #0084d1;
      font-size: 16px; }
    #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .remove-selected-team {
      display: none;
      position: absolute;
      font-size: 23px;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 14px;
      color: #0084d1;
      font-weight: bold; }
    #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper p {
      line-height: 52px;
      font-size: 16px;
      color: #888888; }
    #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .select-team-options {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0px 0px 7px -2px #aeaeae; }
      #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .select-team-options .select-team {
        display: flex;
        align-items: center;
        padding: 0px 15px 10px;
        color: #332255; }
        #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .select-team-options .select-team:first-child {
          padding: 10px 15px; }
        #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .select-team-options .select-team:last-child {
          padding-left: 66px;
          padding-bottom: 17px;
          padding-top: 9px; }
        #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .select-team-options .select-team img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px; }
        #submit-review-popup .questions-rating-wrapper .teams .select-team-wrapper .select-team-options .select-team b {
          margin-left: 5px;
          font-weight: 900; }
#submit-review-popup .questions {
  display: flex;
  flex-flow: row wrap; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .questions {
      flex-direction: column;
      margin-left: -15px;
      margin-right: -15px; } }
  #submit-review-popup .questions .question {
    width: 50%;
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      #submit-review-popup .questions .question {
        width: 100%;
        display: flex;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0px; }
        #submit-review-popup .questions .question:nth-child(2n-1) {
          background-color: #f2f6ff; } }
    #submit-review-popup .questions .question p {
      font-size: 18px;
      font-weight: 900;
      color: #332255;
      margin-bottom: 5px; }
    #submit-review-popup .questions .question .rating-error {
      text-align: center;
      color: red; }
#submit-review-popup .treatments-wrapper .treatment-category {
  font-size: 18px;
  color: #332255;
  font-weight: 900;
  margin-bottom: 15px; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .treatments-wrapper .treatment-category {
      margin-bottom: 25px;
      margin-top: 30px; } }
#submit-review-popup .treatments-wrapper .treatment-label {
  position: relative;
  font-size: 16px;
  color: #332255;
  padding: 8px 23px 10px;
  background-color: #f2f6ff;
  display: inline-block;
  border-radius: 22px;
  margin-right: 10px;
  border: 1px solid #f2f6ff;
  transition: all 0.3s ease;
  margin-bottom: 15px;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .treatments-wrapper .treatment-label {
      margin-bottom: 15px; } }
  #submit-review-popup .treatments-wrapper .treatment-label:hover {
    background-color: #e2ebff;
    transition: all 0.3s ease; }
  #submit-review-popup .treatments-wrapper .treatment-label.active {
    background-color: #e2ebff;
    border-color: #0084d1;
    transition: all 0.3s ease; }
  #submit-review-popup .treatments-wrapper .treatment-label.more-treatments {
    padding: 8px 29px 10px 15px; }
    #submit-review-popup .treatments-wrapper .treatment-label.more-treatments:hover .treatment-options {
      display: block; }
  #submit-review-popup .treatments-wrapper .treatment-label .tooltip-text {
    font-size: 16px;
    color: #332255; }
  #submit-review-popup .treatments-wrapper .treatment-label input {
    display: none; }
  #submit-review-popup .treatments-wrapper .treatment-label .treatment-options {
    text-align: left;
    display: none;
    position: absolute;
    z-index: 100011;
    background-color: white;
    left: 0px;
    padding: 19px 15px;
    box-shadow: 0px 0px 4px 0px #b3b3b3;
    min-width: 250px;
    bottom: 103%; }
    #submit-review-popup .treatments-wrapper .treatment-label .treatment-options .checkbox-label {
      margin-bottom: 13px; }
      #submit-review-popup .treatments-wrapper .treatment-label .treatment-options .checkbox-label:last-child {
        margin-bottom: 0px; }
      #submit-review-popup .treatments-wrapper .treatment-label .treatment-options .checkbox-label .flex {
        color: #332255; }
      #submit-review-popup .treatments-wrapper .treatment-label .treatment-options .checkbox-label .checkbox-square {
        margin-right: 7px; }
#submit-review-popup .treatments-wrapper .review-selected-treatments {
  color: #0084d1;
  text-decoration: underline;
  display: none; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .treatments-wrapper .review-selected-treatments {
      display: inline-block;
      margin-left: auto;
      float: right;
      margin-top: 10px; } }
#submit-review-popup .treatments-wrapper .selected-treatments-wrapper {
  border-top: 1px solid #0084d1;
  margin-top: 20px;
  padding-top: 20px;
  display: none; }
  #submit-review-popup .treatments-wrapper .selected-treatments-wrapper.active {
    display: block; }
  #submit-review-popup .treatments-wrapper .selected-treatments-wrapper .treatment-category {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 13px; }
    @media screen and (max-width: 768px) {
      #submit-review-popup .treatments-wrapper .selected-treatments-wrapper .treatment-category {
        margin-top: 0px; } }
  #submit-review-popup .treatments-wrapper .selected-treatments-wrapper .selected-treatments {
    display: inline; }
    #submit-review-popup .treatments-wrapper .selected-treatments-wrapper .selected-treatments a {
      margin-right: 23px;
      color: #0084d1;
      margin-bottom: 5px;
      display: inline-block; }
      #submit-review-popup .treatments-wrapper .selected-treatments-wrapper .selected-treatments a:last-child {
        margin-right: 0px; }
      #submit-review-popup .treatments-wrapper .selected-treatments-wrapper .selected-treatments a span {
        color: #0084d1;
        font-weight: 900;
        font-size: 13px;
        margin-left: 2px; }
#submit-review-popup #review-submit-button i {
  border-radius: 50%;
  display: inline-block;
  font-size: 15px;
  width: 15px;
  height: 15px;
  margin: -10px 3px 0 -10px;
  text-indent: -9999em;
  border-top: 3px solid #121212;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear; }
#submit-review-popup .submit-review-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 26px; }
  #submit-review-popup .submit-review-buttons .white-button {
    padding: 1px 30px;
    margin-right: 15px;
    border-width: 1px;
    font-size: 36px;
    color: #0084d1;
    border-color: #0084d1;
    font-weight: normal;
    cursor: pointer; }
    #submit-review-popup .submit-review-buttons .white-button:hover {
      background-color: #0084d1;
      color: white; }
#submit-review-popup .caret-down {
  background-image: url(../img-trp/caret-down-new.png);
  background-color: transparent;
  width: 7px;
  height: 6px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-position-y: 0%; }
#submit-review-popup .write-review-loader {
  text-align: center;
  position: absolute;
  padding: 50px;
  z-index: 10;
  height: 100%;
  left: 0;
  right: 0;
  top: 0; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .write-review-loader {
      padding: 20px; } }
  #submit-review-popup .write-review-loader h2 {
    margin-bottom: 60px;
    font-size: 28px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; }
  #submit-review-popup .write-review-loader video {
    max-width: 300px; }
    @media screen and (max-width: 768px) {
      #submit-review-popup .write-review-loader video {
        max-width: 250px; } }
#submit-review-popup .success-bottom-section {
  background-color: #e2ebff;
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: -40px;
  border-top: 1px solid #0084d1;
  padding: 30px 60px 40px;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .success-bottom-section {
      margin-bottom: -60px; } }
  #submit-review-popup .success-bottom-section.text-success .review-reward-wrapper .review-reward {
    color: black; }
  #submit-review-popup .success-bottom-section .review-reward-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; }
    #submit-review-popup .success-bottom-section .review-reward-wrapper img {
      max-width: 50px; }
    #submit-review-popup .success-bottom-section .review-reward-wrapper .review-reward {
      font-size: 32px;
      font-weight: 900;
      margin-left: 10px;
      color: #888888; }
#submit-review-popup .learn-link {
  color: #0084d1;
  text-decoration: underline;
  margin-bottom: 25px;
  display: inline-block; }
#submit-review-popup .step-info {
  text-align: center;
  font-size: 18px;
  color: #332255;
  margin-bottom: 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  #submit-review-popup .step-info b {
    font-weight: 900;
    font-size: 18px;
    color: #332255; }
#submit-review-popup .video-review-success-wrapper {
  text-align: center; }
  #submit-review-popup .video-review-success-wrapper img {
    max-width: 85px; }
  #submit-review-popup .video-review-success-wrapper .video-reward {
    font-size: 32px;
    font-weight: 900;
    color: #0084d1;
    margin-top: 10px;
    margin-bottom: 30px; }
#submit-review-popup .new-h2 {
  font-size: 30px;
  color: #0084d1;
  margin-bottom: 30px; }
#submit-review-popup .review-rating-new.verified-review .ratings {
  margin-right: 38px; }
#submit-review-popup .review-rating-new .rating {
  margin-right: 18px; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .review-rating-new .rating {
      margin-right: 37px; } }
#submit-review-popup .review-rating-new .ratings {
  margin-right: 25px; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .review-rating-new .ratings {
      margin-right: 22px;
      margin-left: -20px;
      padding-left: 11px; } }
#submit-review-popup .verification-review-success .popup-inner {
  padding-top: 90px;
  padding-bottom: 60px; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .verification-review-success .popup-inner {
      padding: 20px 15px; } }
#submit-review-popup .verification-review-success .check-image {
  margin-bottom: 20px; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .verification-review-success .check-image {
      max-width: 60px; } }
#submit-review-popup .verification-review-success .learn-link {
  margin-bottom: 70px; }
  @media screen and (max-width: 768px) {
    #submit-review-popup .verification-review-success .learn-link {
      margin-bottom: 40px; } }
