.search-form {
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 4px 0px #9f9f9f;
  position: relative;
  padding: 9px 85px 9px 0px; }
  @media screen and (max-width: 768px) {
    .search-form {
      height: 35px;
      padding-left: 8px;
      padding-right: 8px; } }
  .search-form .input-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 19px;
    border-right: 1px solid #888888; }
    .search-form .input-wrapper.search-dentist-wrapper {
      min-width: 360px; }
  .search-form input[type="text"] {
    font-size: 16px;
    border: none;
    padding-left: 10px;
    height: 55px; }
    @media screen and (max-width: 768px) {
      .search-form input[type="text"] {
        font-size: 14px; } }
    .search-form input[type="text"]:focus {
      outline: none; }
    .search-form input[type="text"]::placeholder {
      color: #8c8c8c; }
    .search-form input[type="text"]:last-child {
      border-right: none; }
  .search-form label {
    position: relative;
    font-size: 16px;
    color: #888888;
    border: 2px solid white;
    margin-left: 18px;
    display: flex;
    width: 162px;
    padding: 16px 18px 16px 12px;
    border-radius: 5px;
    cursor: pointer; }
    .search-form label.active {
      border-color: #14cab8;
      box-shadow: 0px 3px 4px 0px #d5d5d5; }
      .search-form label.active .checked-partner {
        display: block; }
    .search-form label img {
      max-width: 16px;
      margin-right: 6px; }
    .search-form label .checked-partner {
      display: none;
      position: absolute;
      background-color: #14cab8;
      color: white;
      top: 0;
      right: 0;
      font-size: 13px;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 14px;
      border-bottom-left-radius: 5px; }
    .search-form label input {
      display: none; }
  .search-form button {
    background-color: #14cab8;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    cursor: pointer;
    width: 72px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    .search-form button img {
      max-width: 30px; }

.results {
  position: absolute;
  top: 101%;
  right: 0px;
  left: 0px;
  padding: 20px;
  z-index: 10000;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  @media screen and (max-width: 768px) {
    .results {
      text-align: left; } }
  .results .result-title {
    color: #777777;
    border-bottom: 1px solid #9dcbe5;
    padding-bottom: 8px;
    margin-bottom: 8px;
    display: inline-block; }
  .results a {
    display: block;
    padding: 3px 12px;
    margin-bottom: 4px;
    font-size: 14px; }
    @media screen and (max-width: 768px) {
      .results a {
        padding-left: 0px; } }
    .results a.special {
      color: #126585; }
    .results a.active, .results a:hover {
      background-color: #d8eaf5; }
  .results .results-type {
    margin-bottom: 25px; }
    .results .results-type:last-child {
      margin-bottom: 0px; }
  .results .ratings {
    margin-top: 0px;
    float: right; }
    @media screen and (max-width: 768px) {
      .results .ratings {
        display: none; } }
    .results .ratings .stars {
      background: url("../img-trp/stars-gray.png") 50% 50% no-repeat;
      background-size: contain; }
      .results .ratings .stars .bar {
        background: url("../img-trp/stars-black.png") 0% 50% no-repeat;
        background-size: cover; }
    .results .ratings .rating {
      vertical-align: top; }

.site-content {
  min-height: calc(100vh - 147px); }
  @media screen and (max-width: 768px) {
    .site-content {
      min-height: calc(100vh - 292px); } }
  .site-content .home-search-form {
    position: relative;
    padding-top: 14px;
    left: auto;
    transform: none;
    top: auto;
    z-index: 1002;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
    @media screen and (max-width: 1200px) {
      .site-content .home-search-form {
        width: 620px; } }
    @media screen and (max-width: 998px) {
      .site-content .home-search-form {
        width: 450px; } }
    @media screen and (max-width: 768px) {
      .site-content .home-search-form {
        width: 100%;
        padding-top: 60px;
        padding-left: 10px;
        padding-right: 10px; } }
    .site-content .home-search-form form {
      height: 35px;
      margin-bottom: 20px; }
      .site-content .home-search-form form input[type="submit"] {
        margin-top: 3px; }
      .site-content .home-search-form form i {
        line-height: 35px; }

.search-gradient-wave {
  position: relative; }
  .search-gradient-wave:before {
    content: '';
    background: #09aadf;
    background: -moz-linear-gradient(top, #09aadf 0%, #1492da 100%);
    background: -webkit-linear-gradient(top, #09aadf 0%, #1492da 100%);
    background: linear-gradient(to bottom, #09aadf 0%, #1492da 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09aadf', endColorstr='#1492da',GradientType=0 );
    height: 91px;
    bottom: -91px;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute; }
  .search-gradient-wave:after {
    content: '';
    background: url(../img-trp/index-bottom-gradient.svg) 50% 0% no-repeat;
    background-size: cover;
    height: 130px;
    bottom: -220px;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute; }

h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    h1 {
      text-align: left;
      padding: 0px 20px; } }

.countries-wrapper {
  position: relative;
  z-index: 100; }
  .countries-wrapper .countries {
    background-color: white;
    padding: 70px 115px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.16); }
    @media screen and (max-width: 998px) {
      .countries-wrapper .countries {
        padding: 30px; } }
    .countries-wrapper .countries .col {
      padding-left: 20px; }
      @media screen and (max-width: 768px) {
        .countries-wrapper .countries .col {
          padding-left: 0px; } }
      .countries-wrapper .countries .col:first-child {
        padding-left: 0px; }
    .countries-wrapper .countries span {
      display: block;
      font-weight: bold;
      font-size: 45px;
      height: 80px; }
      @media screen and (max-width: 1200px) {
        .countries-wrapper .countries span {
          font-size: 35px; } }
      @media screen and (max-width: 998px) {
        .countries-wrapper .countries span {
          height: 50px; } }
    .countries-wrapper .countries .show-all-dentists {
      font-size: 25px;
      margin-bottom: 20px; }
      @media screen and (max-width: 1200px) {
        .countries-wrapper .countries .show-all-dentists {
          font-size: 21px; } }
    .countries-wrapper .countries a {
      font-size: 20px;
      height: 40px;
      display: block;
      line-height: 0.8;
      width: 220px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media screen and (max-width: 1200px) {
        .countries-wrapper .countries a {
          font-size: 16px;
          width: 172.5px; } }
      @media screen and (max-width: 998px) {
        .countries-wrapper .countries a {
          height: 30px;
          width: 160px; } }
      @media screen and (max-width: 768px) {
        .countries-wrapper .countries a {
          height: 25px;
          width: 100%; } }
      .countries-wrapper .countries a:hover {
        color: #0fb0e5; }
