.recommend-popup {
  overflow-y: auto; }
  @media screen and (max-width: 768px) {
    .recommend-popup {
      padding: 0px 10px; } }
  .recommend-popup .popup-inner {
    width: 730px;
    position: relative;
    top: 100px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 50px 70px 40px;
    text-align: center;
    box-shadow: 0 0 23px 0px #a3a2a2; }
    @media screen and (max-width: 768px) {
      .recommend-popup .popup-inner {
        width: 100%;
        padding: 30px 10px 18px;
        top: 80px; } }
    .recommend-popup .popup-inner .closer {
      position: absolute;
      right: -14px;
      top: -14px;
      z-index: 100;
      box-shadow: 0 0 7px 0px #a3a2a2;
      border-radius: 50%;
      display: block; }
      @media screen and (max-width: 768px) {
        .recommend-popup .popup-inner .closer {
          right: auto;
          left: 50%;
          transform: translateX(-50%); } }
      .recommend-popup .popup-inner .closer img {
        display: block; }
    @media screen and (max-width: 768px) {
      .recommend-popup .popup-inner .content {
        width: 100%; } }
    .recommend-popup .popup-inner .content .h1 {
      font-size: 35px;
      font-weight: 900;
      margin-top: 0px;
      margin-bottom: 30px; }
      @media screen and (max-width: 768px) {
        .recommend-popup .popup-inner .content .h1 {
          font-size: 22px;
          max-width: 300px;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 20px; } }
    .recommend-popup .popup-inner .content .recommend-icons {
      padding: 0px 10px; }
      @media screen and (max-width: 768px) {
        .recommend-popup .popup-inner .content .recommend-icons {
          padding: 0px; } }
      .recommend-popup .popup-inner .content .recommend-icons label {
        display: block;
        flex: 1;
        margin: 0px 10px;
        border-radius: 50%;
        border: 5px solid transparent;
        cursor: pointer; }
        @media screen and (max-width: 768px) {
          .recommend-popup .popup-inner .content .recommend-icons label {
            margin: 0px 7px 0px 0px; } }
        @media screen and (max-width: 768px) {
          .recommend-popup .popup-inner .content .recommend-icons label:last-child {
            margin-right: 0px; } }
        .recommend-popup .popup-inner .content .recommend-icons label:hover, .recommend-popup .popup-inner .content .recommend-icons label.active {
          border-color: #38a2e5; }
        .recommend-popup .popup-inner .content .recommend-icons label img {
          display: block; }
        .recommend-popup .popup-inner .content .recommend-icons label input {
          display: none; }
    .recommend-popup .popup-inner .content .modern-field {
      margin-top: 40px; }
      @media screen and (min-width: 769px) {
        .recommend-popup .popup-inner .content .modern-field textarea {
          height: 190px; }
        .recommend-popup .popup-inner .content .modern-field textarea.modern-input + label > span {
          top: -186px; }
        .recommend-popup .popup-inner .content .modern-field.active textarea.modern-input + label > span {
          top: -206px; } }
    .recommend-popup .popup-inner .content .blue-button {
      font-size: 23px;
      padding: 6px 77px;
      border-radius: 7px; }
    .recommend-popup .popup-inner .content h4 {
      font-size: 30px;
      margin-top: -10px;
      margin-bottom: 30px; }
      @media screen and (max-width: 768px) {
        .recommend-popup .popup-inner .content h4 {
          font-size: 20px;
          max-width: 150px;
          margin-right: auto;
          margin-left: auto;
          margin-bottom: 18px; } }
    .recommend-popup .popup-inner .content .recommend-fb .blue-button {
      padding: 6px 37px; }
      @media screen and (max-width: 768px) {
        .recommend-popup .popup-inner .content .recommend-fb .blue-button {
          padding: 6px 10px;
          font-size: 20px; } }
    .recommend-popup .popup-inner .content .recommend-fb video {
      margin-bottom: -45px;
      margin-top: 30px;
      width: 100%;
      pointer-events: none; }
      @media screen and (max-width: 768px) {
        .recommend-popup .popup-inner .content .recommend-fb video {
          margin-bottom: -23px; } }
      .recommend-popup .popup-inner .content .recommend-fb video:focus {
        outline: none;
        border: none; }
    .recommend-popup .popup-inner .content .recommend-fb video::-webkit-media-controls {
      display: none !important; }
    .recommend-popup .popup-inner .content .recommend-fb video::-webkit-media-controls-enclosure {
      display: none !important; }
