.blog-wrapper {
  background: url("../new-vox-img/b.jpg") 50% 57% no-repeat;
  background-size: cover;
  padding: 70px 0px; }
  @media screen and (max-width: 1080px) {
    .blog-wrapper {
      background-image: url("../new-vox-img/b-mobile.jpg"); } }
  @media screen and (max-width: 768px) {
    .blog-wrapper {
      padding-top: 40px;
      padding-bottom: 25px; } }
  @media screen and (max-width: 1080px) {
    .blog-wrapper .container {
      flex-direction: column;
      text-align: center; } }
  .blog-wrapper h2 {
    font-weight: 900 !important;
    color: white !important;
    font-size: 30px !important;
    text-align: left !important;
    margin-bottom: 5px !important; }
    @media screen and (max-width: 1080px) {
      .blog-wrapper h2 {
        text-align: center !important; } }
    @media screen and (max-width: 768px) {
      .blog-wrapper h2 {
        font-size: 26px !important;
        max-width: 100% !important;
        margin-bottom: 15px !important; } }
  .blog-wrapper p {
    font-size: 30px;
    color: white;
    line-height: 36px;
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .blog-wrapper p {
        font-size: 26px;
        line-height: normal;
        margin-bottom: 15px; } }
  .blog-wrapper img {
    max-width: 100%;
    display: none; }
    @media screen and (max-width: 1080px) {
      .blog-wrapper img {
        height: auto;
        display: inline-block; } }
  .blog-wrapper .white-button {
    display: inline-block;
    border-color: white;
    color: #38ace5;
    padding: 10px 37px;
    font-size: 18px; }
    @media screen and (max-width: 1080px) {
      .blog-wrapper .white-button {
        max-width: 200px;
        margin-bottom: 20px; } }
    .blog-wrapper .white-button:focus, .blog-wrapper .white-button:hover {
      color: white;
      background-color: #00dac8; }
