.make-money-wrapper {
  margin-top: 164px;
  margin-bottom: 170px; }
  @media screen and (max-width: 1200px) {
    .make-money-wrapper {
      margin-top: 134px;
      margin-bottom: 120px; } }
  @media screen and (max-width: 768px) {
    .make-money-wrapper {
      margin-top: 44px;
      margin-bottom: 30px; } }
  .make-money-wrapper .flex {
    margin-top: 47px; }
    @media screen and (max-width: 768px) {
      .make-money-wrapper .flex {
        margin-top: 0px; } }
    .make-money-wrapper .flex .img-wrap {
      width: 222px;
      height: 232px;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (max-width: 1200px) {
        .make-money-wrapper .flex .img-wrap {
          width: 150px;
          height: 157px; } }
      .make-money-wrapper .flex .img-wrap img {
        max-width: 100px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.5s ease; }
        @media screen and (max-width: 1200px) {
          .make-money-wrapper .flex .img-wrap img {
            max-width: 90px; } }
        @media screen and (max-width: 768px) {
          .make-money-wrapper .flex .img-wrap img {
            max-width: 60px; } }
        .make-money-wrapper .flex .img-wrap img.animation-activated {
          max-width: 222px;
          transition: all 0.5s ease; }
          @media screen and (max-width: 1200px) {
            .make-money-wrapper .flex .img-wrap img.animation-activated {
              max-width: 150px; } }
          @media screen and (max-width: 768px) {
            .make-money-wrapper .flex .img-wrap img.animation-activated {
              max-width: 120px; } }
    .make-money-wrapper .flex h3 {
      font-weight: 900;
      margin-top: 30px;
      color: #333333; }
      @media screen and (max-width: 768px) {
        .make-money-wrapper .flex h3 {
          margin-top: 0px; } }
    .make-money-wrapper .flex p {
      font-size: 20px;
      color: #565656;
      max-width: 340px;
      margin-right: auto;
      margin-left: auto; }
      @media screen and (max-width: 768px) {
        .make-money-wrapper .flex p {
          font-size: 16px;
          max-width: 250px;
          margin-bottom: 20px; } }
  .make-money-wrapper .blue-button {
    margin-top: 64px; }
    @media screen and (max-width: 768px) {
      .make-money-wrapper .blue-button {
        display: none !important; } }

.current-dcn-price-wrapper {
  background: url("../new-vox-img/paralax-rewards.png") 50% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 55px 0px 90px; }
  @media screen and (max-width: 1300px) {
    .current-dcn-price-wrapper {
      background-attachment: unset; } }
  @media screen and (max-width: 1080px) {
    .current-dcn-price-wrapper {
      padding: 35px 0px 40px; } }
  @media screen and (max-width: 768px) {
    .current-dcn-price-wrapper {
      padding: 35px 0px 35px; } }
  @media screen and (max-width: 650px) {
    .current-dcn-price-wrapper {
      background-size: 144%; } }
  .current-dcn-price-wrapper * {
    color: white !important; }
  .current-dcn-price-wrapper h2 {
    margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .current-dcn-price-wrapper h2 {
        margin-bottom: 20px; } }
  .current-dcn-price-wrapper span {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 60px; }
    @media screen and (max-width: 1200px) {
      .current-dcn-price-wrapper span {
        font-size: 40px;
        line-height: 50px; } }
    @media screen and (max-width: 768px) {
      .current-dcn-price-wrapper span {
        font-size: 22px;
        line-height: normal; } }

.why-dentacoin-wrapper {
  margin-top: 135px; }
  @media screen and (max-width: 1200px) {
    .why-dentacoin-wrapper {
      margin-top: 105px; } }
  @media screen and (max-width: 768px) {
    .why-dentacoin-wrapper {
      margin-top: 50px;
      position: relative;
      padding-bottom: 30px; }
      .why-dentacoin-wrapper:after {
        content: "";
        position: absolute;
        bottom: 0px;
        height: 1px;
        width: 158px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black; } }
  .why-dentacoin-wrapper h2 {
    margin-bottom: 20px; }
  .why-dentacoin-wrapper .why-number {
    font-size: 92px;
    font-weight: 900;
    color: #38ace5;
    margin-right: 25px;
    line-height: 118px; }
    @media screen and (max-width: 1450px) {
      .why-dentacoin-wrapper .why-number {
        font-size: 80px;
        margin-right: 20px;
        line-height: 105px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .why-number {
        font-size: 70px;
        line-height: 91px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .why-number {
        font-size: 60px;
        line-height: 60px;
        margin-right: 0px; } }
  .why-dentacoin-wrapper .flex .col:first-child {
    max-width: 664px;
    margin-right: 30px; }
    @media screen and (max-width: 1590px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        max-width: 534px; } }
    @media screen and (max-width: 1450px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        max-width: 480px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        max-width: 360px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        width: 100%;
        max-width: 100%; } }
  .why-dentacoin-wrapper .flex p {
    text-align: left;
    font-size: 34px;
    line-height: 36px;
    color: #565656; }
    @media screen and (max-width: 1730px) {
      .why-dentacoin-wrapper .flex p {
        font-size: 28px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .flex p {
        font-size: 24px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .flex p {
        font-size: 16px;
        text-align: center;
        max-width: 220px;
        line-height: normal;
        margin-bottom: 30px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .flex p br {
        display: none; } }
    .why-dentacoin-wrapper .flex p b {
      font-weight: 900;
      color: #333; }
      @media screen and (max-width: 768px) {
        .why-dentacoin-wrapper .flex p b {
          font-size: 20px;
          text-transform: uppercase;
          max-width: 190px;
          display: block;
          margin-left: auto;
          margin-right: auto; } }
  .why-dentacoin-wrapper .flex img {
    width: 100%;
    max-width: 100%; }
    @media screen and (max-width: 1080px) {
      .why-dentacoin-wrapper .flex img {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block; } }
  .why-dentacoin-wrapper .why-dentacoin-first-reason {
    margin-top: 80px; }
    @media screen and (max-width: 1450px) {
      .why-dentacoin-wrapper .why-dentacoin-first-reason {
        margin-top: 40px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .why-dentacoin-first-reason {
        margin-top: 30px; } }
