.blog-wrapper {
  background: url("../new-vox-img/b.jpg") 50% 57% no-repeat;
  background-size: cover;
  padding: 70px 0px; }
  @media screen and (max-width: 1080px) {
    .blog-wrapper {
      background-image: url("../new-vox-img/b-mobile.jpg"); } }
  @media screen and (max-width: 768px) {
    .blog-wrapper {
      padding-top: 40px;
      padding-bottom: 25px; } }
  @media screen and (max-width: 1080px) {
    .blog-wrapper .container {
      flex-direction: column;
      text-align: center; } }
  .blog-wrapper h2 {
    font-weight: 900 !important;
    color: white !important;
    font-size: 30px !important;
    text-align: left !important;
    margin-bottom: 5px !important; }
    @media screen and (max-width: 1080px) {
      .blog-wrapper h2 {
        text-align: center !important; } }
    @media screen and (max-width: 768px) {
      .blog-wrapper h2 {
        font-size: 26px !important;
        max-width: 100% !important;
        margin-bottom: 15px !important; } }
  .blog-wrapper p {
    font-size: 30px;
    color: white;
    line-height: 36px;
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .blog-wrapper p {
        font-size: 26px;
        line-height: normal;
        margin-bottom: 15px; } }
  .blog-wrapper img {
    max-width: 100%;
    display: none; }
    @media screen and (max-width: 1080px) {
      .blog-wrapper img {
        height: auto;
        display: inline-block; } }
  .blog-wrapper .white-button {
    display: inline-block;
    border-color: white;
    color: #38ace5;
    padding: 10px 37px;
    font-size: 18px; }
    @media screen and (max-width: 1080px) {
      .blog-wrapper .white-button {
        max-width: 200px;
        margin-bottom: 20px; } }
    .blog-wrapper .white-button:focus, .blog-wrapper .white-button:hover {
      color: white;
      background-color: #00dac8; }

.all-stats-wrapper {
  padding-top: 40px; }
  @media screen and (max-width: 768px) {
    .all-stats-wrapper {
      padding-top: 0px; } }

.page-stats .fb_chb {
  display: none !important; }
.page-stats .section-take-surveys {
  background-color: white; }
  .page-stats .section-take-surveys h3 {
    color: black; }
  .page-stats .section-take-surveys .white-button {
    border-color: black;
    color: black; }
@media screen and (max-width: 768px) {
  .page-stats .search-survey {
    width: 70%; } }
.page-stats h1 {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #020202;
  text-align: center;
  margin-bottom: 20px;
  position: relative; }
  @media screen and (max-width: 768px) {
    .page-stats h1 {
      font-weight: normal;
      padding: 0px 20px; } }
.page-stats h2 {
  font-size: 18px;
  color: #333;
  text-align: center;
  font-weight: normal;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .page-stats h2 {
      font-size: 16px;
      margin-bottom: 20px;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto; } }
.page-stats .stats-description {
  text-align: center;
  max-width: 870px;
  margin: 0 auto;
  color: #333;
  margin-bottom: 40px; }
  @media screen and (max-width: 768px) {
    .page-stats .stats-description {
      font-size: 15px; } }
.page-stats .search-survey {
  margin: 0 auto; }
.page-stats .stats-list {
  margin-top: 10px; }
  .page-stats .stats-list .stats-holder {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .page-stats .stats-list .stats-holder {
        padding: 0px 22px; } }
    .page-stats .stats-list .stats-holder b {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 33px;
      display: block;
      color: #020202;
      display: none; }
    .page-stats .stats-list .stats-holder .vox-stat {
      margin-bottom: 25px;
      border-radius: 10px;
      border: 3px solid #f3f3f3;
      padding: 17px 12px;
      position: relative;
      max-width: 870px;
      margin-left: auto;
      margin-right: auto;
      align-items: center; }
      @media screen and (max-width: 1080px) {
        .page-stats .stats-list .stats-holder .vox-stat {
          max-width: 700px; } }
      @media screen and (max-width: 768px) {
        .page-stats .stats-list .stats-holder .vox-stat {
          margin-bottom: 37px;
          padding: 6px 9px 16px;
          max-width: 100%;
          display: block;
          border-width: 1px;
          border-color: #ccc; } }
      .page-stats .stats-list .stats-holder .vox-stat img.featured {
        position: absolute;
        top: -23px;
        right: -28px;
        width: 50px; }
        @media screen and (max-width: 768px) {
          .page-stats .stats-list .stats-holder .vox-stat img.featured {
            width: 40px;
            height: 40px;
            right: -20px;
            top: -16px; } }
      .page-stats .stats-list .stats-holder .vox-stat img.cover {
        width: 260px;
        height: 176px; }
        @media screen and (max-width: 1080px) {
          .page-stats .stats-list .stats-holder .vox-stat img.cover {
            width: 180px;
            height: 121px; } }
        @media screen and (max-width: 768px) {
          .page-stats .stats-list .stats-holder .vox-stat img.cover {
            order: 2;
            width: 100%;
            height: auto;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px; } }
      .page-stats .stats-list .stats-holder .vox-stat .stats-info {
        margin-left: 30px;
        width: 300px;
        flex-direction: column;
        justify-content: center; }
        @media screen and (max-width: 1080px) {
          .page-stats .stats-list .stats-holder .vox-stat .stats-info {
            margin-left: 20px;
            margin-right: 20px; } }
        @media screen and (max-width: 768px) {
          .page-stats .stats-list .stats-holder .vox-stat .stats-info {
            order: 1;
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
            min-height: 115px;
            justify-content: flex-start; } }
        .page-stats .stats-list .stats-holder .vox-stat .stats-info h3 {
          color: #00beff;
          font-weight: bold;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 15px; }
          @media screen and (max-width: 768px) {
            .page-stats .stats-list .stats-holder .vox-stat .stats-info h3 {
              font-size: 22px;
              text-align: center;
              margin-top: 10px; } }
        .page-stats .stats-list .stats-holder .vox-stat .stats-info h4 {
          font-weight: bold;
          font-size: 16px;
          color: #040404;
          margin-bottom: 20px; }
        .page-stats .stats-list .stats-holder .vox-stat .stats-info p {
          font-size: 16px;
          color: #333; }
          @media screen and (max-width: 1080px) {
            .page-stats .stats-list .stats-holder .vox-stat .stats-info p {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 6;
              -webkit-box-orient: vertical; } }
          @media screen and (max-width: 768px) {
            .page-stats .stats-list .stats-holder .vox-stat .stats-info p {
              -webkit-line-clamp: 4;
              font-size: 14px;
              margin-bottom: 20px; } }
      .page-stats .stats-list .stats-holder .vox-stat .stats-cta {
        flex-direction: column;
        justify-content: center;
        width: 170px;
        margin-left: auto;
        margin-right: 40px;
        text-align: center; }
        @media screen and (max-width: 1080px) {
          .page-stats .stats-list .stats-holder .vox-stat .stats-cta {
            margin-right: 0px; } }
        @media screen and (max-width: 768px) {
          .page-stats .stats-list .stats-holder .vox-stat .stats-cta {
            width: 100%;
            display: block; } }
        .page-stats .stats-list .stats-holder .vox-stat .stats-cta a {
          background: #00beff;
          height: 40px;
          line-height: 40px;
          padding: 0px 10px;
          border-radius: 10px;
          text-transform: uppercase;
          color: #f9f6f6;
          font-size: 16px;
          text-align: center; }
          @media screen and (max-width: 768px) {
            .page-stats .stats-list .stats-holder .vox-stat .stats-cta a {
              font-size: 16px;
              height: auto;
              line-height: normal;
              padding: 12px 10px;
              display: inline-block;
              width: 46%;
              vertical-align: middle;
              border: 2px solid #00beff;
              margin: 0px 4px; } }
          @media screen and (max-width: 370px) {
            .page-stats .stats-list .stats-holder .vox-stat .stats-cta a {
              font-size: 14px; } }
          .page-stats .stats-list .stats-holder .vox-stat .stats-cta a.secondary {
            border-color: #00beff;
            color: #00beff;
            background-color: transparent;
            margin-top: 25px; }
            @media screen and (max-width: 768px) {
              .page-stats .stats-list .stats-holder .vox-stat .stats-cta a.secondary {
                margin-top: 0px; } }
      .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat {
        background-color: #ffd9e4;
        border-color: #ffd9e4; }
        .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .cover {
          width: 260px;
          height: 176px;
          background-size: cover; }
          @media screen and (max-width: 1080px) {
            .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .cover {
              width: 180px;
              height: 121px; } }
          @media screen and (max-width: 768px) {
            .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .cover {
              display: block;
              width: auto;
              height: auto;
              padding-top: 67%;
              border-top-right-radius: 10px;
              border-top-left-radius: 10px; } }
        .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .stats-info h3 {
          font-size: 20px;
          color: #060606; }
          @media screen and (max-width: 768px) {
            .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .stats-info h3 {
              font-size: 22px; } }
        .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .stats-cta a {
          background-color: #ff0046;
          border-color: #ff0046; }
          .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .stats-cta a.disabled {
            background-color: #a29296;
            border-color: #796b6f; }
          @media screen and (max-width: 768px) {
            .page-stats .stats-list .stats-holder .vox-stat.request-survey-stat .stats-cta a {
              width: auto; } }
  .page-stats .stats-list .stats-cats {
    display: none;
    width: 220px; }
    .page-stats .stats-list .stats-cats b {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 25px;
      display: block;
      color: #020202;
      line-height: 28px;
      padding-left: 15px; }
    .page-stats .stats-list .stats-cats a.cat {
      line-height: 27px;
      padding-left: 15px;
      font-size: 16px;
      color: #020202;
      font-weight: bold;
      display: block;
      cursor: pointer;
      position: relative; }
      .page-stats .stats-list .stats-cats a.cat.active, .page-stats .stats-list .stats-cats a.cat:hover {
        background: #00aaff;
        color: #fcf8f8; }
        .page-stats .stats-list .stats-cats a.cat.active:after, .page-stats .stats-list .stats-cats a.cat:hover:after {
          position: absolute;
          content: '';
          width: 10px;
          height: 5px;
          background: url(../new-vox-img/stats-cat-down.png) 50% 50% no-repeat;
          top: 50%;
          right: 5px;
          transform: translateY(-50%); }
    .page-stats .stats-list .stats-cats .subcats {
      padding: 5px 0px 5px 25px;
      display: none; }
      .page-stats .stats-list .stats-cats .subcats.active {
        display: block; }
      .page-stats .stats-list .stats-cats .subcats a {
        display: block;
        color: #393838;
        font-size: 16px;
        line-height: 21px;
        cursor: pointer; }
        .page-stats .stats-list .stats-cats .subcats a:hover {
          color: #00aaff; }
  .page-stats .stats-list .pagination {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 55px;
    border-radius: 0px; }
    @media screen and (max-width: 768px) {
      .page-stats .stats-list .pagination {
        display: block;
        margin-bottom: 30px;
        margin-top: 35px; } }
    @media screen and (max-width: 768px) {
      .page-stats .stats-list .pagination > li {
        display: inline-block;
        margin-bottom: 8px; } }
    .page-stats .stats-list .pagination > li > a,
    .page-stats .stats-list .pagination > li > span {
      color: #00bbdc;
      width: 30px;
      height: 30px;
      line-height: 30px;
      display: inline-block;
      border: 1px solid #00bbdc;
      margin: 0 3px;
      border-radius: 50%;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease;
      float: none;
      padding: 0px; }
    .page-stats .stats-list .pagination > li:hover > span,
    .page-stats .stats-list .pagination > li:hover > a, .page-stats .stats-list .pagination > li.active > span,
    .page-stats .stats-list .pagination > li.active > a {
      background: #00bbdc;
      color: #fff;
      transition: all 0.3s ease;
      box-shadow: 0 0 20px -2px rgba(158, 158, 158, 0.59);
      border-color: #00bbdc; }
    .page-stats .stats-list .pagination > li.disabled {
      display: none; }
    .page-stats .stats-list .pagination > li:first-child > a, .page-stats .stats-list .pagination > li:first-child > span, .page-stats .stats-list .pagination > li:last-child > a, .page-stats .stats-list .pagination > li:last-child > span {
      line-height: 26px; }
      @media screen and (max-width: 768px) {
        .page-stats .stats-list .pagination > li:first-child > a, .page-stats .stats-list .pagination > li:first-child > span, .page-stats .stats-list .pagination > li:last-child > a, .page-stats .stats-list .pagination > li:last-child > span {
          line-height: 30px; } }
.page-stats.sp-home .footer-expander footer {
  opacity: 1;
  bottom: 0; }

.section-take-surveys {
  padding: 40px 0px;
  background-color: #09ace1; }
  @media screen and (max-width: 1080px) {
    .section-take-surveys {
      margin-bottom: 20px; } }
  .section-take-surveys .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 1080px) {
      .section-take-surveys .container {
        display: block;
        text-align: center; } }
  .section-take-surveys h3 {
    font-weight: bold;
    color: white; }
    @media screen and (max-width: 1200px) {
      .section-take-surveys h3 {
        font-size: 26px;
        font-weight: normal; } }
  .section-take-surveys img {
    max-width: 100%; }
    @media screen and (max-width: 1080px) {
      .section-take-surveys img {
        display: none; } }
  .section-take-surveys .white-button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease; }
    .section-take-surveys .white-button.disabled {
      background: #d3d3d3; }
    @media screen and (max-width: 1080px) {
      .section-take-surveys .white-button {
        margin-top: 20px;
        display: inline-block;
        padding: 8px 25px;
        max-width: 240px; } }

.search-survey {
  position: relative;
  margin-top: 35px;
  margin-bottom: 15px;
  width: 304px; }
  @media screen and (max-width: 1080px) {
    .search-survey {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 768px) {
    .search-survey {
      margin-left: 5%;
      width: 45%; } }
  .search-survey::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #007fff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #007fff 0%, #75d5ff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #007fff 0%, #75d5ff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #007fff 0%, #75d5ff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fff', endColorstr='#75d5ff',GradientType=1 ); }
  .search-survey img {
    max-width: 18px;
    margin-bottom: -2px; }
    @media screen and (max-width: 768px) {
      .search-survey img {
        max-width: 13px; } }
  .search-survey input {
    border: none;
    height: 28px;
    padding-left: 5px;
    width: calc(100% - 25px); }
