.make-money-wrapper {
  margin-top: 164px;
  margin-bottom: 170px; }
  @media screen and (max-width: 1200px) {
    .make-money-wrapper {
      margin-top: 134px;
      margin-bottom: 120px; } }
  @media screen and (max-width: 768px) {
    .make-money-wrapper {
      margin-top: 44px;
      margin-bottom: 30px; } }
  .make-money-wrapper .flex {
    margin-top: 47px; }
    @media screen and (max-width: 768px) {
      .make-money-wrapper .flex {
        margin-top: 0px; } }
    .make-money-wrapper .flex .img-wrap {
      width: 222px;
      height: 232px;
      margin-left: auto;
      margin-right: auto; }
      @media screen and (max-width: 1200px) {
        .make-money-wrapper .flex .img-wrap {
          width: 150px;
          height: 157px; } }
      .make-money-wrapper .flex .img-wrap img {
        max-width: 100px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.5s ease; }
        @media screen and (max-width: 1200px) {
          .make-money-wrapper .flex .img-wrap img {
            max-width: 90px; } }
        @media screen and (max-width: 768px) {
          .make-money-wrapper .flex .img-wrap img {
            max-width: 60px; } }
        .make-money-wrapper .flex .img-wrap img.animation-activated {
          max-width: 222px;
          transition: all 0.5s ease; }
          @media screen and (max-width: 1200px) {
            .make-money-wrapper .flex .img-wrap img.animation-activated {
              max-width: 150px; } }
          @media screen and (max-width: 768px) {
            .make-money-wrapper .flex .img-wrap img.animation-activated {
              max-width: 120px; } }
    .make-money-wrapper .flex h3 {
      font-weight: 900;
      margin-top: 30px;
      color: #333333; }
      @media screen and (max-width: 768px) {
        .make-money-wrapper .flex h3 {
          margin-top: 0px; } }
    .make-money-wrapper .flex p {
      font-size: 20px;
      color: #565656;
      max-width: 340px;
      margin-right: auto;
      margin-left: auto; }
      @media screen and (max-width: 768px) {
        .make-money-wrapper .flex p {
          font-size: 16px;
          max-width: 250px;
          margin-bottom: 20px; } }
  .make-money-wrapper .blue-button {
    margin-top: 64px; }
    @media screen and (max-width: 768px) {
      .make-money-wrapper .blue-button {
        display: none !important; } }

.current-dcn-price-wrapper {
  background: url("../new-vox-img/paralax-rewards.png") 50% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 55px 0px 90px; }
  @media screen and (max-width: 1300px) {
    .current-dcn-price-wrapper {
      background-attachment: unset; } }
  @media screen and (max-width: 1080px) {
    .current-dcn-price-wrapper {
      padding: 35px 0px 40px; } }
  @media screen and (max-width: 768px) {
    .current-dcn-price-wrapper {
      padding: 35px 0px 35px; } }
  @media screen and (max-width: 650px) {
    .current-dcn-price-wrapper {
      background-size: 144%; } }
  .current-dcn-price-wrapper * {
    color: white !important; }
  .current-dcn-price-wrapper h2 {
    margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .current-dcn-price-wrapper h2 {
        margin-bottom: 20px; } }
  .current-dcn-price-wrapper span {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 60px; }
    @media screen and (max-width: 1200px) {
      .current-dcn-price-wrapper span {
        font-size: 40px;
        line-height: 50px; } }
    @media screen and (max-width: 768px) {
      .current-dcn-price-wrapper span {
        font-size: 22px;
        line-height: normal; } }

.why-dentacoin-wrapper {
  margin-top: 135px; }
  @media screen and (max-width: 1200px) {
    .why-dentacoin-wrapper {
      margin-top: 105px; } }
  @media screen and (max-width: 768px) {
    .why-dentacoin-wrapper {
      margin-top: 50px;
      position: relative;
      padding-bottom: 30px; }
      .why-dentacoin-wrapper:after {
        content: "";
        position: absolute;
        bottom: 0px;
        height: 1px;
        width: 158px;
        left: 50%;
        transform: translateX(-50%);
        background-color: black; } }
  .why-dentacoin-wrapper h2 {
    margin-bottom: 20px; }
  .why-dentacoin-wrapper .why-number {
    font-size: 92px;
    font-weight: 900;
    color: #38ace5;
    margin-right: 25px;
    line-height: 118px; }
    @media screen and (max-width: 1450px) {
      .why-dentacoin-wrapper .why-number {
        font-size: 80px;
        margin-right: 20px;
        line-height: 105px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .why-number {
        font-size: 70px;
        line-height: 91px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .why-number {
        font-size: 60px;
        line-height: 60px;
        margin-right: 0px; } }
  .why-dentacoin-wrapper .flex .col:first-child {
    max-width: 664px;
    margin-right: 30px; }
    @media screen and (max-width: 1590px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        max-width: 534px; } }
    @media screen and (max-width: 1450px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        max-width: 480px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        max-width: 360px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .flex .col:first-child {
        width: 100%;
        max-width: 100%; } }
  .why-dentacoin-wrapper .flex p {
    text-align: left;
    font-size: 34px;
    line-height: 36px;
    color: #565656; }
    @media screen and (max-width: 1730px) {
      .why-dentacoin-wrapper .flex p {
        font-size: 28px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .flex p {
        font-size: 24px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .flex p {
        font-size: 16px;
        text-align: center;
        max-width: 220px;
        line-height: normal;
        margin-bottom: 30px; } }
    @media screen and (max-width: 768px) {
      .why-dentacoin-wrapper .flex p br {
        display: none; } }
    .why-dentacoin-wrapper .flex p b {
      font-weight: 900;
      color: #333; }
      @media screen and (max-width: 768px) {
        .why-dentacoin-wrapper .flex p b {
          font-size: 20px;
          text-transform: uppercase;
          max-width: 190px;
          display: block;
          margin-left: auto;
          margin-right: auto; } }
  .why-dentacoin-wrapper .flex img {
    width: 100%;
    max-width: 100%; }
    @media screen and (max-width: 1080px) {
      .why-dentacoin-wrapper .flex img {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        display: block; } }
  .why-dentacoin-wrapper .why-dentacoin-first-reason {
    margin-top: 80px; }
    @media screen and (max-width: 1450px) {
      .why-dentacoin-wrapper .why-dentacoin-first-reason {
        margin-top: 40px; } }
    @media screen and (max-width: 1200px) {
      .why-dentacoin-wrapper .why-dentacoin-first-reason {
        margin-top: 30px; } }

@media screen and (max-height: 800px) and (min-width: 769px) {
  body.vox-public .site-content {
    padding-top: 0px; } }

.section-vox-not-login {
  position: relative;
  padding-bottom: 60px;
  margin-bottom: -60px; }
  @media screen and (max-width: 768px) {
    .section-vox-not-login {
      margin-bottom: 40px;
      padding-bottom: 40px; } }
  .section-vox-not-login:after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 410px;
    height: 1px;
    background-color: #d3ebfb; }
    @media screen and (max-width: 768px) {
      .section-vox-not-login:after {
        width: 230px; } }
  @media screen and (max-width: 768px) {
    .section-vox-not-login .container {
      padding: 0px; } }
  .section-vox-not-login h2 {
    font-weight: 600;
    margin-bottom: 30px; }
    @media screen and (max-width: 1080px) {
      .section-vox-not-login h2 {
        margin-bottom: 30px;
        line-height: normal; } }
    @media screen and (max-height: 700px) and (min-width: 769px) {
      .section-vox-not-login h2 {
        margin-bottom: 10px;
        font-size: 28px;
        line-height: 32px; } }
    @media screen and (max-width: 768px) {
      .section-vox-not-login h2 {
        font-size: 18px; } }
  .section-vox-not-login .vox-title {
    font-weight: 900;
    color: #3daee6;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-top: 40px; }
    @media screen and (max-width: 1080px) {
      .section-vox-not-login .vox-title {
        margin-top: 0px; } }
    @media screen and (max-height: 700px) and (min-width: 769px) {
      .section-vox-not-login .vox-title {
        margin-top: -30px; } }
    @media screen and (max-width: 768px) {
      .section-vox-not-login .vox-title {
        margin-bottom: 10px;
        padding-top: 0px; } }
  .section-vox-not-login .login-buttons {
    padding-top: 30px;
    text-align: center; }
    @media screen and (max-height: 800px) and (min-width: 769px) {
      .section-vox-not-login .login-buttons {
        padding-top: 20px; } }
    @media screen and (max-width: 768px) {
      .section-vox-not-login .login-buttons {
        padding-top: 20px; } }
    .section-vox-not-login .login-buttons p {
      color: #060606;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 20px; }
      @media screen and (max-height: 800px) and (min-width: 769px) {
        .section-vox-not-login .login-buttons p {
          margin-bottom: 10px; } }
      @media screen and (max-width: 768px) {
        .section-vox-not-login .login-buttons p {
          font-size: 14px;
          text-align: left; } }
    .section-vox-not-login .login-buttons a {
      display: block;
      padding: 12px 20px;
      font-size: 20px;
      font-weight: 900; }
      @media screen and (max-width: 1300px) {
        .section-vox-not-login .login-buttons a {
          font-size: 15px; } }
      @media screen and (max-width: 768px) {
        .section-vox-not-login .login-buttons a {
          font-size: 14px;
          padding: 8px 0px; } }
    .section-vox-not-login .login-buttons .white-button {
      border-color: white;
      font-weight: bold;
      color: #3daee6; }
      .section-vox-not-login .login-buttons .white-button:hover {
        color: #3daee6;
        background-color: #f1fdff;
        border-color: #f1fdff; }
      .section-vox-not-login .login-buttons .white-button img {
        max-width: 25px;
        vertical-align: sub;
        margin-right: 10px; }
        @media screen and (max-width: 1300px) {
          .section-vox-not-login .login-buttons .white-button img {
            max-width: 17px;
            height: auto; } }
    .section-vox-not-login .login-buttons .col:first-child {
      border-right: 2px solid white;
      padding-right: 60px; }
      @media screen and (max-width: 1300px) {
        .section-vox-not-login .login-buttons .col:first-child {
          padding-right: 20px; } }
      @media screen and (max-width: 768px) {
        .section-vox-not-login .login-buttons .col:first-child {
          padding-right: 10px; } }
    .section-vox-not-login .login-buttons .col:last-child {
      padding-left: 60px; }
      @media screen and (max-width: 1300px) {
        .section-vox-not-login .login-buttons .col:last-child {
          padding-left: 20px; } }
      @media screen and (max-width: 768px) {
        .section-vox-not-login .login-buttons .col:last-child {
          padding-left: 10px; } }
  @media screen and (max-width: 768px) {
    .section-vox-not-login .swiper-wrapper {
      max-width: 320px;
      margin: 0 auto; } }
  .section-vox-not-login .swiper-wrapper .swiper-slide {
    max-width: 730px;
    margin: 0 auto;
    position: relative; }
    @media screen and (max-width: 1300px) {
      .section-vox-not-login .swiper-wrapper .swiper-slide {
        max-width: 640px; } }
    @media screen and (max-width: 1080px) {
      .section-vox-not-login .swiper-wrapper .swiper-slide {
        max-width: 460px; } }
    @media screen and (max-width: 768px) {
      .section-vox-not-login .swiper-wrapper .swiper-slide {
        max-width: 100%;
        display: flex;
        flex-flow: row wrap; } }
    .section-vox-not-login .swiper-wrapper .swiper-slide .slider-inner {
      padding: 0px; }
    .section-vox-not-login .swiper-wrapper .swiper-slide .survey-cats {
      margin-bottom: 15px; }
      @media screen and (max-height: 800px) and (min-width: 769px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .survey-cats {
          display: none; } }
    .section-vox-not-login .swiper-wrapper .swiper-slide .wing {
      width: 205px;
      height: 170px;
      background-color: #d3ebfb;
      border-radius: 7px;
      position: absolute;
      top: 55px;
      text-align: center; }
      @media screen and (max-height: 800px) and (min-width: 769px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .wing {
          width: 155px; } }
      @media screen and (max-width: 920px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .wing {
          width: 125px; } }
      @media screen and (max-width: 768px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .wing {
          position: static;
          flex: 1;
          margin-bottom: 10px;
          height: auto;
          padding: 10px 0px;
          min-width: 40%; } }
      .section-vox-not-login .swiper-wrapper .swiper-slide .wing.left-wing {
        left: -205px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }
        @media screen and (max-height: 800px) and (min-width: 769px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing.left-wing {
            left: -155px; } }
        @media screen and (max-width: 920px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing.left-wing {
            left: -125px; } }
        @media screen and (max-width: 768px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing.left-wing {
            margin-right: 10px;
            border-radius: 7px; } }
      .section-vox-not-login .swiper-wrapper .swiper-slide .wing.right-wing {
        right: -205px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px; }
        @media screen and (max-height: 800px) and (min-width: 769px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing.right-wing {
            right: -155px; } }
        @media screen and (max-width: 920px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing.right-wing {
            right: -125px; } }
        @media screen and (max-width: 768px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing.right-wing {
            border-radius: 7px; } }
      .section-vox-not-login .swiper-wrapper .swiper-slide .wing .wing-box {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
      .section-vox-not-login .swiper-wrapper .swiper-slide .wing img {
        max-width: 42px; }
        @media screen and (max-width: 768px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing img {
            max-width: 30px;
            height: auto; } }
      .section-vox-not-login .swiper-wrapper .swiper-slide .wing p {
        font-size: 30px;
        font-weight: bold; }
        @media screen and (max-height: 800px) and (min-width: 769px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing p {
            font-size: 23px; } }
        @media screen and (max-width: 920px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing p {
            font-size: 20px; } }
        @media screen and (max-width: 768px) {
          .section-vox-not-login .swiper-wrapper .swiper-slide .wing p {
            font-size: 14px; } }
        .section-vox-not-login .swiper-wrapper .swiper-slide .wing p:last-child {
          font-weight: 900; }
    .section-vox-not-login .swiper-wrapper .swiper-slide .cover {
      border-radius: 7px; }
      @media screen and (max-width: 1080px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .cover {
          padding-top: 45%; } }
    .section-vox-not-login .swiper-wrapper .swiper-slide .survey-cats span {
      font-size: 16px;
      margin-top: 5px; }
      @media screen and (max-height: 800px) and (min-width: 769px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .survey-cats span {
          font-size: 14px; } }
      @media screen and (max-width: 768px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .survey-cats span {
          font-size: 11px; } }
    @media screen and (max-height: 800px) and (min-width: 769px) {
      .section-vox-not-login .swiper-wrapper .swiper-slide .vox-header {
        padding: 10px; } }
    @media screen and (max-width: 768px) {
      .section-vox-not-login .swiper-wrapper .swiper-slide .vox-header {
        padding: 10px 0px 0px; } }
    .section-vox-not-login .swiper-wrapper .swiper-slide .vox-header .left .vox-description {
      font-size: 18px;
      max-height: none; }
      @media screen and (max-height: 800px) and (min-width: 769px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .vox-header .left .vox-description {
          font-size: 16px; } }
      @media screen and (max-width: 768px) {
        .section-vox-not-login .swiper-wrapper .swiper-slide .vox-header .left .vox-description {
          font-size: 14px; } }
  .section-vox-not-login .slide-padding {
    padding: 15px; }
    @media screen and (max-height: 800px) and (min-width: 769px) {
      .section-vox-not-login .slide-padding {
        padding: 10px; } }

#to-append-public .section-recent-surveys {
  margin-top: 70px; }
