.poll-bubble {
  display: none !important; }

.error-wrapper {
  padding-top: 40px; }
  @media screen and (max-width: 768px) {
    .error-wrapper {
      padding-top: 0px; } }
  .error-wrapper h2 {
    color: #38393b;
    margin: 30px 0px; }
    @media screen and (max-width: 768px) {
      .error-wrapper h2 {
        font-size: 25px; } }
  .error-wrapper img {
    max-width: 100%; }
    @media screen and (max-width: 1080px) {
      .error-wrapper img {
        height: auto; } }
  .error-wrapper .button {
    text-transform: uppercase;
    font-size: 21px;
    color: white;
    background-color: #46afda;
    padding: 15px 42px;
    border-radius: 5px;
    display: inline-block; }
    @media screen and (max-width: 768px) {
      .error-wrapper .button {
        font-size: 17px; } }
