.page-faq .site-content {
  overflow: hidden; }
.page-faq .faq-block {
  min-height: 750px; }
  @media screen and (max-width: 768px) {
    .page-faq .faq-block {
      min-height: 0; } }
  .page-faq .faq-block .container {
    width: 1030px;
    padding-left: 330px;
    position: relative; }
    @media screen and (max-width: 1080px) {
      .page-faq .faq-block .container {
        width: 740px;
        padding-left: 220px; } }
    @media screen and (max-width: 768px) {
      .page-faq .faq-block .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 40px; } }
    .page-faq .faq-block .container .ball {
      content: '';
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      right: 790px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38ace5+0,aee2ff+100 */
      background: #38ace5;
      /* Old browsers */
      background: -moz-linear-gradient(top, #38ace5 0%, #aee2ff 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #38ace5 0%, #aee2ff 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #38ace5 0%, #aee2ff 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38ace5', endColorstr='#aee2ff',GradientType=0 );
      /* IE6-9 */
      opacity: 0.3; }
      @media screen and (max-width: 1080px) {
        .page-faq .faq-block .container .ball {
          right: 600px; } }
      @media screen and (max-width: 768px) {
        .page-faq .faq-block .container .ball {
          display: none; } }
      .page-faq .faq-block .container .ball.bigger {
        height: 130%;
        top: -15%; }
    @media screen and (max-width: 768px) {
      .page-faq .faq-block .container .flex {
        display: block; } }
    .page-faq .faq-block .container .col {
      padding: 0px; }
      .page-faq .faq-block .container .col:nth-child(2) {
        padding-left: 120px; }
        @media screen and (max-width: 1080px) {
          .page-faq .faq-block .container .col:nth-child(2) {
            padding-left: 40px; } }
        @media screen and (max-width: 768px) {
          .page-faq .faq-block .container .col:nth-child(2) {
            padding-left: 0px; } }
      @media screen and (max-width: 768px) {
        .page-faq .faq-block .container .col.active p {
          display: block; } }
    .page-faq .faq-block .container h1, .page-faq .faq-block .container h2 {
      font-size: 40px;
      font-weight: bold;
      color: #060606;
      text-transform: uppercase;
      margin-bottom: 50px; }
      @media screen and (max-width: 768px) {
        .page-faq .faq-block .container h1, .page-faq .faq-block .container h2 {
          font-size: 22px;
          font-weight: normal;
          margin-bottom: 30px;
          text-align: center; } }
    .page-faq .faq-block .container h3 {
      font-weight: bold;
      font-size: 18px;
      color: #060606;
      margin-bottom: 18px; }
      @media screen and (max-width: 768px) {
        .page-faq .faq-block .container h3 {
          font-size: 14px; } }
      .page-faq .faq-block .container h3 span {
        font-size: 18px; }
        @media screen and (max-width: 768px) {
          .page-faq .faq-block .container h3 span {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #38ace5;
            font-size: 0px;
            line-height: 15px;
            display: block;
            float: left;
            margin-right: 10px;
            text-align: center;
            color: white; }
            .page-faq .faq-block .container h3 span:after {
              position: absolute;
              content: '-';
              top: 0px;
              left: 0px;
              line-height: 14px;
              width: 15px;
              font-size: 20px; } }
    .page-faq .faq-block .container p {
      font-weight: normal;
      font-size: 15px;
      color: #555;
      margin-bottom: 55px; }
      @media screen and (max-width: 768px) {
        .page-faq .faq-block .container p {
          font-weight: normal;
          margin-bottom: 18px;
          display: none; } }
      .page-faq .faq-block .container p a {
        text-decoration: none; }
        @media screen and (max-width: 768px) {
          .page-faq .faq-block .container p a {
            font-size: 14px;
            font-weight: bold; } }
        .page-faq .faq-block .container p a:hover {
          text-decoration: underline !important; }
  .page-faq .faq-block:nth-child(2n) .container {
    padding-right: 330px;
    padding-left: 0px; }
    @media screen and (max-width: 1080px) {
      .page-faq .faq-block:nth-child(2n) .container {
        padding-right: 220px;
        padding-left: 0px; } }
    @media screen and (max-width: 768px) {
      .page-faq .faq-block:nth-child(2n) .container {
        padding-right: 20px;
        padding-left: 20px; } }
  .page-faq .faq-block:nth-child(2n) .ball {
    right: auto;
    left: 790px; }
    @media screen and (max-width: 1080px) {
      .page-faq .faq-block:nth-child(2n) .ball {
        right: auto;
        left: 600px; } }
