.page-index p.h2-bold {
  font-size: 42px;
  color: #333333; }
  @media screen and (max-width: 1200px) {
    .page-index p.h2-bold {
      font-size: 34px; } }
  @media screen and (max-width: 768px) {
    .page-index p.h2-bold {
      font-size: 22px; } }
.page-index h2 {
  font-size: 34px;
  color: #565656; }
  @media screen and (max-width: 1200px) {
    .page-index h2 {
      font-size: 26px; } }
  @media screen and (max-width: 768px) {
    .page-index h2 {
      font-size: 22px; } }
@media screen and (max-width: 1200px) {
  .page-index h3 {
    font-size: 26px; } }
@media screen and (max-width: 768px) {
  .page-index h3 {
    font-size: 20px; } }
@media screen and (max-width: 768px) {
  .page-index h3 {
    margin-bottom: 6px; } }
.page-index .blue-button {
  padding: 10px 40px;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .page-index .blue-button {
      font-size: 18px; } }

#questions-wrapper {
  margin-top: 30px; }

.page-index.logged-out .site-content {
  padding-top: 0px; }
  @media screen and (max-width: 768px) {
    .page-index.logged-out .site-content {
      padding-top: 0px; } }
.page-index.logged-out .footer-expander footer {
  bottom: 0px;
  opacity: 1; }

.section-slider-posts {
  margin-top: 70px;
  margin-bottom: 70px; }
  @media screen and (max-width: 1260px) {
    .section-slider-posts {
      margin-top: 30px;
      margin-bottom: 30px; } }
  @media screen and (max-width: 768px) {
    .section-slider-posts {
      margin-top: 50px;
      margin-bottom: 50px; } }
  .section-slider-posts .blog-posts-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .section-slider-posts .blog-posts-title {
        font-size: 30px; } }
  .section-slider-posts .read-more {
    color: #aaaaaa; }
  .section-slider-posts .gray-wp-button {
    background-color: #dadada;
    border: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 160px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    transition: all 0.3s ease; }
    @media screen and (max-width: 1080px) {
      .section-slider-posts .gray-wp-button {
        font-size: 19px; } }
    @media screen and (max-width: 768px) {
      .section-slider-posts .gray-wp-button {
        padding: 15px 30px;
        font-size: 17px; } }
    .section-slider-posts .gray-wp-button:focus, .section-slider-posts .gray-wp-button:hover {
      outline: none;
      background-color: #d2cece;
      transition: all 0.3s ease; }
  .section-slider-posts .slider-posts-inner {
    padding: 0px 60px; }
    @media screen and (max-width: 1260px) {
      .section-slider-posts .slider-posts-inner {
        padding: 0px 30px; } }
  .section-slider-posts .slider-posts .post {
    width: 33.3%;
    padding: 20px 30px; }
    @media screen and (max-width: 1260px) {
      .section-slider-posts .slider-posts .post {
        padding: 60px 20px; } }
    @media screen and (max-width: 1080px) {
      .section-slider-posts .slider-posts .post {
        width: 50%; } }
    @media screen and (max-width: 768px) {
      .section-slider-posts .slider-posts .post {
        width: 100%;
        padding: 30px 20px; } }
    .section-slider-posts .slider-posts .post .post-inner {
      background-color: white;
      border-radius: 16px;
      transition: all 0.3s ease;
      padding-bottom: 70px;
      position: relative; }
      .section-slider-posts .slider-posts .post .post-inner:hover {
        transition: all 0.3s ease;
        box-shadow: 0 0 33px 4px rgba(158, 158, 158, 0.4); }
        .section-slider-posts .slider-posts .post .post-inner:hover .hover-top {
          transform: translateY(-100px);
          transition: all 0.3s ease;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px; }
          @media screen and (max-width: 768px) {
            .section-slider-posts .slider-posts .post .post-inner:hover .hover-top {
              transform: none; } }
    .section-slider-posts .slider-posts .post .hover-top {
      background-color: white;
      transition: all 0.3s ease;
      padding: 20px;
      padding-bottom: 1px;
      position: relative;
      z-index: 1;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px; }
    .section-slider-posts .slider-posts .post .post-image {
      padding-top: 50%;
      display: block;
      background-position-y: 0px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      background-size: cover; }
      @media screen and (max-width: 768px) {
        .section-slider-posts .slider-posts .post .post-image {
          padding-top: 53%; } }
    .section-slider-posts .slider-posts .post .post-info .cat {
      font-size: 16px;
      font-weight: bold;
      color: #45baf0; }
    .section-slider-posts .slider-posts .post .post-info .date {
      font-weight: 300;
      font-size: 16px;
      color: #888;
      padding-left: 18px;
      position: relative; }
      @media screen and (max-width: 1480px) {
        .section-slider-posts .slider-posts .post .post-info .date {
          display: block;
          padding-left: 0px;
          margin-top: 2px; } }
      @media screen and (max-width: 768px) {
        .section-slider-posts .slider-posts .post .post-info .date {
          font-size: 14px; } }
      .section-slider-posts .slider-posts .post .post-info .date:after {
        content: '';
        position: absolute;
        left: 9px;
        height: 15px;
        background-color: #b8b8b8;
        width: 1px;
        top: 50%;
        transform: translateY(-50%); }
        @media screen and (max-width: 1480px) {
          .section-slider-posts .slider-posts .post .post-info .date:after {
            display: none; } }
    .section-slider-posts .slider-posts .post h4 {
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 20px;
      color: black;
      line-height: 24px; }
    .section-slider-posts .slider-posts .post .bottom-container {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px; }
      @media screen and (max-width: 768px) {
        .section-slider-posts .slider-posts .post .bottom-container {
          position: static;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px; } }
    .section-slider-posts .slider-posts .post p {
      height: 47.5px;
      font-size: 18px;
      color: #333333;
      font-weight: 300;
      line-height: 24px;
      overflow: hidden;
      margin-bottom: 10px; }
    .section-slider-posts .slider-posts .post .read-more {
      font-size: 16px; }
  .section-slider-posts .slider-posts .flickity-button {
    background: transparent; }
  .section-slider-posts .slider-posts .flickity-prev-next-button.previous {
    left: -20px; }
  .section-slider-posts .slider-posts .flickity-prev-next-button.next {
    right: -20px; }
  .section-slider-posts .gray-button {
    margin-bottom: 20px; }
    @media screen and (max-width: 768px) {
      .section-slider-posts .gray-button {
        display: block;
        margin-right: 50px;
        margin-left: 50px; } }
