$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";


.written-review {
    margin-bottom: 60px;

    @media #{$phone} {
        margin-bottom: 40px;
        position: relative;
    }

    &.video-review {
        width: 50%;
        margin-right: 50px;
        margin-bottom: 0px;

        @media #{$phone} {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    &.hidden-review {
        display: none;
    }

    // .video-image {
    //     padding-top: 75%;
    // }

    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        margin-bottom: 20px;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .review-header {
        display: flex;
        align-items: center;
        margin-bottom: 20px;


        .review-avatar {
            max-width: 50px;
            border-radius: 50%;
            margin-right: 9px;
        }

        .review-name {
            font-size: 18px;
            color: #332255;
            font-weight: bold;
            display: block;
            margin-bottom: 10px;

            @media #{$phone} {
                margin-bottom: 5px;
            }
        }

        .review-title {
            font-size: 20px;
            color: #332255;
            font-weight: 900;
            display: block;

            @media #{$phone} {
                font-size: 18px;
            }
        }

        >div {
            flex: 1;
        }

        .share-button {
            justify-content: end;
            min-width: 120px;
            color: #888888;

            @media #{$phone} {
                top: 0px;
                font-size: 14px;
            }

            img {
                width: 25px;
            }
        }
    }

    .review-rating {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        @media #{$phone} {
            flex-flow: row wrap;
        }

        .trusted-sticker {
            margin-left: 0px;
            margin-right: 12px;
        }

        .ratings {
            display: flex;
            align-items: center;

            .stars {
                margin-right: 5px;
            }

            .rating {
                font-size: 16px;
                color: #332255;
                margin-right: 10px;
                font-weight: normal;
            }
        }

        .review-date {
            font-size: 14px;
            color: #888888;
        }
    }

    .review-content {
        font-size: 18px;
        color: #332255;

        @media #{$phone} {
            line-height: 29px;
        }

        .more {
            color: #0084d1;
            font-weight: 700;
            font-size: 18px;
            text-decoration: underline;
            text-transform: lowercase;
        }
    }

    .review-replied-wrapper {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 25px;

        .review-avatar {
            width: 33px;
            border-radius: 50%;
            margin-right: 10px;
        }

        >div {
            width: 100%;
        }

        .replied-info {
            display: flex;
            align-items: center;
            margin-bottom: 2px;
            font-size: 14px;
            color: #888888;

            img {
                max-width: 15px;
                margin-right: 3px;
            }
        }
    }
}