$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.claim-popup {
    .popup-inner {
        padding: 60px 130px 50px;

        @media #{$phone} {
        	padding: 22px 20px 50px;
        }

        .claim-success {
        	display: none;

			.step-info {
				color: #332255;
				font-size: 18px;
				margin-bottom: 40px;
			}

        	.button {
        		padding: 13px 90px;

        		@media #{$phone} {
        			padding: 9px 70px;
        		}
        	}
        }

        .header-claim {

			h2 {
				font-weight: 800;
				margin-left: -30px;
				margin-right: -30px;
				margin-bottom: 15px;
			}

        	h5 {
        		font-size: 18px;
				color: #332255;
				font-weight: normal;
        	}
        }

		.blue-button {
			text-transform: none;
		}

		.agree-label {
			@media #{$tablet} {
				display: block;
			}

			.read-privacy {
				margin-right: 5px;
				margin-left: 5px;
			}
		}
    }

    &.claimed {
    	.popup-inner {

	        .claim-success {
	        	display: block;
	        }

	        .claim-details {
	        	display: none;
	        }
	    }
    }
}