$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

#popup-wokrplace {
	.popup-inner {

        h4 {
            margin-bottom: 35px;
        }

        .invited-dentists {
            margin-bottom: 50px;

            .flex {
                position: relative;
                padding-bottom: 14px;
                margin-bottom: 14px;
                border-bottom: 1px solid #bfbfbf;

                .flex-7 {
                    padding: 0px 10px;

                    @media #{$phone} {
                        padding: 0px;
                    }
                }

                .flex-2 {
                    @media #{$phone} {
                        position: absolute;
                        top: -3px;
                        right: 0px;
                    }
                }

                .flex-3 {
                    @media #{$phone} {
                        padding-right: 40px;
                        padding-bottom: 10px;
                    }
                }

                &:last-child {
                    border-bottom: none;
                }
            }

            .remove-dentist {
                color: #126585;

                @media #{$phone} {
                    font-size: 0px;
                }

                img {
                    max-width: 10px;
                }
            }
        }
    }
}