$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.mobile-alert {
	margin-bottom: 20px;
    font-size: 14px;
    padding: 10px 20px 10px 50px;

    &:before {
	    font-size: 20px;
	}
}

#select-reviews-popup,
#popup-widget {
	@media #{$tablet} {
		background-color: white;
	}
	.popup-inner {
	    overflow-x: initial;
	    overflow-y: unset;
        box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.8);

        @media #{$tablet} {
        	box-shadow: none;
        }

		h2 {
            font-size: 34px;

			@media #{$phone} {
				font-size: 26px;
			}
		}

		.popup-title {
			@media #{$phone} {
				font-size: 20px;
			}
		}

		.popup-description {
			@media #{$phone} {
				font-size: 18px;
				font-weight: 300;
			}
		}
	}
}

#select-reviews-popup {
	.button {
		border: 1px solid #46afda;
		font-size: 25px;
		background-color: #46afda;
		padding: 12px 73px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
}


.widget-wrapper {
	h3 {
		margin-bottom: 30px;
	}

	.widget-options {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.widget-content {
		margin-bottom: 40px;
	}
}

.widget-step {
    padding-bottom: 30px;

	.widget-step-title {
		color: #0564c6;
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin-top: 30px;
		margin-bottom: 10px !important;

		span {
			color: black;
			font-size: 24px;
			text-transform: uppercase;
		}
	}

	.popup-desc {
		font-weight: 300;
		margin-bottom: 10px;
	}

	.popup-title {
		color: #333333;
	    padding: 7px 100px 9px;
	}

	.step-description {
		font-size: 18px;
		text-align: center;
		margin-bottom: 30px;
	}

    .step-buttons {
        .white-button {
            padding: 10px 76px;

            @media #{$phone} {
                padding: 10px 26px;
            }
        }

        .blue-button {
            text-transform: none;

            @media #{$phone} {
                padding: 10px 36px;
            }
        }
    }

	.modern-radios {
		display: block;

		@media #{$phone} {
			margin-bottom: 47px;
		}

		.radio-label {
			margin-bottom: 35px;

			@media #{$phone} {
				margin-bottom: 10px;
			    border-bottom: 2px solid #dadada;
			    padding-bottom: 20px;
			}

			&:first-child {
			    margin-right: 0px;
			}

			label {
				border-color: transparent;
				align-items: center;
				padding: 18px 15px;
				display: flex;

				@media #{$phone} {
					display: block;
				}

				&.active {
					border-color: #0564c6;

					.modern-radio {
						span {
				    		background-color: #0564c6;
					    }
					}

					.widget-option {
						p {
							color: #0564c6;
							font-weight: bold;
						}
					}

					&:hover {
						border-color: #0564c6;
					}
				}

				&:hover {
					border-color: #ccc;
				}

				.modern-radio {
					min-width: 36px;
				    width: 36px;
				    height: 36px;
				    border-color: #979797;
				    background-color: #ebebeb;
				    margin-right: 13px;

				    @media #{$phone} {
					    display: block;
					    margin-right: auto;
					    margin-left: auto;
					    margin-bottom: 14px;
					}

				    span {
				    	width: 20px;
				    	height: 20px;
				    }
				}

				.layout-img {
					max-width: 398px;

					@media #{$tablet} {
				    	max-width: 260px;
				    }

				    @media #{$phone} {
				    	margin-bottom: 20px;
				    }
				}

				.widget-option {
					margin-left: 40px;

					@media #{$tablet} {
				    	margin-left: 20px;
				    }

					p {
						font-size: 20px;
						font-weight: 300;
						margin-bottom: 20px;
					}

					.select-wrap {
						margin-bottom: 14px;

						@media #{$phone} {
							justify-content: center;
						}

						&:last-child {
							margin-bottom: 0px;
						}

						span {
							font-size: 18px;
							font-weight: 300;
						}
						select,
						input {
							display: block;
							border: 1px solid #d7d7d7;
							margin: 0px 5px;
							border-radius: 4px;
							padding: 0px 5px;
							font-size: 18px;
							font-weight: 300;

							&:hover,
							&:focus {
								outline: none;
							}
						}

						input {
							max-width: 59px;
							-moz-appearance:textfield;

							&::-webkit-outer-spin-button,
							&::-webkit-inner-spin-button {
							    /* display: none; <- Crashes Chrome on hover */
							    -webkit-appearance: none;
							    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
							}
						}
					}
				}
			}
		}
	}

	#selected-image-layout {
		margin-bottom: 25px;
		max-width: 398px;

		@media #{$phone} {
			max-width: 100%;
		}
	}

	#selected-layout {
		color: #0564c6;
		font-weight: bold;
		text-transform: capitalize;
	}

	.widget-subtitle {
		font-size: 22px;
		margin-bottom: 30px !important;
	}

	.popup-tabs {
		margin-top: 0px !important;

		@media #{$phone} {
			flex-direction: column;
		}

		a {
			@media #{$phone} {
				margin-right: 0px;
				margin-left: 0px;
			}

			&:first-child {
				@media #{$phone} {
					margin-bottom: 10px;
				}
			}
		}
	}

	.instructions-image {
		position: relative;
		display: block;

		.magnifier {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			background-color: transparent;
		}
	}

    .widget-tabs {
        margin-bottom: 20px;
        
        a {
            position: relative;
            font-size: 16px;
            color: #888888;
            border: 1px solid #cccccc;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0px 3px 4px 1px #e5e5e5;
            flex: 1;
            border-width: 2px;
            text-transform: uppercase;
            justify-content: center;
            font-weight: 800;
            padding: 20px 18px 20px 12px;
            display: flex;
            align-items: center;

            &:first-child {
                margin-right: 10px;

                @media #{$phone} {
                    margin-right: 0px;
                }
            }

            &.active {
                border-color: #14cab8;
                color: #0084d1;
                box-shadow: none;

                span {
                    display: block;
                }
            }

            img {
                margin-left: 10px;
            }

            span {
                display: none;
                position: absolute;
                background-color: #14cab8;
                color: white;
                top: 0;
                right: 0;
                font-size: 13px;
                width: 16px;
                height: 16px;
                text-align: center;
                line-height: 14px;
                border-bottom-left-radius: 5px;
            }
        }
    }

    .option-span {
        display: block;
        position: relative;
        padding-left: 14px;
        color: #332255;
        font-weight: normal;
        margin-bottom: 5px;

        &:before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #0084d1;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        a {
            font-weight: bold;
            color: #0084d1;
            text-decoration: underline;
        }
    }

	.select-reviews {
		.modern-radios {
			.radio-label {
				margin-bottom: 27px;

				@media #{$phone} {
					border-bottom: 0px;
					padding-bottom: 0px;
				}

				label {
					border-color: #d6d6d7;
					display: block;
					border-width: 1px;
					position: relative;

					&.active {
						border-color: #0564c6;

						span {
							font-weight: bold;
							color: #0564c6;
						}

						.open-hidden-option {

							img {
								transform: rotate(180deg);
							}
						}
					}

					span {
						font-size: 20px;
						font-weight: 300;
					}

					.info {
						vertical-align: middle;
					}

					.hidden-option {
						display: none;
						padding-left: 40px;
						padding-top: 18px;

						@media #{$phone} {
							padding-left: 30px;
						}

						&.active {
							display: block;
						}

						.option-checkboxes {
							display: flex;

							label {
								border: none;
								padding: 0px;
								margin-right: 30px;
								font-size: 18px;

                                @media #{$phone} {
                                    margin-right: 18px;
                                }

								&.active {
									.modern-radio {
										span {
											background-color: #0564c6;
										}								    
									}
								}

								&:last-child {
									margin-right: 0px;
								}

								.modern-radio {
									span {
										background-color: transparent;
									}								    
								}
							}
						}

						p {
							font-size: 18px;
    						margin-bottom: 15px;
						}

						.button {
							background-color: white;
							border: 1px solid #0564c6;
							color: #0564c6;
							text-transform: none;
							font-size: 18px;
							padding: 7px 20px;
							margin-bottom: 0px;

							&:hover {
								background-color: #0564c6;
								color: white;
							}
						}
					}

					.modern-radio {
						min-width: 24px;
					    width: 24px;
					    height: 24px;

					    @media #{$phone} {
							display: inline-block;
							margin-bottom: 0px;
							margin-right: 5px;
					    }

					    span {
					    	width: 13px;
    						height: 13px;
					    }
					}

					.open-hidden-option {
						padding: 20px;
					    padding-bottom: 19px;
					    position: absolute;
					    right: 2px;
					    top: 0px;

					    @media #{$phone} {
					    	padding: 10px;
						    top: 13px;
					    }

						img {
							max-width: 12px;
						}
					}
				}
			}
		}
	}

	.widget-code-wrap {
		background-color: #0564c6;
	    margin: 20px -70px 50px;
	    padding: 25px 100px;
	    position: relative;

	    @media #{$phone} {
	    	margin: 20px -20px 50px;
	    	padding: 25px 20px;
	    }

	    textarea {
	    	height: 170px;
    		box-shadow: none;
    	    padding: 10px 15px;

    	    @media #{$tablet} {
    	    	height: 210px;
    	    }

    	    @media #{$phone} {
    	    	height: 300px;
    	    }
	    }
	}

	.button {
		border: 1px solid #46afda;
		font-size: 25px;
		background-color: #46afda;
		padding: 12px 73px;
		margin-bottom: 30px;

		@media #{$phone} {
			font-size: 19px;
		    padding: 9px 45px;
		}

		&.back-widget {
			background-color: white;
			color: #46afda;
			margin-right: 10px;
		}
	}

	.copy-widget {
		position: absolute;
	    right: 104px;
	    background: #f1eff1;
	    color: #4e4c4e;
	    display: block;
	    padding: 8px;
	    top: 29px;

	    @media #{$phone} {
	    	right: 24px;
	    }

	    img {
			display: block;
			width: 14px;
	    }
	}

	.facebook-tab {
		.tab-info {
			font-size: 22px;
			margin-bottom: 30px;
			display: flex;
    		align-items: flex-start;

			img {
				max-width: 18px;
			    margin-top: 6px;
			    margin-right: 5px;
			}
		}

		.fb-l-button {
			background-color: #4267B2;
			color: white;
			border-radius: 5px;
			margin-bottom: 17px;
			padding: 10px 15px;
			font-size: 20px;
			padding-left: 15px;
			border: none;
			width: 350px;

			span {
				display: inline-block;
			    vertical-align: sub;
			    width: 27px;
			    text-align: center;
			    margin-right: 10px;

			    i {
					color: white;
					font-size: 30px;
			    }
			}
		}

		.tab-note {
			font-size: 17px;
		    color: #888888;
		    text-align: center;
		    margin-bottom: 20px;
		}
	}
}

.modern-radios {
	display: flex;

	.radio-label {
		input {
			display: none;
		}

		label {
			display: block;
			border: 2px solid #ccc;
			padding: 7px 9px;
			border-radius: 4px;
			font-size: 18px;
			color: #888888;
			cursor: pointer;

			@media #{$tablet} {
				font-size: 14px;
				padding: 11px 9px;
			}

			.modern-radio {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				border: 1px solid #ccc;
				display: inline-block;
				background-color: white;
				position: relative;
				vertical-align: sub;

				@media #{$tablet} {
					width: 16px;
					height: 16px;
					margin-right: 5px;
				}

				span {
					position: absolute;
					border-radius: 50%;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					width: 10px;
					height: 10px;
				}
			}

			i {
				padding-right: 4px;
				font-size: 13px;
				color: #138ab8;
			}

			&.active {
				color: black;
				border-color: #0084d1;

				span {
					span {
						background-color: #666666;
					}
				}

				i:before {
					content: "\f192";
				}
			}
		}

		&:first-child {
			margin-right: 38px;
		}

		>span {
			font-size: 12px;
			color: #888888;
		}
	}
}


.header-success-tab {
	background-color: transparent;

	img {
		max-width: 120px;
		margin-bottom: 10px;

		@media #{$phone} {
			max-width: 60px;
		}
	}        	

	h2 {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 38px;
		color: #126585 !important;
		margin-bottom: 13px !important;
		margin-top: 30px !important;

		@media #{$phone} {
			font-size: 24px;
			margin-top: 0px !important;
			margin-bottom: 20px !important;
		}
	}

	h4 {
		color: #333;
		max-width: 620px;
		margin-right: auto;
		margin-left: auto;

		@media #{$phone} {
			font-size: 16px;
			margin-bottom: 25px;
		}
	}
}