$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.invite-new-dentist-popup.fixed-popup {

	&.active {
		display: flex;
	}
	
	.popup-inner {
        box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.8);
		width: 870px;
		padding: 55px 70px;
		border-radius: 40px;

		h2 {
			font-size: 35px;
			margin-bottom: 25px;
			color: #0564c6;
			font-weight: 900;

			@media #{$phone} {
				font-size: 26px;
			}
		}

		h5 {
			font-weight: bold;
			text-align: center;
			margin-bottom: 40px;

			b {
				font-size: 24px;
				font-weight: 800;
				text-transform: uppercase;
			}
		}

		.popup-title {
			padding: 12px 60px 15px;
			font-size: 23px;
			font-weight: 300;
			text-align: center;

			@media #{$tablet} {
				font-size: 18px;
			}

			@media #{$phone} {
				font-size: 16px;
				padding: 12px 10px 15px;
				font-weight: normal;
			}
		}

		.blue-button {
			text-transform: uppercase;
			padding: 10px 76px;
			cursor: pointer;
		}
	}
}

.invite-new-dentist-success-popup.fixed-popup {
	.popup-inner {
		max-width: 740px;
		text-align: center;
        box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.8);

        @media #{$tablet} {
        	max-width: 100%;
        }

        img {
        	max-width: 80px;
        }

		h2 {
			font-weight: bold;
		    color: black;
			font-size: 22px;
			margin-top: 30px;
		    max-width: 470px;
		    margin: 35px auto 15px;
		}

		p {
			font-size: 20px;
			margin-bottom: 30px;

			span {
				color: #0fb0e5;
				font-weight: bold;
				font-size: 20px;
			}
		}

		.button {
			padding: 10px 40px;
			margin-top: 0px;
			margin-bottom: 10px;
		}
	}
}