$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";


.popup {

    .details-wrapper {

        .review {
            margin-left: 0px;
            margin-bottom: 0px;
        }

        .ratings {
            .stars {
                width: 132px;
            }
        }

        .rating {
            font-size: 20px;
            font-weight: normal;
            vertical-align: super;
        }

        .review-date {
            vertical-align: super;
        }
    }

    .overview-wrapper {
        margin-top: 30px;
    }

    .review-container {
        width: 630px;
        margin: 0 auto;

        @media #{$phone} {
            width: 100%;
        }

        .ratings {
            margin-top: 0px;

            .stars {
                background: url('../img-trp/stars-gray.png') 50% 50% no-repeat;
                background-size: contain;

                .bar {
                    background: url('../img-trp/stars-black.png') 0% 50% no-repeat;
                    background-size: cover;
                }
            }

            .rating {
                vertical-align: top;
                font-size: 14px;
                font-weight: normal;
            }
        }

        .overview-column {
            float: left;
            width: 210px;
            margin-bottom: 30px;
            
            @media #{$phone} {
                float: none;
                width: 100%;
                text-align: center;
            }
            
            &:nth-child(3n),
            &:nth-child(3n + 2) {
                padding-left: 50px;

                @media #{$phone} {
                    padding-left: 0px;
                }
            }
        }
    }
}