$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.popup-wokring-time {
	.popup-inner {

        h4 {
            margin-bottom: 35px;
        }

		.day-wrapper {
		    margin-bottom: 50px;
		    text-align: center;

		    .all-days-equal {
		    	color: #126585;
			    font-weight: bold;
			    padding: 10px;
			    display: inline-block;
			    border: 1px solid #126585;
			    border-radius: 5px;
			    transition: all 0.3s ease;

			    &:hover {
			    	transition: all 0.3s ease;
			    	background-color: #126585;
			    	color: white;
			    }
		    }
		}

		.popup-desc {
		    display: flex;
    		justify-content: center;
		    align-items: baseline;
		    margin-top: -15px;
		    margin-bottom: 20px;

		    label {
		    	margin-right: 5px;
		    }

			select {
				width: 65px;
				padding-left: 5px;
				padding-right: 5px;
				margin: 0px 5px;

				&.grayed {
					background-color: #eee;
				}
			}

			.separator {
				background: #333333;
				width: 36px;
				height: 2px;
				margin: 0px 12px;
			}
		}
	}
}