$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

@import 'trp-reviews';
@import 'trp-work-hours';

.site-content {
	min-height: calc(100vh - 147px);

	@media #{$tablet} {
		min-height: calc(100vh - 244px);
	}

	@media #{$phone} {
		min-height: calc(100vh - 374px);
	}
}

.gray-line {
	background-color: #e6eeff;
	height: 80px;

	@media #{$phone} {
		height: 70px;
	}
}

// .lightboxOverlay {
//     z-index: 99999999 !important;
// }

// .lightbox {
//     z-index: 100000000 !important;
// }

.blue-button {
    padding: 12px 43px;
}

.main-section-container {
	z-index: 100;
}

.profile-wrapper {
	padding: 45px 0px 65px;
	display: flex;
	align-items: flex-start;

	@media #{$tablet} {
		flex-direction: column;
		padding-bottom: 40px;
	}

	@media #{$phone} {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.profile-info-container {
		flex: 1;

		@media #{$tablet} {
			width: 100%;
			margin-bottom: 40px;
		}

		@media #{$phone} {
			margin-bottom: 20px;
		}

		.avatar-wrapper {
			margin-right: 30px;

			.avatar {
				box-shadow: 0px 0px 10px 2px #f3f3f3;
				border-radius: 50%;
				margin-bottom: 10px;

				@media #{$phone} {
					width: 80px;
					height: 80px;
				}
			}

			.main-clinic {
				text-align: center;
				font-size: 14px;
				color: #332255;
				font-weight: 600;
				margin-bottom: 10px;

				@media #{$phone} {
					text-align: left;
				}
			}

			.claim-button {
				display: block;
				color: #0084d1;
				font-weight: bold;
				text-decoration: underline;
			}

			.clinic-branches {
				display: flex;
				align-items: center;
				font-size: 14px;
				color: #0084d1;
				font-weight: 600;
				justify-content: center;
				margin-bottom: 10px;

				@media #{$phone} {
					justify-content: start;
				}

				img {
					margin-right: 4px;
				}

				.fa-circle-notch.fa-spin {
					font-size: 16px;
					margin-left: -3px;
					color: #46afda;
				}
			}

			.visits-wrapper {
				span {
					display: flex;
					align-items: center;
					background-color: #e6eeff;
					padding: 3px 4px 3px;
					border-radius: 30px;
					margin-bottom: 4px;
					font-size: 14px;
					color: #555555;
					font-weight: 600;

					.visit-icon {
						margin-right: 3px;
						border-radius: 50%;
					}

					.visit-info {
						margin-left: 3px;
					}
				}
			}
		}

		.profile-details {
			flex: 1;
			margin-right: 45px;

			@media #{$tablet} {
				margin-right: 0px;
			}

			.partner-wrapper {
				margin-bottom: 10px;
				align-items: center;

				.partner {
					width: 180px;
					background-color: #0084d1;
					color: white;
					display: flex;
					justify-content: center;
					padding: 4px 5px 6px;
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					font-weight: bold;
					align-items: end;

					@media #{$phone} {
						position: absolute;
						top: 25px;
						left: 68px;
						z-index: -1;
						padding-left: 10px;
						width: 200px;
						font-size: 15px;
					}

					img {
						background-color: transparent;
						max-width: 17px;
						margin-right: 4px;
					}
				}

				.share-button {
					color: #888888;

					@media #{$phone} {
						position: absolute;
						top: 24px;
						right: 15px;
						font-size: 14px;
					}

					img {
						width: 25px;

						@media #{$phone} {
							width: 22px;
						}
					}
				}
			}

			h1 {
				font-size: 33px;
    			color: #332255;
				margin-bottom: 20px;
				font-weight: 900;

				@media #{$phone} {
					font-size: 22px;
					font-weight: 800;
					margin-bottom: 10px;
				}
			}

			.alternative-name {
				font-size: 20px;
				font-weight: 900;
				color: #878686;
				margin-bottom: 10px;
				margin-top: -10px;

				@media #{$phone} {
					font-size: 17px;
					font-weight: 800;
					margin-top: 0px;
				}
			}

			p {
				color: #555555;
    			margin-bottom: 8px;

				@media #{$phone} {
					font-size: 14px;
					margin-bottom: 3px;
				}

				a {
					color: #555555;

					@media #{$phone} {
						font-size: 14px;
					}

					&.blue-href {
						color: #0084d1;
					}
				}
			}

			.dentist-address {
				cursor: pointer;
				color: #555555;
    			margin-bottom: 8px;
			}

			.workplace-wrapper {
				margin-bottom: 18px;

				.working-time {
					position: relative;
					font-size: 13px;
					display: flex;
					align-items: center;
					min-width: 90px;
					justify-content: end;
	
					@media #{$phone} {
						position: absolute;
						top: 65px;
    					right: 15px;
					}
	
					&.open {
						color: #0084d1;
						min-width: 97px;

						&.wider {
							min-width: 123px;
						}

						&:after {
							content: "";
							margin-left: 5px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 6px 4.5px 0 4.5px;
							border-color: #0084d1 transparent transparent transparent;
							margin-top: 2px;
						}

						&:hover {
							.work-hours {
								display: block;
							}
						}
					}
	
					&.closed {
						color: #ff6a6a;

						&.wider {
							min-width: 116px;
						}
					}
	
					img {
						max-width: 19px;
						margin-right: 4px;
						max-height: 17px;
					}

					.edit-field-button {
						margin-left: 3px;
					}

					.work-hours {
						display: none;
						position: absolute;
						top: 100%;
						left: 0px;
						background-color: white;
						width: 225px;
						box-shadow: 0px 0px 3px 0px #c1c1c1;
						z-index: 100;

						p {
							font-size: 16px;
							color: #332255;

							&.month {
								font-weight: 900;
								width: 80px;
								text-align: center;
							}
						}

						.flex {
							border-bottom: 2px solid #e2ebff;
							padding: 10px 0px 6px;

							&:last-child {
								border-bottom: none;
							}

							&.active {
								p {
									color: #0084d1;
								}
							}
						}
					}
				}

				.edit-workplace-wrapper {
					display: none;
				}

				.workplace {
					display: inline-block;

					a {
						font-size: 20px;
						font-weight: 900;
						color: #332255;

						@media #{$phone} {
							font-size: 18px;
						}
						
						&.grayed {
							color: #b9b9b9;
						}
					}
				}
			}

			.socials {
				display: flex;
				margin-top: 16px;

				.social {
					margin-right: 8px;
					transition: all 0.3s ease;

					&:hover {
						opacity: 0.8;
						transition: all 0.3s ease;
					}
				}
			}

			.announcement-wrapper {
				border-top: 2px solid #c5ccde;
				padding-top: 20px;
				margin-top: 20px;

				h4 {
					margin-bottom: 5px;

					span {
						font-weight: bold;
						color: #332255;
						font-size: 20px;
					}

					img {
						margin-right: 2px;
					}
				}

				.announcement-subtitle {
					font-size: 14px;
    				color: #888888;
				}

				.announcement-description {
    				color: #555555;
				}

				a {
					color: #0084d1;
					text-decoration: underline;
				}

				form {
					display: none;
				}
			}
		}
	}

	.profile-rating {
		text-align: center;
		width: 308px;

		@media #{$phone} {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		.profile-rating-inner {
			background-color: #f8fbff;
			padding: 20px 24px 24px;
			border-radius: 17px;
			box-shadow: 17px 14px 21px -4px #efefef;

			@media #{$phone} {
				background-color: transparent;
    			box-shadow: none;
				text-align: left;
				padding: 0px;
				border-top: 2px solid #c5ccde;
				border-radius: 0px;
				padding-top: 10px;
			}
			
			.rating-flex {
				@media #{$phone} {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			.rating {
				font-size: 46px;
				color: #14cab8;
				font-weight: 500;
				margin-bottom: 2px;

				@media #{$phone} {
					margin-right: 12px;
					margin-bottom: 0px;
				}
			}
	
			.reviews-count {
				font-size: 18px;
				color: #0084d1;
				margin-bottom: 30px;

				@media #{$phone} {
					font-size: 15px;
					margin-bottom: 0px;
				}
			}
	
			.ratings {
				margin-bottom: 15px;

				@media #{$phone} {
					margin-bottom: 0px;
					margin-right: 13px;
				}
			}

			.buttons-flex {
				@media #{$phone} {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-top: 10px;
				}
			}
	
			.white-button {
				padding: 12px 43px;
				border-color: #0084d1;
				margin-bottom: 10px;
				color: #0084d1;
	
				&:hover {
					background-color: #0084d1;
					color: white;
				}
			}
		}

		.awards {
			padding-left: 26px;
			margin-top: 20px;
			text-align: left;

			@media #{$phone} {
				border-top: 2px solid #c5ccde;
				padding-left: 0px;
				border-radius: 0px;
				padding-top: 10px;
				order: -1;
				margin-top: 0px;
			}

			h4 {
				margin-bottom: 10px;
				color: #332255;
				font-size: 18px;
				font-weight: bold;
			}

			.top-dentist {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
	
				img {
					max-width: 25px;
					margin-right: 5px;
				}
			}
		}
	}
}

.tab-titles {
	box-shadow: 0px 0px 21px 0px #d3d2d2;
	border: 2px solid #c5ccde;
    border-left: none;
    border-right: none;
    background-color: white;

	&.fixed-tabs {
		position: fixed;
		top: 60px;
		left: 0;
		width: 100%;
		z-index: 100;

		@media #{$phone} {
			top: 50px;
		}
	}

	.container {
		@media #{$phone} {
			overflow-x: scroll;
			display: flex;
			align-items: center;
		}
	}

	.tab-title {
		position: relative;
		font-size: 20px;
		display: inline-block;
		padding: 15px 0px;
		transition: all 0.3s ease;
		font-weight: bold;
    	color: #332255;
		border-bottom: 4px solid transparent;
		margin-right: 70px;

		@media #{$tablet} {
			font-size: 18px;
			margin-right: 50px;
		}

		@media #{$phone} {
			margin-right: 30px;
			min-width: auto;
			margin-bottom: 0px;
			padding: 15px 0px;
		}

		&:hover {
			color: #0084d1;
			transition: all 0.3s ease;

			@media #{$phone} {
			    transition: all 0.3s ease;
				color: #332255;
			}
		}

		&.active {
			color: #0084d1;
			border-bottom-color: #0084d1;
			transition: all 0.3s ease;
		}

		&.grayed {
			color: #ccc;
			border-color: transparent;

			span {
				&.active {
					opacity: 0.5;
				}
			}
		}

		&.pending-team-tab-title {
			@media #{$phone} {
				min-width: 70px;
			}
		}

		&.patients-tab {

			@media #{$phone} {
				min-width: 120px;
			}

			&:before {
				content: '';
				width: 2px;
				height: 107%;
				position: absolute;
				left: -36px;
				top: 0px;
				border-left: 2px solid #c5ccde;

				@media #{$phone} {
					left: -10px;
				}
			}
		}

		&:last-child {
			margin-right: 0px;
		}

		&[data-tab="more-info"] {
			@media #{$phone} {
				min-width: 80px;
			}
		}

		span {
			&.active {
				position: absolute;
				top: 54%;
				transform: translateY(-50%);
				right: -29px;
				display: inline-block;
				border-radius: 50%;
				background-color: #ff6e6e;
				font-size: 12px;
				font-weight: bold;
				color: #ffffff;
				width: 23px;
				height: 23px;
				text-align: center;
				line-height: 23px;

			    @media #{$phone} {
    				right: 2px;
					width: 19px;
					height: 19px;
					font-size: 10px;
					line-height: 19px;
			    }
			}
		}
	}
}

.tab-sections {
	padding-top: 45px;
	background-color: white;

	.tab-container {
		margin-bottom: 90px;

		@media #{$phone} {
			margin-bottom: 50px;
		}
	
		h2 {
			color: #332255;
			font-weight: 800;
			text-transform: uppercase;
			font-size: 30px;
			margin-bottom: 30px;

			@media #{$phone} {
				font-size: 26px;
			}
		}
	
		h3 {
			font-size: 20px;
			color: #0084d1;
			font-weight: 800;
			margin-bottom: 23px;

			@media #{$phone} {
				line-height: 13px;
			}
		}
	
		.tab-inner-section {
			margin-bottom: 40px;

			@media #{$phone} {
				margin-bottom: 30px;
			}
		}
	
		.specializations {
			.specialization {
				position: relative;
				font-size: 16px;
				padding: 8px 23px 10px;
				background-color: #e2ebff;
				display: inline-block;
				border-radius: 22px;
				margin-right: 10px;
				border: 1px solid #3b9fdd;
				transition: all 0.3s ease;
				margin-bottom: 15px;
				cursor: pointer;
			}
		}

		.about-content {

			.input {
				margin-bottom: 0px;
				border-right: none;
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
			}

			button {
				background-color: #0084d1;
				width: 44px;
				text-align: center;
				border-top-right-radius: 5px;
				border-bottom-right-radius: 5px;
				cursor: pointer;
			}

			.description {
				font-size: 18px;
				color: #332255;

				@media #{$phone} {
					line-height: 26px;
				}
			}
		}
	
		.show-more-reviews {
			font-size: 18px;
			color: #0084d1;
			font-weight: 700;
			text-decoration: underline;
			display: inline-block;
		}
	
		.reviews-type-buttons {
			margin-bottom: 30px;
	
			a {
				font-size: 20px;
				color: #332255;
				font-weight: bold;
				transition: all 0.3s ease;
				
				&.active {
					color: #0084d1;
					text-decoration: underline;
					transition: all 0.3s ease;
				}
				
				&:hover {
					color: #0084d1;
					transition: all 0.3s ease;
				}
	
				&:nth-child(2) {
					border-left: 2px solid #332255;
					margin-left: 12px;
					padding-left: 12px;
				}
			}
		}
	
		.aggregated-rating-wrapper {
			background-color: #f2f6ff;
			padding: 11px 20px 11px 35px;
			border-radius: 20px;
			margin-bottom: 40px;

			@media #{$tablet} {
				flex-direction: column;
				padding: 11px 10px;
			}

			@media #{$phone} {
				border-radius: 0px;
				margin-left: -15px;
				margin-right: -15px;
				padding: 11px 15px 0px;
			}
	
			.col {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				margin-right: 40px;

				@media #{$tablet} {
					margin-right: 0px;
    				margin-bottom: 40px;
				}

				@media #{$phone} {
					border-bottom: 1px solid #cad3e6;
					margin-bottom: 0px;
					padding-bottom: 20px;
				}
	
				.rating {
					font-size: 46px;
					color: #14cab8;
					margin-bottom: 5px;
				}
	
				.ratings {
					margin-bottom: 10px;
				}
	
				.reviews-count {
					font-size: 18px;
					color: #555555;
				}
			}
	
			.flex {
				flex-flow: row wrap;
	
				.overview-column {
					width: 25%;
					border-right: 1px solid #cad3e6;
					padding: 0px 10px 0px 25px;
					display: flex;
					flex-direction: column;
					justify-content: end;

					@media #{$phone} {
						width: 50%;
						padding: 0px;
					}

					&:first-child,
					&:nth-child(2) {
						@media #{$phone} {
							padding-top: 20px;
						}
					}
	
					&:nth-child(2n) {
						@media #{$phone} {
							border-right: none;
							padding-left: 15px;
						}
					}
	
					&:nth-child(4n) {
						border-right: none;
						padding-right: 0px;
					}

                    .new-question {
                        font-size: 10px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: #14cab8;
                        border: 1px solid #14cab8;
                        display: inline-block;
                        padding: 2px 12px;
                        border-radius: 12px;
                        margin-bottom: 7px;
						max-width: 50px;
                    }
	
					p {
						font-weight: 900;
						color: #332255;
						margin-bottom: 5px;
					}
	
					.ratings {
						margin-bottom: 15px;
					}
				}
			}
		}
	
		.reviews-filter {
			display: flex;
			align-items: center;
			padding-bottom: 30px;
			border-bottom: 1px solid #bebebe;
			margin-bottom: 50px;

			@media #{$phone} {
				display: block;
				margin-bottom: 20px;
				margin-left: -15px;
				padding-left: 15px;
				margin-right: -15px;
				padding-right: 15px;
			}
	
			span {
				color: #888888;
				margin-right: 10px;
			}
	
			.filter {
				font-size: 14px;
				color: #332255;
				padding: 8px 29px 10px 15px;
				background-color: #e2ebff;
				display: inline-block;
				border-radius: 22px;
				margin-right: 13px;
				border: 1px solid #0084d1;
				transition: all 0.3s ease;
				position: relative;
				cursor: pointer;
				font-weight: bold;

				@media #{$phone} {
					margin-right: 5px;
				}
	
				&:hover {
					background-color: #0084d1;
					color: white;
					transition: all 0.3s ease;

					.label {
						color: white;
						background-color: transparent;
					}
	
					.caret-down {
						background-position-y: 100%;
					}
	
					.filter-options {
						display: block;
					}
				}

				.label {
					font-size: 14px;
					color: #332255;
					background-color: transparent;
					margin-right: 0px;
				}
	
				.caret-down {
					background-image: url(../img-trp/caret-down-new.png);
					background-color: transparent;
					width: 7px;
					height: 6px;
					position: absolute;
					right: 13px;
					top: 50%;
					transform: translateY(-50%);
					background-size: cover;
					background-position-y: 0%;
				}
	
				.filter-options {
					text-align: left;
					display: none;
					position: absolute;
					z-index: 100011;
					background-color: white;
					left: 0px;
					padding: 19px 15px;
					box-shadow: 0px 0px 4px 0px #b3b3b3;
					min-width: 250px;
					top: 103%;

					.checkbox-label {
						margin-bottom: 11px;

						&:last-child {
							margin-bottom: 0px;
						}
					}
				}
			}
			.search-reviews-wrapper {
				max-width: 218px;
				border-bottom: 1px solid #bebebe;
				display: flex;
				align-items: center;
				padding-bottom: 3px;
				margin-left: 15px;

				@media #{$phone} {
					margin-left: 0px;
					margin-top: 10px;
				}
		
				img {
					margin-bottom: -3px;
					margin-right: 8px;
				}
		
				input {
					height: 30px;
					max-width: 200px;
					outline: none;
				}
			}
		
			.reviews-count {
				flex: 1;
				display: flex;
				justify-content: end;
				color: #332255;

				@media #{$phone} {
					margin-top: -25px;
				}
			}
		}

		.written-reviews-wrapper {

			.video-reviews-flex {
				display: flex;

				.video-review {

					&:nth-child(2) {
						margin-right: 0px;
					}
				}
			}
			
			.flickity-page-dots {
				display: none;
			}

			.flickity-prev-next-button {
				width: 28px !important;
				height: 66px !important;
				border-radius: 0px !important;
			}

			.flickity-button {
				top: 160px !important;
			}

			.flickity-prev-next-button.previous {
				transform: rotate(180deg);
				transform-origin: 50% 19px;
				background: url('../img-trp/slider-arrow-left-white.svg') 50% 50% no-repeat;

				svg {
					display: none;
				}
			}

			.flickity-prev-next-button.next {
				background: url('../img-trp/slider-arrow-right-white.svg') 50% 50% no-repeat;

				svg {
					display: none;
				}
			}
		}

		#no-reviews {
			display: none;
		}
		
		.location-section {
			display: flex;
			align-items: end;

			@media #{$phone} {
				display: block;
			}

			.map-for-branch {
				display: block !important;
			}
	
			.col {
				max-width: 50%;
				width: 50%;
				flex: 1;

				@media #{$phone} {
					max-width: 100%;
					width: 100%;
				}
			}

			.address-flickity-wrapper {
				position: relative;

				.carousel-status {
					position: absolute;
					right: 30px;
					top: -11px;
				}

				.address-flickity {
					.address-slider {
						width: 100%;
	
						p {
							color: #555555;
							margin-bottom: 15px;
						}
	
						.branch-name {
							font-size: 20px;
							font-weight: 900;
							color: #332255;
							margin-bottom: 10px;
							margin-right: 110px;
						}
					}
		
					.flickity-viewport {
	
						height: 420px !important;
	
						@media #{$pc} {
							height: 370px !important;
						}
	
						@media #{$tablet} {
							height: 307px !important;
						}
	
						@media #{$phone} {
							height: 311px !important;
						}
					}
	
					.flickity-page-dots {
						display: none;
					}
	
					.flickity-prev-next-button {
						top: 0;
						left: auto !important;
						right: 77px !important;
						width: 25px;
						outline: none;
	
						&.next {
							right: 0px !important;
						}
					}
				}
			}
	
			.gallery-slider {
				margin-left: 50px;

				@media #{$tablet} {
					margin-left: 20px;
				}

				@media #{$phone} {
					margin-left: 0px;
					margin-top: 20px;
				}
		
				&.with-arrows {
					.gallery-flickity {
						.flickity-button {
							display: block;
						}
					}
				}

				.add-gallery-wrapper {
					display: none;
				}
		
				.gallery-flickity {
	
					.flickity-viewport {
						height: 350px !important;

						@media #{$pc} {
							height: 300px !important;
						}

						@media #{$tablet} {
							height: 237px !important;
						}

						@media #{$phone} {
							height: 241px !important;
						}
					}
		
					.flickity-page-dots {
						display: none;
					}
		
					.slider-wrapper {
						display: block;
						width: 100%;
						padding-right: 5px;
						padding-left: 5px;

						&.add-gallery-wrapper {
							display: none;
						}
		
						.slider-image {
							position: relative;
							padding-top: 66%;
							width: 100%;
		
							@media #{$phone} {
								padding-top: 70%;
							}
						}
					}
		
					.flickity-prev-next-button {
						width: 28px !important;
						height: 66px !important;
						border-radius: 0px !important;

						@media #{$phone} {
							width: 17px !important;
							height: 59px !important;
						}
					}
		
					.flickity-button {
						display: none;
					}
		
					.flickity-prev-next-button.previous {
						background: url('../img-trp/gallery-arrow-left.png') 50% 50% no-repeat;
		
						svg {
							display: none;
						}
					}
		
					.flickity-prev-next-button.next {
						background: url('../img-trp/gallery-arrow-right.png') 50% 50% no-repeat;
		
						svg {
							display: none;
						}
					}
				}
			}
	
			.map-address {
				color: #555555;
				margin-bottom: 15px;
			}
		
			.map-container {
				width: 100%;
				padding-top: 65%;
		
				.gm-ui-hover-effect {
					display: none !important;
				}
			}
		}
	
		.dentist-payments {
			
			label {
				display: inline-flex;;
				align-items: center;
				border-right: 2px solid #e2ebff;
				padding-right: 17px;
				margin-left: 20px;
				color: #332255;

				@media #{$phone} {
					padding-right: 11px;
					margin-bottom: 15px;
					margin-left: 10px;
				}
	
				&:last-child {
					border-right: none;
				}
	
				&:first-child {
					margin-left: 0px;
				}
	
				img:not(.close-icon) {
					height: 25px;
					margin-right: 6px;
				}
			}
		}
	
		.education-wrapper {
			font-size: 18px;
			color: #332255;
			line-height: 26px;

			.chosen-education {
				font-size: 18px;
				color: #332255;
			}

			form {
				display: none;
			}
		}

		.experience-wrapper {
			min-width: 240px;
			max-width: 240px;
			flex: 1;

			@media #{$phone} {
				max-width: 100%;
				min-width: auto;
			}

			.chosen-experience {
				display: block;
			}

			form {
				display: none;
			}
		}

		.founded-wrapper {
			min-width: 240px;
			max-width: 240px;
			flex: 1;

			@media #{$phone} {
				max-width: 100%;
				min-width: auto;
			}

			form {
				display: none;
			}
		}
	
		.languages-wrapper {
			padding-left: 68px;
			border-left: 2px solid #e2ebff;
			margin-left: 30px;

			@media #{$phone} {
				padding-left: 0px;
				margin-left: 0px;
				border-left: none;
				margin-top: 50px;
			}

			&.without-padding {
				padding-left: 0px;
				margin-left: 0px;
				border-left: none;
			}
	
			img {
				vertical-align: middle;
			}

			.bubble {
				text-transform: capitalize;
				margin-right: 4px;

				a {
					display: none;
					margin-left: 6px;
					margin-right: -4px;
				}
			}

			form {
				display: none;

				.hidden-option {
					display: none;
				}
			}
		}
	
		.bubble {
			position: relative;
			font-size: 16px;
			padding: 8px 15px 10px;
			background-color: #e2ebff;
			display: inline-block;
			border-radius: 22px;
			margin-right: 10px;
			border: 1px solid #3b9fdd;
			transition: all 0.3s ease;
			margin-bottom: 15px;
			cursor: pointer;
		}
	
		.team-container {
			display: flex;
			flex-flow: row wrap;

			.deleter, 
			.delete-invite {
				display: none;
			}
	
			.team {
				width: calc(33.3% - 13px);
				display: flex;
				align-items: center;
				background-color: #f4f7ff;
				margin-right: 20px;
				margin-bottom: 20px;
				padding: 30px 15px;
				border-radius: 10px;
				transition: all 0.3s ease;

				@media #{$tablet} {
					width: calc(50% - 10px);
				}

				@media #{$phone} {
					width: 100%;
					margin-right: 0px;
					padding: 20px 15px;
				}

				&.not-registered-team {
					.team-info {
						p {
							margin-bottom: 0px;
						}
					}
				}
	
				&:hover {
					transition: all 0.3s ease;
					box-shadow: 13px 12px 13px 1px #e9e9e9;
				}
	
				&:nth-child(2n) {
					@media #{$tablet} {
						margin-right: 0px;
					}
				}
	
				&:nth-child(3n) {
					margin-right: 0px;

					@media #{$tablet} {
						margin-right: 20px;
					}

					@media #{$phone} {
						margin-right: 0px;
					}
				}
	
				.team-image {
					position: relative;
					width: 105px;
					height: 105px;
					border-radius: 50%;
					margin-right: 15px;
					background-size: cover;
					background-position: 50%;

					@media #{$pc} {
						width: 95px;
						height: 95px;
					}

					@media #{$phone} {
						width: 85px;
						height: 85px;
					}

					.delete-invite,
					.deleter {
						width: 16px;
						background-color: transparent;
						position: absolute;
						top: -20px;
						left: -5px;

						@media #{$phone} {
							top: -10px;
						}
					}
				}
	
				.team-info {
					h4 {
						font-size: 20px;
						font-weight: 800;
						color: #332255;
						margin-bottom: 6px;
					}
	
					p {
						font-weight: bold;
						color: #0084d1;
						margin-bottom: 20px;

						@media #{$phone} {
							margin-bottom: 0px;
						}
					}
	
					.ratings {
						display: flex;
						align-items: center;
	
						.rating {
							font-size: 15px;
							font-weight: 300;
							color: #555555;
							margin-left: 5px;
						}
					}

					.action-buttons {
						margin-top: 20px;

						div:first-child {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

.hightlights-wrapper {

	.hightlight {
		width: 33.3%;
		margin-right: 50px;
		display: flex;
    	flex-direction: column;
		border-radius: 10px;

		@media #{$pc} {
			margin-right: 20px;
		}

		&:last-child {
			margin-right: 0px;
		}

		.hightlight-image {
			background-color: #f2f6ff;
			height: 340px;
			display: flex;
			align-items: center;
			border-radius: 10px;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			margin-bottom: 4px;
			
			img {
				max-width: 96%;
				border-radius: 10px;
				margin: 0 auto;

				@media #{$phone} {
					max-width: 88%;
				}
			}
		}

		p {
			border-radius: 10px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			font-size: 18px;
			font-weight: bold;
			color: #332255;
			text-align: center;
			padding: 29px 10px;
			background-color: #f2f6ff;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
		
	.flickity-viewport {

		.hightlight {
			width: calc(33.3% - 50px);
			margin-right: 50px;

			@media #{$pc} {
				width: calc(33.3% - 30px);
				margin-right: 30px;
			}

			@media #{$tablet} {
				width: calc(50% - 30px);
			}

			@media #{$phone} {
				width: 100%;
				margin: 0px;
			}

			&:last-child {
				margin-right: 50px;

				@media #{$pc} {
					margin-right: 30px;
				}

				@media #{$phone} {
					margin-right: 0px;
				}
			}
		}
	}
			
	.flickity-page-dots {
		display: none;
	}

	.flickity-prev-next-button {
		width: 28px !important;
		height: 66px !important;
		border-radius: 0px !important;
	}

	.flickity-prev-next-button.previous {
		left: -10px !important;
		transform: rotate(180deg);
		transform-origin: 50% 19px;
		background: url('../img-trp/slider-arrow-left-black.svg') 50% 50% no-repeat;

		svg {
			display: none;
		}
	}

	.flickity-prev-next-button.next {
		right: -10px !important;
		background: url('../img-trp/slider-arrow-right-black.svg') 50% 50% no-repeat;

		svg {
			display: none;
		}
	}
}


//for review popups

.review-rating-new {
	border: 2px solid #2dcec3;
	display: inline-flex;
	align-items: center;
	height: 70px;
	width: 406px;
	justify-content: space-evenly;
	padding-left: 28px;
	border-radius: 10px;
	margin-bottom: 55px;

	@media #{$phone} {
		width: 100%;
		height: 60px;
		padding-left: 18px;
		margin-bottom: 35px;
	}
	
	&.verified-review {
		justify-content: space-between;

		.ratings {
			padding-left: 10px;
		}

		.trusted {
			display: block;
		}
	}

	.rating {
		font-size: 38px;
		font-weight: 800;
		color: #31beb2;

		@media #{$phone} {
			font-size: 32px;
		}
	}

	.ratings {
		border-left: 2px solid #2dcec3;
		margin-left: -20px;
		padding-left: 21px;
	}

	.trusted {
		display: none;
		background-color: #2dcec3;
		height: 70px;
		line-height: 96px;
		margin-right: -1px;
		padding: 0px 13px 0px 18px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;

		@media #{$phone} {
			height: 60px;
			line-height: 76px;
			padding: 0px 9px 0px 14px;
		}

		img {
			max-width: 40px;

			@media #{$phone} {
				max-width: 30px;
			}
		}
	}
}

#the-detailed-review {
	min-height: 84vh;

	.loader-mask {
		display: block;

		.loader {
			display: block;
		}
	}
}