$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

#recommend-dentist {

    .popup-inner {

        .rec-first {
            margin-right: 18px;

            @media #{$phone} {
                margin-right: 0px;
            }
        }
    }
}