$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.add-wallet-address-popup {
    .popup-inner {
        width: 640px;
        padding: 40px 100px;

        @media #{$phone} {
        	width: 100%;
        }

        h2 {
            font-weight: 800;
            font-size: 28px;
        }

        .popup-desc {
            font-size: 18px;
            color: #332255;
            text-align: center;
            margin-bottom: 30px;
        }

        .modern-field {
            margin-bottom: 10px;

            &.receive-wallet-address-wrapper {
                display: none;
                margin-top: -70px;
                margin-bottom: 44px;
            }
        }

        .checkbox-label {
            margin-bottom: 100px;
        }

        .ajax-alert[error="wallet-address"] {
            margin-top: 0px;
        }

        .ajax-alert[error="receive-wallet-address"] {
            margin-top: -30px;
        }

        .blue-button {
            padding: 11px 40px;
            position: relative;

            &:hover {
                span {
                    color: #0084d1;
                }
            }

            &.waiting {
                color: #0084d1;

                &:hover {
                    background-color: #0084d1;
                }

                .loader {
                    display: block;
                }
            }

            .loader {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);

                i {
                    border-radius: 50%;
                    display: block;
                    font-size: 15px;
                    width: 20px;
                    height: 20px;
                    text-indent: -9999em;
                    border-top: 3px solid #121212;
                    border-right: 3px solid white;
                    border-bottom: 3px solid white;
                    border-left: 3px solid white;
                    animation: load8 1.1s infinite linear;
                }
            }

            span {
                text-transform: none;
                color: white;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .without-wallet {
            color: #332255;
            margin-top: 20px;
            margin-left: -40px;
            margin-right: -40px;
            padding-bottom: 30px;
            border-bottom: 2px solid #c5ccde;

            a {
                font-weight: bold;
                color: #0084d1;
                text-decoration: underline;
            }
        }

        .remind-later {
            border: none;
            color: #0084d1;
            background-color: transparent;
            padding-top: 25px;
            margin-bottom: -20px;
            display: inline-block;
        }
    }
}