$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

header,
footer,
.blue-background,
.strength-wrapper,
.support-icon {
	display: none;
}

.flex-3 {
	flex: 1;
}

.container {
	width: 100%;
}

.profile-reviews-space {

	.review-wrapper {
		&:last-child {
			margin-bottom: 0px !important;
		}
	}
}

.site-content {
	min-height: auto !important;
	color: #1d1d1d;

	* {
		color: #1d1d1d;		
	}

	h2.page-title {
		font-size: 24px;
		font-family: 'Lato', sans-serif;
		font-weight: bold;

		img {
			margin-right: 10px;
     		vertical-align: sub;
		}

		@media screen and (max-width: 992px) {
			font-size: 22px;
			margin-top: 20px;
		    margin-left: -10px;
		    margin-right: -10px;
		    padding: 5px 10px;
		}
	}
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;

    &:before {
    	display: none;
    }

	&.alert-info {
	    color: #31708f;
	    background-color: #d9edf7;
	    border-color: #bce8f1;
	}

	&.alert-success {
	    color: #3c763d;
	    background-color: #dff0d8;
	    border-color: #d6e9c6;
	}

	&.alert-danger {
	    color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
	}
}

#banned-popup {

	&:after {
		@media #{$tablet} {
			display: none;
		}
	}
	.popup-inner {

		@media #{$tablet} {
			height: 660px;
			background-position: 50% 100%;
		}

		@media #{$phone} {
			height: 460px;
		}

		>div {
			@media #{$tablet} {
				height: 660px;
				justify-content: center;
			}
			@media #{$phone} {
				height: 460px;
			}
		}

		.icon {
			@media #{$tablet} {
				position: static;
				order: 2;
				max-width: 150px;
				margin-top: 160px;
			}
			@media #{$phone} {
				max-width: 90px;
				margin-top: 30px;
			}
		}

		&:after {
			@media #{$tablet} {
				display: none;
			}
		}
	}
}
