$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.site-content {
    min-height: calc(100vh - 127px);
    background-color: #e2ebff;
}



.step-tabs {
	margin-bottom: 25px;

	.step {
		text-align: center;
		margin-right: 110px;

		@media #{$phone} {
			margin-right: 40px;
		}

		.border {
			position: relative;
			background: #bebebe;
			width: 40px;
			height: 40px;
			display: inline-block;
			border: none;
			border-radius: 50%;

			&:after {
				content: '';
				width: 151px;
				height: 2px;
				background-color: #bebebe;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 100%;

				@media #{$phone} {
					width: 80px;
				}
			}

			span {
				width: 36px;
				height: 36px;
				display: inline-block;
				border-radius: 50%;
				margin-top: 2px;
				margin-right: 0px;
				background-color: white;
				line-height: 36px;
				font-size: 18px;
				color: #bebebe;
				font-weight: 900;
			}
		}

		p {
			font-size: 14px;
			color: #bebebe;
			margin-top: 5px;
		}

		&.active {
			.border {
				background: rgba(20,202,184, 1);
				background: linear-gradient(156deg, rgba(20,202,184,1) 0%, rgba(5,100,198,1) 100%);

				span {
					color: #14cab8;
				}
			}

			p {
				color: #14cab8;
			}
		}

		&.completed {
			.border {
				background: rgba(20,202,184, 1);
				background: linear-gradient(156deg, rgba(20,202,184,1) 0%, rgba(5,100,198,1) 100%);

				&::before {
					content: '✓';
					color: white;
					font-size: 18px;
					line-height: 38px;
				}

				&::after {
					background-color: #14cab8;
				}

				span {
					display: none;
				}
			}

			p {
				color: #4b607d;
			}
		}

		&:last-child {
			margin-right: 0px;

			.border {
				&:after {
					display: none;
				}
			}
		}
	}
}

.lead-magnet-questions-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 34px;

    @media #{$tablet} {
        flex-direction: column;
    }
    
    @media #{$phone} {
        padding-top: 40px;
    }

	.lead-magnet-image {
		max-width: 760px;
		margin-right: -210px;
		margin-left: -110px;
		width: 100%;

		@media #{$pc} {
			max-width: 580px;
			margin-right: -260px;
			margin-left: -80px;
		}

		@media #{$tablet} {
			// display: none;
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: -120px;
            transition: all 0.3s ease;
            z-index: 0;

            &.hide-image {
                z-index: -1;
                margin-bottom: -457px;
                transition: all 0.3s ease;

                @media #{$phone} {
                    margin-bottom: -237px;
                }
            }
		}

		@media #{$phone} {
			// display: none;
			max-width: 400px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: -76px;
		}

		img {
			max-width: 100%;
		}
	}

	.lead-magnet-survey-box {
		box-shadow: -8px 0 18px 17px rgba(68,68,68,0.23);
        position: relative;
        padding: 40px 0px;
        width: 730px;
        background-color: white;
        border-radius: 40px;
    
        @media #{$pc} {
            width: 660px;
            min-width: 660px;
        }
    
        @media #{$phone} {
            width: 100%;
            min-width: auto;
            padding-bottom: 10px;
        }
	}
    
    h2 {
        font-size: 30px;
        color: #0564c6;
        font-weight: 800;
        text-align: center;
        margin-bottom: 20px;

        @media #{$pc} {
            font-size: 27px;
        }
    }

    form {
        box-shadow: 0px -12px 13px -8px #dcdcdc;
        padding: 50px 50px 0px;
        min-height: 583px;
        position: relative;
        background-color: transparent;

        @media #{$phone} {
            padding: 30px 15px 0px;
        }

        .loader-lead-magnet {
            position: absolute;
            z-index: 1000;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: white;

            video {
                width: 330px;
                margin: 60px auto 0;

                @media #{$phone} {
                    width: 240px;
                }
            }

            p {
                font-size: 20px;
                color: #332255;
                margin-top: 20px;

                @media #{$phone} {
                    padding: 0px 40px;
                }
            }
        }

        .checkbox-label {
            margin-bottom: 45px;

            @media #{$phone} {
                margin-top: -10px;
                padding: 0px;
            }
        }
    }

    .flickity-magnet {
        margin: -10px -50px 0px;

        @media #{$phone} {
            margin: 0px;
        }

        .flickity-viewport {

            .answer-radios-magnet {
                width: 100%;
                text-align: center;

                p {
                    font-size: 18px;
                    font-weight: 300;
                    margin-bottom: 19px;	
                }

                label {
                    text-align: left;
                    display: block;
                    padding: 18px 22px;
                    padding-right: 23px;
                    margin: 1px auto 15px;
                    border: 1px solid #d6d6d7;
                    border-radius: 4px;
                    font-size: 18px;
                    color: #332255;
                    font-weight: bold;
                    cursor: pointer;
                    position: relative;
                    box-shadow: 0px 0px 4px 0px #d6d6d7;

                    @media #{$phone} {
                        font-size: 16px;
                        padding: 16px 22px;
                        margin-bottom: 18px;
                    }

                    &.disabled-label {
                        background-color: #f7f7f7;
                    }

                    &.active {
                        border-color: #14cab8;
                    }

                    &:hover {
                        background-color: #f7f7f7;

                        @media #{$phone} {
                            background-color: white;
                        }
                    }

                    input {
                        display: none;
                    }
                }
            }

            .answer-question {
                margin-bottom: 45px;

                @media #{$phone} {
                    margin-bottom: 15px;
                    margin-top: 40px;
                }

                h4 {
                    font-weight: 800;
                    color: #332255;

                    @media #{$phone} {
                        font-size: 20px;
                    }
                }
            }

            .buttons-list {
                margin-top: 20px;
                width: 525px;
                display: inline-block;
                position: relative;

                @media #{$phone} {
                    width: 100%;
                    margin-top: 0px;
                }
            }
        }

        .alert {
            margin: 0px 130px 20px;

            @media #{$phone} {
                margin: 0px 20px 20px;
            }
        }

        .flickity-page-dots {
            bottom: auto;
            top: 50px;
            background: transparent;

            @media #{$phone} {
                top: 0px;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 20px;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                z-index: 100;
            }

            .dot {
                margin: 0px 3px;
                border: 1px solid #bfbfbf;
                opacity: 1;
                width: 17px;
                height: 17px;
                background: transparent;

                &.is-selected {
                    border-color: #0085d2;
                    background-color: #0085d2;
                }
            }
        }

        .flickity-prev-next-button {
            display: none !important;
        }
    }
}