$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

@import 'trp-reviews';

.gray-line {
	background-color: #e6eeff;
	height: 80px;
}

.blue-button {
    padding: 12px 43px;
}

.profile-wrapper {
	padding: 45px 0px 65px;
	display: flex;
	align-items: flex-start;

	.profile-info-container {
		flex: 1;

		.avatar-wrapper {
			margin-right: 30px;

			.avatar {
				border-radius: 50%;
				margin-bottom: 10px;
			}

			.main-clinic {
				text-align: center;
				font-size: 14px;
				color: #332255;
				font-weight: 600;
				margin-bottom: 10px;
			}

			.clinic-branches {
				display: flex;
				align-items: center;
				font-size: 14px;
				color: #0084d1;
				font-weight: 600;
				justify-content: center;
				margin-bottom: 10px;

				img {
					margin-right: 4px;
				}

				.fa-circle-notch.fa-spin {
					font-size: 16px;
					margin-left: -3px;
					color: #46afda;
				}
			}

			.visits-wrapper {
				span {
					display: flex;
					align-items: center;
					background-color: #e6eeff;
					padding: 3px 4px 3px;
					border-radius: 30px;
					margin-bottom: 4px;
					font-size: 14px;
					color: #555555;
					font-weight: 600;

					.visit-icon {
						margin-right: 3px;
						border-radius: 50%;
					}

					.visit-info {
						margin-left: 3px;
					}
				}
			}
		}

		.profile-details {
			flex: 1;
			margin-right: 45px;

			.partner-wrapper {
				margin-bottom: 20px;
				align-items: center;

				.partner {
					width: 180px;
					background-color: #0084d1;
					color: white;
					display: flex;
					justify-content: center;
					padding: 4px 5px 6px;
					border-top-right-radius: 20px;
					border-bottom-right-radius: 20px;
					font-weight: bold;
					align-items: end;

					img {
						background-color: transparent;
						max-width: 17px;
						margin-right: 4px;
					}
				}

				.share-button {
					color: #888888;

					img {
						width: 25px;
					}
				}
			}

			h1 {
				font-size: 36px;
    			color: #332255;
				margin-bottom: 20px;
				font-weight: 900;
			}

			.alternative-name {
				font-size: 20px;
				font-weight: 900;
				color: #878686;
				margin-bottom: 10px;
				margin-top: -10px;
			}

			p {
				color: #555555;
    			margin-bottom: 8px;

				a {
					color: #555555;

					&.blue-href {
						color: #0084d1;
					}
				}
			}

			.dentist-address {
				cursor: pointer;
				color: #555555;
    			margin-bottom: 8px;
			}

			.workplace-wrapper {
				margin-bottom: 18px;

				.working-time {
					position: relative;
					font-size: 13px;
					display: flex;
					align-items: center;
					min-width: 90px;
					justify-content: end;
	
					@media #{$phone} {
						position: absolute;
						left: 160px;
						top: 98px;
					}
	
					&.open {
						color: #0084d1;
						min-width: 97px;

						&:after {
							content: "";
							margin-left: 5px;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 6px 4.5px 0 4.5px;
							border-color: #0084d1 transparent transparent transparent;
							margin-top: 2px;
						}

						&:hover {
							.work-hours {
								display: block;
							}
						}
					}
	
					&.closed {
						color: #ff6a6a;
					}
	
					img {
						max-width: 19px;
						margin-right: 4px;
						max-height: 17px;
					}

					.work-hours {
						display: none;
						position: absolute;
						top: 100%;
						left: 0px;
						background-color: white;
						width: 225px;
						box-shadow: 0px 0px 3px 0px #c1c1c1;

						p {
							font-size: 16px;
							color: #332255;

							&.month {
								font-weight: 900;
								width: 80px;
								text-align: center;
							}
						}

						.flex {
							border-bottom: 2px solid #e2ebff;
							padding: 10px 0px 6px;

							&:last-child {
								border-bottom: none;
							}

							&.active {
								p {
									color: #0084d1;
								}
							}
						}
					}
				}
	
				.workplace {
					a {
						font-size: 20px;
						font-weight: 900;
						color: #332255;
					}
				}
			}

			.socials {
				display: flex;
				margin-top: 16px;

				.social {
					margin-right: 8px;
					transition: all 0.3s ease;

					&:hover {
						opacity: 0.8;
						transition: all 0.3s ease;
					}
				}
			}

			.announcement-wrapper {
				border-top: 2px solid #c5ccde;
				padding-top: 20px;
				margin-top: 20px;

				h4 {
					font-weight: bold;
					color: #332255;
					font-size: 20px;
					margin-bottom: 5px;

					img {
						margin-right: 7px;
					}
				}

				.announcement-title {
					font-size: 14px;
    				color: #888888;
				}

				.announcement-description {
    				color: #555555;
				}

				a {
					color: #0084d1;
					text-decoration: underline;
				}
			}
		}
	}

	.profile-rating {
		text-align: center;
		width: 308px;
		background-color: #f8fbff;
		padding: 20px 24px 24px;
		border-radius: 17px;
		box-shadow: 17px 14px 21px -4px #efefef;

		.rating {
			font-size: 46px;
			color: #14cab8;
			font-weight: 500;
			margin-bottom: 2px;
		}

		.reviews-count {
			font-size: 18px;
			color: #0084d1;
			margin-bottom: 30px;
		}

		.ratings {
			margin-bottom: 15px;
		}

		.white-button {
			padding: 12px 43px;
			border-color: #0084d1;
			margin-bottom: 10px;
			color: #0084d1;

			&:hover {
				background-color: #0084d1;
				color: white;
			}
		}
	}
}

.more {
	
    color: red;
}

// .profile-info {
//     padding: 15px;
//     border-radius: 5px;

//     h3 {
//     	font-weight: bold;
//     }

//     .view-profile {
//     	display: flex;
// 		padding-bottom: 35px;
// 		padding-left: 45px;

// 		@media #{$pc} {
// 			padding-bottom: 20px;
//     		padding-left: 10px;
// 		}

// 		@media #{$tablet} {
// 			display: block;
// 		}

// 		@media #{$phone} {
// 			padding-left: 0px;
// 			padding-bottom: 0px;
// 		}
//     }

//     .image-label,
//     .avatar {
// 		width: 180px;
// 		height: 180px;
// 		border-radius: 5px;
// 		margin-right: 30px;
// 		background-size: cover;
// 		background-position: 50%;

// 		@media #{$tablet} {
// 			padding-top: 100%;
// 			margin-right: 0px;
// 	    	border-radius: 5px;
// 	    }
//     }

//     .image-label {
//     	overflow: visible;
// 		background-color: transparent;
// 		padding: 0px;

//     	.centered-hack {
//     		top: auto;
// 		    bottom: 0px;
// 		    transform: none;
// 		    left: 0;
// 		    background: #8c8c8c;
// 		    display: flex;
// 		    align-items: center;
// 		    padding: 5px;

// 		    p {
// 		    	font-weight: 300;
// 		    	color: #cacaca;
// 		    	display: inline;
// 		    	margin-bottom: 0px;
// 		    	font-size: 14px;
// 		    }

// 		    img {
// 				max-width: 20px;
// 				margin-right: 5px;
// 		    }
//     	}

// 		.cr-slider {
// 			display: inline-block;
// 		}
//     }

//     .media-right {
//     	@media #{$tablet} {
//     		max-width: 370px;
//     	    float: none;
// 		    width: 100%;
// 		    clear: both;
// 		}

//     	&::after {
//     		display: none;
// 			content: '';
// 			position: absolute;
// 			height: 107px;
// 			width: 1px;
// 			background-color: #b7b7b7;
// 			left: -15px;
// 			top: 50%;
// 			transform: translateY(-50%);

// 			@media #{$tablet} {
// 				display: none;
// 			}
//     	}
//     }

// 	.claim-button
//     .edit-button {
//     	color: #126585;
//     	font-size: 14px;
//     	display: inline-block;
//     	margin-top: 15px;
//     	background: transparent;

// 		i {
// 			color: #126585;
// 			font-size: 13px;
// 			margin-right: 3px;
// 		}
//     }

//     .clearfix,
//     .media-right {
//     	background: transparent;
//     }

// 	.black-filter {
// 		filter: contrast(220%);
// 	}

// 	.type {
// 		color: #9f9f9f;
// 		margin-bottom: 15px;
// 		display: flex;

// 		span {
// 			color: #9f9f9f;
// 			margin-right: 3px;
// 		}

// 		.img {
// 			width: 25px;

// 			img {
// 				height: 14px;
// 			}
// 		}
// 	}

// 	.p {
// 		font-size: 14px;
// 		margin-bottom: 10px;
// 		word-break: break-word;
// 		display: flex;

// 		.img {
// 			width: 25px;

// 			img {
// 				height: 14px;
// 			}
// 		}
// 	}

// 	.scroll-to-map {
// 		transition: all 0.3s ease;
		
// 		&:hover {
// 			color: #268db5;
// 			transition: all 0.3s ease;
// 		}
// 	}

// 	a,
// 	span {
// 		font-size: 14px;
// 	}

// 	.share-button {
// 		color: gray;
// 		margin-bottom: 20px;
// 		display: inline-block;

// 		img {
// 			vertical-align: middle;
//     		margin-right: 3px;
// 		}
// 	}
// }

// .information {
// 	padding: 15px; 
// 	background-color: white;
//     box-shadow: 0px 0 32px 3px rgba(0, 0, 0, 0.2);
//     border-radius: 10px;
//     align-items: center;
// 	position: relative;

// 	@media #{$phone} {
//     	// display: none;
// 		margin-top: -50px;
// 		width: 330px;
// 		margin-right: auto;
// 		margin-left: auto;
// 		padding: 10px;
// 		padding-bottom: 15px;
// 		box-shadow: 0px 0px 2px 1px #d8d2d2;
//     }

//     .profile-info {
//         padding: 35px 0px 0px;

//         @media #{$pc} {
//         	padding-top: 5px;
//         	min-width: 510px;
//         }

//         @media #{$tablet} {
//         	min-width: auto;
//         }

//     	.p {
//     		font-size: 16px;

//     		@media #{$pc} {
// 	    		font-size: 14px;
// 	    	}

//     		&:not(.profile-socials) {
//     			span {
//     				font-size: 16px;

//     				@media #{$pc} {
// 			    		font-size: 14px;
// 			    	}
//     			}
//     		}
//     	}

//     	.website-p {

//     		span {
//     			height: 20px;
// 			    overflow: hidden;
// 			    margin-left: 13px;
//     		}

//     		.img {
//     			width: auto;

//     		    img {
//     		    	display: block;
//     		    	width: 14px !important;
//     		    	max-width: none;
//     		        margin-top: 2px;
//     		    }
//     		}
//     	}

//     	.workplace-p {
//     		a {
//     			&:hover {
//     				color: #46afda;
//     			}
//     		}
//     	}

// 	    .avatar {
// 	    	box-sizing: inherit;
// 	    	position: relative;
// 	    	width: 200px;
// 	    	min-width: 200px;
// 	    	height: 200px;
// 	    	border-radius: 50%;
// 	    	margin-right: 60px;
// 			padding-top: 0px;

// 	    	@media #{$pc} {
// 	    		width: 120px;
// 			    min-width: 120px;
// 			    height: 120px;
// 			    margin-right: 40px;
// 			    margin-top: 30px;
// 	    	}

// 	    	@media #{$tablet} {
// 	    		width: 100%;
// 	    		height: 100%;
// 	    		min-width: auto;
// 	    		margin-right: 0px;
// 	    		margin-top: 0px;
// 	    	}

// 			@media #{$phone} {
// 				width: 150px;
// 				height: 150px;
// 				margin-right: auto;
// 				margin-left: auto;
// 				position: relative;
// 				margin-bottom: 10px;
// 			}

// 	    	&:before {
// 	    		content: '';
// 	    		position: absolute;
// 				left: -7px;
// 			    right: 0;
// 			    top: -7px;
// 			    bottom: 0;
// 			    width: 215px;
// 			    height: 215px;
// 	    		background: url('../img-trp/avatar-border.svg') no-repeat 50% 50%;
// 	    		z-index: 10;

// 	    		@media #{$pc} {
// 					left: -4px;
// 					top: -4px;
// 					width: 128px;
// 					height: 128px;
// 	    		}

// 	    		@media #{$tablet} {
// 					left: 0px;
// 					top: 0px;
// 					width: 100%;
// 					height: 100%;
// 	    		}
// 	    	}

// 	    	&::after {
// 				content: '';
// 				position: absolute;
// 				height: 157px;
// 				width: 1px;
// 				background-color: #b7b7b7;
// 				right: -34px;
// 				top: 50%;
// 				transform: translateY(-50%);

// 				@media #{$pc} {
// 					height: 107px;
// 				    width: 1px;
// 				    right: -24px;
// 				}

// 				@media #{$tablet} {
// 					display: none;
// 				}
// 	    	}

// 			img {
// 				border-radius: 50%;
// 				width: auto;
// 				height: auto;
// 			}

// 	    	.main-clinic {
// 				position: absolute;
// 				bottom: 0;
// 				left: 0px;
// 				right: 0px;
// 				font-size: 16px;
// 				line-height: 16px;
// 				text-align: center;
// 				background-color: white;
// 				color: #46afda;
// 				font-weight: bold;
// 				padding: 4px 50px 8px;

// 				@media #{$pc} {
// 					font-size: 11px;
// 				    line-height: normal;
// 				    padding: 1px 22px 13px;
// 	    		}

// 				@media #{$tablet} {
// 					font-size: 17px;
//     				padding: 10px 22px 30px;
// 	    		}

// 				@media #{$phone} {
// 					font-size: 11px;
// 					padding: 3px 18px 18px;
// 					line-height: 12px;
// 				}
// 	    	}
// 	    }

// 	    .type {
// 	    	color: #676767;
// 	    	font-size: 20px;

// 	    	@media #{$pc} {
// 	    		font-size: 18px;
// 	    	}

// 		    span {
// 		    	color: #676767;
// 	    		font-size: 20px;

// 	    		@media #{$pc} {
// 		    		font-size: 18px;
// 		    	}
// 		    }
// 	    }

// 	    .claim-button,
// 	    .edit-button {
// 	    	margin-top: 0px;
// 		    position: absolute;
// 		    bottom: -10px;
// 		    left: -10px;
// 		    font-weight: bold;
// 		    color: #46afda;
// 		    font-size: 20px;
// 		    padding: 10px 10px;

// 		    @media #{$pc} {
// 	    		font-size: 18px;
// 	    	}

// 	    	@media #{$tablet} {
// 	    		position: static;
// 	    		font-size: 16px;
// 	    	}

// 			@media #{$phone} {
// 				display: none;
// 			}
// 	    }
// 	}

//     .profile-rating {
//     	.rating {
//     		font-size: 16px;
//     	}

//     	.button:not(.button-inner-white) {
//     		background-color: #46afda;
//     		border: 1px solid #46afda;

//     		&:hover {
//     			background-color: #2d95bf;
//     			border-color: #2d95bf;
//     		}
//     	}
		
// 		@media #{$phone} {
// 			display: none
// 		}
//     }

// 	.phone-styles {

// 		.button,
// 		.dont-count,
// 		.ratings,
// 		.rating,
// 		.edit-button,
// 		.claim-button {
// 			display: none;
// 		}
// 		@media #{$phone} {
// 			text-align: center;

// 			h3 {
// 				line-height: normal;
//     			font-size: 20px;
// 				margin-bottom: 0px;
// 			}

// 			.type {
// 				color: #777777;
// 				font-size: 16px;
// 				display: block;
// 				padding-bottom: 10px;
// 				border-bottom: 1px solid #d7d7d7;
// 				margin-bottom: 0px;

// 				span {
// 					font-size: 16px;
// 					color: #777777;
// 					margin-right: 3px;
// 				}
// 			}

// 			.ratings,
// 			.rating,
// 			.edit-button,
// 			.claim-button {
// 				display: block !important;
// 			}

// 			.ratings {
// 				margin-top: 0px;

// 				@media #{$phone} {
// 					margin-top: 10px;
// 				}
// 			}

// 			.rating {
// 				margin-top: 10px;
// 				margin-bottom: 20px;
// 				font-size: 12px;
// 			}

// 			.dont-count {
// 				display: inline-block;
// 			}

// 			.button {
// 				display: inline-block;
// 				padding: 10px 15px;
// 			}

// 			.button:not(.button-inner-white) {
// 				background-color: #46afda;
// 				border: 1px solid #46afda;
	
// 				&:hover {
// 					background-color: #2d95bf;
// 					border-color: #2d95bf;
// 				}
// 			}
// 		}
// 	}

// 	.profile-details {
// 		@media #{$phone} {
// 			margin-top: 20px;
// 			margin-left: 20px;
// 			width: 280px;
// 		}
// 	}

// 	.top-dentist {
// 		display: none;
// 		align-items: center;
// 		margin-bottom: 20px;

// 		@media #{$phone} {
// 			display: flex;
// 		}

// 		img {
// 			max-width: 16px;
// 			margin-right: 10px;
// 		}

// 		span {
// 			font-size: 15px;
// 		}
// 	}

//     .share-button {
//     	position: absolute;
// 	    right: 21px;
// 	    top: 16px;
// 	    color: #46afda;
// 	    font-size: 18px;
// 	    width: 63px;
// 	    z-index: 10;

// 		@media #{$phone} {
// 			right: 12px;
// 			top: 10px;
// 			font-size: 14px;
// 			width: 48px;
// 		}

// 		img {
// 			display: inline-block;
// 			max-width: 16px;
// 			vertical-align: middle;

// 			@media #{$phone} {
//     			max-width: 12px;
// 			}
// 		}
//     }

//     .recommend-button {
// 		position: absolute;
// 		right: 91px;
// 		top: 16px;
// 		color: #46afda;
// 		font-size: 18px;
// 		width: 123px;
// 		z-index: 10;

// 		@media #{$phone} {
// 			right: auto;
// 			left: 10px;
// 			top: 10px;
// 			font-size: 14px;
// 			width: 88px;
// 		}

// 		img {
// 			max-width: 17px;
// 			vertical-align: middle;
// 			margin-right: 2px;

// 			@media #{$phone} {
// 				display: inline-block;
// 				max-width: 12px;
// 				vertical-align: inherit;
// 				margin-right: 0px;
// 			}
// 		}
//     }

//     h3 {
// 		line-height: 35px;
// 		margin-bottom: 10px;
//     }
// }

// .edit-profile-wrapper {

// 	.details-wrapper {
// 		margin-bottom: 100px;
// 	}

// 	.profile-info {

// 	    @media #{$tablet} {
// 	    	padding-top: 20px;
// 	    }

// 		@media #{$phone} {
// 			padding-top: 0px;
// 		}

// 	    .avatar {
// 	    	@media #{$tablet} {
// 	    		float: none;
// 	    	}
// 	    }

// 	    .media-right {

// 	    	@media #{$tablet} {
// 	    		width: 100%;
// 	    		margin-top: 20px;
// 	    	}

// 			@media #{$phone} {
// 				margin-top: 0px;
// 				float: none;
// 			}

// 			.flexed-wrap {
// 				align-items: center !important;
// 				.col {
// 					input {
// 						@media #{$phone} {
// 							margin-bottom: 0px;
// 						}
// 					}
// 				}
// 			}

// 			.input {
// 				margin-bottom: 5px;
// 				height: 33px;

// 				@media #{$phone} {
// 					margin-bottom: 7px;
// 				}
				
// 				&.dentist-name {
// 					font-weight: bold;

// 					&::placeholder {
// 						font-weight: bold;
// 					}
// 				}
// 			}

// 			.flex {
//     			align-items: center;

//     			&.phone-widget {
// 	    			@media #{$phone} {
//     					display: flex;
//     				}
//     			}

//     			&:not(.phone-widget) {
//     				span,
// 	    			.input {
// 			    		width: 50%;
// 					}
//     			}

//     			span {
//     				padding-right: 20px;
//     				text-align: right;

// 					@media #{$phone} {
// 						padding-right: 10px;
// 						margin-bottom: 5px;
// 					}
//     			}
// 			}

// 	    }
// 	}

// 	.edit-buttons {
//     	margin-top: 15px;
//     	display: flex;
//     	align-items: center;

//     	@media #{$phone} {
//     		margin-top: 20px;
//     	}

//     	.button {
//     		font-size: 14px;
//     		text-transform: unset;
// 			background-color: #46afda;
//     	}

//     	.cancel-edit {
// 			background-color: #f7f7f7;
// 			padding: 8px 18px;
// 			display: inline-block;
// 			border-radius: 5px;
// 			transition: all 0.3s ease;
// 			cursor: pointer;
// 			outline: none;
// 			border: 1px solid #126585;
// 			font-size: 14px;
// 			color: #126585;

// 			&:hover {
// 				color: #268db5;
// 				border-color: #268db5;
//     			transition: all 0.3s ease;
// 			}
//     	}
// 	}
// }

.tab-titles {
	box-shadow: 0px 0px 21px 0px #d3d2d2;
	border: 2px solid #c5ccde;
    border-left: none;
    border-right: none;

	.tab-title {
		position: relative;
		font-size: 20px;
		display: inline-block;
		padding: 15px 0px;
		transition: all 0.3s ease;
		font-weight: bold;
    	color: #332255;
		border-bottom: 4px solid transparent;
		margin-right: 70px;

		@media #{$tablet} {
			font-size: 18px;
		}

		@media #{$phone} {
			margin-right: 4px;
			padding: 5px 10px;
			min-width: auto;
		}

		@media screen and (max-width: 500px) {
			margin-bottom: 4px;
		}

		&:hover {
			color: #0084d1;
			transition: all 0.3s ease;

			@media #{$phone} {
			    transition: all 0.3s ease;
			}
		}

		&.active {
			color: #0084d1;
			border-bottom-color: #0084d1;
			transition: all 0.3s ease;

			@media #{$phone} {
			    transition: all 0.3s ease;
			}
		}

		&:last-child {
			margin-right: 0px;
		}

		span {
			&.active {
				position: absolute;
				top: 7px;
				right: 5px;
				display: inline-block;
			    width: 8px;
			    height: 8px;
			    border-radius: 50%;
			    margin-left: 4px;
			    margin-right: 4px;
			    background-color: #eb6a6b;
			    vertical-align: middle;

			    @media #{$phone} {
			    	top: 2px;
    				right: -2px;
			    }
			}
		}
	}
}

.tab-sections {
	padding-top: 45px;
	background-color: white;

	.tab-container {
		margin-bottom: 90px;
	
		h2 {
			color: #332255;
			font-weight: 800;
			text-transform: uppercase;
			font-size: 30px;
			margin-bottom: 30px;
		}
	
		h3 {
			font-size: 20px;
			color: #0084d1;
			font-weight: 800;
			margin-bottom: 23px;
		}
	
		.tab-inner-section {
			margin-bottom: 40px;
		}
	
		.specializations {
			.specialization {
				position: relative;
				font-size: 16px;
				padding: 8px 23px 10px;
				background-color: #e2ebff;
				display: inline-block;
				border-radius: 22px;
				margin-right: 10px;
				border: 1px solid #3b9fdd;
				transition: all 0.3s ease;
				margin-bottom: 15px;
				cursor: pointer;
			}
		}
	
		.description {
			font-size: 18px;
			color: #332255;
		}
		
		.work-hours {
			border-top: 1px solid #0084d1;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom-left-radius: 20px;
			border-bottom-right-radius: 20px;
	
			.col {
				border-right: 2px solid #e2ebff;

				&.active {
					p {
						color: #0084d1;
					}
				}
	
				&:first-child {
					.month {
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
						border-left: 1px solid #0084d1;
					}
				}
	
				&:last-child {
					border-right: none;
	
					.month {
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
						border-right: 1px solid #0084d1;
					}
				}
	
				.month {
					font-size: 16px;
					font-weight: 900;
					color: #332255;
					background-color: #f2f6ff;
					border-bottom: 1px solid #0084d1;
					// border-right-width: 0px;
					// border-left-width: 0px;
					padding: 7px 16px;
				}
	
				p {
					padding: 14px 16px 7px;
				}
		
				label {
					display: block;
    				padding-left: 26px;
					margin-bottom: 15px;
				}

				.edit-working-hours-wrap {
					display: flex;
					align-items: center;
					flex-flow: row wrap;
					justify-content: center;
					margin-top: 10px;
	
					select {
						width: 56px;
						padding: 0px;
						display: inline-block;
						margin-right: 5px;

						&:nth-child(2n) {
							margin-right: 0px;
						}
		
						&.grayed {
							background-color: #eee;
						}
					}
				}
			}
		}
	
		.show-more-reviews {
			font-size: 18px;
			color: #0084d1;
			font-weight: 700;
			text-decoration: underline;
			display: inline-block;
		}
	
		.reviews-type-buttons {
			margin-bottom: 30px;
	
			a {
				font-size: 20px;
				color: #332255;
				font-weight: bold;
				transition: all 0.3s ease;
				
				&.active {
					color: #0084d1;
					text-decoration: underline;
					transition: all 0.3s ease;
				}
				
				&:hover {
					color: #0084d1;
					transition: all 0.3s ease;
				}
	
				&:nth-child(2) {
					border-left: 2px solid #332255;
					margin-left: 12px;
					padding-left: 12px;
				}
			}
		}
	
		.aggregated-rating-wrapper {
			background-color: #f2f6ff;
			padding: 11px 20px 11px 35px;
			border-radius: 20px;
			margin-bottom: 40px;
	
			.col {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				margin-right: 40px;
	
				.rating {
					font-size: 46px;
					color: #14cab8;
					margin-bottom: 5px;
				}
	
				.ratings {
					margin-bottom: 10px;
				}
	
				.reviews-count {
					font-size: 18px;
					color: #555555;
				}
			}
	
			.flex {
				flex-flow: row wrap;
	
				.overview-column {
					width: 25%;
					border-right: 1px solid #cad3e6;
					padding: 0px 10px 0px 25px;
	
					&:nth-child(4n) {
						border-right: none;
						padding-right: 0px;
					}
	
					p {
						font-weight: 900;
						color: #332255;
						margin-bottom: 5px;
					}
	
					.ratings {
						margin-bottom: 15px;
					}
				}
			}
		}
	
		.reviews-filter {
			display: flex;
			align-items: center;
			padding-bottom: 30px;
			border-bottom: 1px solid #bebebe;
			margin-bottom: 50px;
	
			span {
				color: #888888;
				margin-right: 10px;
			}
	
			.filter {
				font-size: 14px;
				color: #332255;
				padding: 8px 29px 10px 15px;
				background-color: #e2ebff;
				display: inline-block;
				border-radius: 22px;
				margin-right: 13px;
				border: 1px solid #0084d1;
				transition: all 0.3s ease;
				position: relative;
				cursor: pointer;
				font-weight: bold;
	
				&:hover {
					background-color: #0084d1;
					color: white;
					transition: all 0.3s ease;

					.label {
						color: white;
						background-color: transparent;
					}
	
					.caret-down {
						background-position-y: 100%;
					}
	
					.filter-options {
						display: block;
					}
				}

				.label {
					font-size: 14px;
					color: #332255;
					background-color: transparent;
					margin-right: 0px;
				}
	
				.caret-down {
					background-image: url(../img-trp/caret-down-new.png);
					background-color: transparent;
					width: 7px;
					height: 6px;
					position: absolute;
					right: 13px;
					top: 50%;
					transform: translateY(-50%);
					background-size: cover;
					background-position-y: 0%;
				}
	
				.filter-options {
					text-align: left;
					display: none;
					position: absolute;
					z-index: 100011;
					background-color: white;
					left: 0px;
					padding: 19px 15px;
					box-shadow: 0px 0px 4px 0px #b3b3b3;
					min-width: 250px;
					top: 103%;

					.checkbox-label {
						margin-bottom: 11px;

						&:last-child {
							margin-bottom: 0px;
						}
					}
				}
			}
			.search-reviews-wrapper {
				max-width: 218px;
				border-bottom: 1px solid #bebebe;
				display: flex;
				align-items: center;
				padding-bottom: 3px;
				margin-left: 15px;
		
				img {
					margin-bottom: -3px;
					margin-right: 8px;
				}
		
				input {
					height: 30px;
					max-width: 200px;
					outline: none;
				}
			}
		
			.reviews-count {
				flex: 1;
				display: flex;
				justify-content: end;
				color: #332255;
			}
		}

		.written-reviews-wrapper {

			.video-reviews-flex {
				display: flex;

				.video-review {

					&:nth-child(2) {
						margin-right: 0px;
					}
				}
			}
			
			.flickity-page-dots {
				display: none;
			}

			.flickity-prev-next-button {
				width: 28px !important;
				height: 66px !important;
				border-radius: 0px !important;
			}

			.flickity-button {
				top: 160px !important;
			}

			.flickity-prev-next-button.previous {
				transform: rotate(180deg);
				transform-origin: 50% 19px;
				background: url('../img-trp/slider-arrow-left-white.svg') 50% 50% no-repeat;

				svg {
					display: none;
				}
			}

			.flickity-prev-next-button.next {
				background: url('../img-trp/slider-arrow-right-white.svg') 50% 50% no-repeat;

				svg {
					display: none;
				}
			}
		}

		#no-reviews {
			display: none;
		}
		
		.location-section {
			display: flex;
			align-items: end;
	
			.col {
				max-width: 50%;
				flex: 1;
			}
	
			.gallery-slider {
				margin-left: 50px;
		
				&.with-arrows {
					.gallery-flickity {
						.flickity-button {
							display: block;
		
							@media #{$phone} {
								display: none !important;
							}
						}
					}
				}
		
				.gallery-flickity {
	
					.flickity-viewport {
						height: 350px !important;
					}
		
					.flickity-page-dots {
						display: none;
		
						@media #{$phone} {
							display: block;
						}
		
						.dot {
							opacity: 1;
							background: none;
							border: 1px solid #126585;
							margin: 0 3px;
		
							&:hover,
							&.is-selected {
								background: #126585;
							}
						}
					}
		
					.slider-wrapper {
						display: block;
						width: 100%;
						padding-right: 5px;
						padding-left: 5px;
		
						.slider-image {
							padding-top: 66%;
							width: 100%;
		
							@media #{$phone} {
								padding-top: 70%;
							}
						}
					}
		
					.flickity-prev-next-button {
						width: 28px !important;
						height: 66px !important;
						border-radius: 0px !important;
					}
		
					.flickity-button {
						display: none;
		
						@media #{$phone} {
							display: none !important;
						}
					}
		
					.flickity-prev-next-button.previous {
						transform: rotate(180deg);
						transform-origin: 50% 19px;
						background: url('../img-trp/slider-arrow-left-white.svg') 50% 50% no-repeat;
		
						svg {
							display: none;
						}
					}
		
					.flickity-prev-next-button.next {
						background: url('../img-trp/slider-arrow-right-white.svg') 50% 50% no-repeat;
		
						svg {
							display: none;
						}
					}
				}
			}
	
			.map-address {
				color: #555555;
				margin-bottom: 15px;
			}
		
			.map-container {
				width: 100%;
				padding-top: 65%;
		
				.gm-ui-hover-effect {
					display: none !important;
				}
			}
		}
	
		.dentist-payments {
			
			span {
				display: flex;
				align-items: center;
				border-right: 2px solid #e2ebff;
				padding-right: 17px;
				margin-left: 20px;
				color: #332255;
	
				&:last-child {
					border-right: none;
				}
	
				&:first-child {
					margin-left: 0px;
				}
	
				img {
					height: 25px;
					margin-right: 6px;
				}
			}
		}
	
		.education-wrapper {
			font-size: 18px;
			color: #332255;
			line-height: 26px;
		}
	
		.laguages-wrapper {
			padding-left: 68px;
			border-left: 2px solid #e2ebff;
			margin-left: 60px;
	
			img {
				vertical-align: middle;
			}
		}
	
		.bubble {
			position: relative;
			font-size: 16px;
			padding: 8px 15px 10px;
			background-color: #e2ebff;
			display: inline-block;
			border-radius: 22px;
			margin-right: 10px;
			border: 1px solid #3b9fdd;
			transition: all 0.3s ease;
			margin-bottom: 15px;
			cursor: pointer;
		}
	
		.team-container {
			display: flex;
			flex-flow: row wrap;

			&.edit-mode {
				.deleter, 
				.delete-invite {
					display: inline-block;
				}
			}

			.deleter, 
			.delete-invite {
				display: none;
			}
	
			.team {
				width: calc(33.3% - 13px);
				display: flex;
				align-items: center;
				background-color: #f4f7ff;
				margin-right: 20px;
				margin-bottom: 20px;
				padding: 30px 15px;
				border-radius: 10px;
				transition: all 0.3s ease;

				&.add-team-member {
					position: relative;
					border: 1px solid #0084d1;

					&:hover {
						box-shadow: none;
					}

					.disabled-prop {
						display: flex;
						align-items: center;
						opacity: 0.5;
					}

					.add-team-text {
						font-size: 20px;
						font-weight: bold;
						color: #0084d1;
					}

					.comming-soon {
						position: absolute;
						color: white;
						font-weight: bold;
						background-color: #0084d1;
						right: 0;
						top: 15px;
						padding: 4px 20px 5px;
						border-top-left-radius: 15px;
						border-bottom-left-radius: 15px;
					}
				}
	
				&:hover {
					transition: all 0.3s ease;
					box-shadow: 13px 12px 13px 1px #e9e9e9;
				}
	
				&:nth-child(3n) {
					margin-right: 0px;
				}
	
				.team-image {
					position: relative;
					width: 105px;
					height: 105px;
					border-radius: 50%;
					margin-right: 15px;
					background-size: cover;
					background-position: 50%;

					.delete-invite,
					.deleter {
						width: 16px;
						background-color: transparent;
						position: absolute;
						top: -20px;
						left: -5px;
					}
				}
	
				.team-info {
					h4 {
						font-size: 20px;
						font-weight: 800;
						color: #332255;
						margin-bottom: 6px;
					}
	
					p {
						font-weight: bold;
						color: #0084d1;
						margin-bottom: 30px;
					}
	
					.ratings {
						display: flex;
						align-items: center;
	
						.rating {
							font-size: 15px;
							font-weight: 300;
							color: #555555;
							margin-left: 5px;
						}
					}

					.action-buttons {
						margin-top: 20px;

						div:first-child {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

.hightlights-wrapper {
	.hightlight {
		width: 33.3%;
		margin-right: 50px;
		display: flex;
    	flex-direction: column;

		&:last-child {
			margin-right: 0px;
		}

		.hightlight-image {
			background-color: #f2f6ff;
			height: 340px;
			display: flex;
			align-items: center;
			border-radius: 10px;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			margin-bottom: 4px;
			
			img {
				max-width: 96%;
				border-radius: 10px;
				margin: 0 auto;
			}
		}

		p {
			border-radius: 10px;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
			font-size: 18px;
			font-weight: bold;
			color: #332255;
			text-align: center;
			padding: 29px 10px;
			background-color: #f2f6ff;
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.info-address {
	text-align: center;
    margin-bottom: 20px;

    img {
		max-width: 15px;
		margin-right: 4px;
		vertical-align: bottom;
    }
}

// .details-wrapper {
// 	margin-top: 35px;
// 	margin-bottom: 100px;

// 	@media #{$phone} {
// 		margin-bottom: 10px;
// 	}

// 	.tab-container {
// 		display: none;

// 		.section-title {
// 			// @media #{$phone} {
// 			// 	display: none;
// 			// }
// 		}

// 		&.active {
// 			display: block;
// 		}
// 	}

//     .video-review-container {
//     	flex-wrap: wrap;

//     	.video-review {
//     		cursor: pointer;
// 		    margin-right: 70px;
// 		    margin-bottom: 40px;
// 		    width: calc(33% - 43px);

//     		@media #{$pc} {
//     			margin-right: 40px;
// 			}

// 			@media #{$tablet} {
// 				width: calc(50% - 10px);
// 				margin-right: 20px;
// 	    	}

// 	    	@media #{$phone} {
// 	    		width: 100%;
// 	    	    margin-right: 0px;
// 	    	}

//     		&:nth-child(3n) {
//     			margin-right: 0px;

//     			@media #{$tablet} {
//     				margin-right: 20px;
//     			}

//     			@media #{$phone} {
//     				margin-right: 0px;
//     			}
//     		}

//     		&:nth-child(2n) {
//     			@media #{$tablet} {
//     				margin-right: 0px;
//     			}
//     		}
//     	}

//     	.trusted-sticker {
//     		@media #{$phone} {
//     			display: inline-block;
//     		}
//     	}

//     	.review-footer .col {
// 		    justify-content: unset;
// 		}

//     	.video-image {
//     		padding-top: 75%;
//     	}

//     	.video-review-title {
//     		font-weight: 300;
//     		margin: 10px 0px;
//     		font-size: 18px;
//     		font-weight: bold;
//     	}

//     	.ratings {
//     		margin-top: 0px;
//     		margin-right: 5px;

//     		@media #{$pc} {
//     		    margin-bottom: 6px;
// 			    margin-right: 0px;
// 			    display: block;
// 			}

// 			@media #{$phone} {
// 				margin-right: 10px;
// 				display: inline-block;
// 			}
//     	}

//     	.review-date {
//     		margin-left: 3px;
//     	}

//     	.review-avatar {
//     		margin-top: 5px;
//     	}
//     }

// 	

//     .about-container {

//     	.top-dentist {
//     		display: flex;
//     		align-items: center;
//     		margin-bottom: 20px;

//     		@media #{$phone} {
//     			display: none;
//     		}

//     		img {
//     			max-width: 20px;
//     			margin-right: 5px;
//     		}

//     		span {
//     			font-weight: 300;
//     		}
//     	}

//     	.dentist-payments,
//     	.specialization {
//     		position: relative;
//     		margin-bottom: 20px;
//     		padding-right: 30px;
// 		    display: flex;
// 		    align-items: center;

// 		    .img {
// 		    	text-align: center;
// 		    }

// 		    .img,
// 		    img {
// 		    	width: 17px;
// 		    	height: auto;
// 		    	margin-right: 5px;
// 		    }

//     		span {
//     			font-weight: 300;
//     		}

//     		a {
//     			margin-left: 10px;
//     			img {
//     				width: 20px;
//     				height: 20px;
//     			}
//     		}

//     		label {
//     			text-align: left;
//     		}
//     	}

//     	.about-content {
//     		position: relative;
//     		font-weight: 300;
//     		padding-right: 30px;
//     		margin-bottom: 35px;
// 		    display: flex;
// 		    align-items: end;

// 		    form {
// 		    	width: 100%;
// 		    }
    		
//     		a {
//     			margin-left: 10px;
//     			img {
//     				width: 20px;
//     				height: 20px;
//     				max-width: none;
//     			}
//     		}

//     		textarea {
//     			box-shadow: 0px 0px 14px 2px #d8d8d8;
//     		}
//     	}

//     	
//     }

//     .asks-container {
//     	@media #{$phone} {
//     		overflow-x: auto;
//     	}

//     	table {
//     	    margin-bottom: 50px;
//     	    width: 100%;
//     		max-width: 100%;

//     		thead {
// 			    font-size: 18px;
// 			    background-color: #e9e9e9;
// 			}

// 	    	th,td {
// 	    		vertical-align: bottom;
// 				border-bottom: 2px solid #bfbfbf;
// 				padding: 8px;
// 				line-height: 1.42857143;
// 				text-align: left;
// 	    	}

// 			td {
// 				vertical-align: middle;

// 				.invite-again {
// 					font-size: 16px;
//     				padding: 5px;
//     				width: 100%;
//     				text-align: center;

//     				@media #{$pc} {
//     					font-size: 12px;
//     				}
// 				}

// 				.ask-review {
// 					border: 1px solid #126585;
// 					font-size: 16px;
// 					padding: 4px 5px;
// 					background: transparent;
// 					color: #126585;
// 					margin-top: 2px;
// 					display: block;
// 					text-align: center;

//     				@media #{$pc} {
//     					font-size: 12px;
//     				}
// 				}

// 				.show-review {
// 					color: #126585;
// 					text-decoration: underline;
// 				}
// 			}
//     	}

//     	.btn.compact {
// 			height: 22px;
// 			line-height: 23px;
// 			margin-bottom: 5px;
// 			font-size: 14px;
// 			margin-right: 10px;
// 			padding: 0px 8px;
// 			border-radius: 5px;
// 			text-transform: uppercase;
// 			font-weight: 600;
// 			display: inline-block;
// 			width: auto;
// 			border: none;
// 			width: 100%;
// 			text-align: center;

// 			@media #{$tablet} {
// 				font-size: 12px;
// 				vertical-align: middle;
// 			}

// 		    img {
// 			    max-width: 11px;

// 				@media #{$tablet} {
// 					display: none;
// 				}
// 			}

// 			&:last-child {
// 				margin-bottom: 0px;
// 			}
// 		}

// 		.btn-primary {
// 		    background-color: #126585;
// 		    color: white;
// 		}

// 		.btn-inactive {
// 		    background-color: #9d9d9d;
// 		    color: white;
// 		}
//     }
// }


.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 23px;
    height: 23px;
    background: #898989;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
    	width: 54%;
    }
}

.invited-dentist {
	margin-top: -40px;
    margin-bottom: 25px;
    color: #14c9b9;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;

    @media #{$pc} {
    	font-size: 18px;
    	margin-top: 0px;
    	margin-bottom: 5px;
    }

    @media #{$tablet} {
    	margin-top: -20px;
    	text-align: center;
    	margin-left: 10px;
    }

    @media #{$phone} {
    	font-size: 16px;
    	margin-top: -8px;
    }
}

.pager {
    text-align: center;
    margin: 1em 0;

    @media #{$phone} {
    	margin-bottom: 40px;
    }

    span {
    	border: 1px solid #126585;
    	background-color: white;
	    display: inline-block;
	    width: 30px;
	    height: 30px;
	    line-height: 1.8;
	    text-align: center;
	    cursor: pointer;
	    color: #126585;
	    margin-right: 10px;
	    font-weight: bold;
	    margin-bottom: 10px;

	    &.active {
	    	background-color: #126585;
	    	color: white;
	    }
	}
}

.ip-country {
	margin-bottom: 20px;
}

.popup {
	.popup-inner {
		.widget-wrapper {
			h3 {
				margin-bottom: 30px;
			}

			.widget-options {
				margin-top: 20px;
				margin-bottom: 30px;
			}

			.widget-content {
				margin-bottom: 40px;
			}
		}
	}
}





//for review popups

.review-rating-new {
	border: 2px solid #2dcec3;
	display: inline-flex;
	align-items: center;
	height: 70px;
	width: 406px;
	justify-content: space-evenly;
	padding-left: 28px;
	border-radius: 10px;
	margin-bottom: 55px;

	@media #{$phone} {
		width: 100%;
		height: 60px;
		padding-left: 18px;
		margin-bottom: 35px;
	}
	
	&.verified-review {
		justify-content: space-between;

		.ratings {
			padding-left: 10px;
		}

		.trusted {
			display: block;
		}
	}

	.rating {
		font-size: 38px;
		font-weight: 800;
		color: #31beb2;

		@media #{$phone} {
			font-size: 32px;
		}
	}

	.ratings {
		border-left: 2px solid #2dcec3;
		margin-left: -20px;
		padding-left: 21px;
	}

	.trusted {
		display: none;
		background-color: #2dcec3;
		height: 70px;
		line-height: 96px;
		margin-right: -1px;
		padding: 0px 13px 0px 18px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;

		@media #{$phone} {
			height: 60px;
			line-height: 76px;
			padding: 0px 9px 0px 14px;
		}

		img {
			max-width: 40px;

			@media #{$phone} {
				max-width: 30px;
			}
		}
	}
}