$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";


//INDEX PAGE

.invite-new-dentist-background {
	background-color: #e2ebff;
	padding-bottom: 100px;
}

.invite-new-dentist-wrapper {
	display: flex;
    align-items: center;

	>img {
		@media #{$pc} {
			max-width: 430px;
		}

		@media #{$tablet} {
			display: none;
		}
	}

	.invite-new-dentist-titles {
		background-color: transparent;
		position: relative;
		z-index: 1;
		transform: translateY(120px);
		max-width: 670px;
	    margin-left: auto;
	    margin-right: auto;

	    @media #{$phone} {
	    	padding: 0px 45px;
	    }
	}

	h2 {
		text-align: center;
		font-size: 35px;
		color: #0564c6;
		font-weight: 800;
		margin-bottom: 25px;

		@media #{$pc} {
			font-size: 38px;
		}

		@media #{$phone} {
			font-size: 28px;
			margin-bottom: 20px;
		}
	}

	h5 {
		color: #332255;
		font-weight: 800;
		text-align: center;
		margin-bottom: 40px;

		@media #{$phone} {
			margin-bottom: 30px;
		}

		b {
			font-weight: 900;
			font-size: 24px;
			color: #332255;

			@media #{$pc} {
				font-size: 20px;
			}
		}
	}

	.invite-new-dentist-form {
		flex: 1;
		background-color: white;
		padding: 60px 90px;
		box-shadow: 0 0 19px -2px rgba(0,0,0,0.8);
		border-radius: 30px;
		margin-left: -120px;

		@media #{$pc} {
			padding: 60px 50px;
		}

		@media #{$tablet} {
			max-width: 100%;
			margin-left: 0px;
		}

		@media #{$phone} {
			padding: 40px 10px;
		}
	
		.blue-button {
			position: relative;
			text-transform: uppercase;
			padding: 14px 83px;
	
			@media #{$phone} {
				padding: 13px 54px;
			}

            &.waiting {
                color: #0084d1;

				&:hover {
					color: white;
				}

                .loader {
                    display: block;
                }
            }
            .loader {
				background: transparent;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);

                i {
                    border-radius: 50%;
                    display: block;
                    font-size: 15px;
                    width: 20px;
                    height: 20px;
                    text-indent: -9999em;
                    border-top: 3px solid #121212;
                    border-right: 3px solid #cccccc;
                    border-bottom: 3px solid #cccccc;
                    border-left: 3px solid #cccccc;
                    animation: load8 1.1s infinite linear;
                }
            }
		}
	
		.mode-dentist-clinic {
			margin-bottom: 30px;
			
			@media #{$phone} {
				margin-bottom: 0px;
			}
	
			label {
				flex: 1;
				border-width: 2px;
				text-transform: uppercase;
    			font-weight: 800;
				padding: 15px 18px 15px 12px;
				display: flex;
    			align-items: center;

				&:first-child {
					margin-right: 10px;
				}

                &.active {
                    box-shadow: none;
                    color: #0084d1;

                    .active-image {
                        display: block;
                    }

                    .inactive-image {
                        display: none;
                    }
                }

                img {
                    max-width: 30px;
					width: 30px;
                    margin-right: 11px;
                    vertical-align: -webkit-baseline-middle;

                    &.active-image {
                        display: none;
                    }

                    &.inactive-image {
                        display: block;
                    }
                }
			}
		}
	
		.modern-field {
			.modern-input {
				background-color: white;
			}
		}
	}

	.success-invited-dentist {
		display: none;
		flex: 1;
		background-color: white;
		padding: 60px 90px;
		box-shadow: 0 0 19px -2px rgba(0,0,0,0.8);
		border-radius: 30px;
		margin-left: -120px;
		min-height: 710px;

		@media #{$pc} {
			padding: 60px 50px;
		}

		@media #{$tablet} {
			max-width: 100%;
			margin-left: 0px;
		}

		@media #{$phone} {
			padding: 40px 10px;
			min-height: auto;
		}

		.check-image {
			margin-bottom: 30px;

			@media #{$phone} {
				max-width: 90px;
			}
		}

		h2 {
			margin-bottom: 55px;

			@media #{$phone} {
				margin-bottom: 25px;
			}
		}

		.step-info {
			color: #332255;
			font-size: 18px;
			margin-bottom: 120px;

			@media #{$phone} {
				margin-bottom: 30px;
			}

			span {
				font-weight: bold;
    			font-size: 17px;
			}
		}
	}
}

//END INDEX PAGE

.strength-parent {
	position: relative;
	width: 100%;
	margin-right: auto;
    margin-left: auto;
    z-index: 123;

	@media screen and (max-width: 992px) {
    	width: calc(100% - 16px);
    }

	.strength-button {
		box-shadow: 0px 0 4px 0px rgba(0, 0, 0, 0.2);
		position: absolute;
		background-color: white;
		width: 66px;
		height: 66px;
		top: -33px;
		left: 50%;
		transform: translateX(-50%);
		border-radius: 50%;
		cursor: pointer;

		.down {
			display: none;
		}

		img {
			width: 16px;
			position: absolute;
			left: 50%;
			top: 15px;
			transform: translateX(-50%);
		}
	}

	&.active {
		.strength-button {

			.up {
				display: none;
			}

			.down {
				display: block;
			}
		}

		.extra-title {
			display: none;
		}

		.stretching-box {			
			transition: all 0.3s ease;
			opacity: 1;
			z-index: 1;
			//height: auto;
		}
	}

	&.in-profile {
		width: 100%;
		max-width: none;
		margin-bottom: 50px;

		@media screen and (max-width: 992px) {
			margin-bottom: 30px;
			margin-top: 10px;
		}

		.strength-wrapper {
			border-radius: 0px;
			box-shadow: 0px 0px 10px 2px #f3f3f3;
		}

		.strength-button {
			display: none;
		}

		.stretching-box {
			height: auto;
			opacity: 1;
			z-index: 0;
		}

		.extra-title {
			display: none;
		}

		.stretching-box,
	    .strength-flickity,
	    .flickity-slider,
	    .flickity-viewport {
	    	border-radius: 0px;
	    }
	}

    &.fixed {
    	position: fixed;
	    left: 50%;
	    transform: translateX(-50%);
   		bottom: 0px;
		//max-width: 800px;

		@media screen and (max-width: 992px) {
	    	width: calc(100% - 16px);
	    	bottom: 3px;
	    }
    }
}

.strength-wrapper {
	max-width: 800px;
	width: 100%;
    margin: 0 auto;
	box-shadow: 0px 0 4px 0px rgba(0, 0, 0, 0.2);
	position: relative;
    padding-bottom: 40px;
    border-radius: 10px;
   	//top: 100%;
    background: white;
    transition: all 0.3s ease;
    position: relative;

    @media screen and (max-width: 992px) {
    	padding-bottom: 30px;
    }

	.extra-title {
		font-size: 18px;
		text-align: center;
		font-weight: 300;
		color: #333;
		padding-top: 15px;
		padding-bottom: 3px;
		background: white;

		@media screen and (max-width: 992px) {
			font-size: 16px;
			padding-bottom: 5px;
		}
	}

	.stretching-box {
		position: relative;
		opacity: 0;
		height: 0px;
		transition: all 0.3s ease;
	}

	.extra-title,
	.stretching-box,
    .strength-flickity,
    .flickity-slider,
    .flickity-viewport {
    	border-radius: 10px;
    }

	.strength-flickity-slide {
		width: 100%;
		padding: 0px 50px;
		border-radius: 10px;

		@media screen and (max-width: 992px) {
			padding: 0px 25px;
		}
	}

	h2 {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 15px;
		margin-top: 20px;
		text-transform: inherit;

		@media screen and (max-width: 992px) {
			font-size: 16px;
		}

		a {
			font-size: 20px;
			font-weight: bold;
			text-align: center;
			text-transform: inherit;

			@media screen and (max-width: 992px) {
				font-size: 16px;
			}
		}
	}

	.strength-box {
		display: flex;
	    border: 1px solid #d3d3d3;
	    align-items: center;

		.strength-image {
			flex: 1;
			max-width: 57px;
		    min-width: 57px;
			padding: 8px 11px 8px 6px;

			img {
				display: block;
			}
		}

		.strength-desc {
			flex: 1;
			padding-right: 40px;

			@media screen and (max-width: 992px) {
				padding: 10px;
				padding-left: 0px;
				font-size: 14px;
			}

			span {
				color: #126585;
				text-decoration: underline;
				font-size: inherit;

				&:hover {
					color: #268db5;
				}
			}
		}
	}

	.strength-urls {
		text-align: right;
		margin: 15px 0px;
	}

	.strength-scale-wrapper {
		background-color: #e1e9ee;
		margin: 0px 50px;
		position: relative;
		height: 13px;
		margin-top: 15px;

		@media screen and (max-width: 992px) {
			margin-right: 30px;
			margin-left: 30px;
			height: 7px;
		}

        .strength-divider {
        	position: absolute;
        	width: 1px;
        	height: 100%;
        	left: 0px;
        	top: 0px;
        	bottom: 0px;
        	background-color: white;
        	z-index: 1;
        }

        .strength-tick {
        	position: absolute;
		    width: 40px;
		    height: 44px;
		    top: 50%;
		    left: 0px;
		    transform: translateY(-50%);
		    margin-left: -20px;
        	background: url('../img-strength/tick.png') 50% 50% no-repeat;
		    background-size: contain;
        	z-index: 2;

        	@media screen and (max-width: 992px) {
        		width: 30px;
        		height: 34px;
        		margin-left: -15px;
        	}

        	&.zero {
        		background-image: url('../img-strength/tick-zero.png');
        	}
        }

        .strength-star {
        	position: absolute;
		    width: 40px;
		    height: 44px;
		    top: 50%;
		    right: 0px;
		    transform: translateY(-50%);
		    margin-right: -20px;
        	background: url('../img-strength/star.png') 50% 50% no-repeat;
		    background-size: contain;
        	z-index: 1;

        	@media screen and (max-width: 992px) {
        		width: 30px;
        		height: 34px;
        		margin-right: -15px;
        	}

        	&.full {
        		background-image: url('../img-strength/star-full.png');
        	}
        }

		.strength-scale {
			width: 100%;
			height: 13px;
	        overflow: hidden;
			width: 100%;
			height: 13px;
			overflow: hidden;
			position: absolute;
			top: 0;

			@media screen and (max-width: 992px) {
				height: 7px;
			}

	        .strength-scale-inner {
	            background: url('../img-strength/gradient.jpg') 0% 50% no-repeat;
	            background-size: cover;
				height: 13px;
				width: 100%;

				@media screen and (max-width: 992px) {
					height: 7px;
				}
	        }
	    }
	}

	.button {
		font-size: 16px;
		padding: 6px 20px;
		color: white !important;

		&.completed {
			background-color: #bebebe;
			position: relative;
			padding-left: 36px;

			&:after {
				content: '';
				position: absolute;
				background-image: url('../img-strength/button-tick.png');
				background-size: contain;
				width: 17px;
				height: 17px;
				left: 10px;
			}
		}

		&.app-store {
			width: 102px;
			height: 30px;
			padding: 0px;
			display: inline-block;
			background-position: 50%;
			border-radius: 3px;
			background-size: contain;

			@media screen and (max-width: 374px) {
				width: 72px;
			    height: 22px;
			}

			&.android {
				background-image: url('../img-strength/google-play.png');
			}

			&.ios {
				background-image: url('../img-strength/ios-app-store.png');
			}
			
		}
	}

	.strenght-progress {
		position: absolute;
		bottom: 20px;
		left: 50px;

		@media screen and (max-width: 992px) {
			left: 25px;
		}

		p {
			@media screen and (max-width: 992px) {
				font-size: 12px;
			}
		}

		span {
			font-weight: bold;
			font-size: 18px;

			@media screen and (max-width: 992px) {
				font-size: 14px;
			}
		}
	}

	.flickity-prev-next-button {
		width: 19px !important;
		height: 24px !important;
		top: 48% !important;
		background-size: 13px !important;

		.flickity-button-icon {
			display: none;
		}

		&.previous {
			background: url('../img-strength/arrow-left.png') 50% 100% no-repeat;
			left: 25px !important;

			@media screen and (max-width: 992px) {
				left: 7px !important;
			}
		}

		&.next {
			background: url('../img-strength/arrow-right.png') 50% 0% no-repeat;
			right: 25px !important;

			@media screen and (max-width: 992px) {
				right: 7px !important;
			}
		}

		&:hover {
			&.previous {
				background-position: 50% 0%;
				outline: none;
			}

			&.next {
				background-position: 50% 100%;
				outline: none;
			}
		}
	}
}


.search-results-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 130, 209, 0.88);
	z-index: 1001111111;
	display: none;
	overflow-y: auto;

	&.active {
		display: block;
	}

	.container {
		margin-top: 110px;

		@media #{$phone} {
			margin-top: 20px;
		}
	}

	.search-form {
		box-shadow: none;
	}

	.close-search-popup {
		margin-left: auto;
		width: 35px;
		display: block;
		margin-bottom: 40px;

		@media #{$phone} {
			width: 25px;
			margin-bottom: 20px;
		}
	}
}