$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.failed-popup {
	.popup-inner {
		max-width: 800px;
	    top: 70px;
	    transform: translateX(-50%);
	    border-radius: 10px;
	    padding: 0px;

	    @media #{$tablet} {
	    	max-width: 760px;
	    	height: auto;
			left: 50%;
	    }

		@media #{$phone} {
    		width: 90%;
    		padding: 30px;
		}

		h2 {
			margin-bottom: 0px;
		    font-size: 40px;
		    font-weight: bold;
		    color: black;
		    text-transform: uppercase;
		    margin-top: 30px;
	    	text-align: center;

	    	@media #{$phone} {
	    	    margin-top: 0px;
	    	    font-size: 30px;
	    	}
		}

		p {
			font-size: 20px;
			padding-right: 60px;

			@media #{$phone} {
				padding-right: 0px;
   				text-align: center;
			}
		}

		img {
			max-width: 420px;
		    display: block;
		    margin-right: 50px;

		    @media #{$phone} {
			    max-width: 200px;
	    		margin: 20px auto;
	    	}
		}

		@media #{$phone} {
			.close-popup:not(.button) {
				top: 10px;

				i {
					font-size: 20px;
				}
			}
		}
	}
}