$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

#popup-lead-magnet {
    .popup-inner {
        padding: 50px 0px 40px;
        width: 730px;
        min-width: 730px;

        @media #{$pc} {
            width: 660px;
            min-width: 660px;
        }

	    @media #{$phone} {
	    	width: 100%;
            min-width: auto;
            padding-bottom: 10px;
	    }

        .close-popup:not(.button) {
            top: 18px;
        }

        h2 {
            font-size: 30px;

            @media #{$pc} {
                font-size: 27px;
            }
        }

        form {
            box-shadow: 0px -12px 13px -8px #dcdcdc;
            padding: 50px 50px 0px;
            min-height: 516px;
            position: relative;

            @media #{$phone} {
                padding: 30px 15px 0px;
            }

            .loader-lead-magnet {
                position: absolute;
                z-index: 1000;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-align: center;
    
                video {
                    width: 330px;
                    margin: 60px auto 0;

                    @media #{$phone} {
                        width: 240px;
                    }
                }

                p {
                    font-size: 20px;
                    color: #332255;
                    margin-top: 20px;

                    @media #{$phone} {
                        padding: 0px 40px;
                    }
                }
            }

            .checkbox-label {
                margin-bottom: 45px;
    
                @media #{$phone} {
                    margin-top: -10px;
                    padding: 0px;
                }
            }
        }

        .flickity-magnet {
            margin: -10px -50px 0px;

            @media #{$phone} {
                margin: 0px;
            }

            .flickity-viewport {

                .answer-radios-magnet {
                    width: 100%;
                    text-align: center;

                    p {
                        font-size: 18px;
                        font-weight: 300;
                        margin-bottom: 19px;	
                    }

                    label {
                        text-align: left;
                        display: block;
                        padding: 18px 22px;
                        padding-right: 23px;
                        margin: 1px auto 15px;
                        border: 1px solid #d6d6d7;
                        border-radius: 4px;
                        font-size: 18px;
                        color: #332255;
                        font-weight: bold;
                        cursor: pointer;
                        position: relative;
                        box-shadow: 0px 0px 4px 0px #d6d6d7;

                        @media #{$phone} {
                            font-size: 16px;
                            padding: 16px 22px;
                            margin-bottom: 18px;
                        }

                        &.disabled-label {
                            background-color: #f7f7f7;
                        }

                        &.active {
                            border-color: #14cab8;
                        }

                        &:hover {
                            background-color: #f7f7f7;

                            @media #{$phone} {
                                background-color: white;
                            }
                        }

                        input {
                            display: none;
                        }

                        .checkbox-square {
                            width: 17px;
                            height: 17px;
                            border: 1px solid #dddddd;
                            display: inline-block;
                            background-color: white;
                            color: #126585;
                            line-height: 26px;
                            text-align: center;
                            border-radius: 20%;
                            font-weight: bold;
                            margin-right: 5px;
                            font-size: 0px;
                    
                            @media #{$phone} {
                                width: 14px;
                                height: 14px;
                                line-height: 23px;
                            }
                        }

                        i {
                            font-size: 23px;
                            vertical-align: middle;
                            margin-right: 6px;
                            color: #dddddd;

                            @media #{$phone} {
                                font-size: 19px;
                            }
                        }

                        &.active {
                            
                            .checkbox-square {
                                border-color: #126585;
                                font-size: 13px;
                                line-height: 18px;
                    
                                @media #{$phone} {
                                    line-height: 13px;
                                }
                            }

                            i {
                                color: #126585;

                                &:before {
                                    content: '\f14a';
                                }
                            }
                        }
                    }
                }

                .answer-question {
                    margin-bottom: 45px;

                    @media #{$phone} {
                        margin-bottom: 15px;
                        margin-top: 40px;
                    }

                    h4 {
                        font-weight: 800;
                        color: #332255;

                        @media #{$phone} {
                            font-size: 20px;
                        }
                    }
                }

                .buttons-list {
                    margin-top: 20px;
                    width: 525px;
                    display: inline-block;
                    position: relative;

                    @media #{$phone} {
                        width: 100%;
                        margin-top: 0px;
                    }
                }

                .button {
                    margin-top: 20px;
                }
            }

            .alert {
                margin: 0px 130px 20px;

                @media #{$phone} {
                    margin: 0px 20px 20px;
                }
            }

            .flickity-page-dots {
                bottom: auto;
                top: 50px;
                background: transparent;

                @media #{$phone} {
                    top: 0px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    top: 0px;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    z-index: 100;
                }

                .dot {
                    margin: 0px 3px;
                    border: 1px solid #bfbfbf;
                    opacity: 1;
                    width: 17px;
                    height: 17px;
                    background: transparent;

                    &.is-selected {
                        border-color: #0085d2;
                        background-color: #0085d2;
                    }
                }
            }

            .flickity-prev-next-button {
                display: none !important;
            }
        }
    }
}