$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

@import 'trp-work-hours';

#add-team-popup,
.verification-popup {
    .popup-inner {
        padding: 40px 60px;
        box-shadow: 0 0 19px -2px rgba(0, 0, 0, 0.8);
		width: 700px;
 
        @media #{$phone} {
            padding: 20px 30px;
        }

		h2 {
			text-align: center;
			font-size: 28px;
			margin-bottom: 25px;
			color: #0564c6;
			font-weight: 900;
			max-width: 510px;
			margin-left: auto;
			margin-right: auto;
		}

		.popup-desc {
			font-size: 18px;
			color: #332255;
			margin-bottom: 20px;

			span {
				font-size: 18px;
				font-weight: 900;
				color: #0564c6;
			}
		}

		.step-buttons {
			margin-top: 50px;

			a,button {
				text-transform: none;
				width: 250px;
				padding: 11px 20px 12px;

				@media #{$phone} {
					width: auto;
					padding: 11px 33px 12px;
				}
			}

			a {
				margin-right: 10px;

				@media #{$phone} {
					margin-right: 5px;
				}
			}
		}

		.invite-manual {
			display: flex;
			align-items: center;
			color: #0084d1;
			font-size: 18px;

			img {
				width: 26px;
				margin-right: 10px;
			}
		}

		#clinic-add-team {
			max-width: 520px;
			margin-left: auto;
			margin-right: auto;
			
			form {
				margin-bottom: 30px;
			}

			.upload-image-wrapper {
				margin-bottom: 30px;
				margin-right: 10px;
			}

			.image-label {
				background-color: #f4f7ff;
				border: 1px solid #0084d1;
				width: 150px;
				border-radius: 10px;
				height: 150px;

				.plus-gallery-image {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					text-align: center;
					width: 99%;

					.add-gallery-icon {
						width: 70px;
					}

					span {
						display: block;
						font-size: 16px;
						font-weight: bold;
						color: #0084d1;
						margin-top: 10px;

						img {
							vertical-align: middle;
							width: 13px;
						}
					}
				}
			}

			.dentist-suggester {
				height: 60px;
				line-height: 60px;
			}

			.suggest-results {
				margin-top: 0px;
				background-color: white;
	
				a {
					display: block;
					padding-left: 20px;
					padding-bottom: 7px;
					padding-top: 6px;
					transition: all 0.3s ease;
			
					&.active,
					&:hover {
						background-color: #e2ebff;
						transition: all 0.3s ease;
					}
			
					.result-image-dentist {
						width: 50px;
			
						@media #{$phone} {
							width: 40px;
						}
			
						img {
							max-width: 100%;
							display: block;
							border-radius: 50%;
							position: relative;
							z-index: 1;
							box-shadow: 0px 0px 10px 2px #f3f3f3;
						}
					}
			
					.result-name-dentist {
						flex: 1;
						text-align: left;
						margin-left: 10px;
			
						p {
							font-weight: 800;
							color: #332255;
							margin-bottom: 6px;
							margin-top: 4px;
							text-transform: capitalize;
			
							@media #{$phone} {
								margin-bottom: 0px;
								margin-top: 0px;
							}
			
							span {
								color: #0084d1;
								font-size: 16px;
							}
						}
			
						span {
							font-size: 14px;
							color: #555555;
						}
					}
			
					.result-partner-dentist {
						.result-partner-dentist-wrapper {
							display: flex;
							background-color: #0084d1;
							color: white;
							font-size: 13px;
							font-weight: bold;
							border-top-left-radius: 13px;
							border-bottom-left-radius: 13px;
							padding: 4px 10px;			
			
							img {
								width: 13px;
								margin-right: 4px;
							}
			
							span {
								color: white;
								font-size: 13px;
								margin-right: 3px;
			
								@media #{$phone} {
									display: none;
								}
							}
						}
					}
				}
			}

			.specializations-col {
				margin-left: 10px;

				@media #{$phone} {
					margin-left: 0px;
				}
			}

			.invite-existing-dentist {
				background-color: #ffffff;
				border: 1px solid #14cab8;
				color: #14cab8;
				font-size: 20px;
				font-weight: bold;
				padding: 11px 43px 13px;
				display: inline-block;
				border-radius: 40px;
				transition: all 0.3s ease;
				cursor: pointer;
				width: 193px;
				margin-right: 10px;

				@media #{$phone} {
					padding: 11px 22px 13px;
					width: auto;
					margin-right: 2px;
				}
			}

			.green-button {
				padding: 10px 43px 12px;
			}
		}

		textarea {
			height: 200px;
		}

		.alert {
			margin-bottom: 20px;
		}

		.avatar-name-wrapper,
		.image-big-error {
			@media #{$phone} {
				max-width: 150px;
				margin-left: auto;
				margin-right: auto;
			}
		}
    }
}

#add-team-popup {
    .popup-inner {
		.popup-desc {
			color: #0564c6;
		}
		#clinic-add-team {
			max-width: 100%;
		}
	}
}