$pc: "screen and (max-width: 1200px)";
$tablet: "screen and (max-width: 998px)";
$phone: "screen and (max-width: 768px)";

.flickity-oval {
	margin-top: 111px;

	@media #{$pc} {
		margin-top: 91px;
	}

	@media #{$tablet} {
		margin-top: 60px;
	}

	@media #{$phone} {
		margin-top: 45px;
	}

	.slider-right {
		background: url(../img-trp/slider-arrow-right-active.svg) 50% 50% no-repeat;
		width: 50px;
    	height: 50px;

		@media #{$phone} {
			display: none;
		}
	}
	.slider-left {
		background: url(../img-trp/slider-arrow-left-active.svg) 50% 50% no-repeat;
		width: 50px;
    	height: 50px;

		@media #{$phone} {
			display: none;
		}
	}

	.flickity {
		width: 100%;
		position: relative;
		height: 315px;
		overflow-y: hidden;
		overflow-x: scroll;
		padding-bottom: 0px;
		padding-top: 50px;

		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;  /* Firefox */

		@media #{$pc} {
			height: 326px;
		}

		@media #{$tablet} {
			height: 315px;
		}

		@media #{$phone} {
			height: 335px;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		.index-slider {
			position: absolute;
			width: 5020px;
			height: 100%;
			//    display: flex;
			// flex-flow: row wrap;
		}

		.flickity-prev-next-button {
			width: 41px !important;
			height: 112px !important;
		}

		.slider-wrapper {
			display: flex;
			flex-direction: column;
			max-width: 355px;
			padding: 0px;
			margin: 0px 11px;
			float: left;

			@media #{$pc} {
				max-width: 308px;
			}

			@media #{$tablet} {
				max-width: 353px;
			}

			@media #{$phone} {
				max-width: 320px;
				margin-left: 0px;
				margin-right: 10px;
			}

			&:hover {
				.slider-inner {
					.slider-container {
						border-color:#0084d1;
						transform: translateY(0px) !important;
						box-shadow: 7px 3px 11px 1px #959393;
					}
				}
			}

			.slider-inner {
				position: relative;
				border-radius: 5px;
				height: 100%;
				display: flex;
				flex-direction: column;

				.slider-image-wrapper {
					display: flex;
					align-items: center;
					background: transparent;
					position: absolute;
					z-index: 10;
					padding: 0px;
					top: -43px;
					left: 35px;

					@media #{$phone} {
						left: 35px;
					}

					.slider-real-image {
						max-width: 86px;
						border-radius: 50%;
						height: auto;
						display: block;
					}

					.partner {
						width: 220px;
						background-color: #0084d1;
						margin-left: -10px;
						z-index: -1;
						color: white;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 3px 5px;
						border-top-right-radius: 20px;
						border-bottom-right-radius: 20px;
						font-size: 15px;
						font-weight: bold;

						@media #{$phone} {
							width: 195px;
						}

						img {
							background-color: transparent;
							max-width: 20px;
							margin-right: 4px;
						}
					}

					.invited-dentist {
						position: absolute;
						text-align: center;
						left: 0;
						right: 0;
						bottom: 0;
						margin-bottom: 0px;
						padding-bottom: 18px;
						margin-top: 0px;
					}
				}

				.slider-container {
					padding: 30px;
					padding-top: 56px;
					padding-bottom: 20px;
					border-radius: 6px;
					border: 2px solid white;
					text-align: left;
					display: block;

					@media #{$pc} {
						padding: 20px;
						padding-top: 56px;
					}

					.has-review-image {
						position: absolute;
						width: 70px;
						z-index: 10;
						right: -13px;
						top: -13px;
					}

					h4 {
						font-size: 20px;
						font-weight: 900;
						color: #332255;
					}

					.p {
						font-size: 15px;
    					color: #555555;

						img {
							margin-top: 3px;
							margin-right: 6px;
						}
					}
		
					.ratings {
						display: flex;
						align-items: center;
						margin-bottom: 20px;
		
						.rating {
							font-size: 15px;
							margin-left: 4px;
							color: #555555;
						}
					}

					.review-content {
						font-size: 15px;
						color: #555555;
					}
				}
			}
		}
	}
}